<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition>
            <h:form id="lookupGridToolbarForm">
                <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                <p:toolbar id="lookupGridToolbar">
                    <f:facet name="left">

                        <p:outputLabel style="margin: 10px;" rendered="#{dataGrid.selectedObject != null}" value="Selection: #{dataGrid.selectionDisplayValue} ( #{dataGrid.selectionPrimaryKeyValue} #{dataGrid.selectionPrimaryKey2Value})"/>

                    </f:facet>
                    <f:facet name="right">
                            <p:commandButton value="Ok" onclick="fillInLookupValues('#{dataGrid.referencedDisplayField}', '#{dataGrid.referencedPrimaryKeyField}', '#{dataGrid.referencedPrimaryKeyField2}', '#{dataGrid.selectionDisplayValue}','#{dataGrid.selectionPrimaryKeyValue}' , '#{dataGrid.selectionPrimaryKey2Value}','#{dataGrid.callbackMethod}');return false;"/>
                            <p:commandButton type="button" value="Cancel" onclick="closeLookupDialog('#{dataGrid.callbackMethod}');return false;"/>
                            <p:commandButton type="button" value="No Value" onclick="clearLookupValues('#{dataGrid.referencedDisplayField}','#{dataGrid.referencedPrimaryKeyField}','#{dataGrid.referencedPrimaryKeyField2}');closeLookupDialog('#{dataGrid.callbackMethod}');return false;"/>
                    </f:facet>
                </p:toolbar>
            </h:form>
        </ui:composition>
    </body>
</html>

