<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition>
            <h:form id="unitGridToolbarForm">
                <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                <p:toolbar>
                    <f:facet name="left">
                        <p:button escape="false" target="_blank" href="/unit-form/#{dataGrid.unit.unitID}" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create"/>
                        <p:commandButton escape="false" ajax="true" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt; Delete" actionListener="#{dataGrid.delete}"  />
                        <p:commandButton escape="false" ajax="true" value="&lt;span class='icon-refresh'&gt;&lt;/span&gt; Refresh" actionListener="#{dataGrid.refresh}" update=":unitGridForm:unitDataTable" />
                    </f:facet>
                    <f:facet name="right">
                        <div style="display: inline-block;vertical-align: top;margin: 8px;color: black"><h:outputText value="Preserve Selection on Paging:"/></div>
                        <!--<p:selectBooleanButton onLabel="Yes" offLabel="No" value="#{dataGrid.selectionCarryOver}" />-->
                        <p:inputSwitch value="#{dataGrid.selectionCarryOver}"/>
                    </f:facet>
                </p:toolbar>
            </h:form>
        </ui:composition>
    </body>
</html>
