<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>	
        <ui:composition>

            <f:metadata>
                <f:event type="preRenderView" listener="#{dataGrid.enableMultiple}"/>
            </f:metadata>

            <h:form id="unitGridForm" >
                <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                <h:panelGrid columns="2">
                    <span style="font-size: 1.5em" class="#{dataGrid.unit.pluralIcon}"></span>
                    <h:outputText value="#{bundle[dataGrid.unit.pluralName]}" style="font-size: 1.25em;margin-left: 20px" />
                </h:panelGrid>

                <p:panel id="searchPanel" binding="#{dataGridBindings.searchPanel}" rendered="#{dataGridBindings.grid.searchColumns != null and dataGridBindings.grid.searchColumns.size() > 0}" header="Search (expand to search)" toggleable="true" toggleSpeed="500" collapsed="true" style="border:none;padding:0">
                    <p:commandButton value="Search" ajax="true" actionListener="#{dataGridBindings.search}" update="unitDataTable"/>
                </p:panel>
                <ui:include src="/templates/grid/UnitGridToolbar.xhtml" />
                <p:dataTable id="unitDataTable"
                             var="item" value="#{dataGrid.lazyLoader}"  lazy="true" rendered="true" rows="10"
                             rowsPerPageTemplate="10,15,25,50,150,250" selection="#{dataGrid.multiSelectedObjects}" rowSelectMode="add"
                             paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <p:ajax event="rowSelectCheckbox" listener="#{dataGrid.onRowSelect}"/>
                    <p:ajax event="rowUnselectCheckbox" listener="#{dataGrid.onRowUnselect}"/>
                    <p:ajax event="rowSelect" listener="#{dataGrid.onRowSelect}"  />
                    <p:ajax event="rowUnselect" listener="#{dataGrid.onRowUnselect}" />
                    <p:ajax event="toggleSelect" listener="#{dataGrid.onRowToggle}"/>
                    <p:ajax event="page" listener="#{dataGrid.onPageChange}"/>

                    <p:column selectionMode="multiple" style="width:16px;text-align:center" />

                    <p:column style="width: 50px">
                        <h:outputLink target="_blank" value="#{dataGrid.getFormUrl()}">View</h:outputLink>
                    </p:column>

                    <p:columns value="#{dataGridBindings.gridColumns}" var="column" columnIndexVar="colIndex">
                        <f:facet name="header">
                            #{bundle[column.unitProperty.bundleLabelId]}
                        </f:facet>

                        <h:outputText value="#{dataGridBindings.getColumnValue(column)}" />
                    </p:columns>
                </p:dataTable>

            </h:form>
        </ui:composition>
    </body>
</html>

