<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="blog" required="true"/>
    </composite:interface>

    <composite:implementation>

        <h2><h:outputText value="#{cc.attrs.blog.name}"/></h2>
        <div class="blog-list">
            <h:form>
                <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                <p:dataGrid var="item" rowKey="#{item.id}" lazy="false" paginatorAlwaysVisible="false" value="#{cmsUtil.getRecentBlogEntries(cc.attrs.blog.id)}" columns="1" paginator="true" rowsPerPageTemplate="4,8,15" rows="4" layout="grid">
                    <h:graphicImage styleClass="blog-image-left blog-image-#{cc.attrs.blog.listThumbnailWidth}" rendered="#{cc.attrs.blog.showListThumbnails and item.headerImage != null}" value="#{item.headerImage.filePath}"/>
                    <h:graphicImage styleClass="blog-image-left blog-image-#{cc.attrs.blog.listThumbnailWidth}" rendered="#{cc.attrs.blog.showListThumbnails and item.headerImage == null and item.bodyImage != null}" value="#{item.bodyImage.filePath}"/>
                    <h:outputLink value="/blog/#{item.blog.urlAlias}/#{item.urlAlias}"><h3><h:outputText value="#{item.title}"/></h3></h:outputLink>
                    <p><h:outputText value="#{textUtil.getStrippedHtml(item.body, 250)}..." escape="false"/></p>
                    <h:outputLink value="/blog/#{item.blog.urlAlias}/#{item.urlAlias}"><h:outputText value="#{item.blog.readMoreLinkText}"/></h:outputLink>
                </p:dataGrid>
            </h:form>
        </div>

    </composite:implementation>
</html>