<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="cssClasses" required="false"/>
        <composite:attribute name="propertyName" required="true"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="widgetType" required="false"/>
        <composite:attribute name="onLabel" default="Yes" required="false"/>
        <composite:attribute name="offLabel" default="No" required="false"/>
        <composite:attribute name="listenerMethod" required="false" method-signature="void listener()"/>
        <composite:attribute name="updateId" required="false" default=""/>
        <composite:attribute name="componentsToProcess" required="false" default="@this"/>
        <composite:attribute name="callback" required="false"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
    </composite:interface>

    <composite:implementation>

        <c:if test="#{cc.attrs.widgetType == null or cc.attrs.widgetType == ''}">
            <p:selectOneMenu id="#{cc.attrs.propertyName}_BOOLEAN"
                             style="width: 100%;padding-right: 0" styleClass="boolean-field #{cc.attrs.cssClasses}"
                             value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}">
                <c:if test="#{!empty cc.getValueExpression('listenerMethod')}">
                    <p:ajax listener="#{cc.attrs.listenerMethod}" update="#{cc.attrs.updateId}" process="#{cc.attrs.componentsToProcess}" oncomplete="#{cc.attrs.callback}" />
                </c:if>
                <f:selectItem itemLabel="No" itemValue="false" />
                <f:selectItem itemLabel="Yes" itemValue="true"/>
            </p:selectOneMenu>
        </c:if>

        <c:if test="#{cc.attrs.widgetType == 'switch'}">
            <p:inputSwitch id="#{cc.attrs.propertyName}_BOOLEAN" styleClass="#{cc.attrs.cssClasses}" onLabel="#{cc.attrs.onLabel}" offLabel="#{cc.attrs.offLabel}" value="#{cc.attrs.value}" requiredMessage="#{cc.attrs.requiredMessage}"/>
        </c:if>

        <c:if test="#{cc.attrs.widgetType == 'button'}">
            <p:selectBooleanButton id="#{cc.attrs.propertyName}_BOOLEAN" styleClass="#{cc.attrs.cssClasses}" onLabel="#{cc.attrs.onLabel}" offLabel="#{cc.attrs.offLabel}" value="#{cc.attrs.value}" requiredMessage="#{cc.attrs.requiredMessage}"/>
        </c:if>

        <c:if test="#{cc.attrs.widgetType == 'checkbox'}">
            <p:selectBooleanCheckbox id="#{cc.attrs.propertyName}_BOOLEAN" styleClass="#{cc.attrs.cssClasses}" value="#{cc.attrs.value}" requiredMessage="#{cc.attrs.requiredMessage}"/>
        </c:if>
    </composite:implementation>
</html>