<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="field" required="true"/>
    </composite:interface>

    <composite:implementation>
        <!-- BOOLEAN -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'BOOLEAN'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_BOOLEAN'))}" value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- DATE -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'DATE'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_DATE'))}" value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- LOOKUP -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'LOOKUP'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_PK'))}" value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- MONEY -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'MONEY'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_MONEY'))}" value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- NUMBER -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'NUMBER'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_NUMBER'))}" value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- SELECTION -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'SELECTION'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_SELECTION'))}"  value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- TEXT -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'TEXT'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_TEXT'))}" value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- CODE -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'CODE'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_CODE'))}"  value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- BYTE -->

        <!-- EDITOR -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'EDITOR'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_EDITOR'))}"  value="#{cc.attrs.field['label']}"/>
        </c:if>

        <!-- TEXT_AREA -->
        <c:if test="#{cc.attrs.field['fieldType'].typeName == 'TEXT_AREA'}">
            <p:outputLabel for="#{p:component('field-'.concat(cc.attrs.field['id']).concat('_TEXTAREA'))}"  value="#{cc.attrs.field['label']}"/>
        </c:if>
    </composite:implementation>
</html>