<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="displayValue" required="false"/>
        <composite:attribute name="field" required="true"/>
        <composite:attribute name="propertyName" required="true"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="callback" required="false"/>
        <composite:attribute name="filter" required="false"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
    </composite:interface>

    <composite:implementation>

        <h:panelGrid columns="3" id="#{cc.attrs.propertyName}_LOOKUP"
                     style="width: 100%"
                     columnClasses="lookupButtonColumn,lookupImageColumn,lookupBlankColumn">


            <p:commandButton id="#{cc.attrs.propertyName}" widgetVar="#{component.namingContainer.clientId}:#{cc.attrs.propertyName}_BUTTON"
                             style="width: 100%;height: 2.2em" disabled="#{cc.attrs.value == null || (cc.attrs.value['class'].simpleName == 'Long' and cc.attrs.value eq 0) || cc.attrs.value eq ''}"
                             onclick="openLookupForm(#{cc.attrs.field['lookupUnitId']},'#{componentsUtil.unitDefaultFormPage(cc.attrs.field['lookupUnitId'])}',$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK'))}')),null);"
                             value="">
                <f:param name="skipValidation" value="1" />
            </p:commandButton>

            <h:outputLink value="#" style="text-decoration: none" onclick="openLookupDialog(#{cc.attrs.field['lookupUnitId']},'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK'))}',null,'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName)}','#{cc.attrs.callback}','#{cc.attrs.filter}');">
                <span class="#{cc.attrs.lookupProperties[0].getPluralIcon()}" style="font-size: 1.6em"></span>
            </h:outputLink>

            <h:panelGroup>
                <h:inputHidden id="#{cc.attrs.propertyName}_PK}"
                                    value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}"/>

                <h:inputHidden id="#{cc.attrs.propertyName}_value" value="#{cc.attrs.displayValue}"/>
            </h:panelGroup>
        </h:panelGrid>

    </composite:implementation>
</html>