<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="section" required="true"/>
        <composite:attribute name="sectionType" required="true"/>
    </composite:interface>

    <composite:implementation>
        <h:panelGroup layout="block" styleClass="ui-g" style="#{cc.attrs.sectionType != 0?'padding-right: 20px;padding-left: 5px':''}">

            <h:outputText rendered="#{cc.attrs.section['header'] != null and cc.attrs.section['header'] != ''}" value="#{textUtil.getCleanHtml(cc.attrs.section['header'])}" escape="false"/>

            <c:forEach items="#{cc.attrs.section['fields']}" var="field">
                <div id="field-#{field.id}" class="ui-g-#{field.width} ui-sm-12">
                    <c:if test="#{field.inlineLabel}">
                        <div class="ui-g">
                            <div class="ui-g-3 ui-sm-12"><iberis:dynamicformfieldlabel field="#{field}"/></div>
                            <div class="ui-g-9 ui-sm-12"><iberis:dynamicformfield field="#{field}"/></div>
                        </div>
                    </c:if>
                    <c:if test="#{!field.inlineLabel}">
                        <div class="ui-g-12"><iberis:dynamicformfieldlabel field="#{field}"/></div>
                        <div class="ui-g-12"><iberis:dynamicformfield field="#{field}"/></div>
                    </c:if>
                </div>
            </c:forEach>

            <h:outputText rendered="#{cc.attrs.section['footer'] != null and cc.attrs.section['footer'] != ''}" value="#{textUtil.getCleanHtml(cc.attrs.section['footer'])}" escape="false"/>
        </h:panelGroup>

    </composite:implementation>
</html>