<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="fieldProperty" required="true"/>
        <composite:attribute name="instanceValue" required="true"/>
        <composite:attribute name="dataBeanName" required="true"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="lookupFilter" required="false" default=""/>
        <composite:attribute name="filter" required="false" default=""/>
        <composite:attribute name="filterType" required="false" default=""/>
        <composite:attribute name="callback" required="false"/>
        <composite:attribute name="dropdownCallback" required="false"/>
        <composite:attribute name="listenerMethod" required="false" method-signature="void listener()"/>
        <composite:attribute name="updateId" required="false" default=""/>
        <composite:attribute name="componentsToProcess" required="false" default="@this"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
        <composite:attribute name="buttonDisabled" required="false" default="false"/>
    </composite:interface>

    <composite:implementation>

        <h:panelGrid columns="4" id="#{cc.attrs.fieldProperty.propertyName}_FLEXIBLE"
                     style="width: 100%"
                     columnClasses="lookupSelectorColumn,lookupButtonColumn,lookupImageColumn,lookupBlankColumn">

            <p:selectOneMenu id="#{cc.attrs.fieldProperty.propertyName}UnitSelector" widgetVar="#{cc.attrs.fieldProperty.propertyName}UnitSelector"
                             onchange="flexibleLookupOnChangeClear('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_display'))}','#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('InstanceId'))}',null);"
                             value="#{cc.attrs.value}" styleClass="flexible-lookup-select">
                <!--<c:if test="#{!empty cc.getValueExpression('listenerMethod')}">-->
                    <p:ajax listener="#{cc.attrs.listenerMethod}" update="#{cc.attrs.updateId},#{cc.attrs.fieldProperty.propertyName}_display" process="#{cc.attrs.componentsToProcess}" oncomplete="#{cc.attrs.dropdownCallback}" />
                <!--</c:if>-->
                <f:selectItem itemLabel="" itemValue="0"/>

                <c:if test="#{cc.attrs.filter == ''}">
                    <f:selectItems var="systemUnit" value="#{dataForm.allUnits}" itemLabel="#{bundle[systemUnit.pluralName]}" itemValue="#{systemUnit.unitID}" />
                </c:if>
                <c:if test="#{cc.attrs.filter != ''}">
                    <c:if test="#{cc.attrs.filterType == 'include'}">
                        <c:forEach items="#{dataForm.allUnits}" var="systemUnit">
                            <c:if test="#{systemUnit != null and cc.attrs.filter.contains(componentsUtil.formatUnitId('%03d',systemUnit.unitID))}">
                                <f:selectItem itemValue="#{systemUnit.unitID}" itemLabel="#{bundle[systemUnit.pluralName]}"/>
                            </c:if>
                        </c:forEach>
                    </c:if>
                    <c:if test="#{cc.attrs.filterType == 'exclude'}">
                        <c:forEach items="#{dataForm.allUnits}" var="systemUnit">
                            <c:if test="#{systemUnit != null and !cc.attrs.filter.contains(componentsUtil.formatUnitId('%03d',systemUnit.unitID))}">
                                <f:selectItem itemValue="#{systemUnit.unitID}" itemLabel="#{bundle[systemUnit.pluralName]}"/>
                            </c:if>
                        </c:forEach>
                    </c:if>
                </c:if>

            </p:selectOneMenu>

            <p:commandButton id="#{cc.attrs.fieldProperty.propertyName}_display" widgetVar="#{component.namingContainer.clientId}:#{cc.attrs.fieldProperty.propertyName}_display"
                             style="width: 100%;min-height: 2.8em"
                             value="#{componentsUtil.flexibleLookupDisplayValue(cc.attrs.fieldProperty,cc.attrs.dataBeanName)}" styleClass="#{(cc.attrs.buttonDisabled)? 'cannotactivate' : 'canactivate'}"
                             onclick="openLookupForm(PF('#{cc.attrs.fieldProperty.propertyName}UnitSelector').getSelectedValue(),'#{componentsUtil.getFlexibleLookupUnitDefaultFormPage(cc.attrs.fieldProperty,cc.attrs.dataBeanName)}',$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('InstanceId'))}')),null);" >
                <f:param name="skipValidation" value="1" />
            </p:commandButton>

            <h:outputLink value="#" style="text-decoration: none" onclick="openLookupDialog(PF('#{cc.attrs.fieldProperty.propertyName}UnitSelector').getSelectedValue(),'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('InstanceId'))}','','#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_display'))}','#{cc.attrs.callback}','#{cc.attrs.lookupFilter}');return false;">
                <span class="icon-search22" style="font-size: 1.4em"></span>
            </h:outputLink>

            <h:inputHidden id="#{cc.attrs.fieldProperty.propertyName}InstanceId" value="#{cc.attrs.instanceValue}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}"/>

            <!-- WORK AROUND FOR INITIAL DISABLE OF BUTTON -->
            <!-- This is because disable attribute will prevent the setting of the onclick attribute on p:commandbutton element -->
            <c:if test="#{cc.attrs.instanceValue eq null || cc.attrs.InstanceValue eq 0 || cc.attrs.instanceValue eq '' || cc.attrs.buttonDisabled}">
                <script type="text/javascript">
                    PF("#{component.namingContainer.clientId}:#{cc.attrs.fieldProperty.propertyName}_display").disable();
                </script>
            </c:if>

        </h:panelGrid>

    </composite:implementation>
</html>