<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="gallery" required="true"/>
        <composite:attribute name="assignmentId" required="false" default="0"/>
    </composite:interface>

    <composite:implementation>

        <c:if test="#{cc.attrs.gallery['type'] == 5}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.gallery['type'] == 5}" styleClass="preload #{cc.attrs.gallery['autoHideControls']?'auto-hide-controls':''}">
                <div style="#{cc.attrs.gallery['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.gallery['minWidth']).concat('px') : ''};#{cc.attrs.gallery['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.gallery['maxWidth']).concat('px') : ''};#{cc.attrs.gallery['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.gallery['minHeight']).concat('px') : ''};#{cc.attrs.gallery['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.gallery['maxHeight']).concat('px') : ''}">
                    <c:if test="#{cc.attrs.gallery['showName']}">
                        <h2>#{cc.attrs.gallery['name']}</h2>
                    </c:if>
                    <ul class="bxslider-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']}" style="#{(cc.attrs.gallery['slideMode'] != 'horizontal')?'padding-left: 0':''}">
                        <ui:repeat value="#{cc.attrs.gallery['galleryImages']}" var="galleryImage">
                            <li><h:graphicImage styleClass="gallery-image" value="#{galleryImage.image.filePath}" style="#{cc.attrs.gallery['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" rendered="#{galleryImage.image != null}" title="#{textUtil.getCleanHtml(galleryImage.caption, cc.attrs.gallery['allowEditorStyles'])}"/></li>
                        </ui:repeat>
                    </ul>

                    <c:if test="#{cc.attrs.gallery['showThumbnails']}">
                        <div id="bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']}" class="bx-pager">
                            <ul class="gallery-thumbs-list">
                                <ui:repeat varStatus="status" value="#{cc.attrs.gallery['galleryImages']}" var="galleryImage">
                                    <li class="thumb-item">
                                        <a class="thumb" href=""><h:graphicImage styleClass="gallery-image" value="#{galleryImage.image.filePath}"/></a>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </div>
                    </c:if>
                </div>
				<c:if test="#{cc.attrs.gallery['showCaptions'] and cc.attrs.gallery['showCaptionsBelowGallery']}">
					<div id="bxslider-caption-below-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']}">
					</div>
				</c:if>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.gallery['type'] == 5}">
            <script type="text/javascript">
                $(document).ready(function()
                {
					<c:if test="#{cc.attrs.gallery['showCaptions'] and cc.attrs.gallery['showCaptionsBelowGallery']}">
						var bxSliderCaptionList#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]} = new Array();

                        <ui:repeat var="galleryImage" value="#{cc.attrs.gallery['galleryImages']}">
                            bxSliderCaptionList#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.push("#{textUtil.getCleanHtmlJsSafe(galleryImage.caption, cc.attrs.gallery['allowEditorStyles'])}");
                        </ui:repeat>

					</c:if>
					
                    //Initialize the thumbnail carousel first
                    //Strange issue where the slideWidth setting on carousel messes up
                    //the width of slides on the main slide show if reversed
                    <c:if test="#{cc.attrs.gallery['showThumbnails']}">
                        // When clicking a thumb
                        $("#bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']} .gallery-thumbs-list").find('.thumb').click(function (e)
                        {
                            // -6 as BX slider clones a bunch of elements
                            bxSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.goToSlide($(this).closest('.thumb-item').index());

                            bxSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.stopAuto();

                            // Prevent default click behaviour
                            e.preventDefault();
                        });
    
                        // When you click on a thumb
                        $("#bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']} .gallery-thumbs-list").find('.thumb').click(function ()
                        {
                            // Remove the active class from all thumbs
                            $("#bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']} .gallery-thumbs-list").find('.thumb').removeClass('active');

                            // Add the active class to the clicked thumb
                            $(this).addClass('active');

                        });

                        // Thumbnail slider
                        var bxThumbsSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]} = $("#bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']} .gallery-thumbs-list").bxSlider({
                            controls: true,
                            pager: false,
                            minSlides: #{cc.attrs.gallery['visibleThumbs']},
                            maxSlides: #{cc.attrs.gallery['visibleThumbs']},
                            slideWidth: 150,
                            slideMargin: 5,
                            infiniteLoop: false,
                            responsive: true,
                            touchEnabled: (isMobileBrowser())? true : false
                        });

                        $(window).resize(function(){
                            bxThumbsSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.reloadSlider();
                        });

                    </c:if>

                    var bxSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]} = $('.bxslider-#{cc.attrs.assignmentId}-#{cc.attrs.gallery["id"]}').bxSlider({
                        mode: '#{cc.attrs.gallery["slideMode"]}',
                        minSlides: #{cc.attrs.gallery["imagesPerSlide"]},
                        maxSlides: #{cc.attrs.gallery["imagesPerSlide"]},
                        <c:if test="#{cc.attrs.gallery['imagesPerSlide'] > 1 and cc.attrs.gallery['imageWidth'] > 0}">
                            slideWidth: #{cc.attrs.gallery['imageWidth']},
                        </c:if>
                        auto: #{cc.attrs.gallery["autoSlide"]},
                        autoStart: #{cc.attrs.gallery["autoStart"]},
                        pause: #{cc.attrs.gallery["pauseTime"]},
                        pager: #{cc.attrs.gallery["showPager"]},
                        controls: #{cc.attrs.gallery["showControls"]},
                        startSlide: #{cc.attrs.gallery["startSlide"]},
                        speed: #{cc.attrs.gallery["animationSpeed"]},
                        captions: #{cc.attrs.gallery["showCaptions"] and !cc.attrs.gallery['showCaptionsBelowGallery']},
                        stopAutoOnClick: true,
						onSliderLoad: function(currentIndex)
						{
							<c:if test="#{cc.attrs.gallery['showThumbnails']}">
								var thumb = $("#bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']} .gallery-thumbs-list").find('.thumb');
								thumb.eq(currentIndex).addClass('active');
							</c:if>
							
							<c:if test="#{cc.attrs.gallery['showCaptions'] and cc.attrs.gallery['showCaptionsBelowGallery']}">
								$("#bxslider-caption-below-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']}").html(bxSliderCaptionList#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}[currentIndex]);
							</c:if>
						},
						<c:if test="#{cc.attrs.gallery['showThumbnails']}">
                            onSlideAfter: function ($slideElement, oldIndex, newIndex)
                            {
                                var thumb = $("#bx-pager-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']} .gallery-thumbs-list").find('.thumb');
                                thumb.removeClass('active');
                                thumb.eq(newIndex).addClass('active');

                                var slideIndex = Math.floor(newIndex / #{cc.attrs.gallery['visibleThumbs']});

                                bxThumbsSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.goToSlide(slideIndex);

                                <c:if test="#{cc.attrs.gallery['showCaptions'] and cc.attrs.gallery['showCaptionsBelowGallery']}">
                                    $("#bxslider-caption-below-#{cc.attrs.assignmentId}-#{cc.attrs.gallery['id']}").html(bxSliderCaptionList#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}[newIndex]);
                                </c:if>
                            },
                            onSlideNext: function ($slideElement, oldIndex, newIndex)
                            {
                                var slideIndex = Math.floor(newIndex / #{cc.attrs.gallery['visibleThumbs']});

                                bxThumbsSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.goToSlide(slideIndex);
                            },
                            onSlidePrev: function ($slideElement, oldIndex, newIndex)
                            {
                                var slideIndex = Math.floor(newIndex / #{cc.attrs.gallery['visibleThumbs']});

                                bxThumbsSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.goToSlide(slideIndex);
                            },
                        </c:if>
                        slideMargin: 5,
                        responsive: true,
                        touchEnabled: (isMobileBrowser())? true : false
                    });

                    if(!isMobileBrowser())
                    {
                        $(window).resize(function ()
                        {
                            bxSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.reloadSlider();
                        });
                    }
                    else
                    {
                        window.addEventListener('orientationchange', function()
                        {
                            bxSlider#{cc.attrs.assignmentId}#{cc.attrs.gallery["id"]}.reloadSlider();
                        });
                    }
                });

            </script>
        </c:if>

        <c:if test="#{cc.attrs.gallery['type'] == 8}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.gallery['type'] == 8}">
                <div style="#{cc.attrs.gallery['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.gallery['minWidth']).concat('px') : ''};#{cc.attrs.gallery['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.gallery['maxWidth']).concat('px') : ''};#{cc.attrs.gallery['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.gallery['minHeight']).concat('px') : ''};#{cc.attrs.gallery['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.gallery['maxHeight']).concat('px') : ''}">
                    <c:if test="#{cc.attrs.gallery['showName']}">
                        <h2>#{cc.attrs.gallery['name']}</h2>
                    </c:if>
                    <div id="side-by-side-#{cc.attrs.gallery['id']}" class="ui-g">
                        <c:forEach items="#{cc.attrs.gallery['galleryImages']}" var="galleryImage" varStatus="status">
                            <div class="ui-g-#{(cc.attrs.gallery['alternatingBlockSize'] > 0 and status.index % 2 != 0)? cc.attrs.gallery['alternatingBlockSize'] : cc.attrs.gallery['blockSize']} ui-sm-12 side-by-side-item">
                                <div style="position: relative" class="#{(cc.attrs.gallery['flipSlides'])?'flip-slide flip-slide-'.concat(cc.attrs.assignmentId).concat('-').concat(galleryImage['id']) :''}">
                                    <div class="front"><h:graphicImage styleClass="slide-image" value="#{galleryImage.image.filePath}" rendered="#{galleryImage.image != null}" title="#{textUtil.getStrippedHtml(galleryImage.caption, 0)}" style="#{cc.attrs.gallery['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" /></div>
                                    <c:if test="#{cc.attrs.gallery['showCaptions']}">
                                        <div class="side-by-side-caption back #{(cc.attrs.gallery['captionAsOverlay'])?'overlay-caption':''}"><h:outputText value="#{textUtil.getCleanHtml(galleryImage.caption, cc.attrs.gallery['allowEditorStyles'])}" escape="false"/></div>
                                    </c:if>
                                </div>
                            </div>

                            <c:if test="#{cc.attrs.gallery['flipSlides']}">
                                <script type="text/javascript">
                                    flipCardElements.push(".flip-slide-#{cc.attrs.assignmentId}-#{galleryImage['id']}");
                                </script>
                            </c:if>
                        </c:forEach>
                    </div>
                </div>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.gallery['type'] == 9}">
            <div style="#{cc.attrs.gallery['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.gallery['minWidth']).concat('px') : ''};#{cc.attrs.gallery['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.gallery['maxWidth']).concat('px') : ''};">
                <c:if test="#{cc.attrs.gallery['showName']}">
                    <h2>#{cc.attrs.gallery['name']}</h2>
                </c:if>
                <div class="ui-g">
                    <ui:repeat value="#{cc.attrs.gallery['galleryImages']}" var="galleryImage">
                        <div class="ui-g-#{cc.attrs.gallery['blockSize']} ui-sm-6 fancybox-item">
                            <a href="#{galleryImage.image.filePath}" data-fancybox="gallery-#{cc.attrs.assignmentId}-#{cc.attrs.gallery.id}" data-caption="#{textUtil.getCleanHtml(galleryImage.caption, cc.attrs.gallery['allowEditorStyles'])}">
                                <p:graphicImage value="#{galleryImage.image.filePath}" rendered="#{galleryImage.image != null}" title="#{textUtil.getStrippedHtml(galleryImage.caption, 0)}" style="#{cc.attrs.gallery['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" />
                            </a>
                        </div>
                    </ui:repeat>
                </div>
            </div>
        </c:if>

        <c:if test="#{cc.attrs.gallery['type'] == 10}">
            <div style="#{cc.attrs.gallery['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.gallery['minWidth']).concat('px') : ''};#{cc.attrs.gallery['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.gallery['maxWidth']).concat('px') : ''};">
                <c:if test="#{cc.attrs.gallery['showName']}">
                    <h2>#{cc.attrs.gallery['name']}</h2>
                </c:if>
                <h:form>
                    <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                    <p:dataGrid columns="4" rows="8" paginatorAlwaysVisible="false" paginator="true" lazy="false" paginatorPosition="bottom" layout="grid" value="#{cc.attrs.gallery['galleryImages']}" var="item" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                        <a href="#{item.image.filePath}" data-fancybox="gallery-#{cc.attrs.assignmentId}-#{cc.attrs.gallery.id}" data-caption="#{textUtil.getCleanHtml(item.caption, cc.attrs.gallery['allowEditorStyles'])}">
                            <p:graphicImage value="#{item.image.filePath}" rendered="#{item.image != null}" title="#{textUtil.getStrippedHtml(item.caption, 0)}" style="#{cc.attrs.gallery['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" />
                        </a>
                    </p:dataGrid>
                </h:form>
            </div>
        </c:if>

    </composite:implementation>
</html>