<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <c:if test="#{!cc.attrs.presentation['splitPane']}">
        <h:graphicImage styleClass="slide-image" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['imageHeroStyle']:''};#{cc.attrs.presentation['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null and presentationSlide.slide.video == null}"/>

        <iberis:videoplayer video="#{presentationSlide.slide.video}" rendered="#{presentationSlide.slide.video != null}"/>

        <div class="#{(cc.attrs.presentation['useOverlay'])?'overlay-slide-contents':'default-slide-contents'} #{(cc.attrs.presentation['useOverlay'] and !cc.attrs.presentation['heroSliderMode'])?'nonhero-overlay':''} #{(cc.attrs.presentation['useVwFont'])? 'vw-font' : ''}">
            <h:panelGroup layout="block" styleClass="slide-title" rendered="#{cc.attrs.presentation['showSlideTitle'] and presentationSlide.slide.video == null}" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['titleHeroStyle']:''}"><h:outputText value="#{presentationSlide.slide.title}"/></h:panelGroup>

            <h:panelGroup layout="block" styleClass="slide-caption" rendered="#{presentationSlide.slide.video == null}" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['captionHeroStyle']:''}"><h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/></h:panelGroup>

            <h:panelGroup layout="block" styleClass="slide-link" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['linkContainerHeroStyle']:''}" rendered="#{presentationSlide.slide.video == null}">
                <h:outputLink style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['linkHeroStyle']:''}" value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
            </h:panelGroup>
        </div>
    </c:if>
    <c:if test="#{cc.attrs.presentation['splitPane']}">
        <c:if test="#{!cc.attrs.presentation['paneReversed']}">
            <div class="ui-g split-pane">
                <div class="ui-g-#{cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:graphicImage styleClass="slide-image" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['imageHeroStyle']:''};#{cc.attrs.presentation['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null and presentationSlide.slide.video == null}"/>

                    <iberis:videoplayer video="#{presentationSlide.slide.video}" rendered="#{presentationSlide.slide.video != null}"/>
                </div>
                <div class="ui-g-#{12 - cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:panelGroup layout="block" styleClass="slide-title" rendered="#{cc.attrs.presentation['showSlideTitle']}" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['titleHeroStyle']:''}"><h:outputText value="#{presentationSlide.slide.title}"/></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-caption" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['captionHeroStyle']:''}"><h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-link" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['linkContainerHeroStyle']:''}">
                        <h:outputLink style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['linkHeroStyle']:''}" value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
                    </h:panelGroup>
                </div>
            </div>
        </c:if>
        <c:if test="#{cc.attrs.presentation['paneReversed']}">
            <div class="ui-g split-pane">
                <div class="ui-g-#{cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:panelGroup layout="block" styleClass="slide-title" rendered="#{cc.attrs.presentation['showSlideTitle']}" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['titleHeroStyle']:''}"><h:outputText value="#{presentationSlide.slide.title}"/></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-caption" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['captionHeroStyle']:''}"><h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-link" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['linkContainerHeroStyle']:''}">
                        <h:outputLink style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['linkHeroStyle']:''}" value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
                    </h:panelGroup>
                </div>
                <div class="ui-g-#{12 - cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:graphicImage styleClass="slide-image" style="#{cc.attrs.presentation['heroSliderMode']?cc.attrs.presentation['imageHeroStyle']:''};#{cc.attrs.presentation['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null and presentationSlide.slide.video == null}"/>

                    <iberis:videoplayer video="#{presentationSlide.slide.video}" rendered="#{presentationSlide.slide.video != null}"/>
                </div>
            </div>
        </c:if>
    </c:if>

</ui:composition>
