<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="propertyName" required="true"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
    </composite:interface>

    <composite:implementation>

        <h:inputHidden id="#{cc.attrs.propertyName}_HIDDEN"
                       value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}"/>

    </composite:implementation>
</html>