<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="image" required="true"/>
    </composite:interface>

    <composite:implementation>

        <h:panelGroup layout="block" class="iberis-image" style="position: relative;display: inline-block;#{(cc.attrs.image.showCaption and cc.attrs.image.captionAsOverlay)?'float: left':''}">
            <h:graphicImage value="#{cc.attrs.image.filePath}" style="#{(cc.attrs.image.showFullWidth)?'width: 100%;':''}max-width: 100%;display: block"/>
            <h:panelGroup layout="block" rendered="#{cc.attrs.image.showCaption and cc.attrs.image.captionAsOverlay}" styleClass="image-caption #{(cc.attrs.image.fullOverlay)?'image-caption-full-overlay':'image-caption-overlay'} #{(cc.attrs.image.sideOverlay == 'left')?'left-overlay':''} #{(cc.attrs.image.sideOverlay == 'right')?'right-overlay':''}" style="#{(cc.attrs.image.captionAsOverlay and cc.attrs.image.overlayColor != null and cc.attrs.image.overlayColor != '')? 'background-color: rgb('.concat(textUtil.convertHexToRgb(cc.attrs.image.overlayColor)).concat(',0.5);'):''}#{(cc.attrs.image.captionTextColor != null and cc.attrs.image.captionTextColor != '')? 'color: #'.concat(cc.attrs.image.captionTextColor):''}">
                <div class="caption-inner-text">
                    <h:outputText escape="false" value="#{textUtil.getCleanHtml(cc.attrs.image.caption)}"/>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="image-caption" rendered="#{cc.attrs.image.showCaption and !cc.attrs.image.captionAsOverlay}">
                <h:outputText escape="false" value="#{textUtil.getCleanHtml(cc.attrs.image.caption)}"/>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup layout="block" rendered="#{cc.attrs.image.showCaption and cc.attrs.image.captionAsOverlay}" style="clear: both"/>

    </composite:implementation>
</html>