<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="cssClasses" required="false"/>
        <composite:attribute name="key2Value" required="false"/>
        <composite:attribute name="displayValue" required="false"/>
        <composite:attribute name="fieldProperty" required="true"/>
        <composite:attribute name="lookupProperties" required="true"/>
        <composite:attribute name="dataBeanName" required="true"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="callback" required="false"/>
        <composite:attribute name="filter" required="false"/>
        <composite:attribute name="propertyName" default="" required="false"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
        <composite:attribute name="buttonDisabled" required="false" default="false"/>
    </composite:interface>

    <composite:implementation>

        <h:panelGroup id="#{cc.attrs.fieldProperty.propertyName}_LOOKUP" layout="block" styleClass="ui-g #{cc.attrs.cssClasses}">

            <c:if test="#{cc.attrs.fieldProperty != null}">
                <h:panelGroup layout="block" styleClass="ui-g-11 ui-sm-10" style="padding-left: 0;padding-right: 0">
                    <c:if test="#{cc.attrs.lookupProperties[3] == null}">
                        <p:commandButton id="#{cc.attrs.fieldProperty.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}" widgetVar="#{component.namingContainer.clientId}:#{cc.attrs.fieldProperty.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}"
                                         style="width: 100%;min-height: 2.8em" disabled="#{cc.attrs.value == null || (cc.attrs.value['class'].simpleName == 'Long' and cc.attrs.value eq 0) || cc.attrs.value eq '' || cc.attrs.buttonDisabled}"
                                         onclick="openLookupForm(#{cc.attrs.lookupProperties[0].unitID},'#{cc.attrs.lookupProperties[0].defaultFormPage}',$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}')),null);"
                                         value="#{componentsUtil.getLookupDisplayValue(cc.attrs.fieldProperty,cc.attrs.lookupProperties[1],cc.attrs.dataBeanName)}" styleClass="#{(cc.attrs.buttonDisabled)? 'cannotactivate' : 'canactivate'}">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                    </c:if>

                    <c:if test="#{cc.attrs.lookupProperties[3] != null}">
                        <p:commandButton id="#{cc.attrs.fieldProperty.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}" widgetVar="#{component.namingContainer.clientId}:#{cc.attrs.fieldProperty.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}"
                                         style="width: 100%;min-height: 2.8em" disabled="#{cc.attrs.value == null || (cc.attrs.value['class'].simpleName == 'Long' and cc.attrs.value eq 0) || cc.attrs.value eq '' || cc.attrs.buttonDisabled}"
                                         onclick="openLookupForm(#{cc.attrs.lookupProperties[0].unitID},'#{cc.attrs.lookupProperties[0].defaultFormPage}',$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}')),$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_PK2_').concat(cc.attrs.lookupProperties[3].propertyName))}')));"
                                         value="#{componentsUtil.getLookupDisplayValue(cc.attrs.fieldProperty,cc.attrs.lookupProperties[1],cc.attrs.dataBeanName)}" styleClass="#{(cc.attrs.buttonDisabled)? 'cannotactivate' : 'canactivate'}">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                    </c:if>
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="ui-g-1 ui-sm-2">
                    <c:if test="#{cc.attrs.lookupProperties[3] == null}">
                        <p:button escape="false" href="#" value="&lt;span class='#{cc.attrs.lookupProperties[0].getPluralIcon()}'&gt;&lt;/span&gt;" styleClass="float: right" onclick="openLookupDialog(#{cc.attrs.lookupProperties[0].unitID},'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}',null,'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_').concat(cc.attrs.lookupProperties[1].propertyName))}','#{cc.attrs.callback}','#{cc.attrs.filter}');return false;"/>
                    </c:if>

                    <c:if test="#{cc.attrs.lookupProperties[3] != null}">
                        <p:button escape="false" href="#" value="&lt;span class='#{cc.attrs.lookupProperties[0].getPluralIcon()}'&gt;&lt;/span&gt;" styleClass="float: right" onclick="openLookupDialog(#{cc.attrs.lookupProperties[0].unitID},'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}','#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_PK2_').concat(cc.attrs.lookupProperties[3].propertyName))}','#{component.namingContainer.clientId.concat(':').concat(cc.attrs.fieldProperty.propertyName.concat('_').concat(cc.attrs.lookupProperties[1].propertyName))}','#{cc.attrs.callback}','#{cc.attrs.filter}');return false;"/>
                    </c:if>

                    <h:inputHidden id="#{cc.attrs.fieldProperty.propertyName}_PK_#{cc.attrs.lookupProperties[2].propertyName}"
                                   value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}"/>

                    <c:if test="#{cc.attrs.lookupProperties[3] != null}">
                        <h:inputHidden id="#{cc.attrs.fieldProperty.propertyName}_PK2_#{cc.attrs.lookupProperties[3].propertyName}"
                                       value="#{cc.attrs.key2Value}"/>
                    </c:if>

                    <c:if test="#{cc.attrs.fieldProperty.fakeLookup == false}">
                        <h:inputHidden id="#{cc.attrs.fieldProperty.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}_value" value="#{cc.attrs.displayValue}"/>
                    </c:if>

                </h:panelGroup>
            </c:if>

            <c:if test="#{cc.attrs.fieldProperty == null}">
                <h:panelGroup layout="block" styleClass="ui-g-11 ui-sm-10" style="padding-left: 0;padding-right: 0">
                    <c:if test="#{cc.attrs.lookupProperties[3] == null}">
                        <p:commandButton id="#{cc.attrs.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}" widgetVar="#{component.namingContainer.clientId}:#{cc.attrs.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}"
                                         style="width: 100%;min-height: 2.8em" disabled="#{cc.attrs.value == null || (cc.attrs.value['class'].simpleName == 'Long' and cc.attrs.value eq 0) || cc.attrs.value eq '' || cc.attrs.buttonDisabled}"
                                         onclick="openLookupForm(#{cc.attrs.lookupProperties[0].unitID},'#{cc.attrs.lookupProperties[0].defaultFormPage}',$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}')),null);"
                                         value="" styleClass="#{(cc.attrs.buttonDisabled)? 'cannotactivate' : 'canactivate'}">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                    </c:if>

                    <c:if test="#{cc.attrs.lookupProperties[3] != null}">
                        <p:commandButton id="#{cc.attrs.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}" widgetVar="#{component.namingContainer.clientId}:#{cc.attrs.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}"
                                         style="width: 100%;min-height: 2.8em" disabled="#{cc.attrs.value == null || (cc.attrs.value['class'].simpleName == 'Long' and cc.attrs.value eq 0) || cc.attrs.value eq '' || cc.attrs.buttonDisabled}"
                                         onclick="openLookupForm(#{cc.attrs.lookupProperties[0].unitID},'#{cc.attrs.lookupProperties[0].defaultFormPage}',$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}')),$(PrimeFaces.escapeClientId('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK2_').concat(cc.attrs.lookupProperties[3].propertyName))}')));"
                                         value="" styleClass="#{(cc.attrs.buttonDisabled)? 'cannotactivate' : 'canactivate'}">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                    </c:if>
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="ui-g-1 ui-sm-2">
                    <c:if test="#{cc.attrs.lookupProperties[3] == null}">
                        <p:button escape="false" href="#" value="&lt;span class='#{cc.attrs.lookupProperties[0].getPluralIcon()}'&gt;&lt;/span&gt;" styleClass="float: right" onclick="openLookupDialog(#{cc.attrs.lookupProperties[0].unitID},'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}',null,'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_').concat(cc.attrs.lookupProperties[1].propertyName))}','#{cc.attrs.callback}','#{cc.attrs.filter}');return false;"/>
                    </c:if>

                    <c:if test="#{cc.attrs.lookupProperties[3] != null}">
                        <p:button escape="false" href="#" value="&lt;span class='#{cc.attrs.lookupProperties[0].getPluralIcon()}'&gt;&lt;/span&gt;" styleClass="float: right" onclick="openLookupDialog(#{cc.attrs.lookupProperties[0].unitID},'#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK_').concat(cc.attrs.lookupProperties[2].propertyName))}','#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_PK2_').concat(cc.attrs.lookupProperties[3].propertyName))}','#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_').concat(cc.attrs.lookupProperties[1].propertyName))}','#{cc.attrs.callback}','#{cc.attrs.filter}');return false;"/>
                    </c:if>


                    <h:inputHidden id="#{cc.attrs.propertyName}_PK_#{cc.attrs.lookupProperties[2].propertyName}"
                                   value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}"/>

                    <c:if test="#{cc.attrs.lookupProperties[3] != null}">
                        <h:inputHidden id="#{cc.attrs.propertyName}_PK2_#{cc.attrs.lookupProperties[3].propertyName}"
                                       value="#{cc.attrs.key2Value}"/>
                    </c:if>

                    <h:inputHidden id="#{cc.attrs.propertyName}_#{cc.attrs.lookupProperties[1].propertyName}_value" value="#{cc.attrs.displayValue}"/>

                </h:panelGroup>
            </c:if>

        </h:panelGroup>

    </composite:implementation>
</html>