<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="menu" required="true"/>
        <composite:attribute name="assignmentId" required="false" default="0"/>
        <composite:attribute name="zIndex" required="false" default="0"/>
        <composite:attribute name="mobileEnabled" required="false" default="true"/>
        <composite:attribute name="siteId" required="false" default="0"/>
    </composite:interface>

    <composite:implementation>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 0}">
            <p:menu toggleable="#{cc.attrs.menu.toggleable}" rendered="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 0}" styleClass="iberis-menu iberis-menu-#{cc.attrs.menu.id} #{(cc.attrs.menu['createMobile'] and cc.attrs.mobileEnabled)? 'menu-desktop-version': ''}" model="#{menuUtil.getDefaultMenuModel(cc.attrs.menu)}" style="#{(cc.attrs.menu.width > 0)? 'width:'.concat(cc.attrs.menu.width).concat('px;'):''}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 1}">
            <p:slideMenu styleClass="iberis-menu iberis-menu-#{cc.attrs.menu.id} #{(cc.attrs.menu['createMobile'] and cc.attrs.mobileEnabled)? 'menu-desktop-version': ''}"  model="#{menuUtil.getDefaultMenuModel(cc.attrs.menu)}" rendered="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 1}" style="#{(cc.attrs.menu.width > 0)? 'width:'.concat(cc.attrs.menu.width).concat('px;'):''}#{(cc.attrs.menu.height > 0)? 'height:'.concat(cc.attrs.menu.height).concat('px;'):''}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 4}">
            <p:panelMenu styleClass="iberis-menu iberis-menu-#{cc.attrs.menu.id} #{(cc.attrs.menu['createMobile'] and cc.attrs.mobileEnabled)? 'menu-desktop-version': ''}" model="#{menuUtil.getDefaultMenuModel(cc.attrs.menu)}" rendered="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 4}" style="#{(cc.attrs.menu.width > 0)? 'width:'.concat(cc.attrs.menu.width).concat('px;'):''}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 2}">
            <h:outputText escape="false" value="#{menuUtil.getSmartMarkup(cc.attrs.menu, cc.attrs.assignmentId, cc.attrs.zIndex, true)}" rendered="#{cc.attrs.menu['type'] == 2}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 3}">
            <h:outputText escape="false" value="#{menuUtil.getSmartMarkup(cc.attrs.menu, cc.attrs.assignmentId, cc.attrs.zIndex, false)}" rendered="#{cc.attrs.menu['type'] == 3}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 6}">
            <p:breadCrumb styleClass="iberis-menu iberis-menu-#{cc.attrs.menu.id} #{(cc.attrs.menu['createMobile'] and cc.attrs.mobileEnabled)? 'menu-desktop-version': ''}" model="#{menuUtil.getDefaultBreadCrumbMenuModel(cc.attrs.menu, cc.attrs.siteId)}" rendered="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 6 and menuUtil.getDefaultBreadCrumbMenuModel(cc.attrs.menu, cmsSite.siteId).elements.size() > 1}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 7}">
            <div id="smart-menu-container-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id}" class="smart-menu-container preload">
                <input id="smart-menu-state-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id}" class="smart-menu-state" type="checkbox" />
                <label class="smart-menu-btn" for="smart-menu-state-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id}">
                    <span class="smart-menu-btn-icon"></span> Toggle main menu visibility
                </label>
                <ul id="smart-menu-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id}" class="iberis-menu iberis-menu-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id} sm sm-simple smart-menu" style="#{(cc.attrs.zIndex > 0 and cc.attrs.menu.ZIndex == 0)? 'z-index: '.concat(cc.attrs.zIndex): ''}#{(cc.attrs.menu.ZIndex > 0)? 'z-index: '.concat(cc.attrs.menu.ZIndex): ''}">
                    <c:forEach items="#{cc.attrs.menu.menuItemCollection}" var="section">
                        <li class="has-mega-menu mega-menu-section-#{section.id} #{section.cssClassNames}">
                            <a href="#"><span class="#{section.icon} mobile-menu-icon"></span><h:outputText value="#{section.displayName}"/></a>
                            <ul class="mega-menu">
                                <li>
                                    <div class="ui-g">
                                    <c:forEach items="#{section.subMenuColumns}" var="column">
                                        <div class="ui-g-#{menuUtil.getMegamenuColumnClassWidth(section)} ui-sm-12 ui-smd-12 mega-menu-column-#{column.id} mega-menu-column">
                                            <c:forEach items="#{column.subMenuItems}" var="subSection">
                                                <div id="mega-menu-sub-section-#{subSection.id}" class="mega-menu-sub-section mega-menu-sub-section-#{subSection.id} #{subSection.cssClassNames}">
                                                    <h4><span class="#{subSection.icon} mobile-menu-icon"></span><h:outputText value="#{subSection.displayName}" /></h4>
                                                    <c:forEach items="#{subSection.subMenuItems}" var="menuItem">
                                                        <c:if test="#{menuItem.separatorBefore}">
                                                            <hr/>
                                                        </c:if>
                                                        <h:outputLink id="mega-menu-item-#{menuItem.id}" value="#{menuItem.url}" styleClass="mega-menu-item #{menuItem.cssClassNames}" target="#{(menuItem.openNewTab)?'_blank':'_self'}"><span class="#{menuItem.icon} mobile-menu-icon"></span><h:outputText value="#{menuItem.displayName}"/></h:outputLink>
                                                        <c:if test="#{menuItem.separatorAfter}">
                                                            <hr/>
                                                        </c:if>
                                                    </c:forEach>
                                                </div>
                                            </c:forEach>
                                            <h:outputText value="#{column.customContent}" escape="false" rendered="#{column.customContent != null and column.customContent != ''}"/>
                                        </div>
                                    </c:forEach>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </c:forEach>
                </ul>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {

                    $("#smart-menu-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id}").smartmenus({collapsibleBehavior: 'link'});

                    if ($('#smart-menu-container-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id} .smart-menu-state').length) {
                        // animate mobile menu
                        $('#smart-menu-container-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id} .smart-menu-state').change(function (e) {
                            var smartMenu = $('#smart-menu-container-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id} .smart-menu');

                            if (this.checked) {
                                smartMenu.hide().slideDown(250, function () {
                                    smartMenu.css('display', '');
                                });
                            }
                            else {
                                smartMenu.show().slideUp(250, function () {
                                    smartMenu.css('display', '');
                                });
                            }
                        });

                        // hide mobile menu beforeunload
                        $(window).bind('beforeunload unload', function () {
                            if ($('#smart-menu-container-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id} .smart-menu-state')[0].checked) {
                                $('#smart-menu-container-#{cc.attrs.assignmentId}-#{cc.attrs.menu.id} .smart-menu-state')[0].click();
                            }
                        });
                    }

                });
            </script>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 8}">
            <p:menuButton menuStyleClass="iberis-menu iberis-menu-#{cc.attrs.menu.id} #{(cc.attrs.menu['createMobile'] and cc.attrs.mobileEnabled)? 'menu-desktop-version': ''}" model="#{menuUtil.getDefaultMenuModel(cc.attrs.menu)}" value="#{cc.attrs.menu['buttonText']}" rendered="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 8}"/>
            <h:outputText value="#{menuUtil.getMenuWidthJquery(cc.attrs.menu)}" escape="false" rendered="#{cc.attrs.menu != null and cc.attrs.menu.width > 0 and cc.attrs.menu.type == 8}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu['type'] == 9}">
            <h:panelGroup layout="block" styleClass="iberis-menu iberis-menu-#{cc.attrs.menu.id} #{(cc.attrs.menu['createMobile'] and cc.attrs.mobileEnabled)? 'menu-desktop-version': ''}">
                <h:outputText escape="false" value="#{menuUtil.getFlatMenu(cc.attrs.menu)}" rendered="#{cc.attrs.menu['type'] == 9}"/>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.menu != null and cc.attrs.menu.subWidth > 0  and (cc.attrs.menu.type ==  0 or cc.attrs.menu.type == 1 or cc.attrs.menu.type == 4)}">
            <h:outputText value="#{menuUtil.getSubWidthJquery(cc.attrs.menu)}" escape="false" rendered="#{cc.attrs.menu != null and cc.attrs.menu.subWidth > 0  and cc.attrs.menu.type gt  -1 and cc.attrs.menu.type lt 5}"/>
        </c:if>

        <c:if test="#{cc.attrs.menu.createMobile and cc.attrs.mobileEnabled and cc.attrs.menu['type'] != 7 and cc.attrs.menu['type'] != 3 and cc.attrs.menu['type'] != 2}">
            <div class="menu-mobile-version">
                <h:outputText escape="false" value="#{menuUtil.getSmartMarkup(cc.attrs.menu, cc.attrs.assignmentId, 0, false)}"/>
            </div>
        </c:if>

    </composite:implementation>
</html>