<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="presentation" required="true"/>
		<composite:attribute name="assignmentId" required="false" default="0"/>
    </composite:interface>

    <composite:implementation>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 1}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['presentationType'] == 1}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px') : ''};#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px') : ''};#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px') : ''};#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <p:accordionPanel dynamic="false" value="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide">

                        <p:tab title="#{presentationSlide.slide.title}">
                            <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                            </c:if>
                            <c:if test="#{presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == ''}">
                                <ui:include src="slide.xhtml"/>
                            </c:if>
                        </p:tab>

                    </p:accordionPanel>
                </div>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 2}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['presentationType'] == 2}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px') : ''};#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px') : ''};#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px') : ''};#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <c:forEach items="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide">
                        <p:fieldset legend="#{presentationSlide.slide.title}" toggleable="#{cc.attrs.presentation['toggleable']}" collapsed="#{cc.attrs.presentation['collapsed']}" style="margin-bottom: 10px">
                            <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                            </c:if>
                            <c:if test="#{presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == ''}">
                                <ui:include src="slide.xhtml"/>
                            </c:if>
                        </p:fieldset>
                    </c:forEach>
                </div>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 3}">
            <h:panelGroup rendered="#{cc.attrs.presentation['presentationType'] == 3}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px') : ''};#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px') : ''};#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px') : ''};#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <p:tabView dynamic="false" value="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide" orientation="#{cc.attrs.presentation['orientation']}" scrollable="#{cc.attrs.presentation['scrollable']}">
                        <p:tab title="#{presentationSlide.slide.title}" closable="#{cc.attrs.presentation['sectionsClosable']}">
                            <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                            </c:if>
                            <c:if test="#{presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == ''}">
                                <ui:include src="slide.xhtml"/>
                            </c:if>
                        </p:tab>
                    </p:tabView>
                </div>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 5}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['presentationType'] == 5}" styleClass="preload slider-presentation #{cc.attrs.presentation['autoHideControls']?'auto-hide-controls':''}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px;') : ''}#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px;') : ''}#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px;') : ''}#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px;') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <div id="bxslider-presentation-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}" class="bxslider #{cc.attrs.presentation['heroSliderMode']?'hero':''}">
                        <c:forEach items="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide">
                            <div class="slide" id="slide-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}-#{presentationSlide['id']}" style="position: relative">
                                <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                    <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                                </c:if>
                                <c:if test="#{cc.attrs.presentation['heroSliderMode'] and (presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == '')}">
                                    <ui:include src="heroslide.xhtml"/>
                                </c:if>
                                <c:if test="#{!cc.attrs.presentation['heroSliderMode'] and (presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == '')}">
                                    <ui:include src="slide.xhtml"/>
                                </c:if>
                            </div>
                        </c:forEach>
                    </div>
                </div>
            </h:panelGroup>
        </c:if>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 5}">
            <script type="text/javascript">
                var bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]};

                $(window).on("load", function()
                {
                    $("#bxslider-presentation-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']} .slide").each(function()
                    {
                        var slideId = $(this).attr('id');

                        $(this).find("iframe").each(function(index)
                        {
                            $(this).attr('id', slideId + "-" + index);

                            if($(this).attr('src').indexOf("youtube") > -1)
                            {
                                window["player" + slideId.replace(/-/g, '') + index] = new YT.Player(slideId + '-' + index, {
                                    events: {
                                        'onStateChange': function (event) { if(event.data == 1) {bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]}.stopAuto();}}
                                    }
                                });
                            }

                            if($(this).attr('src').indexOf("vimeo") > -1)
                            {
                                window["player" + slideId.replace(/-/g, '') + index] = new Vimeo.Player($("#"+ slideId + "-" + index)[0]);

                                window["player" + slideId.replace(/-/g, '') + index].on('play', function() {
                                    bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]}.stopAuto();
                                });
                            }
                        });

                        $(this).find("video").each(function()
                        {
                           $(this).on('play', function (e) {
                               bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]}.stopAuto();
                            });
                        });
                    });
                });

                $(document).ready(function()
                {
                    bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]} = $("#bxslider-presentation-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}").bxSlider({
                        mode: '#{cc.attrs.presentation["slideMode"]}',
                        auto: #{cc.attrs.presentation["autoSlide"]},
                        autoStart: #{cc.attrs.presentation["autoStart"]},
                        pause: #{cc.attrs.presentation["pauseTime"]},
                        pager: #{cc.attrs.presentation["showPager"]},
                        controls: #{cc.attrs.presentation["showControls"]},
                        startSlide: #{cc.attrs.presentation["startSlide"]},
                        speed: #{cc.attrs.presentation["animationSpeed"]},
                        responsive: true,
                        preloadImages: 'all',
                        stopAutoOnClick: true,
                        adaptiveHeight: true,
                        touchEnabled: (isMobileBrowser())? true : false
                    });


                    if($("#bxslider-presentation-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']} div.vid-background-fixed-container").length > 0)
                    {
                        var tallestSlide = 0;

                        $("#bxslider-presentation-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}").find(".slide").each(function () {
                            if (tallestSlide &lt; $(this).height()) {
                                tallestSlide = $(this).height();
                            }
                        });

                        $("#bxslider-presentation-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']} div.vid-background-fixed-container").each(function () {

                            $(this).height(tallestSlide);

                        });
                    }

                    if(!isMobileBrowser())
                    {
                        $(window).resize(function ()
                        {
                            bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]}.reloadSlider();
                        });
                    }
                    else
                    {
                        window.addEventListener('orientationchange', function()
                        {
                            window.setTimeout(function()
                            {
                                bxPresentationSlider#{cc.attrs.assignmentId}#{cc.attrs.presentation["id"]}.reloadSlider();
                            }, 1500);
                        });
                    }
                });
            </script>
        </c:if>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 7}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['presentationType'] == 7}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px;') : ''}#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px;') : ''}#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px;') : ''}#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px;') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <div id="presentation-side-by-side-#{cc.attrs.presentation['id']}" class="ui-g">
                        <c:forEach items="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide" varStatus="status">
                            <div class="slide ui-g-#{(cc.attrs.presentation['alternatingBlockSize'] > 0 and status.index % 2 != 0)? cc.attrs.presentation['alternatingBlockSize'] : cc.attrs.presentation['blockSize']} ui-sm-12 side-by-side-item" style="position: relative">
                                <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                    <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                                </c:if>
                                <c:if test="#{presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == ''}">
                                    <ui:include src="slide.xhtml"/>
                                </c:if>
                            </div>
                        </c:forEach>
                    </div>
                </div>
            </h:panelGroup>
        </c:if>
		
		<c:if test="#{cc.attrs.presentation['presentationType'] == 6}">
            <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['presentationType'] == 6}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px;') : ''}#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px;') : ''}#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px;') : ''}#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px;') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <div id="expanding-grid-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}" class="expanding-grid expanding-grid-presentation">

                        <ul class="links" style="list-style: none">
                            <c:forEach items="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide">
                                <li class="ui-g-#{cc.attrs.presentation['blockSize']} ui-sm-12">
                                    <a href="#section#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}-#{presentationSlide.id}">
                                        <h:graphicImage style="width: 100%;max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null}"/>
                                    </a>
                                </li>
                            </c:forEach>
                        </ul>
						
						<c:forEach items="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide">
							<div id="section#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}-#{presentationSlide.id}" class="expanding-container">
								<article class="hentry" style="#{(cc.attrs.presentation['secondaryColor'] != null and cc.attrs.presentation['secondaryColor'] != '')? 'background-color: #'.concat(cc.attrs.presentation['secondaryColor']) : 'background-color: #888888'};#{(cc.attrs.presentation['primaryColor'] != null and cc.attrs.presentation['primaryColor'] != '')? 'color: #'.concat(cc.attrs.presentation['primaryColor']) : 'color: white'}">
                                    <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                        <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                                    </c:if>
                                    <c:if test="#{presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == ''}">
                                        <h:panelGroup layout="block" styleClass="slide-title" rendered="#{cc.attrs.presentation['showSlideTitle']}">
                                            <h1 class="entry-title"><h:outputText value="#{presentationSlide.slide.title}"/></h1>
                                        </h:panelGroup>
                                        <c:if test="#{cc.attrs.presentation['originalFormat']}">
                                            <div class="entry-image">
                                                <div class="img-placeholder">
                                                    <h:graphicImage style="width: 100%;max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null}"/>
                                                </div>
                                            </div>
                                            <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                                            <h:panelGroup layout="block" styleClass="slide-link">
                                                <h:outputLink value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
                                            </h:panelGroup>
                                        </c:if>
                                        <c:if test="#{!cc.attrs.presentation['originalFormat']}">
                                            <ui:include src="slide.xhtml"/>
                                        </c:if>
                                    </c:if>
								</article>
							</div>
                        </c:forEach>
                    </div>
                    <c:if test="#{cc.attrs.presentation['secondaryColor'] != null and cc.attrs.presentation['secondaryColor'] != ''}">
                        <style>
                            #expanding-grid-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']} .links > li a.active:after
                            {
                                border-bottom: 0.375em solid ##{cc.attrs.presentation['secondaryColor']};
                            }
                        </style>
                    </c:if>
                </div>
            </h:panelGroup>

        </c:if>

        <c:if test="#{cc.attrs.presentation['presentationType'] == 8}">
            <h:panelGroup rendered="#{cc.attrs.presentation['presentationType'] == 8}">
                <div style="#{cc.attrs.presentation['minWidth'] > 0 ? 'min-width:'.concat(cc.attrs.presentation['minWidth']).concat('px') : ''};#{cc.attrs.presentation['maxWidth'] > 0 ? 'max-width:'.concat(cc.attrs.presentation['maxWidth']).concat('px') : ''};#{cc.attrs.presentation['minHeight'] > 0 ? 'min-height:'.concat(cc.attrs.presentation['minHeight']).concat('px') : ''};#{cc.attrs.presentation['maxHeight'] > 0 ? 'max-height:'.concat(cc.attrs.presentation['maxHeight']).concat('px') : ''}">
                    <c:if test="#{cc.attrs.presentation['showName']}">
                        <h2>#{cc.attrs.presentation['name']}</h2>
                    </c:if>
                    <h:form>
                        <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                        <p:wizard showNavBar="true">
                            <c:forEach items="#{cc.attrs.presentation['presentationSlides']}" var="presentationSlide">
                                <p:tab title="#{presentationSlide.slide.title}">
                                    <c:if test="#{presentationSlide.slide.customContent != null and presentationSlide.slide.customContent.trim() != ''}">
                                        <h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.customContent, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/>
                                    </c:if>
                                    <c:if test="#{presentationSlide.slide.customContent == null || presentationSlide.slide.customContent.trim() == ''}">
                                        <ui:include src="slide.xhtml"/>
                                    </c:if>
                                </p:tab>
                            </c:forEach>
                        </p:wizard>
                    </h:form>
                </div>
            </h:panelGroup>
        </c:if>

    </composite:implementation>
</html>