<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <composite:interface>
        <composite:attribute name="catalog" required="true"/>
    </composite:interface>

    <composite:implementation>
        <h:panelGroup layout="block" styleClass="product-catalog}" id="product-catalog-#{cc.attrs.catalog.id}">
            <c:if test="#{cc.attrs.catalog.customTemplate == null || cc.attrs.catalog.customTemplate.trim() == ''}">
                <p:dialog width="90%" style="max-width: 750px" height="520" id="product-gallery-dialog#{cc.attrs.catalog.id}" widgetVar="product-gallery-dialog#{cc.attrs.catalog.id}" header="Product Gallery" closable="true" draggable="false" modal="true" appendTo="@(body)">
                    <p:commandButton type="button" onclick="PF('gallery-switch-#{cc.attrs.catalog.id}').previous();"
                                     id="prev" escape="false" value="&lt;span class='icon-previous'&gt;&lt;/span&gt;"/>
                    <p:commandButton type="button" onclick="PF('gallery-switch-#{cc.attrs.catalog.id}').next();"
                                     id="next" escape="false" value="&lt;span class='icon-next'&gt;&lt;/span&gt;"/>
                    <p:imageSwitch effect="fade" widgetVar="gallery-switch-#{cc.attrs.catalog.id}" id="gallery-switch-#{cc.attrs.catalog.id}" slideshowAuto="false" style="height: 400px">
                        <ui:repeat value="#{ecommerceUtil.productGallery.galleryImages}" var="galleryImage" id="manuelSwitcherImages">
                            <p:graphicImage value="#{galleryImage.image.filePath}" rendered="#{galleryImage.image != null}" title="#{galleryImage.caption}" style="max-height: 400px"/>
                        </ui:repeat>
                    </p:imageSwitch>
                </p:dialog>
            </c:if>
            <c:if test="#{cc.attrs.catalog.customTemplate == null || cc.attrs.catalog.customTemplate.trim() == ''}">
                <h:form>
                    <ui:include src="../../views/CsrfTokenInsert.xhtml"/>
                    <c:if test="#{cc.attrs.catalog.showTitle}">
                        <h:outputText value="&lt;#{cc.attrs.catalog.titleSize}&gt;#{cc.attrs.catalog.name}&lt;/#{cc.attrs.catalog.titleSize}&gt;" escape="false"/>
                    </c:if>

                    <h:panelGroup id="header" layout="block" style="margin-top: 15px" rendered="#{cc.attrs.catalog.header != null and cc.attrs.catalog.header != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(cc.attrs.catalog.header)}"/>
                    </h:panelGroup>

                    <h:panelGroup id="sub-header" layout="block" style="margin-top: 15px" rendered="#{cc.attrs.catalog.subHeader != null and cc.attrs.catalog.subHeader != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(cc.attrs.catalog.subHeader)}"/>
                    </h:panelGroup>

                    <c:if test="#{cc.attrs.catalog.layoutMode == 1}">
                        <p:dataGrid var="product" value="#{ecommerceUtil.retrieveProductLoader(cc.attrs.catalog.id)}" columns="#{cc.attrs.catalog.columns}" layout="grid"
                                    rows="#{cc.attrs.catalog.initialRows}" paginator="true" id="product-list" lazy="true"
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="#{cc.attrs.catalog.pagerTemplate}">

                            <p:panel header="#{product.productName}">

                                <p:graphicImage value="#{product.mainImage.image.filePath}" style="max-width: 200px"/>

                                <div>
                                    <div>
                                        <h:outputText value="Price: &lt;b&gt;$ #{product.price}&lt;/b&gt;" escape="false" />
                                        <div style="float: right;">
                                            <p:commandLink value="View" action="#{ecommerceUtil.createProductGallery(product)}" update="#{p:component('product-gallery-dialog'.concat(cc.attrs.catalog.id))}" oncomplete="PF('product-gallery-dialog#{cc.attrs.catalog.id}').show()">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                            <p:commandLink value="Add To Cart" action="#{shoppingCart.addProduct(product)}" style="margin-left: 10px">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                        </div>
                                    </div>

                                </div>

                            </p:panel>

                        </p:dataGrid>
                    </c:if>

                    <c:if test="#{cc.attrs.catalog.layoutMode == 2}">
                        <p:dataTable id="product-table" lazy="true"
                                     var="product" reflow="true"
                                     value="#{ecommerceUtil.retrieveProductLoader(cc.attrs.catalog.id)}" rendered="true" rows="#{cc.attrs.catalog.initialRows}"
                                     rowsPerPageTemplate="#{cc.attrs.catalog.pagerTemplate}" paginator="true">
                            <p:column width="120">
                                <h:graphicImage value="#{product.mainImage.image.filePath}" width="120"/>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{product.productName}"/>
                            </p:column>
                            <p:column headerText="Price">
                                <h:outputText value="&lt;b&gt;$ #{product.price}&lt;/b&gt;" escape="false"/>
                            </p:column>
                            <p:column width="70">
                                <p:commandLink value="View" action="#{ecommerceUtil.createProductGallery(product)}" update="#{p:component('product-gallery-dialog'.concat(cc.attrs.catalog.id))}" oncomplete="PF('product-gallery-dialog#{cc.attrs.catalog.id}').show()">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>
                            <p:column width="120">
                                <p:commandLink value="Add To Cart" action="#{shoppingCart.addProduct(product)}">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </c:if>

                    <h:panelGroup id="footer" layout="block" style="margin-top: 15px" rendered="#{cc.attrs.catalog.footer != null and cc.attrs.catalog.footer != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(cc.attrs.catalog.footer)}"/>
                    </h:panelGroup>

                    <h:panelGroup id="sub-footer" layout="block" style="margin-top: 15px" rendered="#{cc.attrs.catalog.subFooter != null and cc.attrs.catalog.subFooter != ''}">
                        <h:outputText escape="false" value="${textUtil.getCleanHtml(cc.attrs.catalog.subFooter)}"/>
                    </h:panelGroup>
                </h:form>
            </c:if>
            <c:if test="#{cc.attrs.catalog.customTemplate != null and cc.attrs.catalog.customTemplate.trim() != ''}">
                <ui:include src="/custom/catalog/#{cc.attrs.catalog.customTemplate}.xhtml"/>
            </c:if>
        </h:panelGroup>


    </composite:implementation>
</html>