<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="cssClasses" required="false"/>
        <composite:attribute name="propertyName" required="true"/>
        <composite:attribute name="listItems" required="true"/>
        <composite:attribute name="listenerMethod" required="false" method-signature="void listener()"/>
        <composite:attribute name="updateId" required="false" default=""/>
        <composite:attribute name="componentsToProcess" required="false" default="@this"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="callback" required="false"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
    </composite:interface>

    <composite:implementation>

        <p:selectOneMenu id="#{cc.attrs.propertyName}_SELECTION" style="width: 100%;padding-right: 0" styleClass="select-field #{cc.attrs.cssClasses}"
                         value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}">
            <c:if test="#{!empty cc.getValueExpression('listenerMethod')}">
                <p:ajax listener="#{cc.attrs.listenerMethod}" update="#{cc.attrs.updateId}" process="#{cc.attrs.componentsToProcess}" oncomplete="#{cc.attrs.callback}" />
            </c:if>
            <f:selectItem itemLabel="" itemValue=""/>
            <f:selectItems var="item" value="#{cc.attrs.listItems}" itemLabel="#{item.displayValue}" itemValue="#{item.itemValue}"/>
        </p:selectOneMenu>

    </composite:implementation>
</html>