<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">


    <c:if test="#{!cc.attrs.presentation['splitPane']}">
        <div class="#{(cc.attrs.presentation['flipSlides'])?'flip-slide pres-flip-slide-'.concat(cc.attrs.assignmentId).concat('-').concat(cc.attrs.presentation['id']).concat('-').concat(presentationSlide['id']):''}" style="#{(cc.attrs.presentation['useOverlay'])?'position: relative':''}">
            <div class="front">
                <h:graphicImage styleClass="slide-image" style="#{cc.attrs.presentation['imageMaxWidth']? 'width: 100%;' : ''}#{(cc.attrs.presentation['useOverlay'])? 'display: block;' : ''}max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null}"/>

                <div class="slide-video">
                    <iberis:videoplayer video="#{presentationSlide.slide.video}" rendered="#{presentationSlide.slide.video != null}"/>
                </div>
            </div>
            <div class="back #{(cc.attrs.presentation['useOverlay'])?'presentation-slide-overlay':''}">
                <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['showSlideTitle'] and (cc.attrs.presentation['presentationType'] == 7 || cc.attrs.presentation['presentationType'] == 5)}"><h3><h:outputText value="#{presentationSlide.slide.title}"/></h3></h:panelGroup>

                <h:panelGroup layout="block" styleClass="slide-caption"><h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/></h:panelGroup>

                <h:panelGroup layout="block" styleClass="slide-link">
                    <h:outputLink value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
                </h:panelGroup>
            </div>
        </div>

        <c:if test="#{cc.attrs.presentation['flipSlides']}">
            <script type="text/javascript">
                flipCardElements.push(".pres-flip-slide-#{cc.attrs.assignmentId}-#{cc.attrs.presentation['id']}-#{presentationSlide['id']}");
            </script>
        </c:if>
    </c:if>
    <c:if test="#{cc.attrs.presentation['splitPane']}">
        <c:if test="#{!cc.attrs.presentation['paneReversed']}">
            <div class="ui-g split-pane">
                <div class="ui-g-#{cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:graphicImage styleClass="slide-image" style="#{cc.attrs.presentation['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null}"/>

                    <iberis:videoplayer video="#{presentationSlide.slide.video}" rendered="#{presentationSlide.slide.video != null}"/>
                </div>
                <div class="ui-g-#{12 - cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['showSlideTitle'] and (cc.attrs.presentation['presentationType'] == 7 || cc.attrs.presentation['presentationType'] == 5)}"><h3><h:outputText value="#{presentationSlide.slide.title}"/></h3></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-caption"><h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-link">
                        <h:outputLink value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
                    </h:panelGroup>
                </div>
            </div>
        </c:if>
        <c:if test="#{cc.attrs.presentation['paneReversed']}">
            <div class="ui-g split-pane">
                <div class="ui-g-#{cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:panelGroup layout="block" rendered="#{cc.attrs.presentation['showSlideTitle'] and (cc.attrs.presentation['presentationType'] == 7 || cc.attrs.presentation['presentationType'] == 5)}"><h3><h:outputText value="#{presentationSlide.slide.title}"/></h3></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-caption"><h:outputText value="#{textUtil.getCleanHtml(presentationSlide.slide.caption, cc.attrs.presentation['allowEditorStyles'])}" escape="false"/></h:panelGroup>

                    <h:panelGroup layout="block" styleClass="slide-link">
                        <h:outputLink value="#{presentationSlide.slide.learnMoreUrl}" rendered="#{presentationSlide.slide.learnMoreUrl != null and presentationSlide.slide.learnMoreUrl != '' and presentationSlide.slide.learnMoreText != null and presentationSlide.slide.learnMoreText != ''}">#{presentationSlide.slide.learnMoreText}</h:outputLink>
                    </h:panelGroup>
                </div>
                <div class="ui-g-#{12 - cc.attrs.presentation['leftPaneSize']} ui-sm-12">
                    <h:graphicImage styleClass="slide-image" style="#{cc.attrs.presentation['imageMaxWidth']? 'width: 100%;' : ''}max-width: 100%" value="#{presentationSlide.slide.image.filePath}" rendered="#{presentationSlide.slide.image != null}"/>

                    <iberis:videoplayer video="#{presentationSlide.slide.video}" rendered="#{presentationSlide.slide.video != null}"/>
                </div>
            </div>
        </c:if>
    </c:if>

</ui:composition>
