<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="propertyName" required="true"/>
        <composite:attribute name="object" required="true"/>
        <composite:attribute name="editListenerMethod" required="true" method-signature="void method(org.primefaces.event.RowEditEvent)"/>
    </composite:interface>

    <composite:implementation>

        <p:inputText style="padding: 8px" value="#{cc.attrs.object[cc.attrs.propertyName.concat('_temp')]}"/>
        <p:commandButton value="Add" action="#{componentsUtil.addListValue(cc.attrs.value, cc.attrs.object[cc.attrs.propertyName.concat('_temp')])}" update="#{cc.attrs.propertyName}-grid">
            <f:param name="skipValidation" value="1" />
        </p:commandButton>
        <p:dataTable id="#{cc.attrs.propertyName}-grid" var="item" rowIndexVar="index" value="#{cc.attrs.value}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
            <p:ajax event="rowEdit" listener="#{cc.attrs.editListenerMethod}" update="#{cc.attrs.propertyName}-grid"/>

            <p:column>
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{item}"/></f:facet>
                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item}"/></f:facet>
                </p:cellEditor>
            </p:column>
            <p:column width="50">
                <p:commandLink action="#{componentsUtil.removeListValue(cc.attrs.value, index)}" value="Delete">
                    <f:param name="skipValidation" value="1" />
                </p:commandLink>
            </p:column>
            <p:column style="width:32px">
                <p:rowEditor />
            </p:column>
        </p:dataTable>

    </composite:implementation>
</html>