<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="value" required="true"/>
        <composite:attribute name="propertyName" required="true"/>
        <composite:attribute name="valueRequired" required="false" default="false"/>
        <composite:attribute name="requiredMessage" default="#{textUtil.transformToTitleCase(cc.attrs.propertyName)} is required." required="false"/>
    </composite:interface>

    <composite:implementation>

        <div class="ui-g">
            <div class="ui-g-11 ui-sm-10" style="padding-left: 0;padding-right: 0">
                <p:inputText id="#{cc.attrs.propertyName}_URL"
                             style="width: 95%;padding: 8px"
                             value="#{cc.attrs.value}" required="#{cc.attrs.valueRequired}" requiredMessage="#{cc.attrs.requiredMessage}"/>
            </div>
            <div class="ui-g-1 ui-sm-2">
                <p:button escape="false" href="#" value="&lt;span class='icon-link2'&gt;&lt;/span&gt;" styleClass="float: right" onclick="openUrlSelectDialog('#{component.namingContainer.clientId.concat(':').concat(cc.attrs.propertyName.concat('_URL'))}');return false;"/>
            </div>
        </div>

    </composite:implementation>
</html>