<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: Jim May
  Date: 8/3/14
  Time: 11:46 PM
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">

    <composite:interface>
        <composite:attribute name="video" required="true"/>
        <composite:attribute name="showOnlyVideo" default="false" required="false"/>
    </composite:interface>

    <composite:implementation>

        <h:panelGroup layout="block" styleClass="video-header" rendered="#{cc.attrs.video.header != null and cc.attrs.video.header.trim().length() > 0 and cc.attrs.video.showHeader and !cc.attrs.showOnlyVideo}">
            <h:outputText escape="false" value="#{textUtil.getCleanHtml(cc.attrs.video.header)}"/>
        </h:panelGroup>

        <c:if test="#{cc.attrs.video.videoAsBackground}">
            <c:if test="#{cc.attrs.video.filePath != null and cc.attrs.video.filePath.trim().length() > 0}">
                <div class="vid-fit-container object-fit__container">
                    <video id="video-#{cc.attrs.video.id}" class="object-fit__cover" style="width: 100%;height: 100%" preload="auto" autoplay="true" muted="true" loop="true">
                        <source src="#{cc.attrs.video.filePath}" type='#{cc.attrs.video.mimeType.name}'/>
                        <p>
                            Your browser does not support HTML5 video.
                        </p>
                    </video>
                    <div class="video-background-overlay" style="#{(cc.attrs.video.overlayColor != null and cc.attrs.video.overlayColor != '')? 'background-color: rgb('.concat(textUtil.convertHexToRgb(cc.attrs.video.overlayColor)).concat(',0.5);'):''}">
                        <div class="video-overlay-caption">
                            <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.video.overlayCaption)}" escape="false"/>
                        </div>
                    </div>
                </div>
            </c:if>
            <c:if test="#{cc.attrs.video.filePath == null or cc.attrs.video.filePath.trim().length() == 0}">
                <c:if test="#{cc.attrs.video.backgroundType == 1}">
                    <div class="vid-background-fixed-container">
                        <iframe id="static-background-video-#{cc.attrs.video.id}" class="video-background-fixed-iframe" src="/video-background/#{cc.attrs.video.id}" frameborder="0" style="#{(cc.attrs.video.minHeight > 0)? 'min-height: '.concat(cc.attrs.video.minHeight).concat('px') : ''}"></iframe>
                    </div>
                </c:if>
                <c:if test="#{cc.attrs.video.backgroundType == 2}">
                    <c:if test="#{cc.attrs.video.videoPlatform > 0 and cc.attrs.video.platformVideoId != null and cc.attrs.video.platformVideoId.trim().length() > 0}">
                        <div class="embed-video-container desktop-only">
                            <c:if test="#{cc.attrs.video.videoPlatform == 1}">
                                <iframe allowfullscreen="true" class="video-iframe" frameborder="0" src="https://www.youtube.com/embed/#{cc.attrs.video.platformVideoId}?autoplay=1&amp;playlist=#{cc.attrs.video.platformVideoId}&amp;enablejsapi=0&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;fs=0&amp;cc_load_policy=0&amp;iv_load_policy=3&amp;mute=1"></iframe>
                            </c:if>
                            <c:if test="#{cc.attrs.video.videoPlatform == 2}">
                                <iframe id="video-background-#{cc.attrs.video.id}" class="video-iframe" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        var vimBackPlayer = new Vimeo.Player('video-background-#{cc.attrs.video.id}', {id: '#{cc.attrs.video.platformVideoId}', autoplay: true, background: true, loop: true});
                                        vimBackPlayer.setVolume(0);
                                    });
                                </script>
                            </c:if>
							<div class="video-background-overlay" style="#{(cc.attrs.video.overlayColor != null and cc.attrs.video.overlayColor != '')? 'background-color: rgb('.concat(textUtil.convertHexToRgb(cc.attrs.video.overlayColor)).concat(',0.5);'):''}">
                                <div class="video-overlay-caption">
                                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.video.overlayCaption)}" escape="false"/>
                                </div>
                            </div>
                        </div>
                        <h:panelGroup layout="block" styleClass="mobile-only" style="position: relative" rendered="#{cc.attrs.video.fallbackImage != null and cc.attrs.video.fallbackImage.imageid > 0}">
                            <h:graphicImage styleClass="video-fallback-image" value="#{cc.attrs.video.fallbackImage.filePath}"/>
                            <div class="video-background-overlay" style="#{(cc.attrs.video.overlayColor != null and cc.attrs.video.overlayColor != '')? 'background-color: rgb('.concat(textUtil.convertHexToRgb(cc.attrs.video.overlayColor)).concat(',0.5);'):''}">
                                <div class="video-overlay-caption">
                                    <h:outputText value="#{textUtil.getCleanHtml(cc.attrs.video.overlayCaption)}" escape="false"/>
                                </div>
                            </div>
                        </h:panelGroup>
                    </c:if>
                </c:if>
            </c:if>
        </c:if>

        <c:if test="#{!cc.attrs.video.videoAsBackground}">
            <h:panelGroup layout="block" styleClass="embed-video-container" rendered="#{cc.attrs.video != null and cc.attrs.video.id > 0 and (cc.attrs.video.customContent == null or cc.attrs.video.customContent.trim().length() == 0) and cc.attrs.video.filePath != null and cc.attrs.video.filePath.trim().length() != 0}">
                <!-- Other attributes: width="640" height="264" poster="MY_VIDEO_POSTER.jpg" -->
                <video id="video-#{cc.attrs.video.id}" controls="controls" preload="auto" width="100%">
                    <source src="#{cc.attrs.video.filePath}" type='#{cc.attrs.video.mimeType.name}'/>
                    <p>
                        Your browser does not support HTML5 video.
                    </p>
                </video>
            </h:panelGroup>

            <h:panelGroup layout="block" rendered="#{cc.attrs.video.customContent != null and cc.attrs.video.customContent.trim().length() > 0}">
                <!-- TODO: Need to add cleaning mechanism for this custom content that doesn't strip the tags like iframes (youtube) -->
                <h:outputText escape="false" value="#{cc.attrs.video.customContent}"/>
            </h:panelGroup>

            <c:if test="#{cc.attrs.video.videoPlatform > 0 and cc.attrs.video.platformVideoId != null and cc.attrs.video.platformVideoId.trim().length() > 0 and (cc.attrs.video.customContent == null or cc.attrs.video.customContent.trim().length() == 0) and (cc.attrs.video.filePath == null or cc.attrs.video.filePath.trim().length() == 0)}">
                <div class="embed-video-container">
                    <c:if test="#{cc.attrs.video.videoPlatform == 1}">
                        <iframe allowfullscreen="true" class="video-iframe" frameborder="0" src="https://www.youtube.com/embed/#{cc.attrs.video.platformVideoId}?enablejsapi=1"></iframe>
                    </c:if>
                    <c:if test="#{cc.attrs.video.videoPlatform == 2}">
                        <iframe src="https://player.vimeo.com/video/#{cc.attrs.video.platformVideoId}" class="video-iframe" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
                    </c:if>
                </div>
            </c:if>
        </c:if>

        <h:panelGroup layout="block" styleClass="video-footer" rendered="#{cc.attrs.video.footer != null and cc.attrs.video.footer.trim().length() > 0 and cc.attrs.video.showFooter and !cc.attrs.showOnlyVideo}">
            <h:outputText escape="false" value="#{textUtil.getCleanHtml(cc.attrs.video.footer)}"/>
        </h:panelGroup>

    </composite:implementation>
</html>