#sticky-admin-bar
{
	height: 55px;
	background: black;
	color: white;
}

.iberis-textfield
{
	width: 100%;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.iberis-textarea
{
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lookupSelectorColumn
{
	width: 150px;
}

.lookupButtonColumn
{
	width: 100%;
}

.lookupButtonColumn button
{
	height: 30px;
}

.lookupImageColumn
{
	width: 24px;
}

.lookupBlankColumn
{
	width: 1px;
}

.selection-unit-image-column
{
	width: 50px;
}

.datepicker-field input
{
	width: 80%;
	padding: 8px;
}

.datepicker-field button
{
	height: 32px;
}

.boolean-field.ui-selectonemenu .ui-selectonemenu-label,
.select-field.ui-selectonemenu .ui-selectonemenu-label
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.boolean-field label
{
	padding: 8px 0 8px 4px;
}

.select-field label
{
	padding: 8px 0 8px 4px;
}

.flexible-lookup-select label
{
	padding: 8px;
}

span.ui-inputNum input.ui-inputfield
{
	width: 97%;
	padding: 8px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 8px !important;
}

.ui-selectonemenu-panel
{
	/*width: 350px;
	margin-left: 10px;*/
}

.ui-accordion .ui-accordion-content
{
	padding: 0 !important;
}

.ui-accordion .ui-accordion-content div.slide-caption
{
	padding: 0 10px;
}

.ui-accordion .ui-accordion-content div.slide-link
{
	padding: 5px 10px;
}

.iberis-menu .ui-slidemenu-wrapper,
.iberis-menu .ui-slidemenu-content
{
	height: 100% !important;
}

.ui-datatable .ui-column-filter
{
	width: 100% !important;
	max-width: 100%;
	margin-left: -5px !important;
}

.card h2
{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 15px;
	margin-bottom: 5px !important;
	font-size: 1.5em;
	font-weight: normal;

}

.ui-menu .ui-menuitem-link .ui-menuitem-icon,
.ui-menu .ui-submenu-icon
{
	margin-right: 5px;
}

.ui-contentflow div.globalCaption
{
	color: #444444;
}

div.ui-autocomplete,
.ui-autocomplete-multiple-container,
.ui-autocomplete-multiple-container.ui-inputfield
{
	width: 100%;
}

.ui-autocomplete-multiple-container.ui-inputfield li input
{
	padding: 6px;
}

.ui-inputnumber .ui-inputfield
{
	width: 97%;
	padding: 8px;
}

.ui-tree .ui-treenode .ui-treenode-content .ui-treenode-label
{
	white-space: normal;
	padding: 5px;
	font-size: 18px;
}

.ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon.ui-icon-triangle-1-e,
.ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon.ui-icon-triangle-1-s
{
	font-size: 30px;
	height: 30px;
	width: 30px;
}

.ui-tree .ui-tree-droppoint
{
	height: 8px;
}

div.iberis-image .image-caption-overlay
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0,0,0,.5);
	color: white;
	text-shadow: none;
}

div.iberis-image .image-caption-overlay.left-overlay
{
	top: 0;
	right: 50%;
}

div.iberis-image .image-caption-overlay.right-overlay
{
	top: 0;
	left: 50%;
}

div.iberis-image .image-caption-full-overlay
{
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 20;
	background: rgb(0,0,0,0.5);
	color: white;
	text-shadow: none;
}

div.iberis-image .image-caption-full-overlay .caption-inner-text
{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	text-align: center;
}

div.iberis-image .image-caption-full-overlay .caption-inner-text a,
div.iberis-image .image-caption-full-overlay .caption-inner-text a:visited
{
	display: inline-block;
	padding: 10px 30px;
	border: solid 2px white;
	color: white;
	text-decoration: none;
	text-align: center;
}

div.iberis-image .image-caption-overlay .caption-inner-text a,
div.iberis-image .image-caption-overlay .caption-inner-text a:visited
{
	color: white;
}

div.iberis-image .image-caption-full-overlay .caption-inner-text a:hover,
div.iberis-image .image-caption-full-overlay .caption-inner-text a:focus,
div.iberis-image .image-caption-full-overlay .caption-inner-text a:active
{
	background: white;
	color: black;
}

div.iberis-image .image-caption .caption-inner-text
{
	padding: 10px;
	text-shadow: none;
}

div.iberis-image .image-caption .caption-inner-text p
{
	text-shadow: none;
}

div.ui-selectonemenu-items-wrapper
{
	max-height: 300px !important;
}

.side-by-side-item .overlay-caption
{
	background: black;
	opacity: .75;
	padding: 10px;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.ui-carousel .ui-carousel-header.ui-widget-header .ui-carousel-button.ui-icon-circle-triangle-e
{
	width: 20px;
	height: 20px;
	font-size: 22px;
	margin-left: 15px;
}

.ui-carousel .ui-carousel-header.ui-widget-header .ui-carousel-button.ui-icon-circle-triangle-w
{
	width: 20px;
	height: 20px;
	font-size: 22px;
}

.ui-paginator.ui-widget-header .ui-paginator-last .ui-icon.ui-icon-seek-end,
.ui-paginator.ui-widget-header .ui-paginator-first .ui-icon.ui-icon-seek-first
{
	font-size: 28px;
	height: 22px;
	width: 18px;
}

.ui-paginator.ui-widget-header .ui-paginator-next .ui-icon.ui-icon-seek-next,
.ui-paginator.ui-widget-header .ui-paginator-prev .ui-icon.ui-icon-seek-prev
{
	font-size: 28px;
	height: 22px;
	width: 12px;
}

.ui-paginator.ui-widget-header .ui-paginator-last .ui-icon.ui-icon-seek-end
{
	margin-left: 15px;
}

.ui-paginator.ui-widget-header .ui-paginator-first .ui-icon.ui-icon-seek-first
{
	margin-right: 15px;
}

.cms-admin-template .ui-button.ui-state-default,
.empty-template .ui-button.ui-state-default
{
	background: #ED3794;
}

.cms-admin-template .ui-button.ui-state-hover,
.empty-template .ui-button.ui-state-hover
{
	background: #F6BB4E;
}

.cms-admin-template .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected,
.empty-template .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header .ui-state-default.ui-tabs-selected
{
	background: #ED3794;
}