.sm-simple {
  border: 1px solid #bbbbbb;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: #555555;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
.sm-simple a.current {
  background: #555555;
  color: #fff;
}
.sm-simple a.disabled {
  color: #cccccc;
}
.sm-simple a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 14px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.08);
}
.sm-simple a .sub-arrow::before {
  content: '+';
}
.sm-simple a.highlighted .sub-arrow::before {
  content: '-';
}
.sm-simple li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-simple > li:first-child {
  border-top: 0;
}
.sm-simple ul {
  background: rgba(179, 179, 179, 0.1);
}
.sm-simple ul a, .sm-simple ul a:hover, .sm-simple ul a:focus, .sm-simple ul a:active {
  font-size: 14px;
  border-left: 8px solid transparent;
}
.sm-simple ul ul a,
.sm-simple ul ul a:hover,
.sm-simple ul ul a:focus,
.sm-simple ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-simple ul ul ul a,
.sm-simple ul ul ul a:hover,
.sm-simple ul ul ul a:focus,
.sm-simple ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-simple ul ul ul ul a,
.sm-simple ul ul ul ul a:hover,
.sm-simple ul ul ul ul a:focus,
.sm-simple ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-simple ul ul ul ul ul a,
.sm-simple ul ul ul ul ul a:hover,
.sm-simple ul ul ul ul ul a:focus,
.sm-simple ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 768px)
{
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-simple ul {
    position: absolute;
    width: 12em;
  }

  .sm-simple li {
    float: left;
  }

  .sm-simple.sm-rtl li {
    float: right;
  }

  .sm-simple ul li, .sm-simple.sm-rtl ul li, .sm-simple.sm-vertical li {
    float: none;
  }

  .sm-simple a {
    white-space: nowrap;
  }

  .sm-simple ul a, .sm-simple.sm-vertical a {
    white-space: normal;
  }

  .sm-simple .sm-nowrap > li > a, .sm-simple .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-simple {
    background: #fff;
  }
  .sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active, .sm-simple a.highlighted {
    padding: 11px 20px;
    color: #555555;
  }
  .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active, .sm-simple a.highlighted {
    background: #eeeeee;
  }
  .sm-simple a.current {
    background: #555555;
    color: #fff;
  }
  .sm-simple a.disabled {
    background: #fff;
    color: #cccccc;
  }
  .sm-simple a.has-submenu {
    padding-right: 32px;
  }
  .sm-simple a .sub-arrow {
    top: 50%;
    margin-top: -8px;
    right: 20px;
    width: 8px;
    height: 16px;
    font: 14px/16px monospace !important;
    background: transparent;
  }
  .sm-simple a.highlighted .sub-arrow::before {
    content: '+';
  }
  .sm-simple > li {
    border-top: 0;
    border-left: 1px solid #eeeeee;
  }
  .sm-simple > li:first-child {
    border-left: 0;
  }
  .sm-simple ul {
    border: 1px solid #bbbbbb;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .sm-simple ul a {
    border: 0 !important;
  }
  .sm-simple ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-simple ul a .sub-arrow {
    left: 8px;
    right: auto;
  }
  .sm-simple ul > li {
    border-left: 0;
    border-top: 1px solid #eeeeee;
  }
  .sm-simple ul > li:first-child {
    border-top: 0;
  }
  .sm-simple .scroll-up,
  .sm-simple .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }
  .sm-simple .scroll-up-arrow,
  .sm-simple .scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .sm-simple .scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .sm-simple.sm-rtl a.has-submenu {
    padding-right: 20px;
    padding-left: 32px;
  }
  .sm-simple.sm-rtl a .sub-arrow {
    left: 20px;
    right: auto;
  }
  .sm-simple.sm-rtl.sm-vertical a.has-submenu {
    padding: 11px 20px;
  }
  .sm-simple.sm-rtl.sm-vertical a .sub-arrow {
    left: auto;
    right: 8px;
  }
  .sm-simple.sm-rtl > li:first-child {
    border-left: 1px solid #eeeeee;
  }
  .sm-simple.sm-rtl > li:last-child {
    border-left: 0;
  }
  .sm-simple.sm-rtl ul a.has-submenu {
    padding: 11px 20px;
  }
  .sm-simple.sm-rtl ul a .sub-arrow {
    left: auto;
    right: 8px;
  }
  .sm-simple.sm-vertical a .sub-arrow {
    left: 8px;
    right: auto;
  }
  .sm-simple.sm-vertical li {
    border-left: 0;
    border-top: 1px solid #eeeeee;
  }
  .sm-simple.sm-vertical > li:first-child {
    border-top: 0;
  }
}

/* Added styles for custom modification with hamburger menu icon */
.smart-menu-container {
  border: 1px solid #bbb;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 41px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.smart-menu-container:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.smart-menu {
  clear: both;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 100;
}

/* Mobile menu toggle button */

.smart-menu-btn {
  float: right;
  margin: 5px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.smart-menu-btn-icon,
.smart-menu-btn-icon:before,
.smart-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 3px;
  width: 24px;
  background: #555;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.smart-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.smart-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}

/* x icon */

.smart-menu-state:checked ~ .smart-menu-btn .smart-menu-btn-icon {
	height: 0;
	background: transparent;
}

.smart-menu-state:checked ~ .smart-menu-btn .smart-menu-btn-icon:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.smart-menu-state:checked ~ .smart-menu-btn .smart-menu-btn-icon:after {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

.smart-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

.smart-menu-state:not(:checked) ~ .smart-menu {
  display: none;
}

.smart-menu-state:checked ~ .smart-menu {
  display: block;
}

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .smart-menu-btn {
	display: none;
  }
  /* always show the menu in desktop view */
  .smart-menu-state:not(:checked) ~ .smart-menu {
	display: block;
  }
}

.sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active
{
	font: inherit;
	line-height: inherit;
}

.smart-menu i,
.smart-menu svg,
.smart-menu span.mobile-menu-icon
{
	margin-right: 5px;
}

@media (min-width: 768px)
{
	.sm-simple a .sub-arrow 
	{
		margin-top: -3px;
		border-width: 6px 4.02px 0 4.02px;
		border-style: solid dashed dashed dashed;
		border-color: #555555 transparent transparent transparent;
		border-radius: 0;
	}
	
	.sm-simple ul a .sub-arrow 
	{
		left: auto;
		right: 8px;
		margin-top: -4.02px;
		border-width: 4.02px 0 4.02px 6px;
		border-style: dashed dashed dashed solid;
		border-color: transparent transparent transparent #555555;
		height: 0;
		width: 0;
	}
	
	.sm-vertical 
	{
		float: left;
		width: 100%;
	}
	
	.sm-simple.sm-vertical a .sub-arrow
	{
		left: auto;
		right: 8px;
		margin-top: -4.02px;
		border-width: 4.02px 0 4.02px 6px;
		border-style: dashed dashed dashed solid;
		border-color: transparent transparent transparent #555555;
		height: 0;
		width: 0;
	}
}

/* make mega menus take the full width of .main-nav */

.smart-menu > .has-mega-menu {
	position: static !important;
}

.smart-menu .mega-menu {
	margin-left: 0 !important;
	right: 0 !important;
	width: auto !important;
	max-width: none !important;
}

.smart-menu > .has-mega-menu .scroll-up,
.smart-menu > .has-mega-menu .scroll-down {
	margin-left: 0 !important;
}

.smart-menu > li > ul.mega-menu > li > :not(ul) a
{
	white-space: normal;
}

.smart-menu-container .nav-mobile-text
{
  	float: left;
  	margin: 0;
  	padding: 5px 5px 5px 10px;
	color: #555;
  	font-weight: normal;
	display: none;
	border: none;
}

@media (max-width: 767px)
{
	.smart-menu-container .nav-mobile-text
	{
		display: block;
	}
}



/*# sourceMappingURL=sm-simple.css.map */
