<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="blog-management">

            <h:form id="blog-management-form">
                <p:remoteCommand name="refreshImages" action="#{blogManagement.refresh}" update=":blog-management-form:blog-entry-tabview:header-image-container,:blog-management-form:blog-entry-tabview:blog-image-container"/>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-blog"></span>
                            <h:outputText value="Blog Entries for #{blogManagement.blog.name} ( #{blogManagement.blog.urlAlias} )" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>

                <div class="ui-g">
                    <div class="ui-g-8 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Blog Entry List</h2>
                            <p:commandButton value="Create" action="#{blogManagement.newBlogEntry}" update="@form" oncomplete="scrollToElement('#update-panel-container');">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:button href="/blog/#{blogManagement.blog.urlAlias}" value="View Blog"/>

                            <p:dataTable id="layout-grid" var="item" value="#{blogManagement.blogEntryLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">

                                <p:column headerText="Title" filterBy="#{item.title}" priority="0">
                                    <h:outputText value="#{item.title}"/>
                                </p:column>
                                <p:column width="80" priority="3">
                                    <h:outputLink value="/blog/#{blogManagement.blog.urlAlias}/#{item.urlAlias}">View on Site</h:outputLink>
                                </p:column>
                                <p:column width="80" priority="1">
                                    <p:commandLink value="Edit" action="#{blogManagement.selectBlogEntry(item)}" update="@form" oncomplete="scrollToElement('#update-panel-container');">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{blogManagement.deleteBlogEntry(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-12 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="site-update-panel" rendered="#{blogManagement.blogEntry != null}">
                            <h2>Add / Edit Blog Entry</h2>
                            <p:tabView id="blog-entry-tabview" scrollable="true">
                                <p:tab title="General">
                                    <h:panelGroup id="general-tab-fields" layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="title:title_TEXT" value="Title:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="title" propertyName="title" value="#{blogManagement.blogEntry.title}" valueRequired="#{empty param['skipValidation']}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="url-alias:urlAlias_TEXT" value="Url Alias:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="url-alias" propertyName="urlAlias" value="#{blogManagement.blogEntry.urlAlias}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="published:published_BOOLEAN" value="Published:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="published" propertyName="published" value="#{blogManagement.blogEntry.published}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="published-date:publishedDate_DATE" value="Published Date:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:date id="published-date" propertyName="publishedDate" value="#{blogManagement.blogEntry.publishedDate}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="allow-editor:allowEditorStyles_BOOLEAN" value="Allow Editor Styles:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="allow-editor" propertyName="allowEditorStyles" value="#{blogManagement.blogEntry.allowEditorStyles}"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="Header">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="header-image:headerImage_PK_imageid" value="Header Image:"/>
                                        </h:panelGroup>
                                        <h:panelGroup id="header-image-container" layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="header-image" callback="refreshImages" displayValue="#{blogManagement.blogEntry.headerImage.name}" value="#{blogManagement.blogEntry.headerImage.imageid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(653))}" dataBeanName="blogManagement.blogEntry" fieldProperty="#{componentsUtil.getFieldProperty(653)}"/>
                                            <h:graphicImage style="max-width: 200px" rendered="#{blogManagement.blogEntry.headerImage != null and blogManagement.blogEntry.headerImage.imageid > 0}" value="#{blogManagement.blogEntry.headerImage.filePath}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="himage-max:headerImageMax_BOOLEAN" value="Header Image Max Width:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="himage-max" propertyName="headerImageMax" value="#{blogManagement.blogEntry.headerImageMax}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="header:header_EDITOR" value="Header:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:editor id="header" propertyName="header" value="#{blogManagement.blogEntry.header}" width="100%" height="200"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="Body">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="body-image:bodyImage_PK_imageid" value="Body Image:"/>
                                        </h:panelGroup>
                                        <h:panelGroup id="blog-image-container" layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="body-image" callback="refreshImages" displayValue="#{blogManagement.blogEntry.bodyImage.name}" value="#{blogManagement.blogEntry.bodyImage.imageid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(652))}" dataBeanName="blogManagement.blogEntry" fieldProperty="#{componentsUtil.getFieldProperty(652)}"/>
                                            <h:graphicImage style="max-width: 200px" rendered="#{blogManagement.blogEntry.bodyImage != null and blogManagement.blogEntry.bodyImage.imageid > 0}" value="#{blogManagement.blogEntry.bodyImage.filePath}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="bimage-alignment:bodyImageAlignment_SELECTION" value="Body Image Alignment:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:selection id="bimage-alignment" listItems="#{listUtil.getUnitPropertyList('0,Left|1,Right')}" value="#{blogManagement.blogEntry.bodyImageAlignment}" propertyName="bodyImageAlignment"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="bimage-width:bodyImageWidth_SELECTION" value="Body Image Width %:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:selection id="bimage-width" listItems="#{listUtil.getUnitPropertyList('10,10%|25,25%|30,30%|50,50%|75,75%|100,100%')}" value="#{blogManagement.blogEntry.bodyImageWidth}" propertyName="bodyImageWidth"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="body:body_EDITOR" value="Body:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:editor id="body" propertyName="body" value="#{blogManagement.blogEntry.body}" width="100%" height="200"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="Author">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="show-author:showAuthorInfo_BOOLEAN" value="Show Author Info:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="show-author" propertyName="showAuthorInfo" value="#{blogManagement.blogEntry.showAuthorInfo}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="author:author_TEXT" value="Author:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="author" propertyName="author" value="#{blogManagement.blogEntry.author}"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
								<p:tab title="Meta Data">
									<h:panelGroup layout="block" styleClass="ui-g">
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="meta-title:metaTitle_TEXT" value="Title:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
											<iberis:text id="meta-title" propertyName="metaTitle" value="#{blogManagement.blogEntry.metaTitle}" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="meta-description:metaDescription_TEXTAREA" value="Description:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
											<iberis:textarea id="meta-description" propertyName="metaDescription" value="#{blogManagement.blogEntry.metaDescription}" />
										</h:panelGroup>
									</h:panelGroup>
								</p:tab>
								<p:tab title="Social Media">
									<div class="ui-g">
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="enable-social:enableSocialSharing_BOOLEAN" value="Enable Sharing:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
											<iberis:boolean id="enable-social" value="#{blogManagement.blogEntry.enableSocialSharing}" propertyName="enableSocialSharing" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="social-title:socialTitle_TEXT" value="Title:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
											<iberis:text id="social-title" propertyName="socialTitle" value="#{blogManagement.blogEntry.socialTitle}" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="social-description:socialDescription_TEXTAREA" value="Description:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
											<iberis:textarea id="social-description" propertyName="socialDescription" value="#{blogManagement.blogEntry.socialDescription}" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="enable-facebook:enableFacebook_BOOLEAN" value="Facebook:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<iberis:boolean id="enable-facebook" value="#{blogManagement.blogEntry.enableFacebook}" propertyName="enableFacebook" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="enable-twitter:enableTwitter_BOOLEAN" value="Twitter:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<iberis:boolean id="enable-twitter" value="#{blogManagement.blogEntry.enableTwitter}" propertyName="enableTwitter" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="enable-linkedin:enableLinkedin_BOOLEAN" value="LinkedIn:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<iberis:boolean id="enable-linkedin" value="#{blogManagement.blogEntry.enableLinkedin}" propertyName="enableLinkedin" />
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<p:outputLabel for="enable-email:enableEmail_BOOLEAN" value="Email:"/>
										</h:panelGroup>
										<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
											<iberis:boolean id="enable-email" value="#{blogManagement.blogEntry.enableEmail}" propertyName="enableEmail" />
										</h:panelGroup>
									</div>
								</p:tab>
                            </p:tabView>

                            <p:commandButton value="Save" action="#{blogManagement.saveBlogEntry}" update=":blog-management-form:blog-entry-tabview:general-tab-fields"/>
                            <p:button href="/blog/#{blogManagement.blog.urlAlias}/#{blogManagement.blogEntry.urlAlias}" value="View on Site"/>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>