<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="blog-management">

            <h:form id="blog-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-blog"></span>
                            <h:outputText value="Blogs" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>

                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Blog List</h2>
                            <p:commandButton value="Create" action="#{blogManagement.newBlog}" update="@form" >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable id="layout-grid" var="item" value="#{blogManagement.loader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">

                                <p:column headerText="Name" filterBy="#{item.name}" priority="0">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column headerText="Url Alias" filterBy="#{item.urlAlias}" priority="3">
                                    <h:outputText value="#{item.urlAlias}"/>
                                </p:column>
                                <p:column priority="4">
                                    <h:outputLink value="/cms/blog-entries/#{item.id}">blog entries</h:outputLink>
                                </p:column>
                                <p:column width="80" priority="1">
                                    <p:commandLink value="Edit" action="#{blogManagement.selectBlog(item)}" update="@form" oncomplete="scrollToElement('#update-panel-container');">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{blogManagement.deleteBlog(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="site-update-panel" rendered="#{blogManagement.blog != null}">
                            <h2>Add / Edit Blog</h2>
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="name:name_TEXT" value="Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="name" propertyName="name" value="#{blogManagement.blog.name}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="url-alias:urlAlias_TEXT" value="Url Alias:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="url-alias" propertyName="urlAlias" value="#{blogManagement.blog.urlAlias}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="link-text:readMoreLinkText_TEXT" value="Read More Link Text:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="link-text" propertyName="readMoreLinkText" value="#{blogManagement.blog.readMoreLinkText}"/>
                                </h:panelGroup>
								<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
									<p:outputLabel for="show-thumbs:showListThumbnails_BOOLEAN" value="Show Thumbnails in List:"/>
								</h:panelGroup>
								<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
									<iberis:boolean id="show-thumbs" propertyName="showListThumbnails" value="#{blogManagement.blog.showListThumbnails}"/>
								</h:panelGroup>
								<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
									<p:outputLabel for="bimage-width:listThumbnailWidth_SELECTION" value="Thumbnail Width %:"/>
								</h:panelGroup>
								<h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
									<iberis:selection id="bimage-width" listItems="#{listUtil.getUnitPropertyList('10,10%|25,25%|30,30%|40,40%|50,50%')}" value="#{blogManagement.blog.listThumbnailWidth}" propertyName="listThumbnailWidth"/>
								</h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup layout="block" rendered="#{blogManagement.siteList.size() > 1}">
                                <h4>Sites</h4>
                                <hr/>
                                <h:panelGrid columns="2">
                                    <p:selectOneMenu  styleClass="select-field" value="#{blogManagement.siteListValue}">
                                        <f:selectItems value="#{blogManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Add" action="#{blogManagement.addSite}" update="site-list">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                </h:panelGrid>

                                <p:dataTable value="#{blogManagement.blog.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                                    <p:column headerText="Name">
                                        <h:outputText value="#{item.siteName}"/>
                                    </p:column>
                                    <p:column styleClass="delete-link" width="70">
                                        <p:commandLink value="Remove" action="#{blogManagement.removeSite(item)}"
                                                       update="@form"
                                                       style="margin-left: 10px" rendered="#{blogManagement.inSiteList(item.siteID)}">
                                            <f:param name="skipValidation" value="1" />
                                            <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>

                            <p:commandButton value="Save" action="#{blogManagement.saveBlog}" update="@form"/>
                            <p:button href="/cms/blog-entries/#{blogManagement.blog.id}" value="Blog Entries" rendered="#{blogManagement.blog.id > 0}"/>
                            <p:button href="/blog/#{blogManagement.blog.urlAlias}" value="View Blog"/>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>