<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">

    <ui:define name="body-bottom">
        <script src="#{request.contextPath}/resources/canvas/fabric.min.js"></script>
        <script src="#{request.contextPath}/resources/canvas/fabricjs_canvas.js"></script>
        <script src="#{request.contextPath}/resources/canvas/fabricjs_canvas_text.js"></script>
        <script src="#{request.contextPath}/resources/canvas/fabricjs_canvas_image.js"></script>
        <link  href="#{request.contextPath}/resources/css/cropper.min.css" rel="stylesheet"/>
        <script src="#{request.contextPath}/resources/javascript/cropper.min.js"></script>
    </ui:define>

    <ui:define name="main-content">
        <style>
            .canvas-editor input[type='number']
            {
                width: 100%;
                padding: 4px;
            }

            @media screen and (max-width: 40em)
            {
                #canvas-section .ui-button
                {
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
        </style>
        <p:dialog modal="true" width="90%" style="max-width: 800px" height="500"
                  header="Select Image" footer=""
                  widgetVar="browse-image-dialog" draggable="false"
                  closable="true" resizable="false">
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:dataTable rowKey="#{item.imageid}" id="image-grid" var="item" value="#{canvasManagement.imageLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">

                    <p:column width="100" priority="0">
                        <a onclick="selectServerImage('#{request.contextPath}#{item.filePath}');PF('browse-image-dialog').hide();return false;"><h:graphicImage value="#{item.filePath}" width="100"/></a>
                    </p:column>
                    <p:column headerText="File Name / Path" filterBy="#{item.name}" priority="2">
                        <h:outputText value="#{item.name}"/><br/>
                        <h:outputText value="#{item.filePath}"/>
                    </p:column>
                    <p:column width="80" priority="1">
                        <p:commandLink value="Select" onclick="selectServerImage('#{request.contextPath}#{item.filePath}');PF('browse-image-dialog').hide();return false;">
                            <f:param name="skipValidation" value="1" />
                        </p:commandLink>
                    </p:column>

                </p:dataTable>
            </h:form>
        </p:dialog>
        <p:dialog modal="true" width="90%" style="max-width: 800px" height="500"
                  header="Image Preview" footer=""
                  widgetVar="image-preview" draggable="false"
                  closable="true" resizable="false">
            <img id="output-image" style="width: 400px"/>
        </p:dialog>
        <div class="ui-g canvas-editor">
            <div class="ui-g-12 ui-sm-12 ui-smd-12">
                <h:panelGroup layout="block" styleClass="card">
                    <h2>Canvas Editor</h2>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h:form id="canvas-editor">
                                <ui:include src="../CsrfTokenInsert.xhtml"/>
                                <span class="canvas-json"><h:inputHidden value="#{canvasManagement.canvas.content}"/></span>
                                <span class="write-image"><h:inputHidden value="#{canvasManagement.imageData}"/></span>
                                <h:panelGroup layout="block" styleClass="ui-g">
                                    <h:panelGroup layout="block" styleClass="ui-g-1 ui-sm-12">
                                        <p:outputLabel for="name:name_TEXT" value="Name:"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-6 ui-sm-12">
                                        <iberis:text id="name" value="#{canvasManagement.canvas.name}" propertyName="name" valueRequired="true"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <p:messages><p:autoUpdate /></p:messages>
                                <p:commandButton onclick="$('.canvas-json input[type=hidden]').val(JSON.stringify(canvas.toJSON()));" action="#{canvasManagement.saveCanvas}" value="Save" update="@form"/>
                                <p:commandButton onclick="$('.write-image input[type=hidden]').val(canvas.toDataURL({format: 'png', multiplier: 2}));" action="#{canvasManagement.createCanvasImage}" value="Create Image" update="@form" rendered="#{canvasManagement.canvas.id > 0}"/>
                                <p:button href="#{request.contextPath}/cms/canvas-management" value="Back to Canvas List"/>
                            </h:form>
                        </div>
                        <div id="canvas-section" class="ui-g-12 ui-xl-6">
                            <div style="background: url('#{request.contextPath}/resources/canvas/img-placeholder.png') repeat"><canvas id="c"></canvas></div>
                            Canvas BG Color: <input type="color" id="canvas-color" value="#FFFFFF" />
                            <p:button onclick="setCanvasColor();return false;" href="#" value="Set BG Color" />
                            <p:button onclick="removeCanvasColor();return false" href="#" value="Remove BG Color" />
                            <br/><hr/>
                            <p:button href="#" onclick="PF('browse-image-dialog').show();return false;" value="Browse Image"/>
                            <p:button value="Upload Image" onclick="$('#file').click();" href="#"/>
                            <input type="file" id="file" style="display: none"/>
                            <p:button value="Add Text" onclick="addTextObject();return false;" href="#"/>

                            <p:button href="#" onclick="$('#output-image').attr('src', canvas.toDataURL({format: 'png', multiplier: 2}));PF('image-preview').show();return false;" value="Preview as Image"/>
                            <p:button href="#" onclick="canvas.discardActiveObject();canvas.renderAll();showProperties();return false;" value="Remove Selections"/>
                        </div>
                        <div class="ui-g-12 ui-xl-6">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-xl-6 card">
                                    <h2 id="layers-title" style="display: none">Objects in Canvas</h2>
                                    <div id="canvas-object-list">
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-xl-6 card">
                                    <div id="object-properties" style="display: none">
                                        <h2>Object Properties</h2>
                                        <input type="button" onclick="deleteObject()" value="Remove Object"/>
                                        <div class="ui-g">
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="opacity">Opacity:</label>
                                                <br/>
                                                <input type="range" id="opacity" value="1" min="0" max="1" step=".1" onchange="setOpacity();" />
                                            </div>
                                        </div>
                                        <div class="txtProperties ui-g" style="display: none">
                                            <div class="ui-g-12">
                                                <label for="txtDisplay">Text:</label><br/>
                                                <textarea id="txtDisplay" rows="3" onkeyup="setText()" style="width: 100%"></textarea>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtFont">Font:</label>
                                                <select id="txtFont" onchange="setFont();">
                                                </select>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtSize">Font Size:</label>
                                                <input type="number" id="txtSize" onchange="setFontSize();" onkeyup="setFontSize();"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtColor">Font Color:</label>
                                                <input type="color" id="txtColor" onchange="setFontColor();"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtStyle">Font Style:</label>
                                                <select id="txtStyle" onchange="setFontStyle();">
                                                    <option value="normal">Normal</option>
                                                    <option value="italic">Italic</option>
                                                </select>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtBold">Bold Weight?</label>
                                                <input type="checkbox" id="txtBold"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtLine">Text Line:</label>
                                                <select id="txtLine" onchange="setFontLine();">
                                                    <option value="">None</option>
                                                    <option value="linethrough">Line Through</option>
                                                    <option value="overline">Overline</option>
                                                    <option value="underline">Underline</option>
                                                </select>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtShadow">Text Shadow?</label>
                                                <input type="checkbox" id="txtShadow"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtShadowColor">Shadow Color:</label>
                                                <input type="color" id="txtShadowColor" onchange="setFontShadowColor();"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtShadowOffset">Shadow Offset:</label>
                                                <input type="number" id="txtShadowOffset" onchange="setFontShadowOffset();" onkeyup="setFontShadowOffset();" />
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtStroke">Stroke Fill?</label>
                                                <input type="checkbox" id="txtStroke"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtStrokeColor">Stroke Color:</label>
                                                <input type="color" id="txtStrokeColor" onchange="setFontStrokeColor();"/>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label for="txtStrokeSize">Stroke Size:</label>
                                                <input type="number" id="txtStrokeSize" onchange="setFontStrokeSize();" onkeyup="setFontStrokeSize();" value="2" />
                                            </div>

                                        </div>
                                        <div class="imgProperties ui-g" style="display: none">
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Grayscale:</span> <input type="checkbox" id="grayscale"/></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Invert:</span> <input type="checkbox" id="invert" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Sepia:</span> <input type="checkbox" id="sepia" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Black/White:</span> <input type="checkbox" id="blackwhite" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Brownie:</span> <input type="checkbox" id="brownie" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Vintage:</span> <input type="checkbox" id="vintage" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Kodachrome:</span> <input type="checkbox" id="kodachrome" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Technicolor:</span> <input type="checkbox" id="technicolor" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Polaroid:</span> <input type="checkbox" id="polaroid" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Brightness:</span> <input type="checkbox" id="brightness" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="brightness-value" value="0.1" min="-1" max="1" step="0.003921" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Contrast:</span> <input type="checkbox" id="contrast" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="contrast-value" value="0" min="-1" max="1" step="0.003921" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Saturation:</span> <input type="checkbox" id="saturation" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="saturation-value" value="0" min="-1" max="1" step="0.003921"/></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Hue:</span> <input type="checkbox" id="hue" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="hue-value" value="0" min="-2" max="2" step="0.002" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Noise:</span> <input type="checkbox" id="noise" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="noise-value" value="100" min="0" max="1000" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Pixelate</span> <input type="checkbox" id="pixelate" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="pixelate-value" value="4" min="2" max="20" /></label>
                                            </div>
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Blur:</span> <input type="checkbox" id="blur" /></label>
                                                <br/>
                                                <label>Value: <input type="range" id="blur-value" value="0.1" min="0" max="1" step="0.01" /></label>
                                            </div>
                                            <!--<div class="ui-g-12 ui-md-6">
                                                <label><span>Sharpen:</span> <input type="checkbox" id="sharpen" /></label>
                                            </div>-->
                                            <div class="ui-g-12 ui-md-6">
                                                <label><span>Emboss:</span> <input type="checkbox" id="emboss" /></label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </div>
        <script type="text/javascript">

            var fontList = new Array();
            fontList.push('Arial');
            fontList.push('Helvetica');
            fontList.push('Times New Roman');
            fontList.push('Times');
            fontList.push('Courier New');
            fontList.push('Courier');
            fontList.push('Verdana');
            fontList.push('Georgia');
            fontList.push('Palatino');
            fontList.push('Garamond');
            fontList.push('Bookman');
            fontList.push('Comic Sans MS');
            fontList.push('Trebuchet MS');
            fontList.push('Arial Black');
            fontList.push('Impact');

            $.each(fontList, function(i, p) {
                $('#txtFont').append($("<option></option>").val(p).html(p));
            });
        </script>

        <c:if test="#{canvasManagement.canvas.id > 0}">
            <script type="text/javascript">
                $(document).ready(function ()
                {
                    canvas.loadFromJSON('#{canvasManagement.canvas.content}', function() {
                        canvas.renderAll();
                        reloadObjectList();
                    });

                });
            </script>
        </c:if>

    </ui:define>

</ui:composition>
</body>
</html>