<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="page-region-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-image"></span>
                            <h:outputText value="Canvases" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Canvas List</h2>
                            <p:button value="Create" href="#{request.contextPath}/cms/canvas-editor"/>
                            <p:dataTable id="pia-list"
                                         var="canvas"
                                         value="#{canvasManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">

                                <p:column headerText="Name" filterBy="#{canvas.name}" priority="0">
                                    <h:outputText value="#{canvas.name}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <h:outputLink value="#{request.contextPath}/cms/canvas-editor/#{canvas.id}">Edit</h:outputLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{canvasManagement.deleteCanvas(canvas)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this canvas?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>