<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <p:panel style="border: none" id="header-panel">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-article"></span>
                    <h:outputText value="Add / Edit Content #{(dynamicContentManagement.content.id > 0)? '('.concat(dynamicContentManagement.content.title).concat(')'):''}" style="font-size: 1.25em;margin-left: 20px" />
                </h:panelGrid>
            </f:facet>
        </p:panel>
        <p:messages><p:autoUpdate /></p:messages>

        <div>
            <h:form id="content-management-form" enctype="multipart/form-data">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:remoteCommand name="refreshForm" action="#{dynamicContentManagement.refresh}" update=":content-management-form:tab-view:general-tab-fields"/>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>
                        <p:commandButton type="submit" value="Save" action="#{dynamicContentManagement.save}"
                                         update="@form"/>
                        <p:button type="Button" value="Back to Content List" href="/multi-site/cms/content-management"/>
                        <p:button href="/content/#{dynamicContentManagement.content.urlAlias}" value="View" />
                    </h2>
                    <p:tabView id="tab-view" scrollable="true">
                        <p:tab title="General">
                            <h:panelGroup id="general-tab-fields" layout="block" styleClass="ui-g" style="max-width: 1000px;">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Title" for="content-title:title_TEXT"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="content-title" value="#{dynamicContentManagement.content.title}" propertyName="title" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="type:type_SELECTION" value="Type:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="type" propertyName="type" listenerMethod="#{dynamicContentManagement.refresh}" updateId="@form" value="#{dynamicContentManagement.content.type}" listItems="#{componentsUtil.getFieldProperty(394).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'page'}">
                                    <p:outputLabel value="URL Alias:" for="content-url-alias:urlAlias_TEXT"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'page'}">
                                    <iberis:text id="content-url-alias" value="#{dynamicContentManagement.content.urlAlias}" propertyName="urlAlias" valueRequired="false"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Custom Content Template:" for="content-custom:customTemplate_TEXT"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="content-custom" value="#{dynamicContentManagement.content.customContentTemplate}" propertyName="customTemplate"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="title-size:titleSize_SELECTION" value="Title Size:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="title-size" propertyName="titleSize" value="#{dynamicContentManagement.content.titleSize}" listItems="#{componentsUtil.getFieldProperty(483).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="block-title-size:blockTitleSize_SELECTION" value="Block Title Size:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="block-title-size" propertyName="blockTitleSize" value="#{dynamicContentManagement.content.blockTitleSize}" listItems="#{componentsUtil.getFieldProperty(646).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="show-title:showTitle_BOOLEAN" value="Show Title:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="show-title" value="#{dynamicContentManagement.content.showTitle}" propertyName="showTitle" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="show-block-title:showBlockTitle_BOOLEAN" value="Show Block Title:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="show-block-title" value="#{dynamicContentManagement.content.showBlockTitle}" propertyName="showBlockTitle" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="show-title-above:showTitleAboveBanner_BOOLEAN" value="Show Title Above Banner:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="show-title-above" value="#{dynamicContentManagement.content.showTitleAboveBanner}" propertyName="showTitleAboveBanner" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="printable:printable_BOOLEAN" value="Show Print:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="printable" value="#{dynamicContentManagement.content.printable}" propertyName="printable" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="editor-styles:allowEditorStyles_BOOLEAN" value="Allow Editor Styles:" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="editor-styles" value="#{dynamicContentManagement.content.allowEditorStyles}" propertyName="allowEditorStyles" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="available-global:availableGlobal_BOOLEAN" value="Global (Multi Site):"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="available-global" value="#{dynamicContentManagement.content.availableGlobal}" propertyName="availableGlobal" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="override-regions:overrideRegions_BOOLEAN" value="Override Regions:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="override-regions" value="#{dynamicContentManagement.content.overrideRegions}" propertyName="overrideRegions" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="center-regions:centerRegions_BOOLEAN" value="Center Regions:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="center-regions" value="#{dynamicContentManagement.content.centerRegions}" propertyName="centerRegions" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="only-scope:showOnlyScope_BOOLEAN" value="Show Only Scope Assignments:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="only-scope" value="#{dynamicContentManagement.content.showOnlyScope}" propertyName="showOnlyScope"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="scope:scope_TEXT" value="Scope Tag:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="scope" value="#{dynamicContentManagement.content.scope}" propertyName="scope"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'page'}">
                                    <p:outputLabel for="page-template:pageTemplate_PK_id" value="Page Template:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'page'}">
                                    <iberis:lookup id="page-template" displayValue="#{dynamicContentManagement.content.pageTemplate.name}" value="#{dynamicContentManagement.content.pageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(480))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(480)}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'unit_grid'}">
                                    <p:outputLabel for="unit:unit_PK_unitID" value="Unit:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'unit_grid'}">
                                    <iberis:lookup id="unit" displayValue="#{dynamicContentManagement.content.unit.unitName}" value="#{dynamicContentManagement.content.unit.unitID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(591))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(591)}" callback="refreshForm"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'unit_grid' and dynamicContentManagement.content.unit.unitID > 0}">
                                    <p:outputLabel value="Unit Grid" for="unit-grid:unitGrid_PK_gridId"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{dynamicContentManagement.content.type == 'unit_grid' and dynamicContentManagement.content.unit.unitID > 0}">
                                    <iberis:lookup id="unit-grid" displayValue="#{dynamicContentManagement.content.unitGrid.gridName}" value="#{dynamicContentManagement.content.unitGrid.gridId}" filter="o.unitId = #{dynamicContentManagement.content.unit.unitID}" fieldProperty="#{componentsUtil.getFieldProperty(592)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(592))}" dataBeanName="dynamicContentManagement.content"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="gallery:gallery_PK_id" value="Gallery:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="gallery" value="#{dynamicContentManagement.content.gallery.id}" displayValue="#{dynamicContentManagement.content.gallery.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(573))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(573)}" valueRequired="false"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="presentation:presentation_PK_id" value="Presentation:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="presentation" value="#{dynamicContentManagement.content.presentation.id}" displayValue="#{dynamicContentManagement.content.presentation.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(574))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(574)}" valueRequired="false"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="banner:bannerGraphic_PK_imageid" value="Banner:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="banner" callback="refreshForm" value="#{dynamicContentManagement.content.bannerGraphic.imageid}" displayValue="#{dynamicContentManagement.content.bannerGraphic.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(395))}" dataBeanName="dynamicContentManagement.content" fieldProperty="#{componentsUtil.getFieldProperty(395)}" valueRequired="false"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Upload Banner" for="banner-upload" style="visibility: hidden"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <h:panelGroup>
                                        <h:graphicImage id="banner-preview" rendered="#{dynamicContentManagement.content.bannerGraphic != null and dynamicContentManagement.content.bannerGraphic.imageid > 0}" value="#{dynamicContentManagement.content.bannerGraphic.filePath}" style="max-width: 200px"/>

                                        <p:fileUpload id="banner-upload" fileUploadListener="#{dynamicContentManagement.handleBannerUpload}"
                                                      mode="advanced"
                                                      dragDropSupport="false"
                                                      sizeLimit="800000" fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                                                      update="@form"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Headers">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="header-layout:headerLayout_SELECTION" value="Header Layout:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="header-layout" propertyName="headerLayout" componentsToProcess="@this,:content-management-form:tab-view:header,:content-management-form:tab-view:sub-header" listenerMethod="#{dynamicContentManagement.refresh}" updateId=":content-management-form:tab-view:header-bodies" value="#{dynamicContentManagement.content.headerLayout}" listItems="#{componentsUtil.getFieldProperty(430).unitPropertyListItems}" valueRequired="false"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup id="header-bodies" layout="block" style="margin-top: 15px">

                                <div class="ui-g">
                                    <h:outputText value="&lt;div class='ui-g-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.headerLayout == null || dynamicContentManagement.content.headerLayout == '' || dynamicContentManagement.content.headerLayout == 'stacked'}"/>
                                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.headerLayout == 'side by side'}"/>

                                    <p:outputLabel value="Header" for="header:header_EDITOR"/>
                                    <iberis:editor id="header" value="#{dynamicContentManagement.content.header}" propertyName="header" width="100%"/>

                                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContentManagement.content.headerLayout == 'stacked'}"/>
                                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.headerLayout == 'side by side'}"/>

                                    <p:outputLabel value="Sub Header" for="sub-header:subHeader_EDITOR" rendered="#{dynamicContentManagement.content.headerLayout != null and dynamicContentManagement.content.headerLayout != ''}"/>
                                    <iberis:editor id="sub-header" value="#{dynamicContentManagement.content.subHeader}" propertyName="subHeader" width="100%" rendered="#{dynamicContentManagement.content.headerLayout != null and dynamicContentManagement.content.headerLayout != ''}"/>

                                    <h:outputText value="&lt;/div&gt;" escape="false"/>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Bodies">
                            <h:panelGroup id="body-settings" layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="custom-html:useCustomHtml_BOOLEAN" value="Use Custom Html?"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="custom-html" value="#{dynamicContentManagement.content.useCustomHtml}" propertyName="useCustomHtml" componentsToProcess="@this,:content-management-form:tab-view:content-body-custom,:content-management-form:tab-view:content-body,:content-management-form:tab-view:content-body2,:content-management-form:tab-view:content-body3,:content-management-form:tab-view:content-body4" listenerMethod="#{dynamicContentManagement.refresh}" updateId=":content-management-form:tab-view:body-settings,:content-management-form:tab-view:content-bodies,:content-management-form:tab-view:content-bodies-2" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{!dynamicContentManagement.content.useCustomHtml}">
                                    <p:outputLabel for="content-layout:contentLayout_SELECTION" value="Content Layout:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{!dynamicContentManagement.content.useCustomHtml}">
                                    <iberis:selection id="content-layout" propertyName="contentLayout" componentsToProcess="@this,:content-management-form:tab-view:content-body,:content-management-form:tab-view:content-body2,:content-management-form:tab-view:content-body3,:content-management-form:tab-view:content-body4" listenerMethod="#{dynamicContentManagement.refresh}" updateId=":content-management-form:tab-view:content-bodies,:content-management-form:tab-view:content-bodies-2" value="#{dynamicContentManagement.content.contentLayout}" listItems="#{componentsUtil.getFieldProperty(429).unitPropertyListItems}" valueRequired="false"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup id="content-bodies" layout="block" style="margin-top: 15px">
                                <h:panelGroup layout="block" rendered="#{dynamicContentManagement.content.useCustomHtml}">
                                    <iberis:code id="content-body-custom" value="#{dynamicContentManagement.content.body}" codeType="text/html" showLineNumbers="false" propertyName="body" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g" rendered="#{!dynamicContentManagement.content.useCustomHtml}">
                                    <h:outputText value="&lt;div class='ui-g-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == null || dynamicContentManagement.content.contentLayout == '' || dynamicContentManagement.content.contentLayout == '2 stacked' || dynamicContentManagement.content.contentLayout == '3 stacked' || dynamicContentManagement.content.contentLayout == '4 stacked' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even'}"/>
                                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 even 2 stacked' || dynamicContentManagement.content.contentLayout == '2 even'}"/>

                                    <p:outputLabel value="Body" for="content-body:body_EDITOR"/>
                                    <iberis:editor id="content-body" propertyName="body" value="#{dynamicContentManagement.content.body}" width="100%"/>

                                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '2 stacked' || dynamicContentManagement.content.contentLayout == '3 stacked' || dynamicContentManagement.content.contentLayout == '4 stacked' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even'}"/>
                                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 even 2 stacked' || dynamicContentManagement.content.contentLayout == '2 even'}"/>

                                    <p:outputLabel value="Body 2" for="content-body2:body2_EDITOR" rendered="#{dynamicContentManagement.content.contentLayout != null and dynamicContentManagement.content.contentLayout != ''}"/>
                                    <iberis:editor id="content-body2" propertyName="body2" value="#{dynamicContentManagement.content.body2}" width="100%" rendered="#{dynamicContentManagement.content.contentLayout != null and dynamicContentManagement.content.contentLayout != ''}"/>

                                    <h:outputText value="&lt;/div&gt;" escape="false"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup id="content-bodies-2" layout="block" style="margin-top: 15px">
                                <h:panelGroup rendered="#{!dynamicContentManagement.content.useCustomHtml and (dynamicContentManagement.content.contentLayout == '3 stacked' || dynamicContentManagement.content.contentLayout == '4 stacked' || dynamicContentManagement.content.contentLayout == '2 even 2 stacked' || dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even')}">

                                    <div class="ui-g">
                                        <h:outputText value="&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even'}"/>
                                        <h:outputText value="&lt;div class='ui-g-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '3 stacked' || dynamicContentManagement.content.contentLayout == '4 stacked' || dynamicContentManagement.content.contentLayout == '2 even 2 stacked'}"/>

                                        <p:outputLabel value="Body 3" for="content-body3:body3_EDITOR"/>
                                        <iberis:editor id="content-body3" propertyName="body3" value="#{dynamicContentManagement.content.body3}"  width="100%"/>

                                        <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even'}"/>
                                        <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContentManagement.content.contentLayout == '3 stacked' || dynamicContentManagement.content.contentLayout == '4 stacked' || dynamicContentManagement.content.contentLayout == '2 even 2 stacked'}"/>

                                        <p:outputLabel value="Body 4" for="content-body4:body4_EDITOR" rendered="#{dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even'  || dynamicContentManagement.content.contentLayout == '4 stacked'  || dynamicContentManagement.content.contentLayout == '2 even 2 stacked'}"/>
                                        <iberis:editor id="content-body4" propertyName="body4" value="#{dynamicContentManagement.content.body4}" width="100%" rendered="#{dynamicContentManagement.content.contentLayout == '4 even' || dynamicContentManagement.content.contentLayout == '2 stacked 2 even'  || dynamicContentManagement.content.contentLayout == '4 stacked'  || dynamicContentManagement.content.contentLayout == '2 even 2 stacked'}"/>

                                        <h:outputText value="&lt;/div&gt;" escape="false"/>
                                    </div>

                                </h:panelGroup>

                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Footers">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="footer-layout:footerLayout_SELECTION" value="Footer Layout:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="footer-layout" propertyName="footerLayout" componentsToProcess="@this,:content-management-form:tab-view:footer,:content-management-form:tab-view:sub-footer" listenerMethod="#{dynamicContentManagement.refresh}" updateId=":content-management-form:tab-view:footer-bodies" value="#{dynamicContentManagement.content.footerLayout}" listItems="#{componentsUtil.getFieldProperty(431).unitPropertyListItems}" valueRequired="false"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup id="footer-bodies" layout="block" style="margin-top: 15px">
                                <div class="ui-g">
                                    <h:outputText value="&lt;div class='ui-g-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.footerLayout == null || dynamicContentManagement.content.footerLayout == '' || dynamicContentManagement.content.footerLayout == 'stacked'}"/>
                                    <h:outputText value="&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false" rendered="#{dynamicContentManagement.content.footerLayout == 'side by side'}"/>

                                    <p:outputLabel value="Footer" for="footer:footer_EDITOR"/>
                                    <iberis:editor id="footer" value="#{dynamicContentManagement.content.footer}" propertyName="footer" width="100%"/>

                                    <h:outputText value="&lt;br/&gt;" escape="false" rendered="#{dynamicContentManagement.content.footerLayout == 'stacked'}"/>
                                    <h:outputText value="&lt;/div&gt;&lt;div class='ui-g-6 ui-sm-12'&gt;" escape="false"  rendered="#{dynamicContentManagement.content.footerLayout == 'side by side'}"/>

                                    <p:outputLabel value="Sub Footer" for="sub-footer:subFooter_EDITOR" rendered="#{dynamicContentManagement.content.footerLayout != null and dynamicContentManagement.content.footerLayout != ''}"/>
                                    <iberis:editor id="sub-footer" value="#{dynamicContentManagement.content.subFooter}" propertyName="subFooter" width="100%" rendered="#{dynamicContentManagement.content.footerLayout != null and dynamicContentManagement.content.footerLayout != ''}"/>

                                    <h:outputText value="&lt;/div&gt;" escape="false"/>
                                </div>

                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Files" rendered="#{dynamicContentManagement.content.id != null and dynamicContentManagement.content.id > 0}">
                            <h:panelGroup>

                                <div style="max-width: 1000px">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="show-files:showFilesDownload_BOOLEAN" value="Show Files:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="show-files" value="#{dynamicContentManagement.content.showFilesDownload}" propertyName="showFilesDownload" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel value="Files Header:" for="files-header:filesHeaderText_TEXT"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="files-header" value="#{dynamicContentManagement.content.filesHeaderText}" propertyName="filesHeaderText"/>
                                        </h:panelGroup>
                                    </h:panelGroup>

                                    <p:outputLabel value="Choose Upload Files" for="content-files" style="visibility: hidden"/>
                                    <p:fileUpload id="content-files" fileUploadListener="#{dynamicContentManagement.handleFilesUpload}"
                                                  mode="advanced"
                                                  dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="10"
                                                  allowTypes="/(\.|\/)(pdf|doc|docx|xls|xlsx|ppt|pptx)$/"
                                                  update="@form"/>

                                    <p:outputLabel for="file-lookup:existingFile_PK_id" value="Add Existing:"/>
                                    <iberis:lookup id="file-lookup" value="#{dynamicContentManagement.existingFile.id}" displayValue="#{dynamicContentManagement.existingFile.fileName}" lookupProperties="#{componentsUtil.getLookupProperties(69, 424, 423, null)}" dataBeanName="dynamicContentManagement.existingFile" fieldProperty="#{null}" propertyName="existingFile" valueRequired="false"/>
                                    <p:commandButton value="Add" action="#{dynamicContentManagement.addExistingFile}" update="order-file-list">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>

                                    <p:dataTable id="order-file-list"
                                                 var="contentFile" draggableRows="true"
                                                 value="#{dynamicContentManagement.content.contentFiles}">
                                        <p:ajax event="rowReorder" listener="#{dynamicContentManagement.onRowReorder}" />
                                        <p:column headerText="Display Name" priority="0">
                                            <h:outputText value="#{contentFile.file.displayName}"/>
                                        </p:column>
                                        <p:column headerText="File Path" priority="3">
                                            <h:outputText value="#{contentFile.file.filePath}"/>
                                        </p:column>
                                        <p:column styleClass="edit-link" width="70" priority="1">
                                            <p:commandLink value="Edit"
                                                           action="#{dynamicContentManagement.retrieveCurrentFile(contentFile)}"
                                                           update=":file-update-dialog" oncomplete="PF('file-update-dialog').show()">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column width="70" priority="4">
                                            <h:outputLink value="#{contentFile.file.filePath}?downloadOnly=true">Download</h:outputLink>
                                        </p:column>
                                        <p:column styleClass="delete-link" width="70" priority="2">
                                            <p:commandLink value="Delete" action="#{dynamicContentManagement.deleteFile(contentFile)}"
                                                           update="@form"
                                                           style="margin-left: 10px">
                                                <f:param name="skipValidation" value="1" />
                                                <p:confirm header="Confirmation" message="Are you sure you want to delete this file?"
                                                           icon="ui-icon-alert"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Sites">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:selectOneMenu style="width: 200px" styleClass="select-field" value="#{dynamicContentManagement.siteListValue}">
                                        <f:selectItems value="#{dynamicContentManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <p:commandButton value="Add" action="#{dynamicContentManagement.addSite}" update="site-list">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                </h:panelGroup>
                            </h:panelGroup>

                            <p:dataTable value="#{dynamicContentManagement.content.sites}" var="item" id="site-list" style="max-width: 500px">
                                <p:column headerText="Name">
                                    <h:outputText value="#{item.siteName}"/>
                                </p:column>
                                <p:column styleClass="delete-link" width="70">
                                    <p:commandLink value="Remove" action="#{dynamicContentManagement.removeSite(item)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Meta Data">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="meta-title:metaTitle_TEXT" value="Title:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="meta-title" propertyName="metaTitle" value="#{dynamicContentManagement.content.metaTitle}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="meta-description:metaDescription_TEXTAREA" value="Description:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:textarea id="meta-description" propertyName="metaDescription" value="#{dynamicContentManagement.content.metaDescription}" />
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Social Media">
                            <div class="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="enable-social:enableSocialSharing_BOOLEAN" value="Enable Sharing:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="enable-social" value="#{dynamicContentManagement.content.enableSocialSharing}" propertyName="enableSocialSharing" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="social-title:socialTitle_TEXT" value="Title:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="social-title" propertyName="socialTitle" value="#{dynamicContentManagement.content.socialTitle}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="social-description:socialDescription_TEXTAREA" value="Description:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:textarea id="social-description" propertyName="socialDescription" value="#{dynamicContentManagement.content.socialDescription}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="enable-facebook:enableFacebook_BOOLEAN" value="Facebook:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="enable-facebook" value="#{dynamicContentManagement.content.enableFacebook}" propertyName="enableFacebook" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="enable-twitter:enableTwitter_BOOLEAN" value="Twitter:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="enable-twitter" value="#{dynamicContentManagement.content.enableTwitter}" propertyName="enableTwitter" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="enable-linkedin:enableLinkedin_BOOLEAN" value="LinkedIn:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="enable-linkedin" value="#{dynamicContentManagement.content.enableLinkedin}" propertyName="enableLinkedin" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="enable-email:enableEmail_BOOLEAN" value="Email:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <iberis:boolean id="enable-email" value="#{dynamicContentManagement.content.enableEmail}" propertyName="enableEmail" />
                                </h:panelGroup>
                            </div>
                        </p:tab>
                        <p:tab title="Page Item Assignments" rendered="#{dynamicContentManagement.content.id != null and dynamicContentManagement.content.id > 0}">
                            <h:panelGroup >

                                <div style="max-width: 1000px">
                                    <p:commandButton action="#{dynamicContentManagement.newPageItemAssignment}" update=":pia-update-dialog" oncomplete="PF('pia-update-dialog').show()" value="Create">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                    <p:dataTable id="pia-list"
                                                 var="assignment"
                                                 value="#{dynamicContentManagement.pageItemAssignments}">

                                        <p:column headerText="Site" priority="0">
                                            <h:outputText value="#{assignment.site.siteName}"/>
                                        </p:column>
                                        <p:column headerText="Region" priority="3">
                                            <h:outputText value="#{assignment.pageRegion.name}"/>
                                        </p:column>
                                        <p:column headerText="sequence" priority="4">
                                            <h:outputText value="#{assignment.sequence}"/>
                                        </p:column>
                                        <p:column styleClass="edit-link" width="70" priority="1">
                                            <p:commandLink value="Edit"
                                                           action="#{dynamicContentManagement.selectPageItemAssignment(assignment)}"
                                                           update=":pia-update-dialog" oncomplete="PF('pia-update-dialog').show()">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column styleClass="delete-link" width="70" priority="2">
                                            <p:commandLink value="Delete" action="#{dynamicContentManagement.deletePageItemAssignment(assignment)}"
                                                           update="pia-list"
                                                           style="margin-left: 10px">
                                                <f:param name="skipValidation" value="1" />
                                                <p:confirm header="Confirmation" message="Are you sure you want to delete this assignment?"
                                                           icon="ui-icon-alert"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Tags">
                            <p:outputLabel for="tags" value="Type in box to search for tags."/><br/>
                            <p:autoComplete id="tags" multiple="true" value="#{dynamicContentManagement.content.contentTags}" completeMethod="#{dynamicContentManagement.tagsAutoComplete}"
                                            var="tag" itemLabel="#{tag.name}" itemValue="#{tag}" converter="tagConverter" forceSelection="true" minQueryLength="3">
                                <p:column>
                                    <h:outputText value="#{tag.name}" />
                                </p:column>
                            </p:autoComplete>
                        </p:tab>
                        <p:tab title="Notes" rendered="#{dynamicContentManagement.content.id != null and dynamicContentManagement.content.id > 0}">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="show-notes:showNotes_BOOLEAN" value="Show Notes on Site:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-6 ui-sm-12">
                                    <iberis:boolean id="show-notes" value="#{dynamicContentManagement.content.showNotes}" propertyName="showNotes" />
                                </h:panelGroup>
                            </h:panelGroup>

                            <p:commandButton action="#{dynamicContentManagement.newNote}" update=":note-update-dialog" oncomplete="PF('note-update-dialog').show()" value="Create">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="note-list" var="note" value="#{dynamicContentManagement.contentNotes}">
                                <p:column style="width:16px" priority="2">
                                    <p:rowToggler />
                                </p:column>
                                <p:column headerText="Subject" priority="0">
                                    <h:outputText value="#{note.subject}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit"
                                                   action="#{dynamicContentManagement.selectNote(note)}"
                                                   update=":note-update-dialog" oncomplete="PF('note-update-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="3">
                                    <p:commandLink value="Delete" action="#{dynamicContentManagement.deleteNote(note)}"
                                                   update="note-list"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this note?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>

                                <p:rowExpansion>
                                    <h:outputText value="#{textUtil.getCleanHtml(note.content)}" escape="false"/>
                                </p:rowExpansion>
                            </p:dataTable>

                        </p:tab>
                        <p:tab title="Advanced" rendered="#{dynamicContentManagement.content.id > 0}">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="sections-type:sectionsType_SELECTION" value="Sections Type:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:selection id="sections-type" propertyName="sectionsType" value="#{dynamicContentManagement.content.blocksSectionType}" listItems="#{componentsUtil.getFieldProperty(645).unitPropertyListItems}"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <p:commandButton action="#{dynamicContentManagement.newSection}" value="Add Section" update=":section-dialog" oncomplete="PF('sectionDialog').show()">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <h:panelGroup id="sections-layout">
                                <ui:repeat value="#{dynamicContentManagement.content.contentBlockSections}" var="section">
                                    <div style="padding: 10px;background: lightgray;border: solid 1px;">
                                        <div>
                                            <h3>Section: #{section.title}
                                                <p:commandLink value="Add Content Block" action="#{dynamicContentManagement.newBlock(section)}" update=":block-dialog" oncomplete="PF('blockDialog').show()" style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                                <p:commandLink value="Edit" action="#{dynamicContentManagement.selectSection(section)}" update=":section-dialog" oncomplete="PF('sectionDialog').show()" style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                                <p:commandLink value="Remove" action="#{dynamicContentManagement.deleteSection(section)}" update=":content-management-form:tab-view:sections-layout"  style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </h3>
                                        </div>
                                        <div class="field-list ui-g" section="#{section.id}" style="border: solid 1px;min-height: 90px;background: white;">
                                            <ui:repeat value="#{section.contentBlocks}" var="cBlock" varStatus="status">
                                                <div id="field-#{cBlock.id}" class="ui-g-#{cBlock.width} ui-sm-12" style="min-height: 170px">
                                                    <div class="portlet-header">
                                                        <span style="font-size: 1.1em" class="#{dynamicContentManagement.getContentBlockItemIcon(cBlock.pageItem)}"></span> #{dynamicContentManagement.getContentBlockItemType(cBlock.pageItem)} - #{dynamicContentManagement.getContentBlockItemTitle(cBlock.pageItem, cBlock.pageItemInstanceId)}<br/>
                                                        <p:commandLink action="#{dynamicContentManagement.selectContentBlock(cBlock)}" value="Edit" update=":block-dialog" oncomplete="PF('blockDialog').show()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                        <p:commandLink action="#{dynamicContentManagement.removeBlockFromSection(cBlock)}" value="Remove" style="margin-left: 15px" update=":content-management-form:tab-view:sections-layout"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                        <p:commandLink value="Move Up" style="margin-left: 15px;white-space: nowrap;display: inline-block" rendered="#{status.index != 0}" action="#{dynamicContentManagement.reorderBlocks(section, cBlock, status.index - 1)}" update=":content-management-form:tab-view:sections-layout"/>
                                                        <p:commandLink value="Move Down" style="margin-left: 15px;white-space: nowrap;display: inline-block" rendered="#{status.index != (section.contentBlocks.size() - 1)}" action="#{dynamicContentManagement.reorderBlocks(section, cBlock, status.index + 1)}" update=":content-management-form:tab-view:sections-layout"/>
                                                        <p:commandLink value="Move To Section" style="margin-left: 15px;white-space: nowrap;display: inline-block" action="#{dynamicContentManagement.selectContentBlock(cBlock)}" update=":move-to-section-dialog" oncomplete="PF('moveToSectionDialog').show()" rendered="#{dynamicContentManagement.content.contentBlockSections.size() > 1}"/>
                                                    </div>
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">
                                                            <iberis:selection id="width" propertyName="width" value="#{cBlock.width}" updateId=":content-management-form:tab-view:sections-layout" listenerMethod="#{dynamicContentManagement.saveBlockLayout}" listItems="#{componentsUtil.getFieldProperty(508).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ui:repeat>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </h:panelGroup>
                        </p:tab>
                    </p:tabView>
                </h:panelGroup>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>


            </h:form>

            <p:dialog id="file-update-dialog" widgetVar="file-update-dialog" width="90%" style="max-width: 550px" header="Modify File" appendTo="@(body)" draggable="false"
                      modal="true" resizable="false">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="name:fileName_TEXT" value="File Name:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="name" propertyName="fileName" valueRequired="#{empty param['skipValidation']}" value="#{dynamicContentManagement.currentContentFile.file.fileName}" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="display-name:displayName_TEXT" value="Display Name:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="display-name" propertyName="displayName" valueRequired="#{empty param['skipValidation']}" value="#{dynamicContentManagement.currentContentFile.file.displayName}" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="mime-type:mimeType_PK_typeid" value="MimeType:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:lookup id="mime-type" value="#{dynamicContentManagement.currentContentFile.file.mimeType.typeid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(427))}" dataBeanName="dynamicContentManagement.currentContentFile.file" fieldProperty="#{componentsUtil.getFieldProperty(427)}" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="file-extension:fileExtension_PK_extensionid" value="File Extension:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:lookup id="file-extension" value="#{dynamicContentManagement.currentContentFile.file.fileExtension.extensionid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(428))}" dataBeanName="dynamicContentManagement.currentContentFile.file" fieldProperty="#{componentsUtil.getFieldProperty(428)}" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="file-path:filePath_TEXT" value="File Path:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="file-path" value="#{dynamicContentManagement.currentContentFile.file.filePath}" propertyName="filePath" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton action="#{dynamicContentManagement.saveFile}" value="Save"
                                     oncomplete="PF('file-update-dialog').hide()"
                                     update=":content-management-form:tab-view:order-file-list"/>
                </h:form>
            </p:dialog>

            <p:dialog id="pia-update-dialog" widgetVar="pia-update-dialog" width="90%" style="max-width: 600px" header="Add / Edit Page Item Assignment" appendTo="@(body)" draggable="false"
                      modal="true" resizable="false">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:tabView>
                        <p:tab title="General">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="page-region:pageRegion_PK_id" value="Page Region:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="page-region" value="#{dynamicContentManagement.pageItemAssignment.pageRegion.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(408))}" dataBeanName="dynamicContentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(408)}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="site:site_PK_siteID" value="Site:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="site" value="#{dynamicContentManagement.pageItemAssignment.site.siteID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(432))}" dataBeanName="dynamicContentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(432)}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="sequence:sequence_NUMBER" value="Sequence:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:number id="sequence" value="#{dynamicContentManagement.pageItemAssignment.sequence}" propertyName="sequence"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Allowed Urls">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Allowed Urls:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <h:panelGroup>
                                        <iberis:urlselector value="#{dynamicContentManagement.pageItemAssignment.allowedUrls_temp}" propertyName="allowedUrlTemp"/>
                                        <p:commandButton value="Add" action="#{dynamicContentManagement.addAllowedUrl}" update="allowed-urls-grid">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandButton>
                                        <p:dataTable id="allowed-urls-grid" var="item" rowIndexVar="index" value="#{dynamicContentManagement.pageItemAssignment.allowedUrls}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                            <p:ajax event="rowEdit" listener="#{dynamicContentManagement.onAllowedUrlsRowEdit}" update="allowed-urls-grid"/>
                                            <p:column>
                                                <p:cellEditor>
                                                    <f:facet name="output"><h:outputText value="#{item.url}"/></f:facet>
                                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.url}"/></f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column width="50">
                                                <p:commandLink action="#{dynamicContentManagement.removeAllowedUrl(item)}" value="Delete" update="allowed-urls-grid">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column style="width:32px">
                                                <p:rowEditor />
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Denied Urls">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Denied Urls:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <h:panelGroup>
                                        <iberis:urlselector value="#{dynamicContentManagement.pageItemAssignment.deniedUrls_temp}" propertyName="deniedUrlTemp"/>
                                        <p:commandButton value="Add" action="#{dynamicContentManagement.addDeniedUrl}" update="denied-urls-grid">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandButton>
                                        <p:dataTable id="denied-urls-grid" var="item" rowIndexVar="index" value="#{dynamicContentManagement.pageItemAssignment.deniedUrls}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                            <p:ajax event="rowEdit" listener="#{dynamicContentManagement.onDeniedUrlsRowEdit}" update="denied-urls-grid"/>

                                            <p:column>
                                                <p:cellEditor>
                                                    <f:facet name="output"><h:outputText value="#{item.url}"/></f:facet>
                                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.url}"/></f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column width="50">
                                                <p:commandLink action="#{dynamicContentManagement.removeDeniedUrl(item)}" value="Delete" update="denied-urls-grid">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column style="width:32px">
                                                <p:rowEditor />
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                    </p:tabView>

                    <p:commandButton action="#{dynamicContentManagement.savePageItemAssignment}" value="Save"
                                     oncomplete="PF('pia-update-dialog').hide()"
                                     update=":content-management-form:tab-view:pia-list"/>
                </h:form>
            </p:dialog>

            <p:dialog id="note-update-dialog" widgetVar="note-update-dialog" header="Add / Edit Note" width="90%" style="max-width: 900px" height="500" appendTo="@(body)" draggable="false"
                      modal="true" resizable="false">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="subject:subject_TEXT" value="Subject:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="subject" value="#{dynamicContentManagement.note.subject}" propertyName="subject"/>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:outputLabel for="note-content:content_EDITOR" value="Content:"/>
                    <iberis:editor id="note-content" value="#{dynamicContentManagement.note.content}" propertyName="content" width="100%" height="200px"/>

                    <p:commandButton action="#{dynamicContentManagement.saveNote}" value="Save"
                                     oncomplete="PF('note-update-dialog').hide()"
                                     update=":content-management-form:tab-view:note-list"/>
                </h:form>
            </p:dialog>

            <p:dialog id="section-dialog" widgetVar="sectionDialog" width="90%" height="300" style="max-width: 800px" modal="true" header="Save / Edit Section" closable="true" appendTo="@(body)" draggable="false" >
                <h:form id="section-dialog-form">
                    <p:messages id="section-messages"/>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>

                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel value="Title:" for="title:title_TEXT"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="title" propertyName="title" value="#{dynamicContentManagement.contentBlockSection.title}" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="show-title:showTitle_BOOLEAN" value="Show Title:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="show-title" value="#{dynamicContentManagement.contentBlockSection.showTitle}" propertyName="showTitle"/>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton value="Save" action="#{dynamicContentManagement.saveSection}" update=":content-management-form:tab-view:sections-layout" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('sectionDialog').hide()"/>

                </h:form>
            </p:dialog>

            <p:dialog id="block-dialog" widgetVar="blockDialog" width="90%" height="300" style="max-width: 800px" modal="true" header="Save / Edit Content Block" closable="true" appendTo="@(body)" draggable="false" >
                <h:form id="block-dialog-form">
                    <p:messages id="block-messages"/>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>

                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="page-item:pageItemInstanceId" value="Page Item:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:flexiblelookup id="page-item" filter="061|062|065|066|033|075|083|089" filterType="include" lookupFilter="#{dynamicContentManagement.getPageItemFilter()}" dataBeanName="dynamicContentManagement.contentBlock" fieldProperty="#{componentsUtil.getFieldProperty(409)}" value="#{dynamicContentManagement.contentBlock.pageItem}" instanceValue="#{dynamicContentManagement.contentBlock.pageItemInstanceId}" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="width:width_SELECTION" value="Display Width:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:selection id="width" propertyName="width" value="#{dynamicContentManagement.contentBlock.width}" listItems="#{componentsUtil.getFieldProperty(508).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton value="Save" action="#{dynamicContentManagement.saveContentBlock}" update=":content-management-form:tab-view:sections-layout" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('blockDialog').hide()"/>

                </h:form>
            </p:dialog>

            <p:dialog id="move-to-section-dialog" widgetVar="moveToSectionDialog" width="90%" style="max-width: 400px" modal="true" header="Move To Section" closable="true" appendTo="@(body)" draggable="false" >
                <h:form id="move-dialog-form">
                    <p:messages id="move-messages"/>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <h3>Section:</h3>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <p:selectOneMenu style="width: 93%" styleClass="select-field" value="#{dynamicContentManagement.selectedSection}" rendered="#{dynamicContentManagement.content.contentBlockSections.size() > 0}">
                                <f:selectItems value="#{dynamicContentManagement.content.contentBlockSections}" var="section" itemLabel="#{section.title}" itemValue="#{section.id}"/>
                            </p:selectOneMenu>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton value="Move" action="#{dynamicContentManagement.addBlockToSection}" update=":content-management-form:tab-view:sections-layout" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('moveToSectionDialog').hide()"/>

                </h:form>
            </p:dialog>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>