<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <h:form>
            <ui:include src="../CsrfTokenInsert.xhtml"/>
            <p:panel style="border: none" id="header-panel">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <span style="font-size: 1.4em" class="icon-newspaper"></span>
                        <h:outputText value="Dynamic Forms" style="font-size: 1.25em;margin-left: 20px" />
                    </h:panelGrid>
                </f:facet>
            </p:panel>

            <p:messages><p:autoUpdate /></p:messages>
            <h:panelGroup layout="block" styleClass="card">
                <h2>Form List</h2>
                <p:button value="Add Form" href="/cms/dynamic-form-management/form"/>
                <p:dataTable value="#{dynamicFormManagement.lazyLoader}" paginator="true" rows="10"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50" lazy="true" var="item" sortBy="#{item.title}">

                    <p:column headerText="Title" filterBy="#{item.title}" priority="0">
                        <h:outputText value="#{item.title}"/>
                    </p:column>
                    <p:column headerText="Type" filerBy="#{item.sectionsType}" priority="2">
                        <h:outputText value="#{dynamicFormManagement.getFormType(item.sectionsType)}"/>
                    </p:column>
                    <p:column headerText="email" filterBy="#{item.email}" priority="3">
                        <h:outputText value="#{item.email}"/>
                    </p:column>
                    <p:column headerText="" width="80" priority="1">
                        <h:outputLink
                                value="#{request.contextPath}/cms/dynamic-form-management/form/#{item.id}">Edit</h:outputLink>
                        <p:commandLink value="Delete" action="#{dynamicFormManagement.deleteForm(item)}" update="@form"
                                       style="margin-left: 10px">
                            <p:confirm header="Confirmation" message="Are you sure you want to delete this form?"
                                       icon="ui-icon-alert"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>