<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <p:dialog id="list-item-dialog" widgetVar="listItemDialog" header="New List Item" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup layout="block" styleClass="ui-g">
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Item Value *" for="itemValue:itemValue_TEXT"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:text id="itemValue" propertyName="itemValue" value="#{dynamicFormManagement.listItem.itemValue}" valueRequired="true"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Display Value *" for="displayValue:displayValue_TEXT"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:text id="displayValue" propertyName="displayValue" value="#{dynamicFormManagement.listItem.displayValue}" valueRequired="true"/>
                    </h:panelGroup>
                </h:panelGroup>

                <p:commandButton value="Save" action="#{dynamicFormManagement.saveListItem}" update="@form,:property-dialog-form:property-dialog-tabview:list-items-datatable,:dynamic-form-form:tab-view:field-data-table" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('listItemDialog').hide()"/>
            </h:form>
        </p:dialog>
        <p:dialog id="property-dialog" widgetVar="propertyDialog" modal="true" header="Save / Edit Field" height="500" width="90%" style="max-width: 800px" closable="true" appendTo="@(body)" draggable="false">
            <h:form id="property-dialog-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:messages id="property-messages"/>
                <p:remoteCommand name="refreshAdditionalSettings" action="#{dynamicFormManagement.refresh}" update="#{p:component('additional-settings')}"/>

                <p:tabView id="property-dialog-tabview">
                    <p:tab title="General">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Name:" for="name:name_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="name" propertyName="name" value="#{dynamicFormManagement.formField.name}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Label:" for="label:label_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="label" propertyName="label" value="#{dynamicFormManagement.formField.label}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Field Type:" for="field-type:fieldType_PK_typeId"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:lookup id="field-type" fieldProperty="#{componentsUtil.getFieldProperty(511)}" filter="o.typeId NOT IN (1,7,13)"
                                               lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(511))}"
                                               dataBeanName="dynamicFormManagement.formField" displayValue="#{dynamicFormManagement.formField.fieldType.typeName}"
                                               value="#{dynamicFormManagement.formField.fieldType.typeId}" valueRequired="#{empty param['skipValidation']}" callback="refreshAdditionalSettings"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Display">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="width:width_SELECTION" value="Display Width:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:selection id="width" propertyName="width" value="#{dynamicFormManagement.formField.width}" listItems="#{componentsUtil.getFieldProperty(508).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="CSS Classes:" for="css-classes:cssClasses_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="css-classes" propertyName="cssClasses" value="#{dynamicFormManagement.formField.cssClasses}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="required:required_BOOLEAN" value="Required:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="required" value="#{dynamicFormManagement.formField.required}" propertyName="required" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="inline-label:inlineLabel_BOOLEAN" value="Inline Label:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="inline-label" value="#{dynamicFormManagement.formField.inlineLabel}" propertyName="inlineLabel" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Required Message:" for="vrequired:requiredMessage_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="vrequired" propertyName="requiredMessage" value="#{dynamicFormManagement.formField.requiredMessage}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Additional Settings">
                        <h:panelGroup id="additional-settings">
                            <p>Additional settings for fields that are lookup or selection fields. List item for selection will show after initial save of field.</p>
                            
                            <h:panelGroup layout="block" styleClass="ui-g" rendered="#{dynamicFormManagement.formField.fieldType.typeName == 'LOOKUP'}">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Lookup Unit *"  for="lookup-unit:lookupUnitId_PK_unitID"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="lookup-unit" requiredMessage="Lookup Unit in additional settings is required." fieldProperty="#{componentsUtil.getFieldProperty(518)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(518))}" dataBeanName="dynamicFormManagement.formField" value="#{dynamicFormManagement.formField.lookupUnitId}" valueRequired="#{dynamicFormManagement.formField.fieldType.typeName == 'LOOKUP' and empty param['skipValidation']}" callback="refreshAdditionalSettings"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{dynamicFormManagement.formField.lookupUnitId > 0}">
                                    <p:outputLabel  value="Lookup Grid *" for="lookup-grid:lookupGridId_PK_gridId"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{dynamicFormManagement.formField.lookupUnitId > 0}">
                                    <iberis:lookup id="lookup-grid" requiredMessage="Lookup grid in additional settings is required." filter="o.unitId = #{dynamicFormManagement.formField.lookupUnitId}" fieldProperty="#{componentsUtil.getFieldProperty(519)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(519))}" dataBeanName="dynamicFormManagement.formField" value="#{dynamicFormManagement.formField.lookupGridId}" valueRequired="#{dynamicFormManagement.formField.fieldType.typeName == 'LOOKUP' and empty param['skipValidation']}"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{dynamicFormManagement.formField.fieldType.typeName == 'SELECTION' and dynamicFormManagement.formField.id > 0}">
                                <p:commandButton value="Add" style="margin: 10px" action="#{dynamicFormManagement.newListItem}" oncomplete="PF('listItemDialog').show()" update=":list-item-dialog">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>
                                <p:commandButton value="Clear" style="margin: 10px 0" action="#{dynamicFormManagement.clearListItems}" update="list-items-datatable">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>
                                <p:dataTable id="list-items-datatable" editable="true" rowIndexVar="itemIndex" var="item" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" value="#{dynamicFormManagement.formField.fieldListItems}">
                                    <p:ajax event="rowEdit" listener="#{dynamicFormManagement.editListItem}" />

                                    <f:facet name="header">List Items</f:facet>
                                    <p:column headerText="Value">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{item.itemValue}"/>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText style="padding: 6px" value="#{item.itemValue}"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Display Value">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{item.displayValue}"/>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText style="padding: 6px" value="#{item.displayValue}"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                    <p:commandLink value="Delete" action="#{dynamicFormManagement.deleteListItem(item)}" update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:dataTable>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                </p:tabView>

                <p:commandButton value="Save" action="#{dynamicFormManagement.saveFormField}" update="@form,:dynamic-form-form:tab-view:field-data-table" />
            </h:form>
        </p:dialog>
        <p:dialog id="section-dialog" widgetVar="sectionDialog" width="90%" height="500" style="max-width: 800px" modal="true" header="Save / Edit Section" closable="true" appendTo="@(body)" draggable="false" >
            <h:form id="section-dialog-form">
                <p:messages id="section-messages"/>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:tabView>
                    <p:tab title="General">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Title:" for="title:title_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="title" propertyName="title" value="#{dynamicFormManagement.formSection.title}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="show-title:showTitle_BOOLEAN" value="Show Title:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="show-title" value="#{dynamicFormManagement.formSection.showTitle}" propertyName="showTitle"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="sequence:sequence_NUMBER" value="Sequence:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:number id="sequence" propertyName="sequence" value="#{dynamicFormManagement.formSection.sequence}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Header">
                        <iberis:editor id="header" propertyName="header" value="#{dynamicFormManagement.formSection.header}" width="100%" height="200px"/>
                    </p:tab>
                    <p:tab title="Footer">
                        <iberis:editor id="footer" propertyName="footer" value="#{dynamicFormManagement.formSection.footer}" width="100%" height="200px"/>
                    </p:tab>
                </p:tabView>

                <p:commandButton value="Save" action="#{dynamicFormManagement.saveSection}" update=":dynamic-form-form" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('sectionDialog').hide()"/>

            </h:form>
        </p:dialog>
        <p:dialog id="move-to-section-dialog" widgetVar="moveToSectionDialog" width="90%" style="max-width: 400px" modal="true" header="Move To Section" closable="true" appendTo="@(body)" draggable="false" >
            <h:form id="move-dialog-form">
                <p:messages id="move-messages"/>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup layout="block" styleClass="ui-g">
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <h3>Section:</h3>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <p:selectOneMenu style="width: 93%" styleClass="select-field" value="#{dynamicFormManagement.selectedSection}" rendered="#{dynamicFormManagement.form.formSections.size() > 0}">
                            <f:selectItems value="#{dynamicFormManagement.form.formSections}" var="section" itemLabel="#{section.title}" itemValue="#{section.id}"/>
                        </p:selectOneMenu>
                    </h:panelGroup>
                </h:panelGroup>

                <p:commandButton value="Move" action="#{dynamicFormManagement.addFieldToSection}" update=":dynamic-form-form" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('moveToSectionDialog').hide()"/>

            </h:form>
        </p:dialog>
        <p:dialog id="tokens-dialog" widgetVar="tokensDialog" width="90%" style="max-width: 400px" modal="true" header="Email Tokens" closable="true" appendTo="@(body)" draggable="false" >
            <div>[%ALL_FIELDS%]</div>
            <ui:repeat value="#{dynamicFormManagement.form.formSections}" var="section">
                <ui:repeat value="#{section.fields}" var="field">
                    <div>[%<h:outputText value="#{field.name}"/>%]</div>
                </ui:repeat>
            </ui:repeat>
        </p:dialog>
        <h:form id="dynamic-form-form">
            <ui:include src="../CsrfTokenInsert.xhtml"/>
            <p:panel style="border: none" id="header-panel">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <span style="font-size: 1.4em" class="icon-newspaper"></span>
                        <h:outputText value="Form" style="font-size: 1.25em;margin-left: 20px" />
                    </h:panelGrid>
                </f:facet>
            </p:panel>

            <p:messages><p:autoUpdate /></p:messages>
            <h:panelGroup layout="block" styleClass="card">
                <h2>
                    <p:commandButton value="Save" action="#{dynamicFormManagement.saveForm}" update="@form"/>
                    <p:button value="View" href="/dynamic-form/#{dynamicFormManagement.form.urlAlias}" rendered="#{dynamicFormManagement.form.id > 0}"/>
                </h2>
                <p:tabView id="tab-view" dynamic="false" scrollable="true">
                    <p:tab title="General">

                        <h:panelGroup layout="block" styleClass="ui-g" style="max-width: 1000px">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Title:" for="title:title_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="title" value="#{dynamicFormManagement.form.title}" propertyName="title" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Url Alias:" for="alias:urlAlias_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="alias" value="#{dynamicFormManagement.form.urlAlias}" propertyName="urlAlias" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="sections-type:sectionsType_SELECTION" value="Sections Type:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:selection id="sections-type" propertyName="sectionsType" value="#{dynamicFormManagement.form.sectionsType}" listItems="#{componentsUtil.getFieldProperty(496).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="title-size:titleSize_SELECTION" value="Title Size:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:selection id="title-size" propertyName="titleSize" value="#{dynamicFormManagement.form.titleSize}" listItems="#{componentsUtil.getFieldProperty(524).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="page-template:pageTemplate_PK_id" value="Page Template:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:lookup id="page-template" displayValue="#{dynamicFormManagement.form.pageTemplate.name}" value="#{dynamicFormManagement.form.pageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(523))}" dataBeanName="dynamicFormManagement.form" fieldProperty="#{componentsUtil.getFieldProperty(523)}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Submit Button Text:" for="submit-button-text:submitButtonText_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="submit-button-text" value="#{dynamicFormManagement.form.submitButtonText}" propertyName="submitButtonText" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Submit Button CSS Classes:" for="submit-button-css:buttonCssClasses_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="submit-button-css" value="#{dynamicFormManagement.form.buttonCssClasses}" propertyName="buttonCssClasses"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Email:" for="email:email_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="email" value="#{dynamicFormManagement.form.email}" propertyName="email"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="show-title:showTitle_BOOLEAN" value="Show Title:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="show-title" value="#{dynamicFormManagement.form.showTitle}" propertyName="showTitle"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="use-site-email:useSiteEmail_BOOLEAN" value="Use Site Email:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="use-site-email" value="#{dynamicFormManagement.form.useSiteEmail}" propertyName="useSiteEmail"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="use-captcha:useCaptcha_BOOLEAN" value="Use Captcha:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="use-captcha" value="#{dynamicFormManagement.form.useCaptcha}" propertyName="useCaptcha"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{dynamicFormManagement.form.id > 0}">
                                <p:outputLabel for="recipient-email:recipientEmailField_PK_id" value="Recipient Email Field:" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{dynamicFormManagement.form.id > 0}">
                                <iberis:lookup id="recipient-email" displayValue="#{dynamicFormManagement.form.recipientEmailField.label}" value="#{dynamicFormManagement.form.recipientEmailField.id}" filter="o.form.id = #{dynamicFormManagement.form.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(525))}" dataBeanName="dynamicFormManagement.form" fieldProperty="#{componentsUtil.getFieldProperty(525)}"/>
                            </h:panelGroup>
                        </h:panelGroup>

                    </p:tab>
                    <p:tab title="Header">
                        <iberis:editor id="header" propertyName="header" value="#{dynamicFormManagement.form.header}" width="100%"/>
                    </p:tab>
                    <p:tab title="Footer">
                        <iberis:editor id="footer" propertyName="footer" value="#{dynamicFormManagement.form.footer}" width="100%"/>
                    </p:tab>
                    <p:tab title="Email Templates">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-12">
                                <p:outputLabel value="On Screen Submission Confirmation" for="confirmation:confirmation_EDITOR"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-12">
                                <iberis:editor id="confirmation" propertyName="confirmation" value="#{dynamicFormManagement.form.confirmation}" width="100%"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="send-email:sendEmail_BOOLEAN" value="Send Email:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="send-email" value="#{dynamicFormManagement.form.sendEmail}" propertyName="sendEmail"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Email Subject:" for="email-subject:emailSubject_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="email-subject" value="#{dynamicFormManagement.form.emailSubject}" propertyName="emailSubject"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-12">
                                <p:outputLabel value="Email Template: " for="email-template:emailTemplate_EDITOR" style="margin-top: 15px"/>
                                <p:commandLink value="Tokens" update=":tokens-dialog" oncomplete="PF('tokensDialog').show()">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-12">
                                <iberis:editor id="email-template" propertyName="emailTemplate" value="#{dynamicFormManagement.form.emailTemplate}" width="100%"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="send-confirmation-email:sendConfirmationEmail_BOOLEAN" value="Send Confirmation Email:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:boolean id="send-confirmation-email" value="#{dynamicFormManagement.form.sendConfirmationEmail}" propertyName="sendConfirmationEmail"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Confirmation Email Subject:" for="confirmation-email-subject:confirmationEmailSubject_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="confirmation-email-subject" value="#{dynamicFormManagement.form.confirmationEmailSubject}" propertyName="confirmationEmailSubject"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-12">
                                <p:outputLabel value="Confirmation Email Template" for="confirmation-email-template:confirmationEmailTemplate_EDITOR" style="display: block;margin-top: 15px"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-12">
                                <iberis:editor id="confirmation-email-template" propertyName="confirmationEmailTemplate" value="#{dynamicFormManagement.form.confirmationEmailTemplate}" width="100%"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Meta Data">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="meta-title:metaTitle_TEXT" value="Title:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="meta-title" propertyName="metaTitle" value="#{dynamicFormManagement.form.metaTitle}" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="meta-description:metaDescription_TEXTAREA" value="Description:"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:textarea id="meta-description" propertyName="metaDescription" value="#{dynamicFormManagement.form.metaDescription}" />
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:tab>
                    <p:tab title="Fields" rendered="#{dynamicFormManagement.form.id > 0}">
                        <p:commandButton action="#{dynamicFormManagement.newField}" value="Add" update=":property-dialog" oncomplete="PF('propertyDialog').show()">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                        <p:dataTable id="field-data-table" value="#{dynamicFormManagement.form.formFields}" paginator="true" rows="10"
                                     paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                     rowsPerPageTemplate="10,25,50" lazy="true" var="item" sortBy="#{item.label}">

                            <p:column headerText="Label" priority="0">
                                <h:outputText value="#{item.label}"/>
                            </p:column>
                            <p:column headerText="Type" filerBy="#{item.fieldType.typeName}" priority="4">
                                <h:outputText value="#{item.fieldType.typeName}"/>
                            </p:column>
                            <p:column headerText="Width" priority="2">
                                <h:outputText value="#{(item.width / 12) * 100} %"/>
                            </p:column>
                            <p:column headerText="Required" priority="3">
                                <h:outputText value="#{item.required?'Yes':'No'}"/>
                            </p:column>
                            <p:column headerText="" priority="1">
                                <p:commandLink value="Edit" action="#{dynamicFormManagement.selectFormField(item)}" oncomplete="PF('propertyDialog').show()" update=":property-dialog">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                                <p:commandLink value="Delete" action="#{dynamicFormManagement.deleteFormField(item)}" update="@form"
                                               style="margin-left: 10px">
                                    <f:param name="skipValidation" value="1" />
                                    <p:confirm header="Confirmation" message="Are you sure you want to delete this field?"
                                               icon="ui-icon-alert"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="Sites" rendered="#{dynamicFormManagement.siteList.size() > 1}">
                        <h:panelGrid columns="2">
                            <p:selectOneMenu styleClass="select-field" value="#{dynamicFormManagement.siteListValue}">
                                <f:selectItems value="#{dynamicFormManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                            </p:selectOneMenu>
                            <p:commandButton value="Add" action="#{dynamicFormManagement.addSite}" update="site-list">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                        </h:panelGrid>

                        <p:dataTable value="#{dynamicFormManagement.form.sites}" var="item" id="site-list" style="max-width: 500px;margin-bottom: 20px">
                            <p:column headerText="Name">
                                <h:outputText value="#{item.siteName}"/>
                            </p:column>
                            <p:column styleClass="delete-link" width="70">
                                <p:commandLink value="Remove" action="#{dynamicFormManagement.removeSite(item)}"
                                               update="@form"
                                               style="margin-left: 10px" rendered="#{dynamicFormManagement.inSiteList(item.siteID)}">
                                    <f:param name="skipValidation" value="1" />
                                    <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                               icon="ui-icon-alert"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="Layout" rendered="#{dynamicFormManagement.form.id > 0}">
                        <h:panelGroup id="layout-tab-contents" layout="block">
                            <div>
                                <h3 style="#{field.formSection != null?'display: none;':''}">Available Fields</h3>
                                <div class="field-list" section="0">
                                    <ui:repeat value="#{dynamicFormManagement.form.formFields}" var="field">

                                        <div id="field-#{field.id}" style="#{field.formSection != null?'display: none;':''}margin-bottom: 5px">
                                            <div class="portlet-header">
                                                <div>Field (#{field.id}) #{field.label}</div>
                                                <p:commandLink action="#{dynamicFormManagement.selectFormField(field)}" rendered="#{dynamicFormManagement.form.formSections.size() > 0}" value="Move to Section" update=":move-to-section-dialog" oncomplete="PF('moveToSectionDialog').show()">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </div>
                                        </div>

                                    </ui:repeat>
                                </div>
                            </div>
                            <div>
                                <h3>Form Layout</h3>
                                <p:commandButton action="#{dynamicFormManagement.newSection}" value="Add Section" update=":section-dialog" oncomplete="PF('sectionDialog').show()">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>
                                <h:panelGroup id="sections-layout">
                                    <ui:repeat value="#{dynamicFormManagement.form.formSections}" var="section">
                                        <div style="padding: 10px;background: lightgray;border: solid 1px;">
                                            <div>
                                                <h3>Section: #{section.title}
                                                    <p:commandLink value="Edit" action="#{dynamicFormManagement.selectSection(section)}" update=":section-dialog" oncomplete="PF('sectionDialog').show()" style="margin-left: 10px">
                                                        <f:param name="skipValidation" value="1" />
                                                    </p:commandLink>
                                                    <p:commandLink value="Remove" action="#{dynamicFormManagement.deleteSection(section)}" update=":dynamic-form-form:tab-view:layout-tab-contents"  style="margin-left: 10px">
                                                        <f:param name="skipValidation" value="1" />
                                                    </p:commandLink>
                                                </h3>
                                            </div>
                                            <div class="field-list ui-g" section="#{section.id}" style="border: solid 1px;min-height: 90px;background: white;">
                                                <ui:repeat value="#{section.fields}" var="field" varStatus="status">
                                                    <div id="field-#{field.id}" class="ui-g-#{field.width} ui-sm-12" style="min-height: 170px">
                                                        <div class="portlet-header">
                                                            Field (#{field.id}) #{field.label}<br/>
                                                            <p:commandLink action="#{dynamicFormManagement.removeFieldFromSection(field)}" value="Remove" update=":dynamic-form-form:tab-view:layout-tab-contents"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                            <p:commandLink value="Move Up" style="margin-left: 15px;white-space: nowrap;display: inline-block" rendered="#{status.index != 0}" action="#{dynamicFormManagement.reorderFields(section, field, status.index - 1)}" update=":dynamic-form-form:tab-view:sections-layout"/>
                                                            <p:commandLink value="Move Down" style="margin-left: 15px;white-space: nowrap;display: inline-block" rendered="#{status.index != (section.fields.size() - 1)}" action="#{dynamicFormManagement.reorderFields(section, field, status.index + 1)}" update=":dynamic-form-form:tab-view:sections-layout"/>
                                                            <p:commandLink value="Move To Section" style="margin-left: 15px;white-space: nowrap;display: inline-block" action="#{dynamicFormManagement.selectFormField(field)}" update=":move-to-section-dialog" oncomplete="PF('moveToSectionDialog').show()" rendered="#{dynamicFormManagement.form.formSections.size() > 1}"/>
                                                        </div>
                                                        <div class="ui-g">
                                                            <div class="ui-g-12">
                                                                <iberis:selection id="width" propertyName="width" value="#{field.width}" updateId=":dynamic-form-form:tab-view:sections-layout,:dynamic-form-form:tab-view:field-data-table" listenerMethod="#{dynamicFormManagement.saveLayout}" listItems="#{componentsUtil.getFieldProperty(508).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ui:repeat>
                                            </div>
                                        </div>
                                    </ui:repeat>
                                </h:panelGroup>
                            </div>
                        </h:panelGroup>
                    </p:tab>
                </p:tabView>
            </h:panelGroup>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>