<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">

        <h:form>
            <ui:include src="../CsrfTokenInsert.xhtml"/>
            <p:panel style="border: none" id="header-panel">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <span style="font-size: 1.4em" class="icon-question3"></span>
                        <h:outputText value="FAQs" style="font-size: 1.25em;margin-left: 20px" />
                    </h:panelGrid>
                </f:facet>
            </p:panel>
            <p:messages id="messages"><p:autoUpdate /></p:messages>
            <h:panelGroup layout="block" styleClass="card">
                <h2>FAQ List</h2>
                <p:button value="Add FAQ" href="/cms/faq-management/form"/>
                <div id="faq-management">
                    <p:dataTable id="faq-table" var="faq" value="#{faqManagement.faqs}" paginator="true" rows="10"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,25,50" lazy="true">
                        <p:column headerText="Id">
                            <h:outputText value="#{faq.id}"/>
                        </p:column>
                        <p:column headerText="Question">
                            <h:outputText value="#{faq.question}"/>
                        </p:column>
                        <p:column headerText="Categories">
                            <p:dataList value="#{faq.getVocabTermCollection()}" var="term" itemType="square">
                                <h:outputText value="#{term.name}"/>
                            </p:dataList>
                        </p:column>
                        <p:column>
                            <h:outputLink value="/cms/faq-management/form/#{faq.id}"><h:outputText
                                    value="Edit"/></h:outputLink>
                        </p:column>
                        <p:column>
                            <p:commandLink value="Delete"
                                           action="#{faqManagement.deleteFaq(faq.id)}"
                                           update="@form">
                                <p:confirm header="Delete FAQ"
                                           message="Do you want to delete this FAQ?"
                                           icon="ui-icon-alert"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:panelGroup>
        </h:form>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Yes" type="button"
                             styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
            <p:commandButton value="No" type="button"
                             styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
        </p:confirmDialog>


    </ui:define>
</ui:composition>
</body>
</html>