<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <h1><h:outputText value="FAQ"/></h1>
        <p:messages><p:autoUpdate /></p:messages>

        <div class="faq-management-form">
            <h:form id="faq-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGrid columns="2" columnClasses="form-label-right,form-left">
                    <p:outputLabel value="Question" for="question:question_TEXT"/>
                    <iberis:text id="question" value="#{faqManagementForm.faq.question}" propertyName="question"/>

                    <p:outputLabel value="Answer" for="answer:answer_EDITOR"/>
                    <iberis:editor id="answer" value="#{faqManagementForm.faq.answer}" propertyName="answer"/>

                    <p:outputLabel value="Category" for="faq-category"/>
                    <p:tree id="faq-category" value="#{faqManagementForm.root}" var="cat" selectionMode="checkbox"
                            selection="#{faqManagementForm.selectedCategories}" >
                        <p:treeNode >
                            <h:outputText value="#{cat.name}"/>
                        </p:treeNode>
                    </p:tree>

                    <p:commandButton type="submit" value="Save"
                                     action="#{faqManagementForm.saveFaq()}"
                                     update="@form"/>
                    <p:button type="Button" value="Cancel" outcome="pretty:faq-management"/>

                </h:panelGrid>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>