<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="file-management">
            <p:dialog id="preview-dialog" width="90%" height="550" style="max-width: 900px" widgetVar="preview-dialog" header="File Preview" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <h:panelGroup layout="block" rendered="#{fileManagement.file != null and fileManagement.file.fileExtension.name == '.pdf'}">
                    <pe:documentViewer height="500" url="#{request.contextPath}#{fileManagement.file.filePath}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" rendered="#{fileManagement.file != null and '.gif.jpeg.jpg.png'.contains(fileManagement.file.fileExtension.name)}" style="max-width: 900px">
                    <h:graphicImage value="#{fileManagement.file.filePath}" style="max-width: 100%"/>
                </h:panelGroup>

            </p:dialog>
            <h:form id="image-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-file"></span>
                            <h:outputText value="Files" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>File Upload</h2>
                    <p:fileUpload id="content-files" fileUploadListener="#{fileManagement.handleFileUpload}"
                                  mode="advanced"
                                  dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="10"
                                  allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf)$/"
                                  update="@form"
                                  />
                </h:panelGroup>

                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>File Selection</h2>
                            <p:commandButton value="Create" action="#{fileManagement.newFile}" update="@form"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable rowKey="#{item.id}" id="image-grid" var="item" value="#{fileManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{fileManagement.onRowSelect}" update="@form" oncomplete="scrollToElement('#update-panel-container');"/>

                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>

                                <p:column headerText="File Name / Path" filterBy="#{item.fileName}" priority="1">
                                    <h:outputText value="#{item.fileName}"/><br/>
                                    <h:outputText value="#{item.filePath}"/>
                                </p:column>
                                <p:column width="60" priority="2">
                                    <p:commandLink value="Preview" action="#{fileManagement.selectFile(item)}" oncomplete="PF('preview-dialog').show();" update="@form,:preview-dialog" rendered="#{item.fileExtension.name != '.xls' and item.fileExtension.name != '.doc' and item.fileExtension.name != '.docx'}">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="60" priority="3">
                                    <h:outputLink value="#{item.filePath}?downloadOnly=true">Download</h:outputLink>
                                </p:column>
                                <p:column width="60" priority="4">
                                    <p:commandLink value="Delete" action="#{fileManagement.delete(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>

                            </p:dataTable>

                        </h:panelGroup>

                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="image-update-panel" rendered="#{fileManagement.file != null}">
                            <h2>Add / Edit File</h2>
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="name:fileName_TEXT" value="File Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="name" propertyName="fileName" valueRequired="#{empty param['skipValidation']}" value="#{fileManagement.file.fileName}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="display-name:displayName_TEXT" value="Display Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="display-name" propertyName="displayName" valueRequired="#{empty param['skipValidation']}" value="#{fileManagement.file.displayName}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="mime-type:mimeType_PK_typeid" value="MimeType:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="mime-type" value="#{fileManagement.file.mimeType.typeid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(427))}" dataBeanName="fileManagement.file" fieldProperty="#{componentsUtil.getFieldProperty(427)}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="file-extension:fileExtension_PK_extensionid" value="File Extension:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="file-extension" value="#{fileManagement.file.fileExtension.extensionid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(428))}" dataBeanName="fileManagement.file" fieldProperty="#{componentsUtil.getFieldProperty(428)}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="file-path:filePath_TEXT" value="File Path:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="file-path" value="#{fileManagement.file.filePath}" propertyName="filePath" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="tags" value="Tags:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <p:autoComplete id="tags" multiple="true" value="#{fileManagement.file.fileTags}" completeMethod="#{fileManagement.tagsAutoComplete}"
                                                    var="tag" itemLabel="#{tag.name}" itemValue="#{tag}" converter="tagConverter" forceSelection="true" minQueryLength="3">
                                        <p:column>
                                            <h:outputText value="#{tag.name}" />
                                        </p:column>
                                    </p:autoComplete>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup layout="block" rendered="#{fileManagement.siteList.size() > 1}">
                                <h4>Sites</h4>
                                <hr/>
                                <h:panelGrid columns="2">
                                    <p:selectOneMenu styleClass="select-field" value="#{fileManagement.siteListValue}">
                                        <f:selectItems value="#{fileManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Add" action="#{fileManagement.addSite}" update="site-list">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                </h:panelGrid>

                                <p:dataTable value="#{fileManagement.file.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                                    <p:column headerText="Name">
                                        <h:outputText value="#{item.siteName}"/>
                                    </p:column>
                                    <p:column styleClass="delete-link" width="70">
                                        <p:commandLink value="Remove" action="#{fileManagement.removeSite(item)}"
                                                       update="@form"
                                                       style="margin-left: 10px" rendered="#{fileManagement.inSiteList(item.siteID)}">
                                            <f:param name="skipValidation" value="1" />
                                            <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                       icon="ui-icon-alert"/>
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>

                            <p:commandButton value="Save" action="#{fileManagement.save}" update="@form"/>

                            <p:commandButton value="Preview" oncomplete="PF('preview-dialog').show();" update="@form,:preview-dialog" rendered="#{fileManagement.file.fileExtension.name != '.xls' and fileManagement.file.fileExtension.name != '.doc' and fileManagement.file.fileExtension.name != '.docx'}">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:button href="#{item.filePath}?downloadOnly=true" value="Download"/>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>