<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/EmptyTemplate.xhtml">
    <ui:define name="main-content">
        <style>
            .ui-paginator,
            .ui-datagrid-content
            {
                border: none;
            }
        </style>
        <script type="text/javascript">
            function insertIntoCkEditor(fileUrl)
            {
                window.opener.CKEDITOR.tools.callFunction( #{request.getParameter('CKEditorFuncNum')}, fileUrl );
                window.close();
            }
        </script>
        <div class="file-browser">
            <h:form id="file-browser-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup id="search-block">
                    <div class="ui-g" style="height: 70px;background-color: #4a4a4a;font-size: 1.5em;">
                        <div class="ui-g-1" style="text-align: right;color: white">
                            <span class="search" >
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="ui-g-11">
                            <iberis:text id="search" value="#{fileBrowser.searchText}" propertyName="searchText"/>
                        </div>
                    </div>
                </h:panelGroup>
                <p:sticky target="search-block"/>
                <p:watermark value="Search" for="search:searchText_TEXT"/>
                <p:commandButton value="Search" action="#{fileBrowser.search}" update="@form" style="display: none"/>
                <p:tabView style="border: none">
                    <p:tab title="Files" rendered="#{fileBrowser.browserType != '1'}">
                        <p:button id="file-upload" value="&lt;span class='icon-upload3'&gt;&lt;/span&gt; Upload" escape="false" onclick="return false;"/>
                        <p:overlayPanel for="file-upload">
                            <p:fileUpload fileUploadListener="#{fileBrowser.handleFileUpload}"
                                          mode="advanced"
                                          dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="10"
                                          allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf)$/"
                                          update="file-grid,file-msg"/>
                        </p:overlayPanel>
                        <p:messages id="file-msg"><p:autoUpdate /></p:messages>
                        <p:dataGrid rowKey="#{item.id}" id="file-grid" var="item" value="#{fileBrowser.fileLoader}" paginator="true" layout="grid" columns="4" rows="15" rowsPerPageTemplate="8,15,25,50" lazy="true">
                            <div style="min-height: 150px">
                                <h:outputLink value="#" style="text-decoration: none" onclick="insertIntoCkEditor('#{item.filePath}');return false;">
                                    <h:panelGroup styleClass="icon-file-pdf" style="font-size: 6em;color: red" rendered="#{item.fileExtension.name == '.pdf'}"/>
                                    <h:panelGroup styleClass="icon-file-word" style="font-size: 6em;color: blue" rendered="#{item.fileExtension.name == '.doc' or item.fileExtension.name == '.docx'}"/>
                                    <h:panelGroup styleClass="icon-file-excel" style="font-size: 6em;color: green" rendered="#{item.fileExtension.name == '.xls' or item.fileExtension.name == '.xlsx'}"/>
                                    <!--<h:panelGroup styleClass="icon-image3" style="font-size: 6em;color: green" rendered="#{item.fileExtension.name == '.png' or item.fileExtension.name == '.jpeg' or item.fileExtension.name == '.jpg' or item.fileExtension.name == '.gif'}"/>-->
                                    <h:graphicImage value="#{item.filePath}" style="max-width: 100%" rendered="#{item.fileExtension.name == '.png' or item.fileExtension.name == '.jpeg' or item.fileExtension.name == '.jpg' or item.fileExtension.name == '.gif'}"/>
                                </h:outputLink>
                                <br/>
                                <p><h:outputText value="#{item.fileName}"/></p>
                                <p:button onclick="insertIntoCkEditor('#{item.filePath}');return false;" value="Select"/>

                            </div>
                        </p:dataGrid>
                    </p:tab>
                    <p:tab title="Images">
                        <p:button id="image-upload" value="&lt;span class='icon-upload3'&gt;&lt;/span&gt; Upload" escape="false" onclick="return false;"/>
                        <p:overlayPanel for="image-upload">
                            <p:fileUpload fileUploadListener="#{fileBrowser.handleImageUpload}"
                                          mode="advanced"
                                          dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="10"
                                          allowTypes="/(\.|\/)(gif|png|jpg|jpeg)$/"
                                          update="image-grid,images-msg"/>
                        </p:overlayPanel>
                        <p:messages id="images-msg"><p:autoUpdate /></p:messages>
                        <p:dataGrid rowKey="#{item.imageid}" id="image-grid" var="item" value="#{fileBrowser.imageLoader}" paginator="true" layout="grid" columns="4" rows="15" rowsPerPageTemplate="8,15,25,50" lazy="true">

                            <h:outputLink value="#" onclick="insertIntoCkEditor('#{item.filePath}');return false;">
                                <h:graphicImage value="#{item.filePath}" style="max-width: 100%"/>
                            </h:outputLink>
                            <br/>
                            <h:outputText value="#{item.name}"/>

                        </p:dataGrid>
                    </p:tab>
                    <p:tab title="Videos" rendered="#{fileBrowser.browserType != '1'}">
                        <p:button id="video-upload" value="&lt;span class='icon-upload3'&gt;&lt;/span&gt; Upload" escape="false" onclick="return false;"/>
                        <p:overlayPanel for="video-upload">
                            <p:fileUpload id="content-files" fileUploadListener="#{fileBrowser.handleVideoUpload}"
                                          mode="advanced"
                                          dragDropSupport="false" multiple="true" sizeLimit="25000000" fileLimit="10"
                                          allowTypes="/(\.|\/)(mpeg|mp4|mpg|webm|ogg|mp3)$/"
                                          update="video-grid,video-msg"/>
                        </p:overlayPanel>
                        <p:messages id="video-msg"><p:autoUpdate /></p:messages>
                        <p:dataGrid rowKey="#{item.id}" id="video-grid" var="item" value="#{fileBrowser.videoLoader}" paginator="true" columns="4" layout="grid" rows="15" rowsPerPageTemplate="8,15,25,50" lazy="true">

                            <h:panelGroup layout="block" style="max-width: 100%">
                                <iberis:videoplayer video="#{item}" showOnlyVideo="true"/>
                            </h:panelGroup>
                            <h:outputText value="#{item.name}"/>
                            <br/>
                            <p:button onclick="insertIntoCkEditor('#{item.filePath}');return false;" value="Select"/>


                        </p:dataGrid>
                    </p:tab>
                </p:tabView>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>