<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="gallery-management">

            <p:dialog id="gallery-image-dialog" widgetVar="gallery-image-dialog" header="Gallery Image" modal="true" width="90%" height="500" style="max-width: 850px" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form id="gallery-image-form">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:remoteCommand name="refreshGalleryImageForm" action="#{galleryManagement.refreshGalleryImage}" update="@form"/>
                    <p:tabView>
                        <p:tab title="General">
                            <h:panelGroup layout="block" styleClass="ui-g" rendered="#{galleryManagement.galleryImage != null}">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="image:image_PK_imageid" value="Image:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <p>You can add image by upload or select existing one.</p>
                                    <p:fileUpload id="image-uploader" fileUploadListener="#{galleryManagement.handleImageUpload}"
                                                  mode="advanced"
                                                  dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="1"
                                                  allowTypes="/(\.|\/)(gif|png|jpg|jpeg)$/"
                                                  update="image-section"/>
                                    <h:panelGroup id="image-section">
                                        <iberis:lookup id="image" callback="refreshGalleryImageForm" displayValue="#{galleryManagement.galleryImage.image.name}" value="#{galleryManagement.galleryImage.image.imageid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(445))}" dataBeanName="galleryManagement.galleryImage" fieldProperty="#{componentsUtil.getFieldProperty(445)}"/>
                                        <h:graphicImage style="max-width: 200px" rendered="#{galleryManagement.galleryImage.image != null and galleryManagement.galleryImage.image.imageid > 0}" value="#{galleryManagement.galleryImage.image.filePath}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="sequence:sequence_NUMBER" value="Sequence:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:number id="sequence" value="#{galleryManagement.galleryImage.sequence}" propertyName="sequence"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Caption">
                            <iberis:editor id="caption" propertyName="caption" width="100%" height="200px" value="#{galleryManagement.galleryImage.caption}"/>
                        </p:tab>
                    </p:tabView>

                    <p:commandButton value="Save" action="#{galleryManagement.saveGalleryImage}" update="@form,:gallery-management-form,:preview-dialog" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('gallery-image-dialog').hide()"/>
                </h:form>
            </p:dialog>
            <p:dialog id="preview-dialog" widgetVar="preview-dialog" header="Preview" modal="true" closable="true" draggable="false" appendTo="@(body)" width="90%" height="500" style="max-width:600px">
                <iframe width="98%" height="98%" frameborder="0" src="#{request.contextPath}/cms/gallery-preview/#{galleryManagement.gallery.id}"></iframe>
            </p:dialog>
            <h:form id="gallery-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-images"></span>
                            <h:outputText value="Gallery" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>

                <p:button value="Back to Gallery List" href="#{request.contextPath}/cms/gallery-management"/>

                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="gallery-image-panel">
                            <h2>Gallery Images</h2>
                            <p:commandButton value="Create" oncomplete="PF('gallery-image-dialog').show()" update=":gallery-image-dialog" action="#{galleryManagement.newGalleryImage}">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable reflow="true" rowKey="#{item.id}" id="slide-grid" var="item" value="#{galleryManagement.gallery.galleryImages}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{galleryManagement.onRowGalleryImageSelect}" update="@form"/>

                                <p:column>
                                    <h:graphicImage value="#{item.image.filePath}" width="100"/>
                                </p:column>
                                <p:column>
                                    <h:outputText value="#{item.image.name}"/>
                                </p:column>
                                <p:column>
                                    <p:commandLink value="Edit" action="#{galleryManagement.selectGalleryImage(item)}" update=":gallery-image-dialog" oncomplete="PF('gallery-image-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column>
                                    <p:commandLink value="Delete" action="#{galleryManagement.deleteGalleryImage(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                        </h:panelGroup>
                    </div>
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="gallery-update-panel" rendered="#{galleryManagement.gallery != null}">
                            <h2>Edit Gallery</h2>
                            <ui:include src="includes/GalleryForm.xhtml"/>
                            <p:commandButton value="Save" action="#{galleryManagement.save}" update="slide-grid, gallery-update-panel"/>
                            <p:commandButton value="Preview" update=":preview-dialog" oncomplete="$('div.preload').each(function(){ $(this).show(); });PF('preview-dialog').show()">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:messages><p:autoUpdate /></p:messages>
                         </h:panelGroup>
                    </div>
                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>