<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="gallery-management">
            <p:dialog id="preview-dialog" widgetVar="preview-dialog" header="Preview" modal="true" closable="true" draggable="false" appendTo="@(body)" width="90%" height="500" style="max-width: 600px">
                <h:panelGroup rendered="#{galleryManagement.gallery != null and galleryManagement.gallery.id > 0}">
                    <iframe width="98%" height="98%" frameborder="0" src="#{request.contextPath}/cms/gallery-preview/#{galleryManagement.gallery.id}"></iframe>
                </h:panelGroup>
            </p:dialog>
            <h:form id="gallery-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-images2"></span>
                            <h:outputText value="Galleries" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>

                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Gallery List</h2>
                            <p:commandButton value="Create" action="#{galleryManagement.newGallery}" update="@form" >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable selection="#{galleryManagement.previewGallery}" rowKey="#{item.id}" id="gallery-grid" var="item" value="#{galleryManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{galleryManagement.onRowSelect}" update="@form" oncomplete="scrollToElement('#update-panel-container');"/>

                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>
                                <p:column headerText="Name" filterBy="#{item.name}" priority="1">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column headerText="Gallery Type" priority="2">
                                    <h:outputText value="#{galleryManagement.getGalleryTypeName(item.type)}"/>
                                </p:column>
                                <p:column width="80" priority="3">
                                    <p:commandLink value="Edit" action="#{galleryManagement.edit(item)}" update="@form" oncomplete="scrollToElement('#update-panel-container');">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="4">
                                    <p:commandLink value="Delete" action="#{galleryManagement.delete(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="gallery-update-panel" rendered="#{galleryManagement.gallery != null}">
                            <h2>Add / Edit Gallery</h2>
                            <ui:include src="includes/GalleryForm.xhtml"/>
                            <p:commandButton value="Save" action="#{galleryManagement.save}" update="gallery-grid, gallery-update-panel"/>
                            <p:button value="Edit Images" href="/cms/gallery-image-management/#{galleryManagement.gallery.id}" rendered="#{galleryManagement.gallery != null and galleryManagement.gallery.id > 0}"/>
                            <p:splitButton value="Preview" update=":preview-dialog" rendered="#{galleryManagement.gallery != null and galleryManagement.gallery.id > 0}" oncomplete="$('div.preload').each(function(){ $(this).show(); });PF('preview-dialog').show()">
                                <f:param name="skipValidation" value="1" />
                                <p:menuitem value="In New Tab" url="#{request.contextPath}/cms/gallery-preview/#{galleryManagement.gallery.id}" target="_blank"/>
                            </p:splitButton>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>