<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">

    <ui:define name="header-bottom">
        <link  href="#{request.contextPath}/resources/css/cropper.min.css" rel="stylesheet"/>
        <script src="#{request.contextPath}/resources/javascript/cropper.min.js"></script>
    </ui:define>

    <ui:define name="main-content">
        <div class="image-management">
            <h:form id="image-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:inputHidden value="TEST"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-image3"></span>
                            <h:outputText value="Image Cropping" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <p:button value="Back to Image List" href="#{request.contextPath}/cms/image-management"/>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Image To Crop</h2>
                            <div>
                                <h:graphicImage id="image-to-crop" value="#{imageManagement.image.filePath}"/>
                            </div>
                            <h:inputHidden id="slice-info" value="#{imageManagement.sliceInfo}"/>
                            <script type="text/javascript">
                                var image = document.getElementById('image-management-form\:image-to-crop');

                                var cropper = new Cropper(image, {
                                    zoomable: false,
                                    viewMode: 3,
                                    preview: '.image-cropped-preview',
                                    crop: function(event) {
                                        $('#image-management-form\\:slice-info').val(parseInt(event.detail.x) + ',' + parseInt(event.detail.y) + ',' + parseInt(event.detail.width) + ',' + parseInt(event.detail.height));
                                        /*console.log(event.detail.x);
                                        console.log(event.detail.y);
                                        console.log(event.detail.width);
                                        console.log(event.detail.height);
                                        console.log(event.detail.rotate);
                                        console.log(event.detail.scaleX);
                                        console.log(event.detail.scaleY);*/
                                    }
                                });
                            </script>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12">
                        <h:panelGroup id="crop-preview" layout="block" styleClass="card">
                            <h2>Crop Preview</h2>
                            <h:panelGroup layout="block">
                                <div>
                                    <div class="image-cropped-preview" style="width: 100%;height: 200px;overflow:hidden"></div>
                                </div>
                                <div class="clear: both"></div>
                                <p:outputLabel for="cropped-name:croppedName_TEXT" value="Name:"/>
                                <iberis:text id="cropped-name" propertyName="croppedName" value="#{imageManagement.croppedImageName}"/>
                                <p:commandButton action="#{imageManagement.saveCroppedImage}" value="Save Cropped Image"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>