<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="image-management">
            <p:dialog id="replacement-dialog" width="90%" style="max-width: 40em" widgetVar="replacement-dialog" responsive="true" header="Upload Replacement" modal="true" closable="true" draggable="false" resizable="false" appendTo="@(body)">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:fileUpload id="replacement-file" fileUploadListener="#{imageManagement.handleReplacementImageUpload}"
                                          mode="advanced"
                                          dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="1"
                                          allowTypes="/(\.|\/)(gif|png|jpg|jpeg)$/"
                                          update=":image-management-form:image-update-panel" oncomplete="PF('replacement-dialog').hide()"/>
                        </div>
                    </div>
                </h:form>
            </p:dialog>
            <h:form id="image-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-image3"></span>
                            <h:outputText value="Images" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>Image Upload</h2>
                    <p:fileUpload id="content-files" fileUploadListener="#{imageManagement.handleImageUpload}"
                                  mode="advanced"
                                  dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="10"
                                  allowTypes="/(\.|\/)(gif|png|jpg|jpeg)$/"
                                  update=":image-management-form:image-grid"
                                  />
                </h:panelGroup>

                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Image List</h2>
                            <p:commandButton value="Create" action="#{imageManagement.newImage}" update="@form"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable rowKey="#{item.imageid}" id="image-grid" var="item" value="#{imageManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{imageManagement.onRowSelect}" update=":image-management-form:right-side" oncomplete="scrollToElement('#update-panel-container');"/>

                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>
                                <p:column width="100" priority="1">
                                    <h:graphicImage value="#{item.filePath}" width="100"/>
                                </p:column>
                                <p:column headerText="File Name / Path" filterBy="#{item.name}" priority="3">
                                    <h:outputText value="#{item.name}"/><br/>
                                    <h:outputText value="#{item.filePath}"/>
                                </p:column>
                                <p:column width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{imageManagement.delete(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>

                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" id="right-side">
                            <h:panelGroup layout="block" styleClass="card" id="image-update-panel" rendered="#{imageManagement.image != null}">
                                <h2>Add / Edit Image</h2>
                                <ui:include src="includes/ImageForm.xhtml"/>

                                <h:panelGroup layout="block" rendered="#{imageManagement.siteList.size() > 1}">
                                    <h4>Sites</h4>
                                    <hr/>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu  styleClass="select-field" value="#{imageManagement.siteListValue}">
                                            <f:selectItems value="#{imageManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                        </p:selectOneMenu>
                                        <p:commandButton value="Add" action="#{imageManagement.addSite}" update="site-list">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandButton>
                                    </h:panelGrid>

                                    <p:dataTable value="#{imageManagement.image.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                                        <p:column headerText="Name">
                                            <h:outputText value="#{item.siteName}"/>
                                        </p:column>
                                        <p:column styleClass="delete-link" width="70">
                                            <p:commandLink value="Remove" action="#{imageManagement.removeSite(item)}"
                                                           update="@form"
                                                           style="margin-left: 10px" rendered="#{imageManagement.inSiteList(item.siteID)}">
                                                <f:param name="skipValidation" value="1" />
                                                <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                           icon="ui-icon-alert"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>

                                <p:commandButton value="Save" action="#{imageManagement.save}" update=":image-management-form:image-grid, image-update-panel, preview-panel"/>
                                <p:button href="#" onclick="PF('replacement-dialog').show();return false;" value="Replace Image" rendered="#{imageManagement.image.imageid > 0}"/>
                                <p:button value="Crop Image" style="float: right" href="#{request.contextPath}/cms/image-crop/#{imageManagement.image.imageid}" rendered="#{imageManagement.image.imageid > 0}"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                            <h:panelGroup id="preview-panel" layout="block" styleClass="card" rendered="#{imageManagement.image != null}">
                                <h2>Preview</h2>
                                <iberis:image image="#{imageManagement.image}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>
            </h:form>
        </div>

        <script type="text/javascript">
            $(document).ready(function()
            {
                if (#{(imageManagement.image.imageid != null)? imageManagement.image.imageid: 0} &gt; 0)
                {
                    scrollToElement('#update-panel-container');
                }
            });
        </script>
    </ui:define>
</ui:composition>
</body>
</html>