<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="site-management">

            <h:form id="site-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-layout14"></span>
                            <h:outputText value="Layouts" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Layout List</h2>
                            <p:commandButton value="Create" action="#{layoutManagement.newLayout}" update="@form" >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable id="layout-grid" var="item" value="#{layoutManagement.loader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">

                                <p:column headerText="Name" filterBy="#{item.name}" priority="0">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column headerText="Template Dir Name" filterBy="#{item.templateDirName}" priority="3">
                                    <h:outputText value="#{item.templateDirName}"/>
                                </p:column>
                                <p:column width="80" priority="4">
                                    <p:commandLink value="Clone" action="#{layoutManagement.clone(item)}" update="layout-grid">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="1">
                                    <p:commandLink value="Edit" action="#{layoutManagement.selectLayout(item)}" update="@form" oncomplete="scrollToElement('#update-panel-container');">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{layoutManagement.deleteLayout(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="site-update-panel" rendered="#{layoutManagement.layout != null}">
                            <h2>Add / Edit Layout</h2>
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="layout-name:name_TEXT" value="Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="layout-name" propertyName="name" value="#{layoutManagement.layout.name}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="template-dir:templateDirName_TEXT" value="Template Dir Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="template-dir" propertyName="templateDirName" value="#{layoutManagement.layout.templateDirName}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h3>Page Regions</h3>
                            <h:panelGrid columns="2">
                                <p:selectOneMenu style="width: 200px" styleClass="select-field" value="#{layoutManagement.regionListValue}">
                                    <f:selectItems value="#{layoutManagement.regionList}" var="region" itemLabel="#{region.name}" itemValue="#{region.id}"/>
                                </p:selectOneMenu>
                                <p:commandButton value="Add" action="#{layoutManagement.addPageRegion}" update="region-list">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>
                            </h:panelGrid>

                            <p:dataTable value="#{layoutManagement.layout.pageRegions}" var="item" id="region-list" style="max-width: 500px" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                <p:column headerText="Region Name">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column styleClass="delete-link" width="70">
                                    <p:commandLink value="Remove" action="#{layoutManagement.removePageRegion(item)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to remove this region?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                            <p:commandButton value="Save" action="#{layoutManagement.saveLayout}" update="@form"/>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>