<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="menu-management">
            <p:dialog id="menu-dialog" widgetVar="menu-dialog" width="90%" style="max-width: 600px" header="Edit Menu" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <ui:include src="includes/MenuForm.xhtml"/>
                    <p:commandButton value="Save" action="#{menuManagement.save}" update="@form,:menu-management-form" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('menu-dialog').hide();removeMenuThemeIcons();}"/>
                </h:form>
            </p:dialog>
            <p:dialog id="megamenu-section-dialog" widgetVar="megamenu-section-dialog" width="90%" style="max-width: 600px" header="Edit Section" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="section-display-name:displayName_TEXT" value="Display Name:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="section-display-name" propertyName="displayName" valueRequired="#{empty param['skipValidation']}" value="#{menuManagement.menuItem.displayName}" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="section-url:url_TEXT" value="URL:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="section-url" propertyName="url" value="#{menuManagement.menuItem.url}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="section-css-classes:cssClassNames_TEXT" value="CSS Classes:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="section-css-classes" propertyName="cssClassNames" value="#{menuManagement.menuItem.cssClassNames}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="section-icon:icon_ICON" value="Icon:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:iconselector id="section-icon" propertyName="icon" value="#{menuManagement.menuItem.icon}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="menuitem-anonymous-users" value="Anonymous Users Only:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <p:selectBooleanCheckbox id="menuitem-anonymous-users" value="#{menuManagement.menuItem.anonymousOnly}">
                                <p:ajax event="change" update="@form" listener="#{menuManagement.clearRoles()}"/>
                            </p:selectBooleanCheckbox>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{!menuManagement.menuItem.anonymousOnly}">
                            <p:outputLabel for="menuitem-restricted-roles"  value="Roles Access:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{!menuManagement.menuItem.anonymousOnly}">
                            <p:selectCheckboxMenu converter="roleConverter" layout="pageDirection" id="menuitem-restricted-roles" value="#{menuManagement.menuItem.itemRoles}" label="Restrict By Role">
                                <f:selectItems var="role" itemValue="#{role}" itemLabel="#{role.roleName}" value="#{menuManagement.userRoles}"/>
                            </p:selectCheckboxMenu>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton value="Save" action="#{menuManagement.saveMegamenuSection}" update="@form,:menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('megamenu-section-dialog').hide();removeMenuThemeIcons();}"/>
                </h:form>
            </p:dialog>

            <p:dialog id="megamenu-column-dialog" widgetVar="megamenu-column-dialog" header="Edit Column Custom Content" modal="true" closable="true" draggable="false" width="90%" style="max-width: 640px" height="500" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <iberis:editor id="menucolumn-custom" propertyName="customContent" value="#{menuManagement.menuColumn.customContent}" width="100%" />
                    <p:commandButton value="Save" action="#{menuManagement.saveMenuColumnContent}" update="@form,:menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('megamenu-column-dialog').hide();removeMenuThemeIcons();}"/>
                </h:form>
            </p:dialog>

            <p:dialog id="megamenu-sub-section-dialog" widgetVar="megamenu-sub-section-dialog" width="90%" style="max-width: 600px" header="Edit Sub Section" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="columnsubmenu-display-name:displayName_TEXT" value="Display Name:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="columnsubmenu-display-name" propertyName="displayName" valueRequired="#{empty param['skipValidation']}" value="#{menuManagement.menuItem.displayName}" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="columnsubmenu-url:url_TEXT" value="URL:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="columnsubmenu-url" propertyName="url" value="#{menuManagement.menuItem.url}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="columnsubmenu-css-classes:cssClassNames_TEXT" value="CSS Classes:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="columnsubmenu-css-classes" propertyName="cssClassNames" value="#{menuManagement.menuItem.cssClassNames}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="columnsubmenu-icon:icon_ICON" value="Icon:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:iconselector id="columnsubmenu-icon" propertyName="icon" value="#{menuManagement.menuItem.icon}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="width:width_NUMBER" value="Width:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:number id="width" value="#{menuManagement.menuItem.width}" propertyName="width" />
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton value="Save" action="#{menuManagement.saveMegamenuSection}" update="@form,:menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('megamenu-sub-section-dialog').hide();removeMenuThemeIcons();}"/>
                </h:form>
            </p:dialog>

            <p:dialog id="megamenu-item-dialog" widgetVar="megamenu-item-dialog" width="90%" style="max-width: 600px" header="Edit Menu Item" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:tabView>
                        <p:tab title="General">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-display-name:displayName_TEXT" value="Display Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="menuitem-display-name" propertyName="displayName" valueRequired="#{empty param['skipValidation']}" value="#{menuManagement.menuItem.displayName}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-url:url_URL" value="URL:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:urlselector id="menuitem-url" propertyName="url" value="#{menuManagement.menuItem.url}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="external-link:externalLink_BOOLEAN" value="External Link:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="external-link" value="#{menuManagement.menuItem.externalLink}" propertyName="externalLink"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="new-tab:openNewTab_BOOLEAN" value="Open New Tab:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="new-tab" value="#{menuManagement.menuItem.openNewTab}" propertyName="openNewTab"/>
                                </h:panelGroup>

                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Display">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-css-classes:cssClassNames_TEXT" value="CSS Classes:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="menuitem-css-classes" propertyName="cssClassNames" value="#{menuManagement.menuItem.cssClassNames}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-icon:icon_ICON" value="Icon:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:iconselector id="menuitem-icon" propertyName="icon" value="#{menuManagement.menuItem.icon}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="separator-before:separatorBefore_BOOLEAN" value="Separator Before:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="separator-before" value="#{menuManagement.menuItem.separatorBefore}" propertyName="separatorBefore"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="separator-after:separatorAfter_BOOLEAN" value="Separator After:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="separator-after" value="#{menuManagement.menuItem.separatorAfter}" propertyName="separatorAfter"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Access">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-anonymous-users" value="Anonymous Users Only:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <p:selectBooleanCheckbox id="menuitem-anonymous-users" value="#{menuManagement.menuItem.anonymousOnly}">
                                        <p:ajax event="change" update="@form" listener="#{menuManagement.clearRoles()}"/>
                                    </p:selectBooleanCheckbox>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{!menuManagement.menuItem.anonymousOnly}">
                                    <p:outputLabel for="menuitem-restricted-roles"  value="Roles Access:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{!menuManagement.menuItem.anonymousOnly}">
                                    <p:selectCheckboxMenu converter="roleConverter" layout="pageDirection" id="menuitem-restricted-roles" value="#{menuManagement.menuItem.itemRoles}" label="Restrict By Role">
                                        <f:selectItems var="role" itemValue="#{role}" itemLabel="#{role.roleName}" value="#{menuManagement.userRoles}"/>
                                    </p:selectCheckboxMenu>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                    </p:tabView>


                    <p:commandButton value="Save" action="#{menuManagement.saveMegamenuItem}" update="@form,:menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('megamenu-item-dialog').hide();removeMenuThemeIcons();}"/>
                </h:form>
            </p:dialog>

            <p:dialog id="menu-item-dialog" widgetVar="menu-item-dialog" width="90%" header="Add / Edit Menu Item" style="max-width: 600px" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:tabView scrollable="true">
                        <p:tab title="General">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-display-name:displayName_TEXT" value="Display Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="menuitem-display-name" propertyName="displayName" valueRequired="#{empty param['skipValidation']}" value="#{menuManagement.menuItem.displayName}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="sub-group:subMenuGroup_BOOLEAN" value="Is a Sub Group:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="sub-group" value="#{menuManagement.menuItem.subMenuGroup}" propertyName="subMenuGroup"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-url:url_URL" value="URL:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:urlselector id="menuitem-url" propertyName="url" value="#{menuManagement.menuItem.url}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-index:sequenceIndex_NUMBER" value="Index:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:number id="menuitem-index" propertyName="sequenceIndex" value="#{menuManagement.menuItem.sequenceIndex}"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Display">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-icon:icon_ICON" value="Icon:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:iconselector id="menuitem-icon" propertyName="icon" value="#{menuManagement.menuItem.icon}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-css-classes:cssClassNames_TEXT" value="CSS Classes:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="menuitem-css-classes" propertyName="cssClassNames" value="#{menuManagement.menuItem.cssClassNames}"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Link Options">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="external-link:externalLink_BOOLEAN" value="External Link:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="external-link" value="#{menuManagement.menuItem.externalLink}" propertyName="externalLink"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="new-tab:openNewTab_BOOLEAN" value="Open New Tab:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="new-tab" value="#{menuManagement.menuItem.openNewTab}" propertyName="openNewTab"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="separator-before:separatorBefore_BOOLEAN" value="Separator Before:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="separator-before" value="#{menuManagement.menuItem.separatorBefore}" propertyName="separatorBefore"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="separator-after:separatorAfter_BOOLEAN" value="Separator After:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="separator-after" value="#{menuManagement.menuItem.separatorAfter}" propertyName="separatorAfter"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Access">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="menuitem-anonymous-users" value="Anonymous Users Only:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <p:selectBooleanCheckbox id="menuitem-anonymous-users" value="#{menuManagement.menuItem.anonymousOnly}">
                                        <p:ajax event="change" update="@form" listener="#{menuManagement.clearRoles()}"/>
                                    </p:selectBooleanCheckbox>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{!menuManagement.menuItem.anonymousOnly}">
                                    <p:outputLabel for="menuitem-restricted-roles"  value="Roles Access:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{!menuManagement.menuItem.anonymousOnly}">
                                    <p:selectCheckboxMenu converter="roleConverter" layout="pageDirection" id="menuitem-restricted-roles" value="#{menuManagement.menuItem.itemRoles}" label="Restrict By Role">
                                        <f:selectItems var="role" itemValue="#{role}" itemLabel="#{role.roleName}" value="#{menuManagement.userRoles}"/>
                                    </p:selectCheckboxMenu>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                    </p:tabView>

                    <p:commandButton value="Save" action="#{menuManagement.saveMenuItem}" update="@form,:menu-management-form:preview-container,:menu-management-form:menu-tree-panel" oncomplete="removeMenuThemeIcons()"/>
                    <p:commandButton value="Delete" action="#{menuManagement.deleteMenuItem}" update="@form,:menu-management-form:preview-container,:menu-management-form:menu-tree-panel" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('menu-item-dialog').hide();removeMenuThemeIcons();}"/>
                </h:form>

            </p:dialog>

            <p:dialog id="mobile-preview" widgetVar="mobile-preview" width="90%" style="max-width: 400px" height="500" header="Mobile Preview" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <iframe src="/cms/mobile-menu-preview/#{menuManagement.menu.id}" style="width: 96%;height: 90%;border: none"></iframe>
            </p:dialog>

            <h:form id="menu-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-menu6"></span>
                            <h:outputText value="Menus" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <h:panelGroup id="preview-container" layout="block" styleClass="ui-g preview-container">
                    <h:panelGroup rendered="#{menuManagement.menu.type == 6}" layout="block" styleClass="ui-g-6 ui-sm-12 ui-smd-12">
                        <div class="card">
                            <h2>Preview</h2>
                            <h:outputText value="No preview available for breadcrumb menu as it requires the viewed page as a reference for bread crumb." rendered="#{menuManagement.menu.type == 6}"/>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="preview-panel" rendered="#{menuManagement.menu != null and menuManagement.menu.id > 0 and menuManagement.menu.type != 6 and menuManagement.menu.menuItemCollection.size() > 0}" layout="block" styleClass="ui-g-6 ui-sm-12 ui-smd-12">
                        <div class="card">
                            <h2>Preview
                                <p:commandLink rendered="#{menuManagement.menu.createMobile}" styleClass="#{(menuManagement.menu.type == 2 or menuManagement.menu.type == 3 or menuManagement.menu.type == 7)? 'desktop-only':''}" style="float: right;margin-top: 4px" value="Click for Mobile Preview" update=":mobile-preview" oncomplete="PF('mobile-preview').show()" >
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </h2>
                            <iberis:menu menu="#{menuManagement.menu}" mobileEnabled="false"/>
                        </div>
                    </h:panelGroup>
                </h:panelGroup>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Menu List</h2>
                            <p:commandButton value="Create" action="#{menuManagement.newMenu}" oncomplete="PF('menu-dialog').show()" >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable rowKey="#{item.id}" id="menu-grid" var="item" value="#{menuManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{menuManagement.onRowSelect}" update="@form" oncomplete="removeMenuThemeIcons();scrollToElement('#update-panel-container');"/>

                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>
                                <p:column headerText="Name" filterBy="#{item.name}">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column headerText="Menu Type" priority="3">
                                    <h:outputText value="#{menuUtil.getMenuTypeName(item.type)}"/>
                                </p:column>
                                <p:column width="80" priority="1">
                                    <p:commandLink value="Edit" action="#{menuManagement.editMenu(item)}" oncomplete="PF('menu-dialog').show();removeMenuThemeIcons();scrollToElement('#update-panel-container');" update=":menu-dialog,@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{menuManagement.deleteMenu(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="menu-tree-panel" rendered="#{menuManagement.menu.id != null and menuManagement.menu.id > 0 and menuManagement.menu.type != 6}">
                            <h2>Menu Tree</h2>

                            <h:panelGroup rendered="#{menuManagement.menu.type != 7}">
                                <p:commandButton value="New Menu Item" action="#{menuManagement.newMenuItem}" update=":menu-item-dialog" oncomplete="PF('menu-item-dialog').show()" >
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>
                                <p>You can change the order and location of the menu items by dragging them. Select a menu item to edit. Scroll up for preview.</p>
                                <p:tree selectionMode="single" animate="true" draggable="true" droppable="true" var="node" selection="#{menuManagement.selectedNode}" value="#{menuManagement.getMenuTree()}" style="width: 100%">
                                    <p:ajax event="select" update=":menu-item-dialog" listener="#{menuManagement.onNodeSelect}" oncomplete="PF('menu-item-dialog').show()" />
                                    <p:ajax event="dragdrop" update="@form" listener="#{menuManagement.onDragDrop}" />
                                    <p:treeNode>
                                        <h:outputText value="#{node}" />
                                    </p:treeNode>
                                </p:tree>
                            </h:panelGroup>
                            <h:panelGroup layout="block" rendered="#{menuManagement.menu.type == 7}">
                                <p>Megamenus are structured differently. There is no tree. Please scroll down to see megamenu structure panel.</p>
                                <p>Scroll up for preview.</p>
                            </h:panelGroup>
                        </h:panelGroup>

                    </div>
                </div>
                <ui:include src="includes/MegaMenuLayoutMgmt.xhtml"/>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>