<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="page-item-assignment-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:remoteCommand name="refreshForm" action="#{pageItemAssignmentManagement.refresh}" update="@form"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-list4"></span>
                            <h:outputText value="Page Item Assignments (Multi-Site)" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Assignment List</h2>
                            <p:commandButton value="Create" action="#{pageItemAssignmentManagement.newPageItemAssignment}" update=":page-item-assignment-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="pia-list"
                                         var="assignment"
                                         value="#{pageItemAssignmentManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">
                                <p:column headerText="Page Item" priority="0">
                                    <h:outputText value="#{pageItemAssignmentManagement.pageItemTitle(assignment)}"/>
                                </p:column>
                                <p:column headerText="Site" priority="3">
                                    <h:outputText value="#{assignment.site.siteName}"/>
                                </p:column>
                                <p:column headerText="Region" priority="4">
                                    <h:outputText value="#{assignment.pageRegion.name}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{pageItemAssignmentManagement.selectPageItemAssignment(assignment)}"
                                                   update=":page-item-assignment-management-form:pia-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{pageItemAssignmentManagement.deletePageItemAssignment(assignment)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this assignment?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{pageItemAssignmentManagement.pageItemAssignment != null}">
                                <h2>Add / Edit Assignment</h2>
                                <p:tabView>
                                    <p:tab title="General">
                                        <h:panelGroup layout="block" styleClass="ui-g">
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="site:site_PK_siteID" value="Site:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="site" callback="refreshForm" displayValue="#{pageItemAssignmentManagement.pageItemAssignment.site.siteName}" value="#{pageItemAssignmentManagement.pageItemAssignment.site.siteID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(432))}" dataBeanName="pageItemAssignmentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(432)}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{pageItemAssignmentManagement.pageItemAssignment.site.siteID > 0}">
                                                <p:outputLabel for="page-item:pageItemInstanceId" value="Page Item:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{pageItemAssignmentManagement.pageItemAssignment.site.siteID > 0}">
                                                <iberis:flexiblelookup id="page-item" filter="061|062|065|066|033|075|083|089|090" filterType="include" lookupFilter="#{pageItemAssignmentManagement.getDefaultPageItemFilter()}" dataBeanName="pageItemAssignmentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(409)}" value="#{pageItemAssignmentManagement.pageItemAssignment.pageItem}" instanceValue="#{pageItemAssignmentManagement.pageItemAssignment.pageItemInstanceId}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="page-region:pageRegion_PK_id" value="Page Region:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="page-region" displayValue="#{pageItemAssignmentManagement.pageItemAssignment.pageRegion.name}" value="#{pageItemAssignmentManagement.pageItemAssignment.pageRegion.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(408))}" dataBeanName="pageItemAssignmentManagement.pageItemAssignment" fieldProperty="#{componentsUtil.getFieldProperty(408)}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="sequence:sequence_NUMBER" value="Sequence:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:number id="sequence" value="#{pageItemAssignmentManagement.pageItemAssignment.sequence}" propertyName="sequence"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="printable:printable_BOOLEAN" value="Show Print:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:boolean id="printable" value="#{pageItemAssignmentManagement.pageItemAssignment.printable}" propertyName="printable" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="mobile-only:mobileOnly_BOOLEAN" value="Mobile Only:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:boolean id="mobile-only" value="#{pageItemAssignmentManagement.pageItemAssignment.mobileOnly}" propertyName="mobileOnly" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="desktop-only:desktopOnly_BOOLEAN" value="Desktop Only:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:boolean id="desktop-only" value="#{pageItemAssignmentManagement.pageItemAssignment.desktopOnly}" propertyName="desktopOnly" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="remove-spacer:removeSpacer_BOOLEAN" value="Remove Spacer:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:boolean id="remove-spacer" value="#{pageItemAssignmentManagement.pageItemAssignment.removeSpacer}" propertyName="removeSpacer" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="scope:scope_TEXT" value="Scope Tag:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="scope" value="#{pageItemAssignmentManagement.pageItemAssignment.scope}" propertyName="scope"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Wrapper">
                                        <h:panelGroup layout="block" styleClass="ui-g">
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="use-wrapper:useWrapper_BOOLEAN" value="Use Wrapper:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:boolean id="use-wrapper" value="#{pageItemAssignmentManagement.pageItemAssignment.useWrapper}" propertyName="useWrapper" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                                                <p:outputLabel for="begin-wrapper:beginWrapperHtml_CODE" value="Begin Wrapper Html:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                                                <iberis:code id="begin-wrapper" value="#{pageItemAssignmentManagement.pageItemAssignment.beginWrapperHtml}" codeType="text/html" propertyName="beginWrapperHtml"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                                                <p:outputLabel for="end-wrapper:endWrapperHtml_CODE" value="End Wrapper Html:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-12 ui-sm-12">
                                                <iberis:code id="end-wrapper" value="#{pageItemAssignmentManagement.pageItemAssignment.endWrapperHtml}" codeType="text/html" propertyName="endWrapperHtml"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Allowed Urls" rendered="#{pageItemAssignmentManagement.pageItemAssignment.id > 0}">
                                        <h:panelGroup>
                                            <iberis:urlselector propertyName="allowedTemp" value="#{pageItemAssignmentManagement.pageItemAssignment.allowedUrls_temp}"/>

                                            <p:commandButton value="Add" action="#{pageItemAssignmentManagement.addAllowedUrl}" update="allowed-urls-grid">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandButton>
                                            <p:dataTable id="allowed-urls-grid" var="item" rowIndexVar="index" value="#{pageItemAssignmentManagement.pageItemAssignment.allowedUrls}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                                <p:ajax event="rowEdit" listener="#{pageItemAssignmentManagement.onAllowedUrlsRowEdit}" update="allowed-urls-grid"/>
                                                <p:column>
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{item.url}"/></f:facet>
                                                        <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.url}"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column width="50">
                                                    <p:commandLink action="#{pageItemAssignmentManagement.removeAllowedUrl(item)}" value="Delete" update="allowed-urls-grid">
                                                        <f:param name="skipValidation" value="1" />
                                                    </p:commandLink>
                                                </p:column>
                                                <p:column style="width:32px">
                                                    <p:rowEditor />
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Denied Urls" rendered="#{pageItemAssignmentManagement.pageItemAssignment.id > 0}">
                                        <h:panelGroup>
                                            <iberis:urlselector propertyName="deniedTemp" value="#{pageItemAssignmentManagement.pageItemAssignment.deniedUrls_temp}"/>

                                            <p:commandButton value="Add" action="#{pageItemAssignmentManagement.addDeniedUrl}" update="denied-urls-grid">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandButton>
                                            <p:dataTable id="denied-urls-grid" var="item" rowIndexVar="index" value="#{pageItemAssignmentManagement.pageItemAssignment.deniedUrls}" editable="true" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                                <p:ajax event="rowEdit" listener="#{pageItemAssignmentManagement.onDeniedUrlsRowEdit}" update="denied-urls-grid"/>

                                                <p:column>
                                                    <p:cellEditor>
                                                        <f:facet name="output"><h:outputText value="#{item.url}"/></f:facet>
                                                        <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.url}"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column width="50">
                                                    <p:commandLink action="#{pageItemAssignmentManagement.removeDeniedUrl(item)}" value="Delete" update="denied-urls-grid">
                                                        <f:param name="skipValidation" value="1" />
                                                    </p:commandLink>
                                                </p:column>
                                                <p:column style="width:32px">
                                                    <p:rowEditor />
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGroup>
                                    </p:tab>
                                </p:tabView>


                                <p:commandButton action="#{pageItemAssignmentManagement.savePageItemAssignment}" value="Save" update="@form"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>