<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="presentation-management">
            <p:dialog id="preview-dialog" widgetVar="preview-dialog" header="Preview" modal="true" closable="true" draggable="false" appendTo="@(body)" width="90%" height="500" style="max-width: 500px">
                <h:panelGroup rendered="#{presentationManagement.presentation != null and presentationManagement.presentation.id > 0}">
                    <iframe width="98%" height="98%" frameborder="0" src="#{request.contextPath}/cms/presentation-preview/#{presentationManagement.presentation.id}"></iframe>
                </h:panelGroup>
            </p:dialog>
            <h:form id="presentation-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-grid5"></span>
                            <h:outputText value="Presentations" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Presentation List</h2>
                            <p:commandButton value="Create" action="#{presentationManagement.newPresentation}" update="@form" >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable selection="#{presentationManagement.previewPresentation}" rowKey="#{item.id}" id="presentation-grid" var="item" value="#{presentationManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{presentationManagement.onRowSelect}" update="@form" oncomplete="scrollToElement('#update-panel-container');"/>

                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>
                                <p:column headerText="Name" filterBy="#{item.name}" priority="1">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column headerText="Presentation Type" priority="2">
                                    <h:outputText value="#{presentationManagement.getPresentationTypeName(item.presentationType)}"/>
                                </p:column>
                                <p:column width="80" priority="3">
                                    <p:commandLink value="Edit" action="#{presentationManagement.edit(item)}" update="@form" oncomplete="scrollToElement('#update-panel-container');">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="4">
                                    <p:commandLink value="Delete" action="#{presentationManagement.delete(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>

                    </div>
                    <div class="ui-g-6 ui-sm-12 ui-smd-12" id="update-panel-container">
                        <h:panelGroup layout="block" styleClass="card" id="presentation-update-panel" rendered="#{presentationManagement.presentation != null}">
                            <h2>Add / Edit Presentation</h2>
                            <ui:include src="includes/PresentationForm.xhtml"/>
                            <p:commandButton value="Save" action="#{presentationManagement.save}" update="presentation-grid, presentation-update-panel, :preview-dialog"/>

                            <p:button value="Edit Slides" href="/cms/presentation-slide-management/#{presentationManagement.presentation.id}" rendered="#{presentationManagement.presentation != null and presentationManagement.presentation.id > 0}"/>
                            <p:splitButton value="Preview" rendered="#{presentationManagement.presentation != null and presentationManagement.presentation.id > 0}" update=":preview-dialog" oncomplete="$('div.preload').each(function(){ $(this).show(); });PF('preview-dialog').show()">
                                <f:param name="skipValidation" value="1" />
                                <p:menuitem value="In New Tab" url="#{request.contextPath}/cms/presentation-preview/#{presentationManagement.presentation.id}" target="_blank"/>
                            </p:splitButton>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>