<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="presentation-management">
            <p:dialog id="slide-dialog" widgetVar="slide-dialog" header="Edit Slide Content" width="90%" height="550" style="max-width: 680px" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form id="slide-form">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:remoteCommand name="refreshSlideForm" action="#{presentationManagement.refreshSlide}" update="@form"/>
                    <p:commandButton value="Save" style="margin-bottom: 5px" action="#{presentationManagement.saveSlide}" update="@form,:presentation-management-form,:preview-dialog" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('slide-dialog').hide()"/>
                    <p:tabView dynamic="false" scrollable="true">
                        <p:tab title="General">
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="title:title_TEXT" value="Title:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="title" propertyName="title" value="#{presentationManagement.currentSlide.title}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="learnMoreUrl:learnMoreUrl_TEXT" value="Learn More URL:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="learnMoreUrl" propertyName="learnMoreUrl" value="#{presentationManagement.currentSlide.learnMoreUrl}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="learnMoreText:learnMoreText_TEXT" value="Learn More Text:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="learnMoreText" value="#{presentationManagement.currentSlide.learnMoreText}" propertyName="learnMoreText"/>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Image">
                            <p>You can add image by upload or select existing one.</p>
                            <p:fileUpload id="image-uploader" fileUploadListener="#{presentationManagement.handleImageUpload}"
                                          mode="advanced"
                                          dragDropSupport="false" multiple="true" sizeLimit="5000000" fileLimit="1"
                                          allowTypes="/(\.|\/)(gif|png|jpg|jpeg)$/"
                                          update="image-section"/>
                            <h:panelGroup styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="image:image_PK_imageid" value="Image:"/>
                                </h:panelGroup>
                                <h:panelGroup id="image-section" layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <h:panelGroup>
                                        <iberis:lookup id="image" callback="refreshSlideForm" displayValue="#{presentationManagement.currentSlide.image.name}" value="#{presentationManagement.currentSlide.image.imageid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(368))}" dataBeanName="presentationManagement.currentSlide" fieldProperty="#{componentsUtil.getFieldProperty(368)}"/>
                                        <h:graphicImage style="max-width: 200px" rendered="#{presentationManagement.currentSlide.image != null and presentationManagement.currentSlide.image.imageid > 0}" value="#{presentationManagement.currentSlide.image.filePath}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Video">
                            <p>You can add video by upload, url, or select existing one.</p>
                            <p:fileUpload id="video-uploader" fileUploadListener="#{presentationManagement.handleVideoUpload}"
                                          mode="advanced"
                                          dragDropSupport="false" multiple="true" sizeLimit="25000000" fileLimit="10"
                                          allowTypes="/(\.|\/)(mpeg|mp4|mpg|webm|ogg|mp3)$/"
                                          update="video-section"/>
                            <h:outputLink onclick="PF('embed-dialog').show();return false" value="#">Create Video from Url</h:outputLink>
                            <h:panelGroup id="video-section" layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="video:video_PK_id" value="Video:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="video" callback="refreshSlideForm" displayValue="#{presentationManagement.currentSlide.video.name}" value="#{presentationManagement.currentSlide.video.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(617))}" dataBeanName="presentationManagement.currentSlide" fieldProperty="#{componentsUtil.getFieldProperty(617)}"/>
                                </h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup layout="block" style="max-width: 300px" rendered="#{presentationManagement.currentSlide.video != null and presentationManagement.currentSlide.video.id > 0}">
                                <iberis:videoplayer video="#{presentationManagement.currentSlide.video}"/>
                            </h:panelGroup>
                        </p:tab>
                        <p:tab title="Caption">
                            <iberis:editor width="100%" height="200px" id="caption" propertyName="caption" value="#{presentationManagement.currentSlide.caption}"/>
                        </p:tab>
                        <p:tab title="Custom Content">
                            <iberis:editor width="100%" height="200px" id="customContent" propertyName="customContent" value="#{presentationManagement.currentSlide.customContent}"/>
                        </p:tab>
                    </p:tabView>

                </h:form>
            </p:dialog>
            <p:dialog id="embed-dialog" widgetVar="embed-dialog" width="90%" style="max-width: 600px" header="Create Video" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:outputLabel value="Video Name:" for="video-name:videoName_TEXT"/>
                        </div>
                        <div class="ui-g-12">
                            <iberis:text id="video-name" propertyName="videoName" value="#{presentationManagement.videoName}" valueRequired="true"/>
                        </div>
                        <div class="ui-g-12">
                            <p:outputLabel value="Url to Embed: (Use embed url if not auto converted)" for="embed-url:embedUrl_TEXT"/>
                        </div>
                        <div class="ui-g-12">
                            <iberis:text id="embed-url" propertyName="embedUrl" value="#{presentationManagement.videoUrl}" valueRequired="true"/>
                        </div>
                    </div>

                    <p:commandButton value="Create Video" action="#{presentationManagement.generateVideoFromUrl}" update=":slide-dialog" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('embed-dialog').hide();}"/>
                </h:form>
            </p:dialog>
            <p:dialog id="presentation-slide-dialog" widgetVar="presentation-slide-dialog" width="90%" header="Add / Change Slide" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form id="presentation-slide-form">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="slide:slide_PK_id" value="Slide:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:lookup id="slide" buttonDisabled="true" displayValue="#{presentationManagement.presentationSlide.slide.title}" value="#{presentationManagement.presentationSlide.slide.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(437))}" dataBeanName="presentationManagement.presentationSlide" fieldProperty="#{componentsUtil.getFieldProperty(437)}" valueRequired="true"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="sequence:sequence_NUMBER" value="Sequence:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:number id="sequence" value="#{presentationManagement.presentationSlide.sequence}" propertyName="sequence"/>
                        </h:panelGroup>
                    </h:panelGroup>
                    <p:commandButton value="Save" action="#{presentationManagement.savePresentationSlide}" update="@form,:presentation-management-form,:preview-dialog" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('presentation-slide-dialog').hide()"/>
                </h:form>
            </p:dialog>
            <p:dialog id="preview-dialog" widgetVar="preview-dialog" header="Preview" modal="true" closable="true" draggable="false" appendTo="@(body)" width="90%" height="500" style="max-width: 600px">
                <iframe width="98%" height="98%" frameborder="0" src="#{request.contextPath}/cms/presentation-preview/#{presentationManagement.presentation.id}"></iframe>
            </p:dialog>
            <h:form id="presentation-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-grid5"></span>
                            <h:outputText value="Presentation" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <p:button type="button" value="Back to Presentation List" outcome="pretty:presentation-management"/>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" id="presentation-slide-panel" styleClass="card">
                            <h2>Presentation Slides</h2>
                            <p:commandButton value="Create" oncomplete="PF('slide-dialog').show()" update=":slide-dialog" action="#{presentationManagement.newSlide}">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:commandButton value="Add Existing Slide" oncomplete="PF('presentation-slide-dialog').show()" update=":presentation-slide-dialog" action="#{presentationManagement.newSlide}">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable rowKey="#{item.id}" id="slide-grid" var="item" value="#{presentationManagement.presentation.presentationSlides}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{presentationManagement.onRowSlideSelect}" update="@form"/>

                                <p:column headerText="Title" priority="0">
                                    <h:outputText value="#{item.slide.title}"/>
                                </p:column>
                                <p:column priority="3">
                                    <p:commandLink value="Set Slide" action="#{presentationManagement.selectPresentationSlide(item)}" update=":presentation-slide-dialog" oncomplete="PF('presentation-slide-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column priority="1">
                                    <p:commandLink value="Edit Slide" action="#{presentationManagement.selectPresentationSlide(item)}" update=":slide-dialog" oncomplete="PF('slide-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column priority="2">
                                    <p:commandLink value="Delete" action="#{presentationManagement.deletePresentationSlide(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                        </h:panelGroup>
                    </div>
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" id="presentation-update-panel" styleClass="card" rendered="#{presentationManagement.presentation != null}">
                            <h2>Edit Presentation</h2>
                            <ui:include src="includes/PresentationForm.xhtml"/>

                            <p:commandButton value="Save" action="#{presentationManagement.save}" update="presentation-update-panel, :preview-dialog"/>
                            <p:splitButton value="Preview" update=":preview-dialog" oncomplete="$('div.preload').each(function(){ $(this).show(); });PF('preview-dialog').show()">
                                <f:param name="skipValidation" value="1" />
                                <p:menuitem value="In New Tab" url="#{request.contextPath}/cms/presentation-preview/#{presentationManagement.presentation.id}" target="_blank"/>
                            </p:splitButton>
                            <p:messages><p:autoUpdate /></p:messages>
                         </h:panelGroup>
                    </div>

                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>