<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="site-management">
            <p:dialog id="site-association-dialog" widgetVar="site-association-dialog" width="90%" style="max-width: 500px" header="Add / Edit Site Assocation" appendTo="@(body)" draggable="false"
                      modal="true" resizable="false">
                <h:form style="padding: 10px">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="unit:unit_PK_unitID" value="Unit:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:lookup id="unit" value="#{siteManagement.unitSiteAssociation.unit.unitID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(580))}" dataBeanName="siteManagement.unitSiteAssociation" fieldProperty="#{componentsUtil.getFieldProperty(580)}" valueRequired="#{empty param['skipValidation']}"/>
                        </h:panelGroup>
                    </h:panelGroup>

                    <p:commandButton action="#{siteManagement.saveUnitSiteAssociation}" value="Save"
                                     oncomplete="PF('site-association-dialog').hide()"
                                     update=":site-management-form"/>
                </h:form>
            </p:dialog>
            <h:form id="site-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-globe"></span>
                            <h:outputText value="Sites" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <p:toolbar>
                            <f:facet name="left">
                                <h:panelGrid columns="2">
                                    <p:commandButton value="Create" action="#{siteManagement.newSite}" update="@form" >
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandButton>
                                </h:panelGrid>
                            </f:facet>
                        </p:toolbar>
                        <p:dataTable id="site-grid" var="item" value="#{siteManagement.loader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">

                            <p:column headerText="Name" filterBy="#{item.siteName}" priority="0">
                                <h:outputText value="#{item.siteName}"/>
                            </p:column>
                            <p:column headerText="Url" filterBy="#{item.url}" priority="3">
                                <h:outputText value="#{item.url}"/>
                            </p:column>
                            <p:column width="80" priority="1">
                                <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');" action="#{siteManagement.selectSite(item)}" update="@form">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>
                            <p:column width="80" priority="2">
                                <p:commandLink value="Delete" action="#{siteManagement.deleteSite(item)}" update="@form">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>

                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <p:panel id="site-update-panel" header="Add/Edit Site" rendered="#{siteManagement.site != null}">
                            <p:tabView scrollable="true">
                                <p:tab title="General">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="site-name:siteName_TEXT" value="Site Name:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="site-name" propertyName="siteName" value="#{siteManagement.site.siteName}" valueRequired="#{empty param['skipValidation']}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="url:url_TEXT" value="URL:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="url" propertyName="url" value="#{siteManagement.site.url}" valueRequired="#{empty param['skipValidation']}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="site-type:siteType_PK_typeID" value="Site Type:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="site-type" displayValue="#{siteManagement.site.siteType.type}" value="#{siteManagement.site.siteType.typeID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(34))}" dataBeanName="siteManagment.site" fieldProperty="#{componentsUtil.getFieldProperty(34)}"/>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="Mail">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-platform:mailPlatform_SELECTION" value="Mail Platform:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:selection id="mail-platform" listItems="#{listUtil.getUnitPropertyList('1,Mail Server|2,Mail Gun')}" propertyName="mailPlatform" value="#{siteManagement.site.mailPlatform}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-from:mailFrom_TEXT" value="Mail From:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="mail-from" propertyName="mailFrom" value="#{siteManagement.site.mailFrom}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-host:mailHost_TEXT" value="Mail Host:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="mail-host" propertyName="mailHost" value="#{siteManagement.site.mailHost}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-port:mailPort_NUMBER" value="Mail Port:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:number id="mail-port" propertyName="mailPort" value="#{siteManagement.site.mailPort}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-use-ssl:mailUseSSL_BOOLEAN" value="Mail Use SSL:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="mail-use-ssl" propertyName="mailUseSSL" value="#{siteManagement.site.mailUseSSL}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-user:mailUser_TEXT" value="Mail User:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="mail-user" propertyName="mailUser" value="#{siteManagement.site.mailUser}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="mail-user-password:mailUserPassword_TEXT" value="Mail User Password / Token:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="mail-user-password" propertyName="mailUserPassword" value="#{siteManagement.site.mailUserPassword}" />
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="CMS Settings">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="logo:logo_PK_imageid" value="Logo:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <h:panelGroup>
                                                <iberis:lookup id="logo" value="#{siteManagement.site.logo.imageid}" displayValue="#{siteManagement.site.logo.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(576))}" dataBeanName="siteManagement.site" fieldProperty="#{componentsUtil.getFieldProperty(576)}" valueRequired="false"/>
                                                <h:graphicImage rendered="#{siteManagement.site.logo != null and siteManagement.site.logo.imageid > 0}" value="#{siteManagement.site.logo.filePath}" style="max-width: 200px"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="front-page-content:frontPageContent_PK_id" value="Front Page Content:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="front-page-content" displayValue="#{siteManagement.site.frontPageContent.title}" value="#{siteManagement.site.frontPageContent.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(479))}" dataBeanName="siteManagement.site" fieldProperty="#{componentsUtil.getFieldProperty(479)}" filter="LEFT JOIN o.sites AS s WHERE s.siteID = #{siteManagement.site.siteID} or o.availableGlobal = 1"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="front-page-template:frontPageTemplate_PK_id" value="Front Page Template:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="front-page-template" valueRequired="#{empty param['skipValidation']}" displayValue="#{siteManagement.site.frontPageTemplate.name}" value="#{siteManagement.site.frontPageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(477))}" dataBeanName="siteManagement.site" fieldProperty="#{componentsUtil.getFieldProperty(477)}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="inner-page-template:innerPageTemplate_PK_id" value="Inner Page Template:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="inner-page-template" valueRequired="#{empty param['skipValidation']}" displayValue="#{siteManagement.site.innerPageTemplate.name}" value="#{siteManagement.site.innerPageTemplate.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(478))}" dataBeanName="siteManagement.site" fieldProperty="#{componentsUtil.getFieldProperty(478)}"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="show-front-page-content:showFrontPageContent_BOOLEAN" value="Show Front Page Content:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="show-front-page-content" value="#{siteManagement.site.showFrontPageContent}" propertyName="showFrontPageContent" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="center-regions:centerRegions_BOOLEAN" value="Center Regions:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="center-regions" value="#{siteManagement.site.centerRegions}" propertyName="centerRegions" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="registration:allowRegistration_BOOLEAN" value="Allow Registration:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="registration" value="#{siteManagement.site.allowRegistration}" propertyName="allowRegistration" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="username-email:emailAsUsername_BOOLEAN" value="Email As Username:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:boolean id="username-email" value="#{siteManagement.site.emailAsUsername}" propertyName="emailAsUsername" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="login-html:customLoginHtml_CODE" value="Login Header Html:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:code id="login-html" value="#{siteManagement.site.customLoginHtml}" codeType="text/html" propertyName="customLoginHtml" />
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="Meta Data">
                                    <h:panelGroup layout="block" styleClass="ui-g">
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="meta-title:metaTitle_TEXT" value="Title:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:text id="meta-title" propertyName="metaTitle" value="#{siteManagement.site.metaTitle}" />
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                            <p:outputLabel for="meta-description:metaDescription_TEXTAREA" value="Description:"/>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                            <iberis:textarea id="meta-description" propertyName="metaDescription" value="#{siteManagement.site.metaDescription}" />
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </p:tab>
                                <p:tab title="Unit Associations">
                                    <p:toolbar>
                                        <f:facet name="left">
                                            <p:commandButton action="#{siteManagement.newUnitSiteAssociation}" update=":site-association-dialog" oncomplete="PF('site-association-dialog').show()" escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Add">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandButton>
                                        </f:facet>
                                    </p:toolbar>
                                    <p:dataTable value="#{siteManagement.site.unitSiteAssociations}" var="item" paginator="true" rows="15" rowsPerPageTemplate="8,15,25,50">
                                        <p:column headerText="Unit">
                                            <h:outputText value="#{item.unit.unitName}"/>
                                        </p:column>
                                        <p:column headerText="">
                                            <p:commandLink value="Edit" action="#{siteManagement.selectUnitSiteAssociation(item)}" update=":site-association-dialog" oncomplete="PF('site-association-dialog').show()">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandLink>
                                        </p:column>
                                        <p:column headerText="">
                                            <p:commandLink action="#{siteManagement.deleteUnitSiteAssociation(item)}" update="@form">Delete</p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </p:tab>
                            </p:tabView>
                            <p:commandButton value="Save" action="#{siteManagement.saveSite}" update="@form"/>
                            <p:messages><p:autoUpdate /></p:messages>
                        </p:panel>
                    </div>
                </div>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>