<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="slide-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:remoteCommand name="refreshSlideForm" action="#{slideManagement.refreshSlide}" update="@form"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-expand2"></span>
                            <h:outputText value="Slides" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Slide List</h2>
                            <p:commandButton value="Create" action="#{slideManagement.newSlide}" update=":slide-management-form:slide-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable id="slide-list"
                                         var="slide"
                                         value="#{slideManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">

                                <p:column headerText="Presentations" priority="4">
                                    <h:outputText value="#{slideManagement.slideFoundIn(slide)}"/>
                                </p:column>
                                <p:column headerText="Title" filterBy="#{slide.title}" priority="0">
                                    <h:outputText value="#{slide.title}"/>
                                </p:column>
                                <p:column headerText="Image" filterBy="#{slide.image.name}" priority="3">
                                    <h:graphicImage style="max-width: 150px" rendered="#{slide.image != null and slide.image.imageid > 0}" value="#{slide.image.filePath}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{slideManagement.selectSlide(slide)}"
                                                   update=":slide-management-form:slide-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{slideManagement.deleteSlide(slide)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this slide?"
                                                   icon="ui-icon-alert"/>
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="slide-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{slideManagement.currentSlide != null}">
                                <h2>Add / Edit Slide</h2>

                                <p:tabView dynamic="false" scrollable="true">
                                    <p:tab title="General">
                                        <h:panelGroup layout="block" styleClass="ui-g">
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="title:title_TEXT" value="Title:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="title" propertyName="title" value="#{slideManagement.currentSlide.title}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="image:image_PK_imageid" value="Image:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <h:panelGroup>
                                                    <iberis:lookup id="image" callback="refreshSlideForm" displayValue="#{slideManagement.currentSlide.image.name}" value="#{slideManagement.currentSlide.image.imageid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(368))}" dataBeanName="slideManagement.currentSlide" fieldProperty="#{componentsUtil.getFieldProperty(368)}"/>
                                                    <h:graphicImage style="max-width: 200px" rendered="#{slideManagement.currentSlide.image != null and slideManagement.currentSlide.image.imageid > 0}" value="#{slideManagement.currentSlide.image.filePath}"/>
                                                </h:panelGroup>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="learnMoreUrl:learnMoreUrl_TEXT" value="Learn More URL:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="learnMoreUrl" propertyName="learnMoreUrl" value="#{slideManagement.currentSlide.learnMoreUrl}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="learnMoreText:learnMoreText_TEXT" value="Learn More Text:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="learnMoreText" value="#{slideManagement.currentSlide.learnMoreText}" propertyName="learnMoreText"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Video">
                                        <h:panelGroup layout="block" styleClass="ui-g">
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="video:video_PK_id" value="Video:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="video" callback="refreshSlideForm" displayValue="#{slideManagement.currentSlide.video.name}" value="#{slideManagement.currentSlide.video.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(617))}" dataBeanName="slideManagement.currentSlide" fieldProperty="#{componentsUtil.getFieldProperty(617)}"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                        <h:panelGroup layout="block" rendered="#{slideManagement.currentSlide.video != null and slideManagement.currentSlide.video.id > 0}">
                                            <iberis:videoplayer video="#{slideManagement.currentSlide.video}"/>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Caption">
                                        <iberis:editor id="caption" propertyName="caption" value="#{slideManagement.currentSlide.caption}" width="100%"/>
                                    </p:tab>
                                    <p:tab title="Custom Content">
                                        <iberis:editor id="customContent" propertyName="customContent" value="#{slideManagement.currentSlide.customContent}" width="100%"/>
                                    </p:tab>
                                </p:tabView>

                                <p:commandButton action="#{slideManagement.saveSlide}" value="Save" update="@form"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>