<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="/templates/base/EmptyTemplate.xhtml">
            
            <ui:define name="main-content">
                <style type="text/css">
                    .ui-layout-pane-north, div.ui-layout-pane-north div.ui-layout-unit-content
                    {
                        overflow: hidden;
                        border: none;
                    }

                    .ui-layout-pane-south
                    {
                        overflow: hidden;
                        border: none;
                    }

                    .ui-layout-center
                    {
                        border: none;
                    }
                </style>

                <p:layout fullPage="true">
                    <p:layoutUnit position="north" >
                        <p:panel style="border: none">
                            <f:facet name="header">
                                <h:panelGrid columns="2">
                                    <span style="font-size: 1.4em" class="icon-link2"></span>
                                    <h:outputText value="URLs" style="font-size: 1.25em;margin-left: 20px" />
                                </h:panelGrid>
                            </f:facet>
                            Please select the appropriate content url and it will be populated in the lookup control that you clicked.

                        </p:panel>
                    </p:layoutUnit>
                    <p:layoutUnit position="center">
                        <h:form id="unitGridForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <p:dataTable id="unitDataTable"
                                            var="item" value="#{urlSelector.contentGenericLazyLoader}"  lazy="true" rendered="true" rows="10"
                                            rowsPerPageTemplate="10,15,25,50,150,250"  style="margin-top: 10px" editable="true"
                                            paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                <p:ajax event="rowSelectRadio" listener="#{urlSelector.onRowSelect}" update="@form,:lookupGridToolbarForm:lookupGridToolbar" />

                                <p:column selectionMode="single" style="width:16px;text-align:center" />

                                <p:column headerText="Url" filterBy="#{item.urlAlias}">
                                    <h:outputText value="/content/${item.urlAlias}"/>
                                </p:column>

                            </p:dataTable>
                        </h:form>
                    </p:layoutUnit>
                    <p:layoutUnit position="south" size="75">
                        <h:form id="lookupGridToolbarForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <p:toolbar id="lookupGridToolbar">
                                <f:facet name="left">

                                    <p:outputLabel style="margin: 10px;" rendered="#{urlSelector.selectedContent.urlAlias != null}" value="Selection: /content/#{urlSelector.selectedContent.urlAlias}"/>

                                </f:facet>
                                <f:facet name="right">
                                        <p:commandButton value="Ok" onclick="fillInResourceBundle('#{urlSelector.referencedDisplayField}', '/content/#{urlSelector.selectedContent.urlAlias}')"/>
                                        <p:commandButton type="button" value="Cancel" onclick="closeLookupDialog();"/>
                                        <p:commandButton type="button" value="No Value" onclick="clearResourceBundleValue('#{urlSelector.referencedDisplayField}');closeLookupDialog();"/>
                                </f:facet>
                            </p:toolbar>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </ui:define>
        </ui:composition>
    </body>
</html>

