<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="image-management">
            <ui:include src="includes/VideoEmbedDialog.xhtml"/>
            <h:form id="video-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-film4"></span>
                            <h:outputText value="Videos" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>Video Upload</h2>
                    <p:fileUpload id="content-files" fileUploadListener="#{videoManagement.handleVideoUpload}"
                                  mode="advanced"
                                  dragDropSupport="false" multiple="true" sizeLimit="25000000" fileLimit="10"
                                  allowTypes="/(\.|\/)(mpeg|mp4|mpg|webm|ogg|mp3)$/"
                                  update="@form"/>
                </h:panelGroup>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Video List</h2>
                            <p:commandButton value="Create" action="#{videoManagement.newVideo}" update="@form">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable rowKey="#{item.id}" id="video-grid" var="item" value="#{videoManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{videoManagement.onRowSelect}" update="@form" oncomplete="scrollToElement('.video-update-panel');"/>

                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>

                                <p:column headerText="Name" filterBy="#{item.name}" priority="1">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column headerText="File Path" filterBy="#{item.filePath}" priority="2">
                                    <h:outputText value="#{item.filePath}"/>
                                </p:column>
                                <p:column width="100" priority="3">
                                    <p:commandLink value="Delete" action="#{videoManagement.delete(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>

                            </p:dataTable>
                        </h:panelGroup>

                    </div>
                    <h:panelGroup id="update-panel-container" layout="block" styleClass="ui-g-6 ui-sm-12 ui-smd-12 video-update-panel">
                        <h:panelGroup layout="block" styleClass="card" id="video-update-panel" rendered="#{videoManagement.video != null}">
                            <h2>Add / Edit Video</h2>
                            <ui:include src="includes/VideoForm.xhtml"/>
                            <p:commandButton value="Save" action="#{videoManagement.save}" update="video-grid, update-panel-container"/>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="card" rendered="#{videoManagement.video != null and videoManagement.video.id > 0}">
                            <h2>Preview</h2>
                            <iberis:videoplayer video="#{videoManagement.video}"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </div>
            </h:form>
        </div>

        <script type="text/javascript">
            $(document).ready(function()
            {
                if (#{(videoManagement.video.id != null)? videoManagement.video.id: 0} &gt; 0)
                {
                    scrollToElement('.video-update-panel');
                }
            });
        </script>
    </ui:define>
</ui:composition>
</body>
</html>