<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="vocab-management">

            <p:dialog id="vocab-dialog" widgetVar="vocab-dialog" header="Create / Edit Tag Group" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <p:messages><p:autoUpdate /></p:messages>
                <h:form>
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="vocab-name:name_TEXT" value="Tag Group Name:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:text id="vocab-name" propertyName="name" value="#{vocabManagement.vocab.name}" valueRequired="true"/>
                        </h:panelGroup>
                    </h:panelGroup>
                    <p:commandButton value="Save" action="#{vocabManagement.saveVocabulary}" update="@form,:vocab-management-form" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('vocab-dialog').hide()"/>
                </h:form>
            </p:dialog>
            <h:form id="vocab-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-tag7"></span>
                            <h:outputText value="Tags" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>

                <p:messages><p:autoUpdate /></p:messages>

                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Tag List</h2>
                            <p:commandButton value="Create" action="#{vocabManagement.newVocabulary}" oncomplete="PF('vocab-dialog').show()" update="@form,:vocab-dialog" >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable rowKey="#{item.id}" id="vocab-grid" var="item" value="#{vocabManagement.genericLazyLoader}" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" lazy="true">
                                <p:ajax event="rowSelectRadio" listener="#{vocabManagement.onRowSelect}" update="@form"/>
                                <p:column selectionMode="single" style="width:16px;text-align:center" priority="0"/>
                                <p:column headerText="Tag Group" filterBy="#{item.name}" priority="1">
                                    <h:outputText value="#{item.name}"/>
                                </p:column>
                                <p:column width="80" priority="2">
                                    <p:commandLink value="Edit" action="#{vocabManagement.editVocabulary(item)}" oncomplete="PF('vocab-dialog').show()" update=":vocab-dialog,@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column width="80" priority="3">
                                    <p:commandLink value="Delete" action="#{vocabManagement.deleteVocabulary(item)}" update="@form">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card" id="vocab-item-update-panel" rendered="#{vocabManagement.vocab != null and vocabManagement.vocab.id > 0}">
                            <h2>Add / Edit Tag</h2>
                            <h:panelGroup layout="block" styleClass="ui-g">
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="vocabitem-display-name:name_TEXT" value="Name:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:text id="vocabitem-display-name" propertyName="name" valueRequired="#{empty param['skipValidation']}" value="#{vocabManagement.vocabTerm.name}" />
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="vocabitem-index:sequenceIndex_NUMBER" value="Index:"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                    <iberis:number id="vocabitem-index" propertyName="sequenceIndex" value="#{vocabManagement.vocabTerm.sequenceIndex}"/>
                                </h:panelGroup>
                            </h:panelGroup>

                            <p:commandButton value="Save" action="#{vocabManagement.saveVocabTerm}" update="@form"/>
                            <p:commandButton value="New" action="#{vocabManagement.newVocabTerm}" update="@form">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:commandButton value="Delete" action="#{vocabManagement.deleteSelectedTerm}" update="@form">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:messages><p:autoUpdate /></p:messages>
                        </h:panelGroup>
                    </div>
                </div>
                <div>
                    <p:panel id="vocab-tree-panel" header="Tag Tree" rendered="#{vocabManagement.vocab.id != null and vocabManagement.vocab.id > 0 and vocabManagement.vocab.vocabTermCollection.size() > 0}">
                        <p:tree selectionMode="single" draggable="true" droppable="true" var="node"
                                selection="#{vocabManagement.selectedNode}" value="#{vocabManagement.getVocabularyTree()}"
                                style="width: 100%">
                            <p:ajax event="select" update=":vocab-management-form:vocab-item-update-panel"
                                    listener="#{vocabManagement.onNodeSelect}"/>
                            <p:ajax event="dragdrop" update="@form" listener="#{vocabManagement.onDragDrop}"/>
                            <p:treeNode>
                                <h:outputText value="#{node}"/>
                            </p:treeNode>
                        </p:tree>
                    </p:panel>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>