<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="manufacturer-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-office"></span>
                            <h:outputText value="Manufacturers" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Manufacturer List</h2>
                            <p:commandButton value="Create" action="#{manufacturerManagement.newManufacturer}" update=":manufacturer-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable id="pia-list"
                                         var="manufacturer"
                                         value="#{manufacturerManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">
                                <p:column headerText="Name" filterBy="#{manufacturer.name}" priority="0">
                                    <h:outputText value="#{manufacturer.name}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{manufacturerManagement.selectManufacturer(manufacturer)}"
                                                   update=":manufacturer-management-form:pia-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{manufacturerManagement.deleteManufacturer(manufacturer)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this manufacturer?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{manufacturerManagement.manufacturer != null}">
                                <h2>Add / Edit Manufacturer</h2>
                                <h:panelGroup layout="block" styleClass="ui-g">
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel for="name:name_TEXT" value="Name:"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:text id="name" value="#{manufacturerManagement.manufacturer.name}" propertyName="name" valueRequired="#{empty param['skipValidation']}"/>
                                    </h:panelGroup>
                                </h:panelGroup>

                                <h:panelGroup layout="block" rendered="#{manufacturerManagement.siteList.size() > 1}">
                                    <h4>Sites</h4>
                                    <hr/>
                                    <h:panelGrid columns="2">
                                        <p:selectOneMenu styleClass="select-field" value="#{manufacturerManagement.siteListValue}">
                                            <f:selectItems value="#{manufacturerManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                        </p:selectOneMenu>
                                        <p:commandButton value="Add" action="#{manufacturerManagement.addSite}" update="site-list">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandButton>
                                    </h:panelGrid>

                                    <p:dataTable value="#{manufacturerManagement.manufacturer.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                                        <p:column headerText="Name">
                                            <h:outputText value="#{item.siteName}"/>
                                        </p:column>
                                        <p:column styleClass="delete-link" width="70">
                                            <p:commandLink value="Remove" action="#{manufacturerManagement.removeSite(item)}"
                                                           update="@form"
                                                           style="margin-left: 10px" rendered="#{manufacturerManagement.inSiteList(item.siteID)}">
                                                <f:param name="skipValidation" value="1" />
                                                <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                           icon="ui-icon-alert"/>
                                            </p:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>

                                <p:commandButton action="#{manufacturerManagement.saveManufacturer}" value="Save" update="@form"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>