<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>
            <p:dialog id="preview-dialog" widgetVar="preview-dialog" header="Preview" modal="true" closable="true" draggable="false" appendTo="@(body)" width="90%" height="500" dynamic="true" style="max-width: 600px">
                <iberis:productcatalog catalog="#{productCatalogManagement.productCatalog}"/>
            </p:dialog>
            <h:form id="product-catalog-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-box4"></span>
                            <h:outputText value="Product Catalogs" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Catalog List</h2>
                            <p:commandButton value="Create" action="#{productCatalogManagement.newProductCatalog}" update=":product-catalog-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="pia-list"
                                         var="catalog"
                                         value="#{productCatalogManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">

                                <p:column headerText="Name" filterBy="#{catalog.name}" priority="0">
                                    <h:outputText value="#{catalog.name}"/>
                                </p:column>
                                <p:column headerText="Site" filterBy="#{catalog.site.siteName}" priority="3">
                                    <h:outputText value="#{catalog.site.siteName}"/>
                                </p:column>
                                <p:column headerText="Url Alias" filterBy="#{catalog.urlAlias}" priority="4">
                                    <h:outputText value="#{catalog.urlAlias}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{productCatalogManagement.selectProductCatalog(catalog)}"
                                                   update=":product-catalog-management-form:pia-update-panel, :preview-dialog">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{productCatalogManagement.deleteProductCatalog(catalog)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this product catalog?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{productCatalogManagement.productCatalog != null}">
                                <h2>Add / Edit Product Catalog</h2>
                                <p:tabView scrollable="true">
                                    <p:tab title="General">
                                        <h:panelGroup layout="block" styleClass="ui-g">

                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="name:name_TEXT" value="Name:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="name" value="#{productCatalogManagement.productCatalog.name}" propertyName="name" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="url-alias:urlAlias_TEXT" value="Url Alias:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="url-alias" value="#{productCatalogManagement.productCatalog.urlAlias}" propertyName="urlAlias" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="site:site_PK_siteID" value="Site:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="site" value="#{productCatalogManagement.productCatalog.site.siteID}" displayValue="#{productCatalogManagement.productCatalog.site.siteName}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(560))}" dataBeanName="productCatalogManagement.productCatalog" fieldProperty="#{componentsUtil.getFieldProperty(560)}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="title-size:titleSize_SELECTION" value="Title Size:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:selection id="title-size" propertyName="titleSize" value="#{productCatalogManagement.productCatalog.titleSize}" listItems="#{componentsUtil.getFieldProperty(483).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="show-title:showTitle_BOOLEAN" value="Show Title:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:boolean id="show-title" value="#{productCatalogManagement.productCatalog.showTitle}" propertyName="showTitle" />
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="columns:columns_SELECTION" value="Columns:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:selection id="columns" propertyName="columns" value="#{productCatalogManagement.productCatalog.columns}" listItems="#{componentsUtil.getFieldProperty(559).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="layout-mode:layoutMode_SELECTION" value="Layout Mode:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:selection id="layout-mode" propertyName="layoutMode" value="#{productCatalogManagement.productCatalog.layoutMode}" listItems="#{componentsUtil.getFieldProperty(572).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="custom-template:customTemplate_TEXT" value="Custom Template:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="custom-template" value="#{productCatalogManagement.productCatalog.customTemplate}" propertyName="customTemplate"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="initial-rows:initialRows_NUMBER" value="Initial Rows:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:number id="initial-rows" value="#{productCatalogManagement.productCatalog.initialRows}" propertyName="initialRows"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="pager-template:pagerTemplate_TEXT" value="Pager Rows Template:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="pager-template" value="#{productCatalogManagement.productCatalog.pagerTemplate}" propertyName="pagerTemplate"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Headers">
                                        <p:outputLabel value="Header" for="header:header_EDITOR"/>
                                        <iberis:editor id="header" height="200px" value="#{productCatalogManagement.productCatalog.header}" propertyName="header" width="100%"/>

                                        <p:outputLabel value="Sub Header" for="sub-header:subHeader_EDITOR" />
                                        <iberis:editor id="sub-header" height="200px" value="#{productCatalogManagement.productCatalog.subHeader}" propertyName="subHeader" width="100%"/>
                                    </p:tab>
                                    <p:tab title="Footers">
                                        <p:outputLabel value="Footer" for="footer:footer_EDITOR"/>
                                        <iberis:editor id="footer" height="200px" value="#{productCatalogManagement.productCatalog.footer}" propertyName="footer" width="100%"/>

                                        <p:outputLabel value="Sub Footer" for="sub-footer:subFooter_EDITOR"/>
                                        <iberis:editor id="sub-footer" height="200px" value="#{productCatalogManagement.productCatalog.subFooter}" propertyName="subFooter" width="100%" />
                                    </p:tab>
                                    <p:tab title="Sites" rendered="#{productCatalogManagement.siteList.size() > 1}">
                                        <h:panelGrid columns="2">
                                            <p:selectOneMenu styleClass="select-field" value="#{productCatalogManagement.siteListValue}">
                                                <f:selectItems value="#{productCatalogManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                            </p:selectOneMenu>
                                            <p:commandButton value="Add" action="#{productCatalogManagement.addSite}" update="site-list">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandButton>
                                        </h:panelGrid>

                                        <p:dataTable value="#{productCatalogManagement.productCatalog.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                                            <p:column headerText="Name">
                                                <h:outputText value="#{item.siteName}"/>
                                            </p:column>
                                            <p:column styleClass="delete-link" width="70">
                                                <p:commandLink value="Remove" action="#{productCatalogManagement.removeSite(item)}"
                                                               update="@form"
                                                               style="margin-left: 10px" rendered="#{productCatalogManagement.inSiteList(item.siteID)}">
                                                    <f:param name="skipValidation" value="1" />
                                                    <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                               icon="ui-icon-alert"/>
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                    <p:tab title="Product Groups" rendered="#{productCatalogManagement.productCatalog.id > 0}">
                                        <p:outputLabel for="group-lookup:productGroup_PK_groupId" value="Group:"/>
                                        <div class="ui-g">
                                            <div class="ui-g-12">
                                                <iberis:lookup id="group-lookup" value="#{productCatalogManagement.productGroup.groupId}" displayValue="#{productCatalogManagement.productGroup.groupName}" lookupProperties="#{componentsUtil.getLookupProperties(24, 114, 113, null)}" dataBeanName="productCatalogManagement.productGroup" fieldProperty="#{null}" propertyName="productGroup" valueRequired="false"/>
                                            </div>
                                            <div class="ui-g-12">
                                                <p:commandButton value="Add" style="margin-top: 8px" action="#{productCatalogManagement.addProductGroup}" update="group-list">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandButton>
                                            </div>
                                        </div>
                                        <p:dataTable id="group-list"
                                                     var="productGroup"
                                                     value="#{productCatalogManagement.productCatalog.productGroups}" lazy="true" rendered="true" rows="10"
                                                     rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">
                                            <p:column headerText="Name">
                                                <h:outputText value="#{productGroup.groupName}"/>
                                            </p:column>
                                            <p:column styleClass="delete-link" width="70">
                                                <p:commandLink value="Remove" action="#{productCatalogManagement.removeProductGroup(productGroup)}"
                                                               update="group-list"
                                                               style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                    <p:tab title="Products" rendered="#{productCatalogManagement.productCatalog.id > 0}">
                                        <p:outputLabel for="group:product_PK_productId" value="Product:"/>
                                        <div class="ui-g">
                                            <div class="ui-g-12">
                                                <iberis:lookup id="group" value="#{productCatalogManagement.product.productId}" displayValue="#{productCatalogManagement.product.productName}" lookupProperties="#{componentsUtil.getLookupProperties(22, 107, 106, null)}" dataBeanName="productCatalogManagement.product" fieldProperty="#{null}" propertyName="product" valueRequired="false"/>
                                            </div>
                                            <div class="ui-g-12">
                                                <p:commandButton value="Add" style="margin-top: 8px" action="#{productCatalogManagement.addProduct}" update="product-list">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandButton>
                                            </div>
                                        </div>
                                        <p:dataTable id="product-list"
                                                     var="product"
                                                     value="#{productCatalogManagement.productCatalog.products}" lazy="true" rendered="true" rows="10"
                                                     rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">
                                            <p:column headerText="Name">
                                                <h:outputText value="#{product.productName}"/>
                                            </p:column>
                                            <p:column styleClass="delete-link" width="70">
                                                <p:commandLink value="Remove" action="#{productCatalogManagement.removeProduct(product)}"
                                                               update="product-list"
                                                               style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                </p:tabView>

                                <p:commandButton action="#{productCatalogManagement.saveProductCatalog}" value="Save" update="@form, :preview-dialog"/>
                                <p:button value="Preview" update=":preview-dialog" rendered="#{productCatalogManagement.productCatalog != null and productCatalogManagement.productCatalog.id > 0}" href="#" onclick="PF('preview-dialog').show();return false;"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>