<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="product-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-cube5"></span>
                            <h:outputText value="Products" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Product List</h2>
                            <p:commandButton value="Create" action="#{productManagement.newProduct}" update=":product-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>

                            <p:dataTable id="pia-list"
                                         var="product"
                                         value="#{productManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">

                                <p:column headerText="Name" filterBy="#{product.productName}" priority="0">
                                    <h:outputText value="#{product.productName}"/>
                                </p:column>
                                <p:column headerText="Manufacturer" filterBy="#{product.manufacturer.name}" priority="3">
                                    <h:outputText value="#{product.manufacturer.name}"/>
                                </p:column>
                                <p:column headerText="Product Group" filterBy="#{product.productGroup.groupName}" priority="4">
                                    <h:outputText value="#{product.productGroup.groupName}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{productManagement.selectProduct(product)}"
                                                   update=":product-management-form:pia-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{productManagement.deleteProduct(product)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this product?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{productManagement.product != null}">
                                <h2>Add / Edit Product</h2>
                                <p:tabView scrollable="true">
                                    <p:tab title="General">
                                        <h:panelGroup layout="block" styleClass="ui-g">
                                            <h:panelGroup layout="block" styleClass="ui-g-3">
                                                <p:outputLabel for="id:productId_READONLY" value="Id:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9">
                                                <iberis:readonly id="id" value="#{productManagement.product.productId}" propertyName="productId"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="name:productName_TEXT" value="Name:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="name" value="#{productManagement.product.productName}" propertyName="productName" valueRequired="#{empty param['skipValidation']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="group:productGroup_PK_groupId" value="Product Group:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="group" value="#{productManagement.product.productGroup.groupId}" displayValue="#{productManagement.product.productGroup.groupName}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(111))}" dataBeanName="productManagement.product" fieldProperty="#{componentsUtil.getFieldProperty(111)}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="manuf:manufacturer_PK_manufacturerId" value="Manufacturer:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="manuf" value="#{productManagement.product.manufacturer.manufacturerId}" displayValue="#{productManagement.product.manufacturer.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(136))}" dataBeanName="productManagement.product" fieldProperty="#{componentsUtil.getFieldProperty(136)}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="part:manufacturerPartNumber_TEXT" value="Part Number:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:text id="part" value="#{productManagement.product.manufacturerPartNumber}" propertyName="manufacturerPartNumber"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="image:mainImage_PK_id" value="Main Image:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:lookup id="image" value="#{productManagement.product.mainImage.id}" displayValue="#{productManagement.product.mainImage.image.name}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(555))}" dataBeanName="productManagement.product" fieldProperty="#{componentsUtil.getFieldProperty(555)}" filter="o.product.productId = #{productManagement.product.productId}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="price:price_MONEY" value="Price:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:money id="price" value="#{productManagement.product.price}" propertyName="price"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="quantity:quantity_NUMBER" value="Quantity:"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                                <iberis:number id="quantity" value="#{productManagement.product.quantity}" propertyName="quantity"/>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </p:tab>
                                    <p:tab title="Details">
                                        <iberis:editor id="details" value="#{productManagement.product.details}" propertyName="details" width="100%"/>
                                    </p:tab>
                                    <p:tab title="Details 2">
                                        <iberis:editor id="details2" value="#{productManagement.product.details2}" propertyName="details2" width="100%"/>
                                    </p:tab>
                                    <p:tab title="Images" rendered="#{productManagement.product.productId > 0}">
                                        <p:outputLabel value="Choose Upload Files" for="image-uploader" style="visibility: hidden"/>
                                        <p:fileUpload id="image-uploader" fileUploadListener="#{productManagement.handleImageUpload}"
                                                      mode="advanced"
                                                      dragDropSupport="false" multiple="true" sizeLimit="8000000" fileLimit="10"
                                                      allowTypes="/(\.|\/)(jpeg|jpg|png|gif|svg)$/"
                                                      update="image-list"/>

                                        <p:outputLabel for="image-lookup:existingImage_PK_imageid" value="Add Existing:"/>
                                        <iberis:lookup id="image-lookup" value="#{productManagement.existingImage.imageid}" displayValue="#{productManagement.existingImage.name}" lookupProperties="#{componentsUtil.getLookupProperties(33, 196, 195, null)}" dataBeanName="productManagement.existingImage" fieldProperty="#{null}" propertyName="existingImage" valueRequired="false"/>
                                        <p:commandButton value="Add" action="#{productManagement.addExistingImage}" update="image-list">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandButton>

                                        <p:dataTable id="image-list"
                                                     var="pImage"
                                                     value="#{productManagement.product.productImages}" lazy="true" rendered="true" rows="5"
                                                     rowsPerPageTemplate="5,10,15,25,50,150,250" paginator="true">
                                            <p:column width="100" priority="0">
                                                <h:graphicImage value="#{pImage.image.filePath}" width="100"/>
                                            </p:column>
                                            <p:column headerText="Name" priority="2">
                                                <h:outputText value="#{pImage.image.name}"/>
                                            </p:column>
                                            <p:column width="70" priority="1">
                                                <p:commandLink value="Remove" action="#{productManagement.removeImage(pImage)}"
                                                               update="image-list"
                                                               style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                    <p:tab title="Sites" rendered="#{productManagement.siteList.size() > 1}">
                                        <h:panelGrid columns="2">
                                            <p:selectOneMenu styleClass="select-field" value="#{productManagement.siteListValue}">
                                                <f:selectItems value="#{productManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                                            </p:selectOneMenu>
                                            <p:commandButton value="Add" action="#{productManagement.addSite}" update="site-list">
                                                <f:param name="skipValidation" value="1" />
                                            </p:commandButton>
                                        </h:panelGrid>

                                        <p:dataTable value="#{productManagement.product.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                                            <p:column headerText="Name">
                                                <h:outputText value="#{item.siteName}"/>
                                            </p:column>
                                            <p:column styleClass="delete-link" width="70">
                                                <p:commandLink value="Remove" action="#{productManagement.removeSite(item)}"
                                                               update="@form"
                                                               style="margin-left: 10px" rendered="#{productManagement.inSiteList(item.siteID)}">
                                                    <f:param name="skipValidation" value="1" />
                                                    <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                                               icon="ui-icon-alert"/>
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                </p:tabView>

                                <p:commandButton action="#{productManagement.saveProduct}" value="Save" update="@form"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>