<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition>
            
            <p:dialog modal="true" height="500"
                      width="90%" style="max-width: 64em;max-height: 48em" responsive="true"
                      header="Lookup Unit" footer="Please select a record and click ok"
                      widgetVar="lookupDialog" draggable="false"
                      closable="true" onHide="$('#lookupDialogIframe').attr('src','about:blank');">
                <iframe id="lookupDialogIframe" frameborder="0" style="width: 100%;height: 98%"></iframe>
            </p:dialog>
            
        </ui:composition>
    </body>
</html>

