<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition>
            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="closeProgressDialog();"/>
            <script type="text/javascript">
                function closeProgressDialog()
                {
                    setTimeout("PF('statusDialog').hide();", 500);
                }
            </script>
            <p:dialog modal="true" widgetVar="statusDialog" header="Processing..." width="250" height="120" draggable="false" closable="true">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin-left: 80px"></i>

                <div style="margin-top: 10px">Use the close button if the page finishes processing and this dialog does not close.</div>
            </p:dialog>
        </ui:composition>
    </body>
</html>

