<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition>
            <p:toolbar id="formToolbar" style="height: 42px">
                <f:facet name="left">
                    <h:panelGrid columns="5">
                        <p:commandButton escape="false" value="&lt;span class='icon-disk'&gt;&lt;/span&gt; Save" ajax="true" actionListener="#{dataForm.save}" update=":headerTitle,:unitForm,:formToolbar,:layout-east"/>
                        <p:commandButton escape="false" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt; Delete" actionListener="#{dataForm.delete}" rendered="#{dataForm.key != null}" update=":unitForm,:headerTitle,:formToolbar,:layout-east"/>
                        <p:messages><p:autoUpdate /></p:messages>
                    </h:panelGrid>
                </f:facet>
            </p:toolbar>
        </ui:composition>
    </body>
</html>

