<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition>
            <c:forEach var="formSection" items="#{dataForm.formLayout.sections}">
            	<p:fieldset toggleable="true" toggleSpeed="500" style="margin-top: 10px" legend="#{formSection.name}">
                    <div class="ui-g">
		            	<c:forEach var="formField" items="#{formSection.fields}">
		            		<c:set var="fieldProperty" value="#{componentsUtil.getFieldProperty(formField.propertyId)}"/>
		            		<c:set var="lookupProperties" value="#{componentsUtil.getLookupProperties(fieldProperty)}"/>

                            <c:if test="#{fieldProperty != null}">
                                <div class="ui-g-#{formField.width}">
                                    <div class="ui-g">
                                        <div class="#{(formField.inlineLabel)? 'ui-g-3 ui-sm-12' : ''}"><p:outputLabel value="#{bundle[fieldProperty.bundleLabelId]}"/></div>
                                        <div class="#{(formField.inlineLabel)? 'ui-g-9 ui-sm-12' : ''}">
                                            <!-- BOOLEAN -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'BOOLEAN'}">
                                                <iberis:boolean value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}" widgetType="#{fieldProperty.booleanWidget}"/>
                                            </c:if>

                                            <!-- DATE -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'DATE'}">
                                                <iberis:date value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>

                                            <!-- FLEXIBLE_LOOKUP -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'FLEXIBLE_LOOKUP'}">
                                                <iberis:flexiblelookup instanceValue="#{dataForm.unitInstance[fieldProperty.propertyName.concat('InstanceId')]}" fieldProperty="#{fieldProperty}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}" dataBeanName="dataForm.unitInstance" />
                                            </c:if>

                                            <!-- HIDDEN -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'HIDDEN'}">
                                                <iberis:hidden propertyName="#{fieldProperty.propertyName}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}"/>
                                            </c:if>

                                            <!-- LOOKUP -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'LOOKUP' and fieldProperty.fakeLookup != true}">
                                                <iberis:lookup fieldProperty="#{fieldProperty}" key2Value="#{dataForm.unitInstance[fieldProperty.propertyName][lookupProperties[3].propertyName]}"
                                                               lookupProperties="#{lookupProperties}" value="#{dataForm.unitInstance[fieldProperty.propertyName][lookupProperties[2].propertyName]}"
                                                               displayValue="#{dataForm.unitInstance[fieldProperty.propertyName][lookupProperties[1].propertyName]}" dataBeanName="dataForm.unitInstance"/>
                                            </c:if>

                                            <c:if test="#{fieldProperty.propertyType.typeName == 'LOOKUP' and fieldProperty.fakeLookup == true}">
                                                <iberis:lookup fieldProperty="#{fieldProperty}" lookupProperties="#{lookupProperties}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}"
                                                               dataBeanName="dataForm.unitInstance"/>
                                            </c:if>

                                            <!-- MONEY -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'MONEY'}">
                                                <iberis:money value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>

                                            <!-- NUMBER -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'NUMBER'}">
                                                <iberis:number propertyName="#{fieldProperty.propertyName}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}" />
                                            </c:if>

                                            <!-- READONLY -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'READONLY'}">
                                                <iberis:readonly propertyName="#{fieldProperty.propertyName}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}" />
                                            </c:if>

                                            <!-- SELECTION -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'SELECTION'}">
                                                <iberis:selection listItems="#{fieldProperty.unitPropertyListItems}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>

                                            <!-- TEXT -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'TEXT'}">
                                                <iberis:text value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>

                                            <!-- CODE -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'CODE'}">
                                                <iberis:code codeType="#{fieldProperty.codeType}" value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>

                                            <!-- BYTE -->

                                            <!-- EDITOR -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'EDITOR'}">
                                                <iberis:editor value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>

                                            <!-- TEXT_AREA -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'TEXT_AREA'}">
                                                <iberis:textarea value="#{dataForm.unitInstance[fieldProperty.propertyName]}" propertyName="#{fieldProperty.propertyName}"/>
                                            </c:if>
                                        </div>
                                    </div>
                                </div>
                            </c:if>
                        </c:forEach>
                    </div>
            	</p:fieldset>
            </c:forEach>
        </ui:composition>
    </body>
</html>

