<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition>
            <c:forEach var="formSection" items="#{dataForm.formLayout.sections}">
            	<p:fieldset toggleable="true" toggleSpeed="500" style="margin-top: 10px" legend="#{formSection.name}">
            		<div class="ui-g">
		            	<c:forEach var="formField" items="#{formSection.fields}">
		            		<c:set var="fieldProperty" value="#{componentsUtil.getFieldProperty(formField.propertyId)}"/>
		            		<c:set var="lookupProperties" value="#{componentsUtil.getLookupProperties(fieldProperty)}"/>

                            <c:if test="#{fieldProperty != null}">
                                <div class="ui-g-#{formField.width}">
                                    <div class="ui-g">
                                        <div class="#{(formField.inlineLabel)? 'ui-g-3 ui-sm-12' : ''}"><p:outputLabel value="#{bundle[fieldProperty.bundleLabelId]}"/></div>
                                        <div class="#{(formField.inlineLabel)? 'ui-g-9 ui-sm-12' : ''}">

                                            <c:if test="#{fieldProperty.propertyType.typeName != 'LOOKUP' and fieldProperty.propertyType.typeName != 'FLEXIBLE_LOOKUP' and fieldProperty.propertyType.typeName != 'SELECTION'}">
                                                <h:outputText value="#{dataForm.unitInstance[fieldProperty.propertyName]}"/>
                                            </c:if>

                                            <!-- FLEXIBLE_LOOKUP -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'FLEXIBLE_LOOKUP'}">
                                                <h:outputText value="#{componentsUtil.flexibleLookupDisplayValue(fieldProperty,'dataForm.unitInstance')}"/>
                                            </c:if>

                                            <!-- LOOKUP -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'LOOKUP'}">
                                                <h:outputText value="#{componentsUtil.getLookupDisplayValue(fieldProperty,lookupProperties[1],'dataForm.unitInstance')}"/>
                                            </c:if>

                                            <!-- SELECTION -->
                                            <c:if test="#{fieldProperty.propertyType.typeName == 'SELECTION'}">
                                                <h:outputText value="#{listUtil.getDisplayValue(fieldProperty.unitPropertyListItems, dataForm.unitInstance[fieldProperty.propertyName])}"/>
                                            </c:if>
                                        </div>
                                    </div>
                                </div>
                            </c:if>
                        </c:forEach>
	            	</div>
            	</p:fieldset>
            </c:forEach>
        </ui:composition>
    </body>
</html>

