<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <style>
        div.gallery-slider-settings,
        div.gallery-display-settings
        {
            border: none;
        }

        div.gallery-slider-settings div.ui-tabs-panels div.ui-tabs-panel,
        div.gallery-display-settings div.ui-tabs-panels div.ui-tabs-panel
        {
            padding: 0;
        }
    </style>
    <p:tabView scrollable="true">
        <p:tab title="General">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="type:type_SELECTION" value="Type:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:selection id="type" propertyName="type" listItems="#{componentsUtil.getFieldProperty(441).unitPropertyListItems}" value="#{galleryManagement.gallery.type}" listenerMethod="#{galleryManagement.refresh}" componentsToProcess="type" updateId=":gallery-management-form:gallery-update-panel" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="ui-g" rendered="#{galleryManagement.gallery.type > 0}">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="gallery-name:name_TEXT" value="Gallery Name:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="gallery-name" propertyName="name" value="#{galleryManagement.gallery.name}" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8 or galleryManagement.gallery.type == 9}">
                    <p:outputLabel for="block-size:blockSize_SELECTION" value="Block Size:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8 or galleryManagement.gallery.type == 9}">
                    <iberis:selection id="block-size" propertyName="blockSize" listItems="#{componentsUtil.getFieldProperty(640).unitPropertyListItems}" value="#{galleryManagement.gallery.blockSize}" valueRequired="#{empty param['skipValidation'] and galleryManagement.gallery.type == 8}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8}">
                    <p:outputLabel for="alternating-block-size:alternatingBlockSize_SELECTION" value="Alternating Block Size:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8}">
                    <iberis:selection id="alternating-block-size" propertyName="alternatingBlockSize" listItems="#{componentsUtil.getFieldProperty(641).unitPropertyListItems}" value="#{galleryManagement.gallery.alternatingBlockSize}"/>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Slider Settings" rendered="#{galleryManagement.gallery.type > 0 and galleryManagement.gallery.type != 9 and galleryManagement.gallery.type != 8 and galleryManagement.gallery.type != 10}">
            <p:tabView scrollable="true" styleClass="gallery-slider-settings">
                <p:tab title="Modes">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="slide-mode:slideMode_SELECTION" value="Slide Mode:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:selection id="slide-mode" listItems="#{componentsUtil.getFieldProperty(654).unitPropertyListItems}" value="#{galleryManagement.gallery.slideMode}" propertyName="slideMode" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <p:outputLabel for="animation-speed:animationSpeed_NUMBER" value="Animation Speed (MS):" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <iberis:number id="animation-speed" value="#{galleryManagement.gallery.animationSpeed}" propertyName="animationSpeed" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <p:outputLabel for="start-slide:startSlide_NUMBER" value="Start Slide:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <iberis:number id="start-slide" value="#{galleryManagement.gallery.startSlide}" propertyName="startSlide"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <p:outputLabel for="pause-time:pauseTime_NUMBER" value="Pause Time (MS):" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <iberis:number id="pause-time" value="#{galleryManagement.gallery.pauseTime}" propertyName="pauseTime" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Controls" rendered="#{galleryManagement.gallery.type == 5}">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="show-pager:showPager_BOOLEAN" value="Show Pager:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:boolean id="show-pager" value="#{galleryManagement.gallery.showPager}" propertyName="showPager" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="show-controls:showControls_BOOLEAN" value="Show Controls:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:boolean id="show-controls" value="#{galleryManagement.gallery.showControls}" propertyName="showControls" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="auto-hide:autoHideControls_BOOLEAN" value="Auto Hide Controls:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:boolean id="auto-hide" value="#{galleryManagement.gallery.autoHideControls}" propertyName="autoHideControls" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Auto" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <p:outputLabel for="auto-slide:autoSlide_BOOLEAN" value="Auto Slide:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 7}">
                            <iberis:boolean id="auto-slide" value="#{galleryManagement.gallery.autoSlide}" propertyName="autoSlide" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="auto-start:autoStart_BOOLEAN" value="Auto Start" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:boolean id="auto-start" value="#{galleryManagement.gallery.autoStart}" propertyName="autoStart" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
            </p:tabView>
        </p:tab>
        <p:tab title="Display Settings" rendered="#{galleryManagement.gallery.type > 0}">
            <p:tabView scrollable="true" styleClass="gallery-display-settings">
                <p:tab title="General">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="image-max:imageMaxWidth_BOOLEAN" value="Image Max Width:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="image-max" value="#{galleryManagement.gallery.imageMaxWidth}" propertyName="imageMaxWidth"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="image-width:imageWidth_NUMBER" value="Slide Width:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:number id="image-width" value="#{galleryManagement.gallery.imageWidth}" propertyName="imageWidth" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="images-per-slide:imagesPerSlide_NUMBER" value="Images Per Slide:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:number id="images-per-slide" value="#{galleryManagement.gallery.imagesPerSlide}" propertyName="imagesPerSlide" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="show-name:showName_BOOLEAN" value="Show Name"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="show-name" value="#{galleryManagement.gallery.showName}" propertyName="showName"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8}">
                            <p:outputLabel for="flip-slides:flipSlides_BOOLEAN" value="Flip Slides:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8}">
                            <iberis:boolean id="flip-slides" value="#{galleryManagement.gallery.flipSlides}" propertyName="flipSlides"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8}">
                            <p:outputLabel for="overlay-caption:captionAsOverlay_BOOLEAN" value="Caption As Overlay:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 8}">
                            <iberis:boolean id="overlay-caption" value="#{galleryManagement.gallery.captionAsOverlay}" propertyName="captionAsOverlay"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Dimensions">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type != 10 and galleryManagement.gallery.type != 9}">
                            <p:outputLabel for="min-height:minHeight_NUMBER" value="Min Height:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type != 10 and galleryManagement.gallery.type != 9}">
                            <iberis:number id="min-height" value="#{galleryManagement.gallery.minHeight}" propertyName="minHeight"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="min-width:minWidth_NUMBER" value="Min Width:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:number id="min-width" value="#{galleryManagement.gallery.minWidth}" propertyName="minWidth"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type != 10 and galleryManagement.gallery.type != 9}">
                            <p:outputLabel for="max-height:maxHeight_NUMBER" value="Max Height:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type != 10 and galleryManagement.gallery.type != 9}">
                            <iberis:number id="max-height" value="#{galleryManagement.gallery.maxHeight}" propertyName="maxHeight" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="max-width:maxWidth_NUMBER" value="Max Width:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:number id="max-width" value="#{galleryManagement.gallery.maxWidth}" propertyName="maxWidth"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Slide" rendered="#{galleryManagement.gallery.type == 5}">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="show-thumbnails:showThumbnails_BOOLEAN" value="Show Thumbnails:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:boolean id="show-thumbnails" value="#{galleryManagement.gallery.showThumbnails}" propertyName="showThumbnails" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="visible-thumbs:visibleThumbs_NUMBER" value="Visible Thumbs:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:number id="visible-thumbs" value="#{galleryManagement.gallery.visibleThumbs}" propertyName="visibleThumbs" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 8}">
                            <p:outputLabel for="show-captions:showCaptions_BOOLEAN" value="Show Captions:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5 || galleryManagement.gallery.type == 8}">
                            <iberis:boolean id="show-captions" value="#{galleryManagement.gallery.showCaptions}" propertyName="showCaptions" />
                        </h:panelGroup>
						<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <p:outputLabel for="show-captions-below:showCaptionsBelowGallery_BOOLEAN" value="Show Captions Below Gallery:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{galleryManagement.gallery.type == 5}">
                            <iberis:boolean id="show-captions-below" value="#{galleryManagement.gallery.showCaptionsBelowGallery}" propertyName="showCaptionsBelowGallery" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
            </p:tabView>
        </p:tab>
        <p:tab title="Misc">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="allow-styles:allowEditorStyles_BOOLEAN" value="Allow Editor Styles:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:boolean id="allow-styles" value="#{galleryManagement.gallery.allowEditorStyles}" propertyName="allowEditorStyles" />
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Sites" rendered="#{galleryManagement.siteList.size() > 1}">
            <h:panelGrid columns="2">
                <p:selectOneMenu styleClass="select-field" value="#{galleryManagement.siteListValue}">
                    <f:selectItems value="#{galleryManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                </p:selectOneMenu>
                <p:commandButton value="Add" action="#{galleryManagement.addSite}" update="site-list">
                    <f:param name="skipValidation" value="1" />
                </p:commandButton>
            </h:panelGrid>

            <p:dataTable value="#{galleryManagement.gallery.sites}" var="item" id="site-list">
                <p:column headerText="Name">
                    <h:outputText value="#{item.siteName}"/>
                </p:column>
                <p:column styleClass="delete-link" width="70">
                    <p:commandLink value="Remove" action="#{galleryManagement.removeSite(item)}"
                                   update="@form"
                                   style="margin-left: 10px" rendered="#{galleryManagement.inSiteList(item.siteID)}">
                        <f:param name="skipValidation" value="1" />
                        <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                   icon="ui-icon-alert"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </p:tab>
    </p:tabView>


</ui:composition>