<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <p:tabView scrollable="true">
        <p:tab title="General">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="name:name_TEXT" value="Name:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="name" propertyName="name" valueRequired="#{empty param['skipValidation']}" value="#{imageManagement.image.name}" />
                </h:panelGroup>
                <div class="ui-g-3 ui-sm-12">
                    <p:outputLabel for="full-width:showFullWidth_BOOLEAN" value="Display in Full Width:"/>
                </div>
                <div class="ui-g-9 ui-sm-12">
                    <iberis:boolean id="full-width" propertyName="showFullWidth" value="#{imageManagement.image.showFullWidth}"/>
                </div>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="perspective:perspective_SELECTION" value="Perspective:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:selection id="perspective" propertyName="perspective" value="#{imageManagement.image.perspective}" listItems="#{componentsUtil.getFieldProperty(350).unitPropertyListItems}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="tags" value="Tags:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <p:autoComplete id="tags" multiple="true" value="#{imageManagement.image.imageTags}" completeMethod="#{imageManagement.tagsAutoComplete}"
                                    var="tag" itemLabel="#{tag.name}" itemValue="#{tag}" converter="tagConverter" forceSelection="true" minQueryLength="3">
                        <p:column>
                            <h:outputText value="#{tag.name}" />
                        </p:column>
                    </p:autoComplete>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Caption Display">
            <h:panelGroup layout="block" styleClass="ui-g">
                <div class="ui-g-3 ui-sm-6">
                    <p:outputLabel for="show-caption:showCaption_BOOLEAN" value="Show Caption:"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <iberis:boolean id="show-caption" propertyName="showCaption" value="#{imageManagement.image.showCaption}"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <p:outputLabel for="caption-overlay:captionAsOverlay_BOOLEAN" value="Caption as Overlay:"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <iberis:boolean id="caption-overlay" propertyName="captionAsOverlay" value="#{imageManagement.image.captionAsOverlay}" />
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <p:outputLabel for="full-overlay:fullOverlay_BOOLEAN" value="Full Overlay:"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <iberis:boolean id="full-overlay" propertyName="fullOverlay" value="#{imageManagement.image.fullOverlay}" />
                </div>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <p:outputLabel for="side-overlay:sideOverlay_SELECTION" value="Side Overlay:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <iberis:selection id="side-overlay" propertyName="sideOverlay" value="#{imageManagement.image.sideOverlay}" listItems="#{componentsUtil.getFieldProperty(663).unitPropertyListItems}"/>
                </h:panelGroup>
                <div class="ui-g-3 ui-sm-6">
                    <p:outputLabel for="overlay-color:overlayColor_COLOR_PICKER" value="Overlay Color:"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <iberis:colorpicker id="overlay-color" propertyName="overlayColor" value="#{imageManagement.image.overlayColor}"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <p:outputLabel for="caption-color:captionTextColor_COLOR_PICKER" value="Caption Text Color:"/>
                </div>
                <div class="ui-g-3 ui-sm-6">
                    <iberis:colorpicker id="caption-color" propertyName="captionTextColor" value="#{imageManagement.image.captionTextColor}"/>
                </div>

            </h:panelGroup>

        </p:tab>
        <p:tab title="Caption">
            <iberis:editor propertyName="caption" height="150" width="100%" value="#{imageManagement.image.caption}"/>
        </p:tab>
        <p:tab title="File Info">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="mime-type:mimeType_PK_typeid" value="MimeType:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:lookup id="mime-type" value="#{imageManagement.image.mimeType.typeid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(201))}" dataBeanName="imageManagement.image" fieldProperty="#{componentsUtil.getFieldProperty(201)}" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="file-extension:fileExtension_PK_extensionid" value="File Extension:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:lookup id="file-extension" value="#{imageManagement.image.fileExtension.extensionid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(202))}" dataBeanName="imageManagement.image" fieldProperty="#{componentsUtil.getFieldProperty(202)}" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="file-path:filePath_TEXT" value="File Path:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="file-path" value="#{imageManagement.image.filePath}" propertyName="filePath" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Dimensions">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="width:width_NUMBER" value="Width:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:number id="width" value="#{imageManagement.image.width}" propertyName="width" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="height:height_NUMBER" value="Height:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:number id="height" value="#{imageManagement.image.height}" propertyName="height" valueRequired="#{empty param['skipValidation']}"/>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
    </p:tabView>

</ui:composition>