<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <style>
        #mega-menu-structure .ui-panel .ui-panel-content
        {
            padding: .1em;
        }

        #mega-menu-structure .card
        {
            padding: .2em;
        }
    </style>
    <div id="mega-menu-structure">

        <h:panelGroup layout="block" styleClass="card" rendered="#{menuManagement.menu.type == 7}">
            <h2>Mega Menu Structure</h2>
            <h:panelGroup layout="block">
                <p:commandButton action="#{menuManagement.newMegamenuSection}" value="Add Section" update="sections-layout,:menu-management-form:sections-layout,:menu-management-form:preview-container"  oncomplete="removeMenuThemeIcons()">
                    <f:param name="skipValidation" value="1" />
                </p:commandButton>
                <a href="#" onclick="scrollToElement('.preview-container');return false;">To Preview</a>
                <h:panelGroup id="sections-layout">
                    <ui:repeat value="#{menuManagement.menu.menuItemCollection}" var="subMenu" varStatus="submenustatus">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>
                                <span class="ui-g">
                                    <span class="ui-g-10 ui-sm-12 ui-g-nopad">
                                        <h:outputText value="Section #{submenustatus.index + 1} (Name: #{subMenu.displayName})"/>
                                    </span>
                                    <span class="ui-g-2 ui-sm-12 ui-g-nopad">
                                        <p:commandLink value="Edit" action="#{menuManagement.selectMenuItem(subMenu)}" oncomplete="PF('megamenu-section-dialog').show()" update=":megamenu-section-dialog"  style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        </p:commandLink>
                                        <p:commandLink value="Move Up" style="margin-left: 15px" rendered="#{submenustatus.index != 0}" action="#{menuManagement.reorderMegamenuSection(subMenu, submenustatus.index - 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandLink>
                                        <p:commandLink value="Move Down" style="margin-left: 15px" rendered="#{submenustatus.index != (menuManagement.menu.menuItemCollection.size() - 1)}" action="#{menuManagement.reorderMegamenuSection(subMenu, submenustatus.index + 1)}" oncomplete="removeMenuThemeIcons()" update=":menu-management-form:sections-layout,:menu-management-form:preview-container"><f:param name="skipValidation" value="1" /></p:commandLink>

                                        <p:commandLink value="Remove" action="#{menuManagement.removeMegamenuSection(subMenu)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"  style="margin-left: 10px">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandLink>
                                    </span>
                                </span>
                            </h2>
                            <div>

                                <p:commandButton value="Add Column" action="#{menuManagement.addSubmenuColumn(subMenu)}" update="column-container,:menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"  style="margin-left: 10px">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>

                            </div>
                            <h:panelGroup id="column-container" layout="block" styleClass="ui-g">
                                <ui:repeat value="#{subMenu.subMenuColumns}" var="menuColumn" varStatus="status">
                                    <div class="ui-g-#{menuUtil.getMegamenuColumnClassWidth(subMenu)} ui-sm-12 ui-smd-12" style="min-height: 170px">
                                        <h:panelGroup layout="block" styleClass="card">
                                            <h2>
                                                <span class="ui-g">
                                                    <span class="ui-g-3 ui-sm-12 ui-g-nopad">
                                                        Column
                                                    </span>
                                                    <span class="ui-g-9 ui-sm-12 ui-g-nopad">
                                                        <p:commandLink value="Move Left" style="margin-left: 15px;white-space: nowrap" rendered="#{status.index != 0}" action="#{menuManagement.reorderColumn(subMenu, menuColumn, status.index - 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()">
                                                            <f:param name="skipValidation" value="1" />
                                                        </p:commandLink>
                                                        <p:commandLink value="Move Right" style="margin-left: 15px;white-space: nowrap" rendered="#{status.index != (subMenu.subMenuColumns.size() - 1)}" action="#{menuManagement.reorderColumn(subMenu, menuColumn, status.index + 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>

                                                        <p:commandLink style="margin-left: 15px" action="#{menuManagement.removeColumnFromMegamenuSection(subMenu, menuColumn)}" value="Remove" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                    </span>
                                                </span>
                                            </h2>
                                            <div>
                                                <p:commandLink value="Edit Column Custom Content" action="#{menuManagement.selectMenuColumn(menuColumn)}" oncomplete="PF('megamenu-column-dialog').show()" update=":megamenu-column-dialog"  style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>

                                                <p:commandButton value="Add Sub Section" action="#{menuManagement.addColumnSubMenu(menuColumn)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()" style="margin-left: 10px">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandButton>
                                            </div>
                                            <div class="ui-g">
                                                <ui:repeat value="#{menuColumn.subMenuItems}" var="columnSubMenu" varStatus="columnsubmenuitemstatus">
                                                    <div class="ui-g-12" style="padding: .1em">
                                                        <p:panel header="Sub Section (Name: #{columnSubMenu.displayName})">

                                                            <span class="ui-g">
                                                                <span class="ui-g-6 ui-sm-12 ui-g-nopad">
                                                                    <p:commandButton value="Add Menu Item" action="#{menuManagement.addColumnSubMenuMenuItem(columnSubMenu)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"  style="margin-left: 10px">
                                                                        <f:param name="skipValidation" value="1" />
                                                                    </p:commandButton>
                                                                </span>
                                                                <span class="ui-g-6 ui-sm-12 ui-g-nopad">
                                                                    <p:commandLink value="Edit" action="#{menuManagement.selectMenuItem(columnSubMenu)}" oncomplete="PF('megamenu-sub-section-dialog').show()" update=":megamenu-sub-section-dialog"  style="margin-left: 10px">
                                                                        <f:param name="skipValidation" value="1" />
                                                                    </p:commandLink>
                                                                    <p:commandLink value="Move Up" style="margin-left: 15px" rendered="#{columnsubmenuitemstatus.index != 0}" action="#{menuManagement.reorderColumnSubMenu(menuColumn, columnSubMenu, columnsubmenuitemstatus.index - 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                                    <p:commandLink value="Move Down" style="margin-left: 15px" rendered="#{columnsubmenuitemstatus.index != (menuColumn.subMenuItems.size() - 1)}" action="#{menuManagement.reorderColumnSubMenu(menuColumn, columnSubMenu, columnsubmenuitemstatus.index + 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                                    <p:commandLink style="margin-left: 15px" action="#{menuManagement.removeColumnSubMenu(menuColumn, columnSubMenu)}" value="Remove" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                                </span>
                                                            </span>

                                                            <ui:repeat value="#{columnSubMenu.subMenuItems}" var="menuItem" varStatus="menuitemstatus">

                                                                <p:panel header="Menu Item #{menuitemstatus.index + 1}" style="margin-top: 5px">

                                                                    <h:outputText value="Name: #{menuItem.displayName}"/>

                                                                    <div>
                                                                        <p:commandLink value="Edit" action="#{menuManagement.selectMenuItem(menuItem)}" oncomplete="PF('megamenu-item-dialog').show()" update=":megamenu-item-dialog"  style="margin-left: 10px">
                                                                            <f:param name="skipValidation" value="1" />
                                                                        </p:commandLink>
                                                                        <p:commandLink value="Move Up" style="margin-left: 15px" rendered="#{menuitemstatus.index != 0}" action="#{menuManagement.reorderColumnSubMenuMenuItem(columnSubMenu, menuItem, menuitemstatus.index - 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                                        <p:commandLink value="Move Down" style="margin-left: 15px" rendered="#{menuitemstatus.index != (columnSubMenu.subMenuItems.size() - 1)}" action="#{menuManagement.reorderColumnSubMenuMenuItem(columnSubMenu, menuItem, menuitemstatus.index + 1)}" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                                        <p:commandLink style="margin-left: 15px" action="#{menuManagement.removeColumnSubMenuMenuItem(columnSubMenu, menuItem)}" value="Remove" update=":menu-management-form:sections-layout,:menu-management-form:preview-container" oncomplete="removeMenuThemeIcons()"><f:param name="skipValidation" value="1" /></p:commandLink>
                                                                    </div>
                                                                </p:panel>

                                                            </ui:repeat>
                                                        </p:panel>
                                                    </div>
                                                </ui:repeat>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </ui:repeat>
                            </h:panelGroup>
                        </h:panelGroup>
                    </ui:repeat>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </div>

</ui:composition>