<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <p:tabView scrollable="true">
        <p:tab title="General">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="menu-type:type_SELECTION" value="Menu Type:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:selection id="menu-type" propertyName="type" listItems="#{menuUtil.menuTypeList}" value="#{menuManagement.menu.type}" updateId="@form" listenerMethod="#{menuManagement.refresh}"/>
                </h:panelGroup>
            </h:panelGroup>

            <h:panelGroup layout="block" styleClass="ui-g" >
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="menu-name:menuName_TEXT" value="Menu Name:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="menu-name" propertyName="menuName" value="#{menuManagement.menu.name}" valueRequired="true"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type == 7}">
                    <p:outputLabel for="orientation:orientation_SELECTION" value="Orientation:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type == 7}">
                    <iberis:selection id="orientation" propertyName="orientation" listItems="#{listUtil.getUnitPropertyList('horizontal,Horizontal|vertical,Vertical')}" value="#{menuManagement.menu.orientation}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type != 6 and menuManagement.menu.type != 2 and menuManagement.menu.type != 3 and menuManagement.menu.type != 7}">
                    <p:outputLabel for="create-mobile:createMobile_BOOLEAN" value="Create Mobile Version:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type != 6 and menuManagement.menu.type != 2 and menuManagement.menu.type != 3 and menuManagement.menu.type != 7}">
                    <iberis:boolean id="create-mobile" value="#{menuManagement.menu.createMobile}" propertyName="createMobile"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type == 6}">
                    <p:outputLabel for="menu-crumb:menuToCrumb_PK_id" value="Menu To Crumb:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type == 6}">
                    <iberis:lookup id="menu-crumb" valueRequired="#{menuManagement.menu.type == 6}" displayValue="#{menuManagement.menu.menuToCrumb.name}" value="#{menuManagement.menu.menuToCrumb.id}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(634))}" dataBeanName="menuManagement.menu" fieldProperty="#{componentsUtil.getFieldProperty(634)}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type == 8 or menuManagement.menu.type == 2 or menuManagement.menu.type == 3 or menuManagement.menu.type == 7 or menuManagement.menu.createMobile}">
                    <p:outputLabel for="button-text:buttonText_TEXT" value="Mobile Label or Menu Button Text:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type == 8 or menuManagement.menu.type == 2 or menuManagement.menu.type == 3 or menuManagement.menu.type == 7 or menuManagement.menu.createMobile}">
                    <iberis:text id="button-text" propertyName="buttonText" value="#{menuManagement.menu.buttonText}" />
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Display" rendered="#{menuManagement.menu.type != null and menuManagement.menu.type != 6 and menuManagement.menu.type != 9}">
            <p>Menus with 0 width and/or sub width will have 100% width applied.</p>

            <h:panelGroup layout="block" styleClass="ui-g" >
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type == 0}">
                    <p:outputLabel for="toggleable:toggleable_BOOLEAN" value="Toggleable:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type == 0}">
                    <iberis:boolean id="toggleable" propertyName="toggleable" value="#{menuManagement.menu.toggleable}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{(menuManagement.menu.type gt  -1 and menuManagement.menu.type lt 5) or menuManagement.menu.type == 8}">
                    <p:outputLabel for="width:width_NUMBER" value="Width:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{(menuManagement.menu.type gt  -1 and menuManagement.menu.type lt 5) or menuManagement.menu.type == 8}">
                    <iberis:number id="width" value="#{menuManagement.menu.width}" propertyName="width" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{(menuManagement.menu.type == 0 or menuManagement.menu.type == 1 or menuManagement.menu.type == 4)}">
                    <p:outputLabel for="sub-width:subWidth_NUMBER" value="Sub Menu Width:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{(menuManagement.menu.type == 0 or menuManagement.menu.type == 1 or menuManagement.menu.type == 4)}">
                    <iberis:number id="sub-width" value="#{menuManagement.menu.subWidth}" propertyName="subWidth" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type == 1}">
                    <p:outputLabel for="height:height_NUMBER" value="Height:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type == 1}">
                    <iberis:number id="height" value="#{menuManagement.menu.height}" propertyName="height"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{menuManagement.menu.type == 2 or menuManagement.menu.type == 3 or menuManagement.menu.type == 7}">
                    <p:outputLabel for="z-index:zIndex_NUMBER" value="Z Index:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{menuManagement.menu.type == 2 or menuManagement.menu.type == 3 or menuManagement.menu.type == 7}">
                    <iberis:number id="z-index" value="#{menuManagement.menu.ZIndex}" propertyName="zIndex" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-12" rendered="#{menuManagement.menu.type == 2 or menuManagement.menu.type == 3 or menuManagement.menu.type == 7}">
                    <p>Z Index is the layer on the page. The default value is 100 when 0 but a set value may be needed to help menu to not get overlapped with other object on page.</p>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Sites" rendered="#{menuManagement.siteList.size() > 1}">
            <h:panelGrid columns="2">
                <p:selectOneMenu styleClass="select-field" value="#{menuManagement.siteListValue}">
                    <f:selectItems value="#{menuManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                </p:selectOneMenu>
                <p:commandButton value="Add" action="#{menuManagement.addSite}" update="site-list">
                    <f:param name="skipValidation" value="1" />
                </p:commandButton>
            </h:panelGrid>

            <p:dataTable value="#{menuManagement.menu.sites}" var="item" id="site-list" style="margin-bottom: 20px">
                <p:column headerText="Name">
                    <h:outputText value="#{item.siteName}"/>
                </p:column>
                <p:column styleClass="delete-link" width="70">
                    <p:commandLink value="Remove" action="#{menuManagement.removeSite(item)}"
                                   update="@form"
                                   style="margin-left: 10px" rendered="#{menuManagement.inSiteList(item.siteID)}">
                        <f:param name="skipValidation" value="1" />
                        <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                   icon="ui-icon-alert"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </p:tab>
    </p:tabView>

</ui:composition>