<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <style>
        div.pres-form-slider-settings,
        div.pres-form-display-settings,
        div.pres-form-hero-css
        {
            border: none;
        }

        div.pres-form-slider-settings div.ui-tabs-panels div.ui-tabs-panel,
        div.pres-form-display-settings  div.ui-tabs-panels div.ui-tabs-panel,
        div.pres-form-hero-css  div.ui-tabs-panels div.ui-tabs-panel
        {
            padding: 0;
        }
    </style>
    <p:tabView scrollable="true">
        <p:tab title="General">
            <h:panelGroup layout="block" styleClass="ui-g">
                <div class="ui-g-3 ui-sm-12">
                    <p:outputLabel for="presentation-type:presentationType_SELECTION" value="Presentation Type:"/>
                </div>
                <div class="ui-g-9 ui-sm-12">
                    <iberis:selection id="presentation-type" propertyName="presentationType" listItems="#{componentsUtil.getFieldProperty(375).unitPropertyListItems}" value="#{presentationManagement.presentation.presentationType}" listenerMethod="#{presentationManagement.refresh}" componentsToProcess="presentation-type" updateId=":presentation-management-form:presentation-update-panel" valueRequired="#{empty param['skipValidation']}"/>
                </div>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="ui-g" rendered="#{presentationManagement.presentation.presentationType > 0}">
                <div class="ui-g-3 ui-sm-12">
                    <p:outputLabel for="presentation-name:name_TEXT" value="Presentation Name:"/>
                </div>
                <div class="ui-g-9 ui-sm-12">
                    <iberis:text id="presentation-name" propertyName="name" value="#{presentationManagement.presentation.name}" valueRequired="#{empty param['skipValidation']}"/>
                </div>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 3}">
                    <p:outputLabel for="orientation:orientation_SELECTION" value="Orientation:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 3}">
                    <iberis:selection id="orientation" listItems="#{componentsUtil.getFieldProperty(378).unitPropertyListItems}" propertyName="orientation" value="#{presentationManagement.presentation.orientation}" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 7}">
                    <p:outputLabel for="flip-slides:flipSlides_BOOLEAN" value="Flip Slides:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 7}">
                    <iberis:boolean id="flip-slides" value="#{presentationManagement.presentation.flipSlides}" propertyName="flipSlides"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 5 or presentationManagement.presentation.presentationType == 7 or presentationManagement.presentation.presentationType == 3 or presentationManagement.presentation.presentationType == 1}">
                    <p:outputLabel for="use-overlay:useOverlay_BOOLEAN" value="Use Overlay:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 5or presentationManagement.presentation.presentationType == 7 or presentationManagement.presentation.presentationType == 3 or presentationManagement.presentation.presentationType == 1}">
                    <iberis:boolean id="use-overlay" value="#{presentationManagement.presentation.useOverlay}" propertyName="useOverlay"/>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Slider Settings" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
            <p:tabView scrollable="true" styleClass="pres-form-slider-settings">
                <p:tab title="Modes">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="slide-mode:slideMode_SELECTION" value="Slide Mode:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 5}">
                            <iberis:selection id="slide-mode" listItems="#{componentsUtil.getFieldProperty(381).unitPropertyListItems}" value="#{presentationManagement.presentation.slideMode}" propertyName="slideMode" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="animation-speed:animationSpeed_NUMBER" value="Animation Speed (MS):" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:number id="animation-speed" value="#{presentationManagement.presentation.animationSpeed}" propertyName="animationSpeed" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="start-slide:startSlide_NUMBER" value="Start Slide:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:number id="start-slide" value="#{presentationManagement.presentation.startSlide}" propertyName="startSlide" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="pause-time:pauseTime_NUMBER" value="Pause Time (MS):" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:number id="pause-time" value="#{presentationManagement.presentation.pauseTime}" propertyName="pauseTime" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Controls">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="show-pager:showPager_BOOLEAN" value="Show Pager:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:boolean id="show-pager" value="#{presentationManagement.presentation.showPager}" propertyName="showPager" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="show-controls:showControls_BOOLEAN" value="Show Controls:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:boolean id="show-controls" value="#{presentationManagement.presentation.showControls}" propertyName="showControls" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="auto-hide:autoHideControls_BOOLEAN" value="Auto Hide Controls:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:boolean id="auto-hide" value="#{presentationManagement.presentation.autoHideControls}" propertyName="autoHideControls" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Auto" rendered="#{presentationManagement.presentation.presentationType == 5}">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="auto-slide:autoSlide_BOOLEAN" value="Auto Slide:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 5}">
                            <iberis:boolean id="auto-slide" value="#{presentationManagement.presentation.autoSlide}" propertyName="autoSlide"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="auto-start:autoStart_BOOLEAN" value="Auto Start:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:boolean id="auto-start" value="#{presentationManagement.presentation.autoStart}" propertyName="autoStart" />
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
            </p:tabView>
        </p:tab>
        <p:tab title="Display Settings" rendered="#{presentationManagement.presentation.presentationType > 0}">
            <p:tabView scrollable="true" styleClass="pres-form-display-settings">
                <p:tab title="General">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="show-name:showName_BOOLEAN" value="Show Name:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="show-name" value="#{presentationManagement.presentation.showName}" propertyName="showName"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5 or presentationManagement.presentation.presentationType == 6 or presentationManagement.presentation.presentationType == 7}">
                            <p:outputLabel for="show-slide-title:showSlideTitle_BOOLEAN" value="Show Slide Title:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5 or presentationManagement.presentation.presentationType == 6 or presentationManagement.presentation.presentationType == 7}">
                            <iberis:boolean id="show-slide-title" value="#{presentationManagement.presentation.showSlideTitle}" propertyName="showSlideTitle" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <p:outputLabel for="hero-slider:heroSliderMode_BOOLEAN" value="Hero Mode:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 4 or presentationManagement.presentation.presentationType == 5}">
                            <iberis:boolean id="hero-slider" value="#{presentationManagement.presentation.heroSliderMode}" propertyName="heroSliderMode" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 7 or presentationManagement.presentation.presentationType == 6}">
                            <p:outputLabel for="block-size:blockSize_SELECTION" value="Block Size:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 7 or presentationManagement.presentation.presentationType == 6}">
                            <iberis:selection id="block-size" propertyName="blockSize" listItems="#{componentsUtil.getFieldProperty(638).unitPropertyListItems}" value="#{presentationManagement.presentation.blockSize}" valueRequired="#{empty param['skipValidation'] and presentationManagement.presentation.presentationType == 7}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 7}">
                            <p:outputLabel for="alternating-block-size:alternatingBlockSize_SELECTION" value="Alternating Block Size:" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 7}">
                            <iberis:selection id="alternating-block-size" propertyName="alternatingBlockSize"  listItems="#{componentsUtil.getFieldProperty(639).unitPropertyListItems}" value="#{presentationManagement.presentation.alternatingBlockSize}"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Dimensions">
                    <div class="ui-g">
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel for="min-height:minHeight_NUMBER" value="Min Height:"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:number id="min-height" value="#{presentationManagement.presentation.minHeight}" propertyName="minHeight"/>
                        </div>
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel for="min-width:minWidth_NUMBER" value="Min Width:"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:number id="min-width" value="#{presentationManagement.presentation.minWidth}" propertyName="minWidth"/>
                        </div>
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel for="max-height:maxHeight_NUMBER" value="Max Height:"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:number id="max-height" value="#{presentationManagement.presentation.maxHeight}" propertyName="maxHeight"/>
                        </div>
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel for="max-width:maxWidth_NUMBER" value="Max Width:"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:number id="max-width" value="#{presentationManagement.presentation.maxWidth}" propertyName="maxWidth"/>
                        </div>
                    </div>
                </p:tab>
                <p:tab title="Slide">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="image-max:imageMaxWidth_BOOLEAN" value="Image Max Width:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="image-max" value="#{presentationManagement.presentation.imageMaxWidth}" propertyName="imageMaxWidth"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Sections" rendered="#{presentationManagement.presentation.presentationType == 2 or presentationManagement.presentation.presentationType == 3}">
                    <h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 2}">
                                <p:outputLabel for="toggleable:toggleable_BOOLEAN" value="Toggleable:" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 2}">
                                <iberis:boolean id="toggleable" value="#{presentationManagement.presentation.toggleable}" propertyName="toggleable" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 2}">
                                <p:outputLabel for="collapsed:collapsed_BOOLEAN" value="Collapsed:" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 2}">
                                <iberis:boolean id="collapsed" value="#{presentationManagement.presentation.collapsed}" propertyName="collapsed"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 3}">
                                <p:outputLabel for="scrollable:scrollable_BOOLEAN" value="Scrollable:" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 3}">
                                <iberis:boolean id="scrollable" value="#{presentationManagement.presentation.scrollable}" propertyName="scrollable" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 3}">
                                <p:outputLabel for="sections-closable:sectionsClosable_BOOLEAN" value="Sections Closable:" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 3}">
                                <iberis:boolean id="sections-closable" value="#{presentationManagement.presentation.sectionsClosable}" propertyName="sectionsClosable" />
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Misc">
                    <h:panelGroup layout="block" styleClass="ui-g">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="editor-styles:allowEditorStyles_BOOLEAN" value="Allow Editor Styles:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="editor-styles" value="#{presentationManagement.presentation.allowEditorStyles}" propertyName="allowEditorStyles"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 6}">
                            <p:outputLabel for="original-format:originalFormat_BOOLEAN" value="Show Original Format:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 6}">
                            <iberis:boolean id="original-format" value="#{presentationManagement.presentation.originalFormat}" propertyName="originalFormat"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 6}">
                            <p:outputLabel for="primary-color:primaryColor_COLOR_PICKER" value="Primary Color:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 6}">
                            <iberis:colorpicker id="primary-color" value="#{presentationManagement.presentation.primaryColor}" propertyName="primaryColor"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 6}">
                            <p:outputLabel for="secondary-color:secondaryColor_COLOR_PICKER" value="Secondary Color:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12" rendered="#{presentationManagement.presentation.presentationType == 6}">
                            <iberis:colorpicker id="secondary-color" value="#{presentationManagement.presentation.secondaryColor}" propertyName="secondaryColor"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
            </p:tabView>
        </p:tab>
        <p:tab title="Split Pane Options">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="split-pane:splitPane_BOOLEAN" value="Split Pane:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:boolean id="split-pane" value="#{presentationManagement.presentation.splitPane}" propertyName="splitPane"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="pane-reversed:paneReversed_BOOLEAN" value="Pane Reversed:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:boolean id="pane-reversed" value="#{presentationManagement.presentation.paneReversed}" propertyName="paneReversed"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="left-pane-size:leftPaneSize_SELECTION" value="Left Pane Size:" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:selection id="left-pane-size" propertyName="leftPaneSize" listItems="#{componentsUtil.getFieldProperty(642).unitPropertyListItems}" value="#{presentationManagement.presentation.leftPaneSize}"/>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Hero CSS" rendered="#{presentationManagement.presentation.presentationType > 0 and (presentationManagement.presentation.presentationType == 5 or presentationManagement.presentation.presentationType == 4)}">
            <p>Adding CSS Style settings are optional</p>
            <style>.pres-form .CodeMirror {height: 70px}</style>

            <p:tabView scrollable="true" styleClass="pres-form-hero-css">
                <p:tab title="General">
                    <h:panelGroup layout="block" styleClass="ui-g pres-form">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="use-vw-font:useVwFont_BOOLEAN" value="Use VW Font:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:boolean id="use-vw-font" propertyName="useVwFont" value="#{presentationManagement.presentation.useVwFont}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="title-style:titleHeroStyle_CODE" value="Title Style:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:code codeType="text/css" showLineNumbers="false" id="title-style" propertyName="titleHeroStyle" value="#{presentationManagement.presentation.titleHeroStyle}"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Image">
                    <h:panelGroup layout="block" styleClass="ui-g pres-form">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="image-style:imageHeroStyle_CODE" value="Image Style:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:code codeType="text/css" showLineNumbers="false" id="image-style" propertyName="imageHeroStyle" value="#{presentationManagement.presentation.imageHeroStyle}"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Caption">
                    <h:panelGroup layout="block" styleClass="ui-g pres-form">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="caption-style:captionHeroStyle_CODE" value="Caption Style:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:code codeType="text/css" showLineNumbers="false" id="caption-style" propertyName="captionHeroStyle" value="#{presentationManagement.presentation.captionHeroStyle}"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
                <p:tab title="Link">
                    <h:panelGroup layout="block" styleClass="ui-g pres-form">
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="link-style:linkHeroStyle_CODE" value="Link Style:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:code codeType="text/css" showLineNumbers="false" id="link-style" propertyName="linkHeroStyle" value="#{presentationManagement.presentation.linkHeroStyle}"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                            <p:outputLabel for="link-container-style:linkContainerHeroStyle_CODE" value="Link Container Style:"/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                            <iberis:code codeType="text/css" showLineNumbers="false" id="link-container-style" propertyName="linkContainerHeroStyle" value="#{presentationManagement.presentation.linkContainerHeroStyle}"/>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:tab>
            </p:tabView>
        </p:tab>
        <p:tab title="Sites" rendered="#{presentationManagement.siteList.size() > 1}">
            <h:panelGrid columns="2">
                <p:selectOneMenu styleClass="select-field" value="#{presentationManagement.siteListValue}">
                    <f:selectItems value="#{presentationManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                </p:selectOneMenu>
                <p:commandButton value="Add" action="#{presentationManagement.addSite}" update="site-list">
                    <f:param name="skipValidation" value="1" />
                </p:commandButton>
            </h:panelGrid>

            <p:dataTable value="#{presentationManagement.presentation.sites}" var="item" id="site-list">
                <p:column headerText="Name">
                    <h:outputText value="#{item.siteName}"/>
                </p:column>
                <p:column styleClass="delete-link" width="70">
                    <p:commandLink value="Remove" action="#{presentationManagement.removeSite(item)}"
                                   update="@form"
                                   style="margin-left: 10px" rendered="#{presentationManagement.inSiteList(item.siteID)}">
                        <f:param name="skipValidation" value="1" />
                        <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                   icon="ui-icon-alert"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </p:tab>
    </p:tabView>

</ui:composition>