<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <p:dialog id="embed-dialog" widgetVar="embed-dialog" width="90%" style="max-width: 600px" header="Create Embed Code" modal="true" closable="true" draggable="false" appendTo="@(body)">
        <h:form>
            <ui:include src="../../CsrfTokenInsert.xhtml"/>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p:outputLabel value="Url to Embed: (Use embed url if not auto converted)" for="embed-url:embedUrl_TEXT"/>
                </div>
                <div class="ui-g-12">
                    <iberis:text id="embed-url" propertyName="embedUrl" value="#{videoManagement.embedUrl}" valueRequired="true"/>
                </div>
            </div>

            <p:commandButton value="Create Code" action="#{videoManagement.generateEmbedCode}" update=":video-management-form:tab-view:custom-content:customContent_CODE" oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('embed-dialog').hide();}"/>
        </h:form>
    </p:dialog>

</ui:composition>