<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">

    <p:remoteCommand name="refreshFallbackImage" action="#{videoManagement.refresh}" update=":video-management-form:tab-view:fallback-image-container"/>
    <p:tabView id="tab-view" scrollable="true">
        <p:tab id="general-tab" title="General">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="name:name_TEXT" value="Name:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="name" propertyName="name" valueRequired="#{empty param['skipValidation']}" value="#{videoManagement.video.name}" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="video-platform:videoPlatform_SELECTION" value="Video Platform:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:selection id="video-platform" value="#{videoManagement.video.videoPlatform}" listItems="#{listUtil.getUnitPropertyList('1,Youtube|2,Vimeo')}" propertyName="videoPlatform"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="video-id:platformVideoId_TEXT" value="Video Id:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="video-id" value="#{videoManagement.video.platformVideoId}" propertyName="platformVideoId" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="tags" value="Tags:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <p:autoComplete id="tags" multiple="true" value="#{videoManagement.video.videoTags}" completeMethod="#{videoManagement.tagsAutoComplete}"
                                    var="tag" itemLabel="#{tag.name}" itemValue="#{tag}" converter="tagConverter" forceSelection="true" minQueryLength="3">
                        <p:column>
                            <h:outputText value="#{tag.name}" />
                        </p:column>
                    </p:autoComplete>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Custom Content">
            <h:outputLink onclick="PF('embed-dialog').show();return false" value="#">Create Code from Url</h:outputLink>
            <iberis:code id="custom-content" value="#{videoManagement.video.customContent}" propertyName="customContent" codeType="application/xml"/>
        </p:tab>
        <p:tab title="Background">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <p:outputLabel for="as-background:videoAsBackground_BOOLEAN" value="Video As Background:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                    <iberis:boolean id="as-background" propertyName="videoAsBackground" value="#{videoManagement.video.videoAsBackground}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <p:outputLabel for="background-type:backgroundType_SELECTION" value="Background Type:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                    <iberis:selection id="background-type" value="#{videoManagement.video.backgroundType}" listItems="#{listUtil.getUnitPropertyList('1,IFrame Static|2,Relative')}" propertyName="backgroundType"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <p:outputLabel for="min-height:minHeight_NUMBER" value="Static Iframe Min Height:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                    <iberis:number id="min-height" value="#{videoManagement.video.minHeight}" propertyName="minHeight"/>
                </h:panelGroup>
                <div class="ui-g-3 ui-sm-6">
                    <p:outputLabel for="overlay-color:overlayColor_COLOR_PICKER" value="Overlay Color:"/>
                </div>
                <div class="ui-g-9 ui-sm-6">
                    <iberis:colorpicker id="overlay-color" propertyName="overlayColor" value="#{videoManagement.video.overlayColor}"/>
                </div>
				<h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
					<p:outputLabel for="fallback-image:fallbackImage_PK_imageid" value="Mobile Fallback Image:"/>
				</h:panelGroup>
				<h:panelGroup id="fallback-image-container" layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:lookup id="fallback-image" callback="refreshFallbackImage" displayValue="#{videoManagement.video.fallbackImage.name}" value="#{videoManagement.video.fallbackImage.imageid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(655))}" dataBeanName="videoManagement.video" fieldProperty="#{componentsUtil.getFieldProperty(655)}"/>
                    <h:graphicImage style="max-width: 100px" rendered="#{videoManagement.video.fallbackImage != null and videoManagement.video.fallbackImage.imageid > 0}" value="#{videoManagement.video.fallbackImage.filePath}"/>
				</h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Overlay Caption">
            <iberis:editor width="100%" height="200px" propertyName="overlayCaption" value="#{videoManagement.video.overlayCaption}"/>
        </p:tab>
        <p:tab title="Header">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <p:outputLabel for="show-header:showHeader_BOOLEAN" value="Show:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                    <iberis:boolean id="show-header" propertyName="showHeader" value="#{videoManagement.video.showHeader}"/>
                </h:panelGroup>
            </h:panelGroup>
            <iberis:editor width="100%" height="200px" propertyName="header" value="#{videoManagement.video.header}"/>
        </p:tab>
        <p:tab title="Footer">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-6">
                    <p:outputLabel for="show-footer:showFooter_BOOLEAN" value="Show:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-6">
                    <iberis:boolean id="show-footer" propertyName="showFooter" value="#{videoManagement.video.showFooter}"/>
                </h:panelGroup>
            </h:panelGroup>
            <iberis:editor width="100%" height="200px" propertyName="footer" value="#{videoManagement.video.footer}"/>
        </p:tab>
        <p:tab title="File Info">
            <h:panelGroup layout="block" styleClass="ui-g">
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="mime-type:mimeType_PK_typeid" value="MimeType:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:lookup id="mime-type" value="#{videoManagement.video.mimeType.typeid}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(608))}" dataBeanName="videoManagement.video" fieldProperty="#{componentsUtil.getFieldProperty(608)}"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="file-path:filePath_TEXT" value="File Path:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:text id="file-path" value="#{videoManagement.video.filePath}" propertyName="filePath" />
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                    <p:outputLabel for="width:width_NUMBER" value="Width:"/>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                    <iberis:number id="width" value="#{videoManagement.video.width}" propertyName="width"/>
                </h:panelGroup>
            </h:panelGroup>
        </p:tab>
        <p:tab title="Sites" rendered="#{videoManagement.siteList.size() > 1}">
            <h:panelGrid columns="2">
                <p:selectOneMenu styleClass="select-field" value="#{videoManagement.siteListValue}">
                    <f:selectItems value="#{videoManagement.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteID}"/>
                </p:selectOneMenu>
                <p:commandButton value="Add" action="#{videoManagement.addSite}" update="site-list">
                    <f:param name="skipValidation" value="1" />
                </p:commandButton>
            </h:panelGrid>

            <p:dataTable value="#{videoManagement.video.sites}" var="item" id="site-list">
                <p:column headerText="Name">
                    <h:outputText value="#{item.siteName}"/>
                </p:column>
                <p:column styleClass="delete-link" width="70">
                    <p:commandLink value="Remove" action="#{videoManagement.removeSite(item)}"
                                   update="@form"
                                   style="margin-left: 10px" rendered="#{videoManagement.inSiteList(item.siteID)}">
                        <f:param name="skipValidation" value="1" />
                        <p:confirm header="Confirmation" message="Are you sure you want to remove this site?"
                                   icon="ui-icon-alert"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </p:tab>
    </p:tabView>

</ui:composition>