<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="/templates/base/EmptyTemplate.xhtml">
            
            <ui:define name="main-content">
                <style type="text/css">
                    .ui-layout-pane-north, div.ui-layout-pane-north div.ui-layout-unit-content
                    {
                        overflow: hidden;
                        border: none;
                    }

                    .ui-layout-pane-south
                    {
                        overflow: hidden;
                        border: none;
                    }

                    .ui-layout-center
                    {
                        border: none;
                    }

                    .ui-panel .ui-panel-title
                    {
                        margin: 0;
                    }
                </style>
                <f:metadata>
                    <f:event type="preRenderView" listener="#{dataGrid.enableLookupMode}"/>
                </f:metadata>
                <p:panel style="border: none">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="#{dataGrid.unit.pluralIcon}"></span>
                            <h:outputText value="#{bundle[dataGrid.unit.pluralName]}" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                    Please select the appropriate ${bundle[dataGrid.unit.singularName]} and it will be populated in the lookup control that you clicked.
                    <p:messages><p:autoUpdate /></p:messages>
                </p:panel>
                <h:form id="unitGridForm" onsubmit="return false;">
                    <ui:include src="CsrfTokenInsert.xhtml"/>

                    <p:dataTable id="unitDataTable" scrollable="true" scrollHeight="210"
                                 var="item" value="#{dataGrid.lazyLoader}"  lazy="true" rendered="true" rows="10"
                                 rowsPerPageTemplate="10,15,25,50,150,250" reflow="false" paginatorPosition="bottom"
                                 paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                        <p:ajax event="rowSelectRadio" listener="#{dataGrid.onRowSelect}" update=":lookupGridToolbarForm:lookupGridToolbar" />

                        <p:column selectionMode="single" style="width:30px;text-align:center" />

                        <!-- Show image preview if the lookup is image unit -->
                        <c:if test="#{dataGrid.unit.unitID == 33}">
                            <p:column headerText="">
                                <h:graphicImage value="#{item.filePath}" width="100"/>
                            </p:column>
                        </c:if>

                        <p:columns value="#{dataGridBindings.gridColumns}" var="column" priority="#{colIndex}" columnIndexVar="colIndex" filterBy="#{column.unitProperty.propertyName}">
                            <f:facet name="header">
                                #{bundle[column.unitProperty.bundleLabelId]}
                            </f:facet>

                            <h:outputText value="#{dataGridBindings.getColumnValue(column)}" />
                        </p:columns>
                    </p:dataTable>
                </h:form>
                <ui:include src="/templates/grid/LookupGridToolbar.xhtml" />
            </ui:define>
        </ui:composition>
    </body>
</html>

