<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	    xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/templates/base/FormTemplate.xhtml">
            <ui:define name="main-content">


            <p:layout fullPage="true">

                <p:layoutUnit position="north" resizable="false">

                    <p:panel style="border: none" id="headerTitle">
                        <f:facet name="header">
                            <h:panelGrid columns="2">
                                <span style="font-size: 1.4em" class="${dataForm.unit.pluralIcon}"></span>
                                <h:outputText value="#{bundle[dataForm.unit.singularName]}: #{dataForm.headerTitle}" style="font-size: 1.25em;margin-left: 20px" />
                            </h:panelGrid>
                        </f:facet>
                    </p:panel>
                </p:layoutUnit>
                <p:layoutUnit position="center" >
                    <h:form id="unitForm">
                        <ui:include src="CsrfTokenInsert.xhtml"/>
                        <ui:include src="/templates/form/FormFields.xhtml"  />
                    </h:form>
                </p:layoutUnit>
                <p:layoutUnit position="east" header="Additional Information" size="45%" resizable="false" collapsible="true">
                    <h:panelGroup id="layout-east">
                        <p:accordionPanel id="formAccordion" style="height: 100%" rendered="#{dataForm.key != null}">
                            <p:tab title="Child Records / Related Items" rendered="#{dataForm.tabs.size() > 0}">

                                <p:selectOneMenu id="selectedTab" value="#{dataForm.selectedTab}" style="width: 90%" onchange="$('#childRelationshipIframe').attr('src',$('#formAccordion\\:selectedTab_input').val());">
                                    <f:selectItem itemValue="" itemLabel=""/>
                                    <f:selectItems value="#{dataForm.tabs}" var="tab" itemLabel="#{tab.tabName}" itemValue="#{siteSettings.siteUrl}/unit-grid/#{tab.unitId}/#{dataForm.unitInstance[dataForm.primaryKeyProperty.propertyName]}/#{dataForm.primaryKeyProperty.unit.unitID}/#{tab.tabId}" />
                                </p:selectOneMenu>
                                <iframe id="childRelationshipIframe" frameborder="0" src="#{dataForm.selectedTab}" style="width: 100%;height: 92%" ></iframe>

                            </p:tab>
                        </p:accordionPanel>
                        <h:outputText rendered="#{dataForm.key == null}" value="No additional information. You must save and create the record first."/>
                    </h:panelGroup>
                </p:layoutUnit>
                <p:layoutUnit position="south" style="overflow: hidden" resizable="false" size="60">

                    <ui:include src="/templates/form/FormToolbar.xhtml" />

                </p:layoutUnit>
            </p:layout>
                    
            </ui:define>
        </ui:composition>
    </body>
</html>

