<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="profile-management">
            <p:dialog id="password-dialog" widgetVar="passwordDialog" header="Change Password" width="90%" style="max-width: 500px" modal="true" closable="true" draggable="false" appendTo="@(body)">
                <h:form>
                    <ui:include src="CsrfTokenInsert.xhtml"/>
                    <div class="ui-g">
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel value="Password" for="password:password_PASSWORD"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:password id="password" propertyName="password" value="#{userProfileManagement.password}" valueRequired="true"/>
                        </div>
                        <div class="ui-g-3 ui-sm-12">
                            <p:outputLabel value="Password Confirm" for="password-confirm:passwordConfirm_PASSWORD"/>
                        </div>
                        <div class="ui-g-9 ui-sm-12">
                            <iberis:password id="password-confirm" propertyName="passwordConfirm" value="#{userProfileManagement.passwordConfirm}" valueRequired="true"/>
                        </div>
                    </div>
                    <p:commandButton value="Save" action="#{userProfileManagement.savePassword}" update="@form" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('passwordDialog').hide()"/>
                </h:form>
            </p:dialog>
            <h:form id="profile-form">
                <ui:include src="CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-user22"></span>
                            <h:outputText value="My User Profile" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>
                        <p:commandButton value="Save" action="#{userProfileManagement.save}" update="@form"/>
                        <p:commandButton value="Change Password" update=":password-dialog" oncomplete="PF('passwordDialog').show()">
                            <f:param name="skipValidation" value="1" />
                        </p:commandButton>
                    </h2>
                    <p:tabView id="tab-view" scrollable="true">
                        <p:tab title="General">
                            <div class="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="User Name" for="user-name:userName_READONLY"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:readonly id="user-name" value="#{userProfileManagement.user.userName}" propertyName="userName"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="First Name" for="first-name:firstName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="first-name" value="#{userProfileManagement.user.firstName}" propertyName="firstName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Middle Name" for="middle-name:middleName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="middle-name" value="#{userProfileManagement.user.middleName}" propertyName="middleName"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Last Name" for="last-name:lastName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="last-name" value="#{userProfileManagement.user.lastName}" propertyName="lastName" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Email" for="email:email_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="email" value="#{userProfileManagement.user.email}" propertyName="email" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Secret Question" for="secret-question:userSecretQuestion_SELECTION"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:selection id="secret-question" value="#{userProfileManagement.user.userSecretQuestion}" propertyName="userSecretQuestion" listItems="#{componentsUtil.getFieldProperty(544).unitPropertyListItems}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Secret Answer" for="secret-answer:userSecretAnswer_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="secret-answer" value="#{userProfileManagement.user.userSecretAnswer}" propertyName="userSecretAnswer"/>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Groups" rendered="#{userProfileManagement.user.userId > 0}">
                            <p:dataTable id="group-table" var="item" value="#{userProfileManagement.user.groups}" paginator="true" rows="10"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,25,50" lazy="true" style="max-width: 500px">

                                <p:column headerText="Group Name">
                                    <h:outputText value="#{item.groupName}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Site Memberships" rendered="#{userProfileManagement.user.userId > 0}">
                            <p:dataTable id="membership-table" var="membership" value="#{userProfileManagement.user.siteMemberships}" paginator="true" rows="10"
                                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                         rowsPerPageTemplate="10,25,50" lazy="true" style="max-width: 500px;">

                                <p:column headerText="Site" priority="0">
                                    <h:outputText value="#{membership.site.siteName}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:panelGroup>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>