<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/CMSTemplate.xhtml">
    <ui:define name="main-content">
        <div class="ui-g-6 ui-sm-12 ui-smd-12">
            <div class="card">
                <h2>Logout</h2>
                <div class="user-logout">
                    <p>Click logout below to logout of system.</p>
                </div>
                <form class="form-inline" action="/logout" method="post">
                    <ui:include src="CsrfTokenInsert.xhtml"/>
                    <button id="logout-button" name="logout-button" style="padding: 5px" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only logout-button" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Log out</span></button>
                </form>
            </div>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>