<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/EmptyTemplate.xhtml">
    <ui:define name="main-content">
        <div class="fullscreen-video">
            <div class="embed-video-container">
                <c:if test="#{videoBackground.video.videoPlatform == 1}">
                    <iframe allowfullscreen="true" class="video-iframe" frameborder="0" src="https://www.youtube.com/embed/#{videoBackground.video.platformVideoId}?autoplay=1&amp;playlist=#{videoBackground.video.platformVideoId}&amp;enablejsapi=0&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;fs=0&amp;cc_load_policy=0&amp;iv_load_policy=3&amp;mute=1"></iframe>
                </c:if>
                <c:if test="#{videoBackground.video.videoPlatform == 2}">
                    <iframe id="video-background-#{videoBackground.video.id}" class="video-iframe" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var vimBackPlayer = new Vimeo.Player('video-background-#{videoBackground.video.id}', {
                                id: '#{videoBackground.video.platformVideoId}',
                                autoplay: true,
                                background: true,
                                loop: true
                            });
                            vimBackPlayer.setVolume(0);
                        });
                    </script>
                </c:if>
            </div>
        </div>
        <h:graphicImage styleClass="mobile-only video-fallback-image" style="display: none" value="#{videoBackground.video.fallbackImage.filePath}" rendered="#{videoBackground.video.fallbackImage != null and videoBackground.video.fallbackImage.imageid > 0}"/>
        <div class="video-background-overlay" style="#{(videoBackground.video.overlayColor != null and videoBackground.video.overlayColor != '')? 'background-color: rgb('.concat(textUtil.convertHexToRgb(videoBackground.video.overlayColor)).concat(',0.5);'):''}">
            <div class="video-overlay-caption">
                <h:outputText value="#{videoBackground.video.overlayCaption}" escape="false"/>
            </div>
        </div>
        <!--
            This page is used in an iframe to show video as a background. Unfortunately, javascript has
            to be used instead of media query because small iframe in a section of a desktop page will only show
            fallback image if only media queries are used. Anyone not wanting to use this functionality should
            choose relative type instead of static iframe to avoid this page. This page is useful in certain situations
            to show background video that is centered in an exact box size.
         -->
        <script type="text/javascript">
            if(isMobileBrowser())
            {
                $("div.fullscreen-video").hide();
                $(".video-fallback-image").show();
                $("#static-background-video-#{videoBackground.video.id}", window.parent.document).css("min-height", ($(".video-fallback-image").height() + 2) + "px");

                if($(".video-fallback-image").height() &lt;= 200)
                {
                    $(".video-overlay-caption").css("font-size",".8em");
                }
            }
        </script>
    </ui:define>
</ui:composition>
</body>
</html>