<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">
        <p:panel style="border: none">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-cog22"></span>
                    <h:outputText value="System Unit Created" style="font-size: 20px;margin-left: 20px" />
                </h:panelGrid>
            </f:facet>
        </p:panel>
        <p>New system unit has been created. Please click <h:outputLink value="#{request.contextPath}/admin/system-units/#{request.getParameter('unitId')}">here</h:outputLink> to manage the system unit.</p>
    </ui:define>
</ui:composition>
</body>
</html>