<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="/templates/base/EmptyTemplate.xhtml">
            
            <ui:define name="main-content">
                <style type="text/css">
                    .ui-layout-pane-north, div.ui-layout-pane-north div.ui-layout-unit-content
                    {
                        overflow: hidden;
                        border: none;
                    }

                    .ui-layout-pane-south
                    {
                        overflow: hidden;
                        border: none;
                    }

                    .ui-layout-center
                    {
                        border: none;
                    }

                    .ui-panel .ui-panel-title
                    {
                        margin: 0;
                    }
                </style>

                <p:layout fullPage="true">
                    <p:layoutUnit position="north" >
                        <p:panel style="border: none">
                            <f:facet name="header">
                                <h:panelGrid columns="2">
                                    <span style="font-size: 1.4em" class="icon-book"></span>
                                    <h:outputText value="Resource Bundle" style="font-size: 1.25em;margin-left: 20px" />
                                </h:panelGrid>
                            </f:facet>
                            Please select the appropriate Resource Bundle item and it will be populated in the lookup control that you clicked.

                        </p:panel>
                    </p:layoutUnit>
                    <p:layoutUnit position="center">
                        <h:form id="unitGridForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <h:panelGroup>
                                <p:outputLabel for="bundleKey" value="Bundle Key"/>
                                <p:inputText id="bundleKey" required="true" value="#{bundleManagement.bundleItem.bundleKey}" style="margin-left: 6px;padding: 6px;"/>
                                <p:outputLabel for="bundleValue" value="Bundle Value" style="margin-left: 6px"/>
                                <p:inputText id="bundleValue" required="true" value="#{bundleManagement.bundleItem.bundleValue}" style="margin-left: 6px;padding: 6px;"/>
                                <p:commandButton value="Add" action="#{bundleManagement.addBundleItem}" update="@form" style="margin-left: 6px;"/>
                            </h:panelGroup>
                            <p:messages><p:autoUpdate /></p:messages>
                            <p:dataTable id="unitDataTable"
                                            var="item" value="#{bundleManagement.lazyLoader}"  lazy="true" rendered="true" rows="10"
                                            rowsPerPageTemplate="10,15,25,50,150,250"  style="margin-top: 10px" editable="true"
                                            paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                <p:ajax event="rowSelectRadio" listener="#{bundleManagement.onRowSelect}" update="@form,:lookupGridToolbarForm:lookupGridToolbar" />
                                <p:ajax event="rowEdit" listener="#{bundleManagement.onRowEdit}" />
                                <p:ajax event="rowEditCancel" listener="#{bundleManagement.onRowCancel}" />

                                <p:column selectionMode="single" style="width:16px;text-align:center" />

                                <p:column headerText="Key" filterBy="#{item.bundleKey}">
                                    <p:cellEditor>
                                        <f:facet name="output"><h:outputText value="#{item.bundleKey}"/></f:facet>
                                        <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.bundleKey}"/></f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Value" filterBy="#{item.bundleValue}">
                                    <p:cellEditor>
                                        <f:facet name="output"><h:outputText value="#{item.bundleValue}"/></f:facet>
                                        <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.bundleValue}"/></f:facet>
                                    </p:cellEditor>
                                </p:column>

                                <p:column headerText="Country Code" filterBy="#{item.countryCode}">
                                    <h:outputText value="#{item.countryCode}"/>
                                </p:column>

                                <p:column headerText="Lang Code" filterBy="#{item.languageCode}">
                                    <h:outputText value="#{item.languageCode}"/>
                                </p:column>

                                <p:column style="width:32px">
                                    <p:rowEditor />
                                </p:column>

                            </p:dataTable>
                        </h:form>
                    </p:layoutUnit>
                    <p:layoutUnit position="south" size="75">
                        <h:form id="lookupGridToolbarForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <p:toolbar id="lookupGridToolbar">
                                <f:facet name="left">

                                    <p:outputLabel style="margin: 10px;" rendered="#{bundleManagement.selectedBundleItem != null}" value="Selection: #{bundleManagement.selectedBundleItem.bundleKey}"/>

                                </f:facet>
                                <f:facet name="right">
                                        <p:commandButton value="Ok" onclick="fillInResourceBundle('#{bundleManagement.referencedDisplayField}', '#{bundleManagement.selectedBundleItem.bundleKey}')"/>
                                        <p:commandButton type="button" value="Cancel" onclick="closeLookupDialog();"/>
                                        <p:commandButton type="button" value="No Value" onclick="clearResourceBundleValue('#{bundleManagement.referencedDisplayField}');closeLookupDialog();"/>
                                </f:facet>
                            </p:toolbar>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </ui:define>
        </ui:composition>
    </body>
</html>

