<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="/templates/base/AdminTemplate.xhtml">
            
            <ui:define name="main-content">

                <p:panel style="border: none">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-book"></span>
                            <h:outputText value="Resource Bundle" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>
                        <h:form id="resourceBundleForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <div class="ui-g">
                                <div class="ui-g-2 ui-sm-12">
                                    <p:outputLabel for="bundleKey" value="Bundle Key"/>
                                </div>
                                <div class="ui-g-4 ui-sm-12">
                                    <p:inputText id="bundleKey" required="true" value="#{bundleManagement.bundleItem.bundleKey}" style="width: 97%;padding: 6px;"/>
                                </div>
                                <div class="ui-g-2 ui-sm-12">
                                    <p:outputLabel for="bundleValue" value="Bundle Value"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:inputText id="bundleValue" required="true" value="#{bundleManagement.bundleItem.bundleValue}" style="width: 97%;padding: 6px;"/>
                                </div>
                                <div class="ui-g-1 ui-sm-12">
                                    <p:commandButton value="Add" action="#{bundleManagement.addBundleItem}" update="@form,:resourceBundleGridForm"/>
                                </div>
                            </div>
                        </h:form>
                    </h2>

                    <h:form id="resourceBundleGridForm">
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <p:messages><p:autoUpdate /></p:messages>
                        <p:dataTable id="unitDataTable" reflow="true"
                                     var="item" value="#{bundleManagement.lazyLoader}"  lazy="true" rendered="true" rows="10"
                                     rowsPerPageTemplate="10,15,25,50,150,250"  style="margin-top: 10px" editable="true"
                                     paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                            <p:ajax event="rowEdit" listener="#{bundleManagement.onRowEdit}" />
                            <p:ajax event="rowEditCancel" listener="#{bundleManagement.onRowCancel}" />

                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>

                            <p:column headerText="Key" filterBy="#{item.bundleKey}">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{item.bundleKey}"/></f:facet>
                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.bundleKey}"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Value" filterBy="#{item.bundleValue}">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{item.bundleValue}"/></f:facet>
                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.bundleValue}"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column headerText="Country Code" filterBy="#{item.countryCode}">
                                <h:outputText value="#{item.countryCode}"/>
                            </p:column>

                            <p:column headerText="Lang Code" filterBy="#{item.languageCode}">
                                <h:outputText value="#{item.languageCode}"/>
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

