<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">
        <p:dialog id="form-layout-dialog" widgetVar="form-layout-dialog" header="Edit Form Layout" width="90%" height="500" style="max-width: 600px" minWidth="600" minHeight="350" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <p:messages><p:autoUpdate /></p:messages>
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <iberis:code propertyName="layoutXml" value="#{formListManagement.form.layoutXml}" codeType="application/xml" valueRequired="true"/>
                <p:commandButton value="Save" action="#{formListManagement.save}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('form-layout-dialog').hide()" />
            </h:form>
        </p:dialog>
        <p:panel style="border: none">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-insert-template"></span>
                    <h:outputText value="Unit Forms" style="font-size: 20px;margin-left: 20px" />
                </h:panelGrid>
            </f:facet>
            <p:button escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" href="/admin/form"/>
        </p:panel>
        <div class="card">
            <h:form id="management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:messages><p:autoUpdate /></p:messages>

                <p:dataTable value="#{formListManagement.formGenericLazyLoader}" var="item" lazy="true"
                             rowIndexVar="index" paginator="true" rows="20" rowsPerPageTemplate="20,40,100">

                    <p:column headerText="Name" filterBy="#{item.name}" priority="0">
                        <h:outputText value="#{item.name}"/>
                    </p:column>
                    <p:column headerText="Unit" filterBy="#{item.unit.unitName}" priority="4">
                        <h:outputText value="#{item.unit.unitName}"/>
                    </p:column>
                    <p:column priority="2">
                        <p:commandLink value="Edit Layout" action="#{formListManagement.selectForm(item)}" update=":form-layout-dialog" oncomplete="PF('form-layout-dialog').show()"/>
                    </p:column>
                    <p:column priority="1">
                        <h:outputLink value="#{request.contextPath}/admin/form/#{item.formId}">Edit Form</h:outputLink>
                    </p:column>
                    <p:column priority="3">
                        <p:commandLink action="#{formListManagement.delete(item)}" value="Delete" update="@form"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>