<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">
        <p:dialog id="tab-dialog" widgetVar="tab-dialog" header="Related Grid" width="90%" style="max-width: 800px" height="500" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <p:messages><p:autoUpdate /></p:messages>
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:tabView>
                    <p:tab title="General">
                        <div class="ui-g">
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Name *" for="tabName:tabName_TEXT"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:text id="tabName" propertyName="tabName" value="#{formManagement.tab.tabName}" valueRequired="true"/>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Sequence Index*" for="sequence:sequence_NUMBER"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:number id="sequence" propertyName="sequence" value="#{formManagement.tab.sequence}" valueRequired="true"/>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Referenced Property" for="referencedProperty" rendered="#{formManagement.referencingProperties.size() > 0}"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <p:selectOneMenu id="referencedProperty" value="#{formManagement.referencePropertyId}" style="width: 92%" styleClass="select-field" rendered="#{formManagement.referencingProperties.size() > 0}">
                                    <p:ajax update="@form" listener="#{formManagement.referenceChange}"/>
                                    <f:selectItem itemLabel="" itemValue="0"/>
                                    <f:selectItems value="#{formManagement.referencingProperties}" var="item" itemValue="#{item.propertyId}" itemLabel="(#{bundle[item.unit.singularName]}) #{item.propertyName}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Grid *" for="gridId:gridId_PK_gridId" rendered="#{formManagement.tab.unitId > 0}"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:lookup id="gridId" filter="o.unitId = #{formManagement.tab.unitId}" rendered="#{formManagement.tab.unitId > 0}" value="#{formManagement.tab.gridId}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(314))}" fieldProperty="#{componentsUtil.getFieldProperty(314)}" dataBeanName="formManagement.tab" valueRequired="true"/>
                            </div>
                        </div>
                    </p:tab>
                    <p:tab title="Custom Query" rendered="#{formManagement.referencePropertyId == null || formManagement.referencePropertyId == 0}">
                        <iberis:code id="customQuery" value="#{formManagement.tab.customQuery}" codeType="text/x-mysql" propertyName="customQuery" />
                    </p:tab>
                </p:tabView>

                <p:commandButton value="Save" action="#{formManagement.saveTab}" update="@form,:management-form:tab-view:tab-grid" />
            </h:form>
        </p:dialog>
        <p:dialog id="layout-dialog" widgetVar="layout-dialog" header="Form Layout" width="90%" height="500" style="max-width: 800px" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <p:messages><p:autoUpdate /></p:messages>
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:commandButton action="#{formManagement.addSection}" value="Add Section" update="@form">
                    <f:param name="skipValidation" value="1" />
                </p:commandButton>
                <p:commandButton value="Save Layout" action="#{formManagement.saveLayout}" update="@form,:management-form" oncomplete="PF('layout-dialog').hide()" />
                <h:panelGroup id="sections-layout">
                    <ui:repeat value="#{formManagement.formLayout.sections}" var="section">
                        <div style="padding: 10px;background: lightgray;border: solid 1px;">
                            <div>
                                <h3>Section: <p:inputText value="#{section.name}"/>
                                    <p:commandLink value="Remove" action="#{formManagement.removeSection(section)}" update="@form"  style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                    <p:commandLink value="Add Field" action="#{formManagement.addField(section)}" update="@form"  style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </h3>
                            </div>
                            <div class="field-list ui-g" style="border: solid 1px;min-height: 90px;background: white;">
                                <ui:repeat value="#{section.fields}" var="field" varStatus="status">
                                    <div class="ui-g-#{field.width}" style="min-height: 170px">
                                        <div class="portlet-header">
                                            Field:
                                            <p:selectOneMenu value="#{field.propertyId}">
                                                <f:selectItems value="#{formManagement.unitProperties}" var="uproperty" itemLabel="#{uproperty.propertyName}" itemValue="#{uproperty.propertyId}"/>
                                            </p:selectOneMenu>
                                            Required:
                                            <p:selectOneMenu value="#{field.required}">
                                                <f:selectItem itemValue="false" itemLabel="False"/>
                                                <f:selectItem itemValue="true" itemLabel="True"/>
                                            </p:selectOneMenu>
                                            Inline Label:
                                            <p:selectOneMenu value="#{field.inlineLabel}">
                                                <f:selectItem itemValue="false" itemLabel="False"/>
                                                <f:selectItem itemValue="true" itemLabel="True"/>
                                            </p:selectOneMenu>
                                            #{status.begin}<br/>
                                            <p:commandLink action="#{formManagement.removeField(section,field)}" value="Remove" update="@form"><f:param name="skipValidation" value="1" /></p:commandLink>
                                            <p:commandLink value="Move Up" style="margin-left: 15px" rendered="#{status.index != 0}" action="#{formManagement.reorderFields(section, field, status.index - 1)}" update="@form"/>
                                            <p:commandLink value="Move Down" style="margin-left: 15px" rendered="#{status.index != (section.fields.size() - 1)}" action="#{formManagement.reorderFields(section, field, status.index + 1)}" update="@form"/>
                                        </div>
                                        <div class="ui-g">
                                            <div class="ui-g-12">
                                                <iberis:selection id="width" propertyName="width" value="#{field.width}" updateId="@form" listenerMethod="#{formManagement.refresh}" listItems="#{componentsUtil.getFieldProperty(508).unitPropertyListItems}" valueRequired="#{empty param['skipValidation']}"/>
                                            </div>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </div>
                        </div>
                    </ui:repeat>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <p:panel style="border: none" id="header-panel">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-insert-template"></span>
                    <h:outputText value="Create Form" style="font-size: 20px;margin-left: 20px" rendered="#{formManagement.form.formId == null or formManagement.form.formId == 0}" />
                    <h:outputText value="Edit Form" style="font-size: 20px;margin-left: 20px" rendered="#{formManagement.form.formId != null or formManagement.form.formId > 0}"/>
                </h:panelGrid>
            </f:facet>
            <p:button rendered="#{formManagement.form.unit != null and formManagement.form.unit.unitID > 0}" href="#{request.contextPath}/admin/system-units/#{formManagement.form.unit.unitID}" value="Back to #{bundle[formManagement.form.unit.singularName]} System Unit" />
            <p:button style="margin-left: 20px" href="#{request.contextPath}/admin/forms" value="To Entire Form List"/>
        </p:panel>
        <div class="card">
            <h:form id="management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12">
                        <div class="ui-g">
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel for="name:name_TEXT" value="Name *"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:text id="name" value="#{formManagement.form.name}" propertyName="name" valueRequired="#{empty param['skipValidation']}"/>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel for="unit:unit_PK_unitID" rendered="#{formManagement.form.unit == null or formManagement.form.unit.unitID == null or formManagement.form.unit.unitID == 0}" value="System Unit *"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:lookup id="unit" rendered="#{formManagement.form.unit == null or formManagement.form.unit.unitID == null or formManagement.form.unit.unitID == 0}" valueRequired="#{empty param['skipValidation']}" fieldProperty="#{componentsUtil.getFieldProperty(283)}" displayValue="#{formManagement.form.unit.unitName}" value="#{formManagement.form.unit.unitID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(283))}" dataBeanName="formManagement.form" />
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel for="formType:formType_PK_formTypeId" value="Form Type *"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:lookup id="formType" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(284))}" value="#{formManagement.form.formType.formTypeId}" dataBeanName="formManagement.form" fieldProperty="#{componentsUtil.getFieldProperty(284)}" valueRequired="#{empty param['skipValidation']}"/>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel for="layoutXml:layoutXml_CODE" value="Layout XML *" rendered="#{formManagement.form.unit != null and formManagement.form.unit.unitID > 0}"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <h:panelGroup>
                                    <p:commandLink value="Layout Editor" action="#{formManagement.openLayoutDesigner()}" update=":layout-dialog" oncomplete="PF('layout-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                    <iberis:code id="layoutXml" codeType="application/xml" propertyName="layoutXml" rendered="#{formManagement.form.unit != null and formManagement.form.unit.unitID > 0}" value="#{formManagement.form.layoutXml}" valueRequired="#{empty param['skipValidation']}"/>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <p:tabView id="tab-view" rendered="#{formManagement.form.formId != null}">
                            <p:tab title="Related Grids">
                                <p:commandButton escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt;  Create" action="#{formManagement.newTab}" update=":tab-dialog" oncomplete="PF('tab-dialog').show()">
                                    <f:param name="skipValidation" value="1" />
                                </p:commandButton>
                                <p:dataTable id="tab-grid" reflow="true" value="#{formManagement.form.tabs}" var="item" rowIndexVar="index" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                    <p:column headerText="Name" width="150">
                                        <h:outputText value="#{item.tabName}"/>
                                    </p:column>
                                    <p:column headerText="System Unit" width="150">
                                        <h:outputText value="#{componentsUtil.fakeLookupDisplayValue(9, item.unitId)}"/>
                                    </p:column>
                                    <p:column headerText="Reference Property" width="150">
                                        <h:outputText value="#{componentsUtil.fakeLookupDisplayValue(44, item.referencedUnitProperty)}"/>
                                    </p:column>
                                    <p:column headerText="Grid" width="150">
                                        <h:outputText value="#{componentsUtil.fakeLookupDisplayValue(46, item.gridId)}"/>
                                    </p:column>
                                    <p:column headerText="Sequence Index" width="60">
                                        <h:outputText value="#{item.sequence}"/>
                                    </p:column>
                                    <p:column headerText="" width="60">
                                        <p:commandLink value="Edit" action="#{formManagement.loadTab(index)}" update=":tab-dialog" oncomplete="PF('tab-dialog').show()">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandLink>
                                    </p:column>
                                    <p:column headerText="" width="60">
                                        <p:commandLink value="Delete" action="#{formManagement.deleteTab(item)}" update="tab-grid">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="Unit Properties" rendered="#{formManagement.form.unit != null and formManagement.form.unit.unitID > 0}">
                                <ul style="margin-left: 15px">
                                    <ui:repeat value="#{formManagement.unitProperties}" var="item">
                                        <li>#{item.propertyId} - <h:outputText value="#{item.propertyName}"/></li>
                                    </ui:repeat>
                                </ul>
                            </p:tab>
                        </p:tabView>
                    </div>

                </div>
                <p:toolbar id="formToolbar" style="height: 42px;">
                    <f:facet name="left">
                        <p:commandButton escape="false" value="&lt;span class='icon-disk'&gt;&lt;/span&gt; Save" action="#{formManagement.save}" update=":management-form"/>

                        <p:commandButton escape="false" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt;  Delete" action="#{formManagement.delete}" update=":management-form"/>

                    </f:facet>
                </p:toolbar>
            </h:form>
        </div>

    </ui:define>
</ui:composition>
</body>
</html>