<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">
        <p:panel style="border: none">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-table"></span>
                    <h:outputText value="Unit Grids" style="font-size: 20px;margin-left: 20px" />
                </h:panelGrid>
            </f:facet>
            <p:button escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" href="/admin/grid"/>
        </p:panel>
        <div class="card">
            <h:form id="management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:messages><p:autoUpdate /></p:messages>
                <p:dataTable value="#{gridListManagement.gridGenericLazyLoader}" var="item" lazy="true"
                             rowIndexVar="index" paginator="true" rows="20" rowsPerPageTemplate="20,40,100">
                    <p:column style="width:16px">
                        <p:rowToggler />
                    </p:column>
                    <p:column headerText="Name" filterBy="#{item.gridName}">
                        <h:outputText value="#{item.gridName}"/>
                    </p:column>
                    <p:column width="40">
                        <h:outputLink value="#{request.contextPath}/admin/grid/#{item.gridId}">Edit</h:outputLink>
                    </p:column>
                    <p:column width="40">
                        <p:commandLink action="#{gridListManagement.delete(item)}" value="Delete"/>
                    </p:column>
                    <p:rowExpansion>
                        <div class="ui-g">
                            <div class="ui-g-6 ui-sm-12">
                                <h4>Grid Columns</h4>

                                <p:dataTable value="#{item.gridColumns}" var="gcolumn">
                                    <p:column headerText="Property" priority="0">
                                        <h:outputText value="#{gcolumn.unitProperty.propertyName}"/>
                                    </p:column>
                                    <p:column headerText="Sequence" priority="1">
                                        <h:outputText value="#{gcolumn.sequence}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                            <div class="ui-g-6 ui-sm-12">
                                <h4>Search Columns</h4>

                                <p:dataTable value="#{item.searchColumns}" var="scolumn">
                                    <p:column headerText="Property" priority="0">
                                        <h:outputText value="#{scolumn.unitProperty.propertyName}"/>
                                    </p:column>
                                    <p:column headerText="Sequence" priority="1">
                                        <h:outputText value="#{scolumn.sequence}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                    </p:rowExpansion>
                </p:dataTable>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>