<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content"><!-- #{bundle[gridManagement.grid.unit.singularName]} -->
        <p:dialog id="search-column-dialog" widgetVar="search-column-dialog" width="90%" style="max-width: 500px" header="Search Column" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <p:messages><p:autoUpdate /></p:messages>
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <div class="ui-g">
                    <div class="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Property *" for="property:unitProperty_PK_propertyId"/>
                    </div>
                    <div class="ui-g-9 ui-sm-12">
                        <iberis:lookup id="property" displayValue="#{gridManagement.searchColumn.unitProperty.propertyName}" value="#{gridManagement.searchColumn.unitProperty.propertyId}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(297))}" dataBeanName="gridManagement.searchColumn" fieldProperty="#{componentsUtil.getFieldProperty(297)}" valueRequired="#{empty param['skipValidation']}" filter="o.unit.unitID = #{gridManagement.grid.unitId}"/>
                    </div>

                    <div class="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Condition *" for="condition:conditionOperator_PK_operatorId"/>
                    </div>
                    <div class="ui-g-9 ui-sm-12">
                        <iberis:lookup id="condition" displayValue="#{gridManagement.searchColumn.conditionOperator.condition}" value="#{gridManagement.searchColumn.conditionOperator.operatorId}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(299))}" fieldProperty="#{componentsUtil.getFieldProperty(299)}" dataBeanName="gridManagement.searchColumn" valueRequired="#{empty param['skipValidation']}"/>
                    </div>

                    <div class="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Sequence *" for="sequence:sequence_NUMBER"/>
                    </div>
                    <div class="ui-g-9 ui-sm-12">
                        <iberis:number id="sequence" propertyName="sequence" value="#{gridManagement.searchColumn.sequence}" valueRequired="#{empty param['skipValidation']}"/>
                    </div>
                </div>

                <p:commandButton value="Save" action="#{gridManagement.saveSearchColumn}" update="@form,:management-form:search-column-table" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('search-column-dialog').hide()" />
            </h:form>
        </p:dialog>
        <p:dialog id="grid-column-dialog" widgetVar="grid-column-dialog" width="90%" style="max-width: 500px" header="Grid Column" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <p:messages><p:autoUpdate /></p:messages>
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <div class="ui-g">
                    <div class="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Property *" for="property:unitProperty_PK_propertyId"/>
                    </div>
                    <div class="ui-g-9 ui-sm-12">
                        <iberis:lookup id="property" displayValue="#{gridManagement.gridColumn.unitProperty.propertyName}" value="#{gridManagement.gridColumn.unitProperty.propertyId}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(291))}" dataBeanName="gridManagement.gridColumn" fieldProperty="#{componentsUtil.getFieldProperty(291)}" valueRequired="#{empty param['skipValidation']}" filter="o.unit.unitID = #{gridManagement.grid.unitId}"/>
                    </div>
                    <div class="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Sequence *" for="sequence:sequence_NUMBER"/>
                    </div>
                    <div class="ui-g-9 ui-sm-12">
                        <iberis:number id="sequence" propertyName="sequence" value="#{gridManagement.gridColumn.sequence}" valueRequired="#{empty param['skipValidation']}"/>
                    </div>
                </div>

                <p:commandButton value="Save" action="#{gridManagement.saveGridColumn}" update="@form,:management-form:grid-column-table" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('grid-column-dialog').hide()" />
            </h:form>
        </p:dialog>

        <h:form id="management-form">
            <ui:include src="../CsrfTokenInsert.xhtml"/>
            <p:panel style="border: none" id="header-panel">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <span style="font-size: 1.4em" class="icon-table"></span>
                        <h:outputText value="Create Grid" style="font-size: 20px;margin-left: 20px" rendered="#{gridManagement.grid.gridId == null or gridManagement.grid.gridId == 0}" />
                        <h:outputText value="Edit Grid" style="font-size: 20px;margin-left: 20px" rendered="#{gridManagement.grid.gridId != null or gridManagement.grid.gridId > 0}"/>
                    </h:panelGrid>
                </f:facet>
                <p:button href="#{request.contextPath}/admin/system-units/#{gridManagement.grid.unitId}" rendered="#{gridManagement.grid.unitId != null}" value="Back to  System Unit"/>
                <p:button href="#{request.contextPath}/admin/grids" style="margin-left: 10px" value="To Entire Grid List"/>
            </p:panel>

            <div class="card">
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12">
                        <div class="ui-g">
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel for="name:gridName_TEXT" value="Name *"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:text id="name" value="#{gridManagement.grid.gridName}" propertyName="gridName" valueRequired="#{empty param['skipValidation']}"/>
                            </div>
                            <h:panelGroup layout="block" rendered="#{gridManagement.grid.unitId == null}" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel for="unit:unitId_PK_unitID" value="System Unit *"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" rendered="#{gridManagement.grid.unitId == null}" styleClass="ui-g-9 ui-sm-12">
                                <iberis:lookup id="unit" valueRequired="#{empty param['skipValidation']}" fieldProperty="#{componentsUtil.getFieldProperty(288)}" value="#{gridManagement.grid.unitId}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(288))}" dataBeanName="gridManagement.grid" />
                            </h:panelGroup>
                        </div>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <p:panel header="Grid Columns" rendered="#{gridManagement.grid.gridId != null}">
                            <p:commandButton escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" action="#{gridManagement.newGridColumn}" update=":grid-column-dialog" oncomplete="PF('grid-column-dialog').show()">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="grid-column-table" sortBy="#{item.sequence}" value="#{gridManagement.grid.gridColumns}" var="item" rowIndexVar="index" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                <p:column headerText="Property Name" priority="0">
                                    <h:outputText value="#{item.unitProperty.propertyName}"/>
                                </p:column>
                                <p:column headerText="Sequence" width="50" priority="3">
                                    <h:outputText value="#{item.sequence}"/>
                                </p:column>
                                <p:column headerText="" width="80" priority="1">
                                    <p:commandLink value="Edit" action="#{gridManagement.loadGridColumn(index)}" update=":grid-column-dialog" oncomplete="PF('grid-column-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column headerText="" width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{gridManagement.deleteGridColumn(item)}" update="grid-column-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                        </p:panel>
                        <p:panel header="Search Columns" rendered="#{gridManagement.grid.gridId != null}">
                            <p:commandButton escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" action="#{gridManagement.newSearchColumn}" update=":search-column-dialog" oncomplete="PF('search-column-dialog').show()">
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="search-column-table" sortBy="#{item.sequence}" value="#{gridManagement.grid.searchColumns}" var="item" rowIndexVar="index" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">
                                <p:column headerText="Property Name" priority="0">
                                    <h:outputText value="#{item.unitProperty.propertyName}"/>
                                </p:column>
                                <p:column headerText="Condition" width="80" priority="3">
                                    <h:outputText value="#{item.conditionOperator.condition}"/>
                                </p:column>
                                <p:column headerText="Sequence" width="50" priority="4">
                                    <h:outputText value="#{item.sequence}"/>
                                </p:column>
                                <p:column headerText="" width="80" priority="1">
                                    <p:commandLink value="Edit" action="#{gridManagement.loadSearchColumn(index)}" update=":search-column-dialog" oncomplete="PF('search-column-dialog').show()">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column headerText="" width="80" priority="2">
                                    <p:commandLink value="Delete" action="#{gridManagement.deleteSearchColumn(item)}" update="search-column-table">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                        </p:panel>
                    </div>
                </div>
                <p:toolbar id="formToolbar" style="height: 42px;">
                    <f:facet name="left">
                        <p:commandButton escape="false" value="&lt;span class='icon-disk'&gt;&lt;/span&gt; Save" action="#{gridManagement.save}" update=":management-form"/>

                        <p:commandButton escape="false" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt; Delete" action="#{gridManagement.delete}" update=":management-form"/>

                    </f:facet>
                </p:toolbar>
            </div>
        </h:form>

    </ui:define>
</ui:composition>
</body>
</html>