<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="/templates/base/AdminTemplate.xhtml">
            
            <ui:define name="main-content">

                <p:panel style="border: none">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-image7"></span>
                            <h:outputText value="Icons" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <h:panelGroup layout="block" styleClass="card">
                    <h2>
                        <h:form id="resourceBundleForm">
                            <ui:include src="../CsrfTokenInsert.xhtml"/>
                            <div class="ui-g">
                                <div class="ui-g-1 ui-sm-12">
                                    <p:outputLabel for="name" value="Name"/>
                                </div>
                                <div class="ui-g-5 ui-sm-12">
                                    <p:inputText id="name" required="true" value="#{iconManagement.icon.name}" style="width: 97%;padding: 6px;"/>
                                </div>
                                <div class="ui-g-6 ui-sm-12">
                                    <p:commandButton value="Add" action="#{iconManagement.addIcon}" update="@form,:iconGridForm"/>
                                </div>
                            </div>
                        </h:form>
                    </h2>

                    <h:form id="iconGridForm">
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <p:messages><p:autoUpdate /></p:messages>
                        <p:dataTable id="unitDataTable"
                                     var="item" value="#{iconManagement.lazyLoader}"  lazy="true" rendered="true" rows="10"
                                     rowsPerPageTemplate="10,15,25,50,150,250"  style="margin-top: 10px" editable="true"
                                     paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                            <p:ajax event="rowEdit" listener="#{iconManagement.onRowEdit}" />
                            <p:ajax event="rowEditCancel" listener="#{iconManagement.onRowCancel}" />
                            <p:column>
                                <span style="font-size: 2.4em" class="#{item.name}"></span>
                            </p:column>
                            <p:column headerText="Name" filterBy="#{item.name}">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{item.name}"/></f:facet>
                                    <f:facet name="input"><p:inputText style="padding: 6px" value="#{item.name}"/></f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

