<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <p:dialog id="permission-dialog" widgetVar="permission-dialog" width="90%" style="max-width: 500px" header="Add / Edit Permission" appendTo="@(body)" draggable="false"
                      modal="true" resizable="false">
                <h:form>
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:messages><p:autoUpdate /></p:messages>
                    <p:tabView>
                        <p:tab title="General">
                            <div class="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="unit:unit_PK_unitID" value="Unit:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="unit" value="#{roleManagement.permission.unit.unitID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(583))}" dataBeanName="roleManagement.permission" fieldProperty="#{componentsUtil.getFieldProperty(583)}" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="global:globalPermission_BOOLEAN" value="Is Global:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="global" value="#{roleManagement.permission.globalPermission}" propertyName="globalPermission"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="site:site_PK_siteID" value="Site:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="site" value="#{roleManagement.permission.site.siteID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(593))}" dataBeanName="roleManagement.permission" fieldProperty="#{componentsUtil.getFieldProperty(593)}"/>
                                </div>
                            </div>
                        </p:tab>
                        <p:tab title="Access">
                            <div class="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="can-read:canRead_BOOLEAN" value="Read:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="can-read" value="#{roleManagement.permission.canRead}" propertyName="canRead"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="can-create:canCreate_BOOLEAN" value="Create:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="can-create" value="#{roleManagement.permission.canCreate}" propertyName="canCreate"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="can-update:canUpdate_BOOLEAN" value="Update:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="can-update" value="#{roleManagement.permission.canUpdate}" propertyName="canUpdate"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel for="can-delete:canDelete_BOOLEAN" value="Delete:"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:boolean id="can-delete" value="#{roleManagement.permission.canDelete}" propertyName="canDelete"/>
                                </div>
                            </div>
                        </p:tab>
                    </p:tabView>

                    <p:commandButton action="#{roleManagement.savePermission}" value="Save"
                                     oncomplete="if (args &amp;&amp; !args.validationFailed) PF('permission-dialog').hide()"
                                     update=":role-management-form"/>
                </h:form>
            </p:dialog>
            <h:form id="role-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-user2"></span>
                            <h:outputText value="Roles" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Role List</h2>
                            <p:commandButton value="Create" action="#{roleManagement.newRole}" update=":role-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="pia-list"
                                         var="role"
                                         value="#{roleManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">

                                <p:column headerText="Name" filterBy="#{role.roleName}" priority="0">
                                    <h:outputText value="#{role.roleName}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit"
                                                   action="#{roleManagement.selectRole(role)}"
                                                   update=":role-management-form:pia-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{roleManagement.deleteRole(role)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this role?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{roleManagement.role != null}">
                                <h2>Add / Edit Role</h2>
                                <p:tabView scrollable="true">
                                    <p:tab title="Role">
                                        <h:panelGroup layout="block" styleClass="ui-g">
                                            <div class="ui-g-3 ui-sm-12">
                                                <p:outputLabel for="name:roleName_TEXT" value="Name:"/>
                                            </div>
                                            <div class="ui-g-9 ui-sm-12">
                                                <iberis:text id="name" value="#{roleManagement.role.roleName}" propertyName="roleName"/>
                                            </div>
                                        </h:panelGroup>

                                        <p:commandButton action="#{roleManagement.saveRole}" value="Save" update="@form"/>
                                        <p:messages><p:autoUpdate /></p:messages>
                                    </p:tab>
                                    <p:tab title="Permissions" rendered="#{roleManagement.role.id > 0}">
                                        <p:toolbar>
                                            <f:facet name="left">
                                                <p:commandButton action="#{roleManagement.newPermission}" update=":permission-dialog" oncomplete="PF('permission-dialog').show()" escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandButton>
                                            </f:facet>
                                        </p:toolbar>
                                        <p:dataTable value="#{roleManagement.permissions}" reflow="true" var="item" paginator="true" rows="15" rowsPerPageTemplate="8,15,25,50">
                                            <p:column headerText="Unit">
                                                <h:outputText value="#{item.unit.unitName}"/>
                                            </p:column>
                                            <p:column headerText="Is Global">
                                                <h:outputText value="#{(item.globalPermission)?'Yes':'No'}"/>
                                            </p:column>
                                            <p:column headerText="Site">
                                                <h:outputText value="#{item.site.siteName}"/>
                                            </p:column>
                                            <p:column headerText="Read">
                                                <h:outputText value="#{(item.canRead)?'Yes':'No'}"/>
                                            </p:column>
                                            <p:column headerText="Create">
                                                <h:outputText value="#{(item.canCreate)?'Yes':'No'}"/>
                                            </p:column>
                                            <p:column headerText="Update">
                                                <h:outputText value="#{(item.canUpdate)?'Yes':'No'}"/>
                                            </p:column>
                                            <p:column headerText="Delete">
                                                <h:outputText value="#{(item.canDelete)?'Yes':'No'}"/>
                                            </p:column>
                                            <p:column headerText="">
                                                <p:commandLink value="Edit" action="#{roleManagement.selectPermission(item)}" update=":permission-dialog" oncomplete="PF('permission-dialog').show()">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="">
                                                <p:commandLink action="#{roleManagement.deletePermission(item)}" update="@form">Delete</p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                </p:tabView>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>