<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">

        <p:dialog id="site-association-dialog" widgetVar="site-association-dialog" width="90%" style="max-width: 500px" header="Add / Edit Site Assocation" appendTo="@(body)" draggable="false"
                  modal="true" resizable="false">
            <h:form style="padding: 10px">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup layout="block" styleClass="ui-g">
                    <div class="ui-g-3 ui-sm-12">
                        <p:outputLabel for="site:site_PK_siteID" value="Site:"/>
                    </div>
                    <div class="ui-g-9 ui-sm-12">
                        <iberis:lookup id="site" value="#{systemUnitManagement.unitSiteAssociation.site.siteID}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(579))}" dataBeanName="systemUnitManagement.unitSiteAssociation" fieldProperty="#{componentsUtil.getFieldProperty(579)}" valueRequired="#{empty param['skipValidation']}"/>
                    </div>
                </h:panelGroup>
                <p:commandButton action="#{systemUnitManagement.saveUnitSiteAssociation}" value="Save"
                                 oncomplete="PF('site-association-dialog').hide()"
                                 update=":unitForm"/>
            </h:form>
        </p:dialog>
        <p:panel style="border: none">
            <f:facet name="header">
                <h:panelGrid columns="2">
                    <span style="font-size: 1.4em" class="icon-cog22"></span>
                    <h:outputText value="System Units" style="font-size: 20px;margin-left: 20px" />
                </h:panelGrid>
            </f:facet>
        </p:panel>
        <h:panelGroup layout="block" styleClass="card">
            <h:form id="unitForm">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup style="margin: 10px" layout="block">
                    <h:panelGrid columns="2">
                        <p:selectOneMenu value="#{systemUnitManagement.selectedUnitId}">
                            <p:ajax update="unit-info" listener="#{systemUnitManagement.changeSystemUnit}" />
                            <f:selectItem itemLabel="-- Select One --" itemValue=""/>
                            <f:selectItems value="#{systemUnitManagement.systemUnits}" var="item" itemLabel="#{bundle[item.singularName]}" itemValue="#{item.unitID}"/>
                        </p:selectOneMenu>
                        <p:button escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" href="/admin/system-unit"></p:button>
                    </h:panelGrid>

                    <h:panelGroup id="unit-info" layout="block">
                        <h:panelGroup layout="block" styleClass="ui-g" rendered="#{systemUnitManagement.selectedUnit != null}">
                            <h:panelGroup layout="block" styleClass="ui-g-6 ui-sm-12">
                                <p:panel header="Unit Information" style="border: none"/>
                                <p:commandButton escape="false" value="&lt;span class='icon-disk'&gt;&lt;/span&gt; Save" ajax="true" actionListener="#{systemUnitManagement.save}"/>
                                <p:commandButton escape="false" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt; Delete" actionListener="#{systemUnitManagement.delete}" update="unit-info"/>
                                <p:messages><p:autoUpdate /></p:messages>
                                <div class="ui-g">
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Unit Name *" for="unitName:unitName_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="unitName" propertyName="unitName" value="#{systemUnitManagement.selectedUnit.unitName}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Single Bundle Index *" for="singularName:singularName_BUNDLE_ITEM"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:bundleselector id="singularName" propertyName="singularName" value="#{systemUnitManagement.selectedUnit.singularName}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Plural Bundle Index *" for="pluralName:pluralName_BUNDLE_ITEM"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:bundleselector id="pluralName" propertyName="pluralName" value="#{systemUnitManagement.selectedUnit.pluralName}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Enabled" for="enabled:enabled_BOOLEAN"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:boolean id="enabled" value="#{systemUnitManagement.selectedUnit.enabled}" propertyName="enabled"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Default Grid *" for="defaultGrid:defaultGridId_PK_gridId"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="defaultGrid" valueRequired="true" value="#{systemUnitManagement.selectedUnit.defaultGridId}" filter="o.unitId = #{systemUnitManagement.selectedUnit.unitID}" fieldProperty="#{componentsUtil.getFieldProperty(260)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(260))}" dataBeanName="systemUnitManagement.selectedUnit"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Default Form *" for="defaultForm:defaultFormId_PK_formId"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="defaultForm" valueRequired="true" value="#{systemUnitManagement.selectedUnit.defaultFormId}" filter="o.unit.unitID = #{systemUnitManagement.selectedUnit.unitID}" fieldProperty="#{componentsUtil.getFieldProperty(261)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(261))}" dataBeanName="systemUnitManagement.selectedUnit"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Default Form Page" for="defaultFormPage:defaultFormPage_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="defaultFormPage" propertyName="defaultFormPage" value="#{systemUnitManagement.selectedUnit.defaultFormPage}" />
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Plural Icon *" for="pluralIcon:pluralIcon_ICON"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:iconselector id="pluralIcon" propertyName="pluralIcon" value="#{systemUnitManagement.selectedUnit.pluralIcon}" valueRequired="true" />
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Singular Icon *" for="singularIcon:singularIcon_ICON"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:iconselector id="singularIcon" propertyName="singularIcon" value="#{systemUnitManagement.selectedUnit.singularIcon}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Persistence Class" for="persistenceClass:persistenceClass_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="persistenceClass" propertyName="persistenceClass" value="#{systemUnitManagement.selectedUnit.persistenceClass}" />
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Display Property *" for="ldp:lookupDisplayPropertyId_PK_propertyId"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="ldp" valueRequired="true" value="#{systemUnitManagement.selectedUnit.lookupDisplayPropertyId}" filter="o.unit.unitID = #{systemUnitManagement.selectedUnit.unitID}" fieldProperty="#{componentsUtil.getFieldProperty(265)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(265))}" dataBeanName="systemUnitManagement.selectedUnit"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Primary Key *" for="lpk:lookupPropertyPrimaryKey_PK_propertyId"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="lpk" valueRequired="true" value="#{systemUnitManagement.selectedUnit.lookupPropertyPrimaryKey}" filter="o.unit.unitID = #{systemUnitManagement.selectedUnit.unitID}" fieldProperty="#{componentsUtil.getFieldProperty(266)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(266))}" dataBeanName="systemUnitManagement.selectedUnit"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Primary Key 2" for="lpk2:lookupPropertyPrimaryKey2_PK_propertyId"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="lpk2" value="#{systemUnitManagement.selectedUnit.lookupPropertyPrimaryKey2}" filter="o.unit.unitID = #{systemUnitManagement.selectedUnit.unitID}" fieldProperty="#{componentsUtil.getFieldProperty(268)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(268))}" dataBeanName="systemUnitManagement.selectedUnit"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-6 ui-sm-12">
                                <p:tabView id="unit-tab-view" scrollable="true">
                                    <p:tab title="Forms">
                                        <p:toolbar>
                                            <f:facet name="left">
                                                <p:button escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" href="/admin/add-unit-form/#{systemUnitManagement.selectedUnit.unitID}"/>
                                            </f:facet>
                                        </p:toolbar>
                                        <p:dataTable value="#{systemUnitManagement.forms}" var="form" paginator="true" rows="15" rowsPerPageTemplate="8,15,25,50">
                                            <p:column headerText="Form Name" priority="0">
                                                <h:outputText value="#{form.name}"/>
                                            </p:column>
                                            <p:column headerText="" priority="1">
                                                <h:outputLink value="#{request.contextPath}/admin/form/#{form.formId}">Edit</h:outputLink>
                                            </p:column>
                                            <p:column headerText="" priority="2">
                                                <p:commandLink action="#{systemUnitManagement.deleteForm(form)}" update="@form">Delete</p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                    <p:tab title="Grids">
                                        <p:toolbar>
                                            <f:facet name="left">
                                                <p:button escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" href="/admin/add-unit-grid/#{systemUnitManagement.selectedUnit.unitID}"/>
                                            </f:facet>
                                        </p:toolbar>
                                        <p:dataTable value="#{systemUnitManagement.grids}" var="grid" paginator="true" rows="15" rowsPerPageTemplate="8,15,25,50">
                                            <p:column headerText="Grid Name" priority="0">
                                                <h:outputText value="#{grid.gridName}"/>
                                            </p:column>
                                            <p:column headerText="" priority="1">
                                                <h:outputLink value="#{request.contextPath}/admin/grid/#{grid.gridId}">Edit</h:outputLink>
                                            </p:column>
                                            <p:column headerText="" priority="2">
                                                <p:commandLink action="#{systemUnitManagement.deleteGrid(grid)}" update="@form">Delete</p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                    <p:tab title="Unit Properties">
                                        <p:toolbar>
                                            <f:facet name="left">
                                                <p:button escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Create" href="/admin/add-unit-property/#{systemUnitManagement.selectedUnit.unitID}"/>
                                            </f:facet>
                                        </p:toolbar>
                                        <p:dataTable id="unit-properties" value="#{systemUnitManagement.unitProperties}" var="uproperty" paginator="true" rows="15" rowsPerPageTemplate="8,15,25,50">
                                            <p:column headerText="Property Name" priority="0">
                                                <h:outputText value="#{uproperty.propertyName}"/>
                                            </p:column>
                                            <p:column headerText="Type" priority="3">
                                                <h:outputText value="#{uproperty.propertyType.typeName}"/>
                                            </p:column>
                                            <p:column headerText="" priority="1">
                                                <h:outputLink value="#{request.contextPath}/admin/unit-property/#{uproperty.propertyId}">Edit</h:outputLink>
                                            </p:column>
                                            <p:column headerText="" priority="2">
                                                <p:commandLink action="#{systemUnitManagement.deleteUnitProperty(uproperty)}" update="@form" value="Delete"/>
                                            </p:column>

                                        </p:dataTable>
                                    </p:tab>
                                    <p:tab title="Site Associations">
                                        <p:toolbar>
                                            <f:facet name="left">
                                                <p:commandButton action="#{systemUnitManagement.newUnitSiteAssociation}" update=":site-association-dialog" oncomplete="PF('site-association-dialog').show()" escape="false" value="&lt;span class='icon-plus'&gt;&lt;/span&gt; Add">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandButton>
                                            </f:facet>
                                        </p:toolbar>
                                        <p:dataTable id="association-list" value="#{systemUnitManagement.selectedUnit.unitSiteAssociations}" var="item" paginator="true" rows="15" rowsPerPageTemplate="8,15,25,50">
                                            <p:column headerText="Site" priority="0">
                                                <h:outputText value="#{item.site.siteName}"/>
                                            </p:column>
                                            <p:column headerText="" priority="1">
                                                <p:commandLink value="Edit" action="#{systemUnitManagement.selectUnitSiteAssociation(item)}" update=":site-association-dialog" oncomplete="PF('site-association-dialog').show()">
                                                    <f:param name="skipValidation" value="1" />
                                                </p:commandLink>
                                            </p:column>
                                            <p:column headerText="" priority="2">
                                                <p:commandLink action="#{systemUnitManagement.deleteUnitSiteAssociation(item)}" update="@form">Delete</p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:tab>
                                </p:tabView>

                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>


                </h:panelGroup>
            </h:form>
        </h:panelGroup>
    </ui:define>
</ui:composition>
</body>
</html>