<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
    <body>
        <ui:composition template="/templates/base/AdminTemplate.xhtml">
            <ui:define name="main-content">
                <p:dialog widgetVar="listItemDialog" header="New List Item" modal="true" width="90%" style="max-width: 500px" closable="true" draggable="false" appendTo="@(body)">
                    <h:form>
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <div class="ui-g">
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Item Value *" for="itemValue:itemValue_TEXT"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:text id="itemValue" propertyName="itemValue" value="#{systemUnitWizard.currentListItem.itemValue}" valueRequired="true"/>
                            </div>
                            <div class="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Display Value *" for="displayValue:displayValue_TEXT"/>
                            </div>
                            <div class="ui-g-9 ui-sm-12">
                                <iberis:text id="displayValue" propertyName="displayValue" value="#{systemUnitWizard.currentListItem.displayValue}" valueRequired="true"/>
                            </div>
                         </div>
                        <p:commandButton value="Save" action="#{systemUnitWizard.addListItem}" update="@form,:property-dialog-form:list-items-datatable" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('listItemDialog').hide()"/>
                    </h:form>
                </p:dialog>
                <p:dialog id="property-dialog" widgetVar="propertyDialog" modal="true" header="Save / Edit Property" width="90%" style="max-width: 500px" closable="true" appendTo="@(body)" draggable="false" >
                    <h:form id="property-dialog-form">
                        <ui:include src="../CsrfTokenInsert.xhtml"/>
                        <p:messages id="property-messages"/>
                        <p:remoteCommand name="refreshAdditionalSettings" action="#{systemUnitWizard.refresh}" update="@form,#{p:component('additional-settings')}"/>

                        <h:panelGrid columns="2" id="property-dialog-grid" columnClasses="properties-cell,properties-cell">
                            <div class="ui-g">
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Property Schema Name *" for="propertyName:propertyName_TEXT"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:text id="propertyName" propertyName="propertyName" value="#{systemUnitWizard.currentProperty.propertyName}" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Bundle Label Key *" for="bundleLabel:bundleLabelId_BUNDLE_ITEM"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:bundleselector id="bundleLabel" propertyName="bundleLabelId" value="#{systemUnitWizard.currentProperty.bundleLabelId}" valueRequired="#{empty param['skipValidation']}"/>
                                </div>
                                <div class="ui-g-3 ui-sm-12">
                                    <p:outputLabel value="Property Type *" for="propertyType:propertyType_PK_typeId"/>
                                </div>
                                <div class="ui-g-9 ui-sm-12">
                                    <iberis:lookup id="propertyType" fieldProperty="#{componentsUtil.getFieldProperty(276)}"
                                                   lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(276))}"
                                                   dataBeanName="systemUnitWizard.currentProperty" displayValue="#{systemUnitWizard.currentProperty.propertyType.typeName}"
                                                   value="#{systemUnitWizard.currentProperty.propertyType.typeId}" valueRequired="#{empty param['skipValidation']}"
                                                   callback="refreshAdditionalSettings"/>
                                </div>
                            </div>

                            <h:panelGroup id="additional-settings">
                                <p:panel header="Lookup Settings" rendered="#{systemUnitWizard.currentProperty.propertyType.typeName == 'LOOKUP'}">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <p:outputLabel value="Lookup Unit *"  for="lookup-unit:lookupUnitId_PK_unitID"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="lookup-unit" fieldProperty="#{componentsUtil.getFieldProperty(278)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(278))}" dataBeanName="systemUnitWizard.currentProperty" value="#{systemUnitWizard.currentProperty.lookupUnitId}" valueRequired="#{systemUnitWizard.currentProperty.propertyType.typeName == 'LOOKUP' and empty param['skipValidation']}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <p:outputLabel  value="Lookup Grid *" for="lookup-grid:lookupGridId_PK_gridId"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <iberis:lookup id="lookup-grid" fieldProperty="#{componentsUtil.getFieldProperty(279)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(279))}" dataBeanName="systemUnitWizard.currentProperty" value="#{systemUnitWizard.currentProperty.lookupGridId}" valueRequired="#{systemUnitWizard.currentProperty.propertyType.typeName == 'LOOKUP' and empty param['skipValidation']}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <p:outputLabel value="Fake Lookup?" rendered="#{systemUnitWizard.unit.persistenceClass != null and systemUnitWizard.unit.persistenceClass != ''}"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <iberis:boolean rendered="#{systemUnitWizard.unit.persistenceClass != null and systemUnitWizard.unit.persistenceClass != ''}" value="#{systemUnitWizard.currentProperty.fakeLookup}" propertyName="fakeLookup" widgetType="button"/>
                                        </div>
                                    </div>
                                </p:panel>

                                <p:panel header="Selection Settings" rendered="#{systemUnitWizard.currentProperty.propertyType.typeName == 'SELECTION'}">
                                    <p:commandButton value="Add" style="margin: 10px" onclick="PF('listItemDialog').show()"/>
                                    <p:commandButton value="Clear" style="margin: 10px 0" action="#{systemUnitWizard.clearListItems}" update="list-items-datatable"/>
                                    <p:dataTable id="list-items-datatable" editable="true" rowIndexVar="itemIndex" var="item" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" value="#{systemUnitWizard.currentProperty.unitPropertyListItems}">
                                        <p:ajax event="rowEdit" listener="#{systemUnitWizard.editListItem}" />

                                        <f:facet name="header">List Items</f:facet>
                                        <p:column headerText="Value">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{item.itemValue}"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText style="padding: 6px" value="#{item.itemValue}"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column headerText="Display Value">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{item.displayValue}"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText style="padding: 6px" value="#{item.displayValue}"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column>
                                            <p:commandLink action="#{systemUnitWizard.removeListItem(item)}" update="list-items-datatable" value="Remove"/>
                                        </p:column>
                                        <p:column style="width:32px">
                                            <p:rowEditor />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>

                                <p:panel header="Boolean Settings" rendered="#{systemUnitWizard.currentProperty.propertyType.typeName == 'BOOLEAN'}">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <p:outputLabel value="Boolean Widget"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <iberis:selection value="#{systemUnitWizard.currentProperty.booleanWidget}" propertyName="booleanWidget" listItems="#{componentsUtil.getFieldProperty(352).unitPropertyListItems}"/>
                                        </div>
                                    </div>
                                </p:panel>

                                <p:panel header="Text Settings" rendered="#{systemUnitWizard.currentProperty.propertyType.typeName == 'TEXT' and systemUnitWizard.unit.persistenceClass == ''}">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <p:outputLabel value="Text Length"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <iberis:number value="#{systemUnitWizard.currentProperty.textLength}" propertyName="textLength" valueRequired="#{systemUnitWizard.currentProperty.propertyType.typeName == 'TEXT' and systemUnitWizard.unit.persistenceClass == '' and empty param['skipValidation']}"/>
                                        </div>
                                    </div>
                                </p:panel>

                                <p:panel header="Code Settings" rendered="#{systemUnitWizard.currentProperty.propertyType.typeName == 'CODE'}">
                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <p:outputLabel value="Code Type"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <iberis:selection value="#{systemUnitWizard.currentProperty.codeType}" propertyName="codeType" listItems="#{componentsUtil.getFieldProperty(356).unitPropertyListItems}"/>
                                        </div>
                                    </div>
                                </p:panel>
                            </h:panelGroup>

                            <p:commandButton value="Save" action="#{systemUnitWizard.saveProperty}" update="@form,:system-unit-form:property-data-table" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('propertyDialog').hide()"/>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>
                <h:form id="system-unit-form">
                    <ui:include src="../CsrfTokenInsert.xhtml"/>
                    <p:panel style="border: none">
                        <f:facet name="header">
                            <h:panelGrid columns="2">
                                <span style="font-size: 1.4em" class="icon-cog22"></span>
                                <h:outputText value="Create System Unit" style="font-size: 20px;margin-left: 20px" />
                            </h:panelGrid>
                        </f:facet>
                    </p:panel>
                    <p:messages><p:autoUpdate /></p:messages>
                    <p:wizard id="wizard" flowListener="#{systemUnitWizard.onFlowProcess}">

                        <p:tab id="unit-info" title="Unit Info">
                            <p:panel header="Unit Information">
                                <div class="ui-g">
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Unit Name *" for="unitName:unitName_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="unitName" propertyName="unitName" value="#{systemUnitWizard.unit.unitName}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Single Bundle Key *" for="single:singularName_BUNDLE_ITEM"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:bundleselector id="single" propertyName="singularName" value="#{systemUnitWizard.unit.singularName}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Plural Bundle Key *" for="plural:pluralName_BUNDLE_ITEM"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:bundleselector id="plural" propertyName="pluralName" value="#{systemUnitWizard.unit.pluralName}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Enabled" for="enabled:enabled_BOOLEAN"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:boolean id="enabled" value="#{systemUnitWizard.unit.enabled}" propertyName="enabled"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Display In Data View" for="data-view:displayInDataView_BOOLEAN"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:boolean id="data-view" value="#{systemUnitWizard.unit.displayInDataView}" propertyName="displayInDataView"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Plural Icon *" for="plural-icon:pluralIcon_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="plural-icon" propertyName="pluralIcon" value="#{systemUnitWizard.unit.pluralIcon}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Singular Icon *" for="single-icon:singularIcon_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="single-icon" propertyName="singularIcon" value="#{systemUnitWizard.unit.singularIcon}" valueRequired="true"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Persistence Class" for="class:persistenceClass_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="class" propertyName="persistenceClass" value="#{systemUnitWizard.unit.persistenceClass}" />
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Default Form Page" for="default-form:defaultFormPage_TEXT"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="default-form" propertyName="defaultFormPage" value="#{systemUnitWizard.unit.defaultFormPage}" />
                                    </div>
                                </div>
                            </p:panel>
                        </p:tab>
                        <p:tab id="unit-properties" title="Properties">
                            <p:commandButton value="New" style="margin: 5px 0" action="#{systemUnitWizard.addUnitProperty}" oncomplete="PF('propertyDialog').show()" update=":property-dialog-form"/>

                            <p:dataTable id="property-data-table" value="#{systemUnitWizard.unitProperties}" rowIndexVar="itemIndex" var="item" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50">

                                <p:column headerText="Property Schema Name">
                                    <h:outputText value="#{item.propertyName}"/>
                                </p:column>
                                <p:column headerText="Property Type">
                                    <h:outputText value="#{item.propertyType.typeName}"/>
                                </p:column>
                                <p:column headerText="">
                                    <p:commandLink value="Edit" action="#{systemUnitWizard.editUnitProperty(itemIndex)}" oncomplete="PF('propertyDialog').show()" update=":property-dialog-form"/>
                                </p:column>
                                <p:column headerText="">
                                    <p:commandLink value="Delete" action="#{systemUnitWizard.removeUnitProperty(itemIndex)}" update="property-data-table" />
                                </p:column>
                            </p:dataTable>

                        </p:tab>
                        <p:tab id="keys" title="Keys">
                            <p:panel header="Property Keys">
                                <div class="ui-g">
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Display Property" for="displayPropertyId"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <p:selectOneMenu id="displayPropertyId" value="#{systemUnitWizard.displayPropertyId}" required="true">
                                            <f:selectItem itemLabel="" itemValue="-1"/>
                                            <f:selectItems value="#{systemUnitWizard.propertySelectItems}"  />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Primary Key" for="primaryKey"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <p:selectOneMenu id="primaryKey" value="#{systemUnitWizard.primaryKey}" required="true">
                                            <f:selectItem itemLabel="" itemValue="-1"/>
                                            <f:selectItems value="#{systemUnitWizard.propertySelectItems}"  />
                                        </p:selectOneMenu>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Primary Key 2" for="primaryKey2"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <p:selectOneMenu id="primaryKey2" value="#{systemUnitWizard.primaryKey2}">
                                            <f:selectItem itemLabel="" itemValue="-1"/>
                                            <f:selectItems value="#{systemUnitWizard.propertySelectItems}"  />
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                            </p:panel>
                        </p:tab>
                        <p:tab id="confirmation" title="Confirmation">
                            <p:panel header="Confirmation">
                                <h:panelGrid columns="2">
                                    <h:panelGroup><h2>Unit Info</h2></h:panelGroup>
                                    <h:panelGroup><h2>Unit Properties</h2></h:panelGroup>

                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Unit Name:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.unitName}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Single Bundle Key:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.singularName}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Plural Bundle Key:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.pluralName}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Enabled:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.enabled}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Display In Data View:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.displayInDataView}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Plural Icon:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.pluralIcon}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Singular Icon:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.singularIcon}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Persistence Class:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.persistenceClass}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Default Form Page:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unit.defaultFormPage}"/>
                                        </div>
                                    </div>

                                    <p:dataTable value="#{systemUnitWizard.unitProperties}" var="item">
                                        <p:column headerText="Schema Name">
                                            <h:outputText value="#{item.propertyName}"/>
                                        </p:column>
                                        <p:column headerText="Property Type">
                                            <h:outputText value="#{item.propertyType.typeName}"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>

                                <br/><br/>
                                <h:panelGrid columns="3" style="width: 100%">
                                    <h:panelGroup><h2>Keys</h2></h:panelGroup>
                                    <h:panelGroup><h2>Form</h2></h:panelGroup>
                                    <h:panelGroup><h2>Grid</h2></h:panelGroup>

                                    <div class="ui-g">
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Display Property:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unitProperties[systemUnitWizard.displayPropertyId].propertyName}"/>
                                        </div>
                                        <div class="ui-g-3 ui-sm-12">
                                            <h:outputText value="Primary Key:"/>
                                        </div>
                                        <div class="ui-g-9 ui-sm-12">
                                            <h:outputText value="#{systemUnitWizard.unitProperties[systemUnitWizard.primaryKey].propertyName}"/>
                                        </div>
                                        <c:if test="#{systemUnitWizard.primaryKey2 != -1}">
                                            <div class="ui-g-3 ui-sm-12">
                                                <h:outputText value="Primary Key 2:"/>
                                            </div>
                                            <div class="ui-g-9 ui-sm-12">
                                                <h:outputText value="#{systemUnitWizard.unitProperties[systemUnitWizard.primaryKey2].propertyName}"/>
                                            </div>
                                        </c:if>
                                    </div>

                                    <h:outputText value="#{systemUnitWizard.form.name}"/>

                                    <h:outputText value="#{systemUnitWizard.grid.gridName}"/>
                                </h:panelGrid>

                                <br/><br/>
                                <p:commandButton value="Save" action="#{systemUnitWizard.saveUnit}"/>
                            </p:panel>
                        </p:tab>
                    </p:wizard>


                </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>

