<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">

        <p:dialog widgetVar="listItemDialog" header="New List Item" modal="true" closable="true" draggable="false" appendTo="@(body)">
            <h:form>
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <h:panelGroup layout="block" styleClass="ui-g">
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Item Value *" for="itemValue:itemValue_TEXT"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:text id="itemValue" propertyName="itemValue" value="#{unitPropertyManagement.currentListItem.itemValue}" valueRequired="true"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                        <p:outputLabel value="Display Value *" for="displayValue:displayValue_TEXT"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                        <iberis:text id="displayValue" propertyName="displayValue" value="#{unitPropertyManagement.currentListItem.displayValue}" valueRequired="true"/>
                    </h:panelGroup>
                </h:panelGroup>

                <p:commandButton value="Save" action="#{unitPropertyManagement.addListItem}" update="@form,:unitPropertyForm:list-items-datatable" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('listItemDialog').hide()"/>
            </h:form>
        </p:dialog>

        <h:form id="unitPropertyForm">
            <ui:include src="../CsrfTokenInsert.xhtml"/>
            <p:panel style="border: none">
                <f:facet name="header">
                    <h:panelGrid columns="2">
                        <span style="font-size: 1.4em" class="icon-cogs"></span>
                        <h:outputText value="Create Unit Property" style="font-size: 20px;margin-left: 20px" rendered="#{unitPropertyManagement.unitProperty.propertyId == null or unitPropertyManagement.unitProperty.propertyId == 0}" />
                        <h:outputText value="Edit Unit Property" style="font-size: 20px;margin-left: 20px" rendered="#{unitPropertyManagement.unitProperty.propertyId != null or unitPropertyManagement.unitProperty.propertyId > 0}"/>
                    </h:panelGrid>
                </f:facet>
                <p:commandButton escape="false" value="&lt;span class='icon-disk'&gt;&lt;/span&gt; Save" action="#{unitPropertyManagement.save}" update="@form"/>

                <p:commandButton escape="false" value="&lt;span class='icon-remove8'&gt;&lt;/span&gt; Delete" />

                <p:button href="#{request.contextPath}/admin/system-units/#{unitPropertyManagement.unitProperty.unit.unitID}" value="Back to #{bundle[unitPropertyManagement.unitProperty.unit.singularName]} System Unit"/>
            </p:panel>

            <p:remoteCommand name="refreshAdditionalSettings" action="#{unitPropertyManagement.refresh}" update="#{p:component('additional-settings')}"/>
            <p:remoteCommand name="refreshGridLookup" action="#{unitPropertyManagement.lookupUnitChanged}" update="#{p:component('additional-settings')}" />
            <p:messages><p:autoUpdate /></p:messages>
            <div class="card">
                <div class="ui-g">
                    <div class="ui-g-6 ui-sm-12">
                        <h:panelGroup layout="block" styleClass="ui-g">
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Property Schema Name *" for="propertyName:propertyName_TEXT"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:text id="propertyName" propertyName="propertyName" value="#{unitPropertyManagement.unitProperty.propertyName}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Bundle Label Key *" for="bundleLabel:bundleLabelId_BUNDLE_ITEM"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:bundleselector id="bundleLabel" propertyName="bundleLabelId" value="#{unitPropertyManagement.unitProperty.bundleLabelId}" valueRequired="#{empty param['skipValidation']}"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                <p:outputLabel value="Property Type *" for="propertyType:propertyType_PK_typeId"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                <iberis:lookup id="propertyType" fieldProperty="#{componentsUtil.getFieldProperty(276)}"
                                               lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(276))}"
                                               dataBeanName="unitPropertyManagement.unitProperty" displayValue="#{unitPropertyManagement.unitProperty.propertyType.typeName}"
                                               value="#{unitPropertyManagement.unitProperty.propertyType.typeId}" valueRequired="#{empty param['skipValidation']}"
                                               callback="refreshAdditionalSettings"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>

                    <div class="ui-g-6 ui-sm-12">
                        <h:panelGroup id="additional-settings">
                            <p:panel header="Lookup Settings" rendered="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'LOOKUP'}">
                                <h:panelGroup layout="block" styleClass="ui-g">
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Lookup Unit *"  for="lookup-unit:lookupUnitId_PK_unitID"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="lookup-unit" fieldProperty="#{componentsUtil.getFieldProperty(278)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(278))}" dataBeanName="unitPropertyManagement.unitProperty" callback="refreshGridLookup" value="#{unitPropertyManagement.unitProperty.lookupUnitId}" valueRequired="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'LOOKUP' and empty param['skipValidation']}"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel  value="Lookup Grid *" for="lookup-grid:lookupGridId_PK_gridId"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="lookup-grid" fieldProperty="#{componentsUtil.getFieldProperty(279)}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(279))}" dataBeanName="unitPropertyManagement.unitProperty" value="#{unitPropertyManagement.unitProperty.lookupGridId}" filter="o.unitId = #{unitPropertyManagement.unitProperty.lookupUnitId}" valueRequired="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'LOOKUP' and empty param['skipValidation']}"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Fake Lookup?" rendered="#{unitPropertyManagement.unitProperty.unit.persistenceClass != null and unitPropertyManagement.unitProperty.unit.persistenceClass != ''}"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:boolean rendered="#{unitPropertyManagement.unitProperty.unit.persistenceClass != null and unitPropertyManagement.unitProperty.unit.persistenceClass != ''}" value="#{unitPropertyManagement.unitProperty.fakeLookup}" propertyName="fakeLookup" widgetType="button"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </p:panel>

                            <p:panel header="Selection Settings" rendered="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'SELECTION'}">
                                <p:commandButton value="Add" style="margin: 10px" onclick="PF('listItemDialog').show()"/>
                                <p:commandButton value="Clear" style="margin: 10px 0" action="#{unitPropertyManagement.clearListItems}" update="list-items-datatable"/>
                                <p:dataTable id="list-items-datatable" editable="true" rowIndexVar="itemIndex" var="item" paginator="true" rows="8" rowsPerPageTemplate="8,15,25,50" value="#{unitPropertyManagement.unitProperty.unitPropertyListItems}">
                                    <p:ajax event="rowEdit" listener="#{unitPropertyManagement.editListItem}" />

                                    <f:facet name="header">List Items</f:facet>
                                    <p:column headerText="Value">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{item.itemValue}"/>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText style="padding: 6px" value="#{item.itemValue}"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Display Value">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{item.displayValue}"/>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText style="padding: 6px" value="#{item.displayValue}"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column>
                                        <p:commandLink action="#{unitPropertyManagement.removeListItem(item)}" update="list-items-datatable" value="Remove">
                                            <f:param name="skipValidation" value="1" />
                                        </p:commandLink>
                                    </p:column>
                                    <p:column style="width:32px">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                            </p:panel>

                            <p:panel header="Boolean Settings" rendered="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'BOOLEAN'}">
                                <h:panelGroup layout="block" styleClass="ui-g">
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Boolean Widget"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:selection value="#{unitPropertyManagement.unitProperty.booleanWidget}" propertyName="booleanWidget" listItems="#{componentsUtil.getFieldProperty(352).unitPropertyListItems}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </p:panel>

                            <p:panel header="Text Settings" rendered="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'TEXT' and unitPropertyManagement.unitProperty.unit.persistenceClass == ''}">
                                <h:panelGroup layout="block" styleClass="ui-g">
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Text Length"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:number value="#{unitPropertyManagement.unitProperty.textLength}" propertyName="textLength" valueRequired="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'TEXT' and unitPropertyManagement.unitProperty.unit.persistenceClass == '' and empty param['skipValidation']}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </p:panel>

                            <p:panel header="Code Settings" rendered="#{unitPropertyManagement.unitProperty.propertyType.typeName == 'CODE'}">
                                <h:panelGroup layout="block" styleClass="ui-g">
                                    <h:panelGroup layout="block" styleClass="ui-g-3 ui-sm-12">
                                        <p:outputLabel value="Code Type"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block" styleClass="ui-g-9 ui-sm-12">
                                        <iberis:selection value="#{unitPropertyManagement.unitProperty.codeType}" propertyName="codeType" listItems="#{componentsUtil.getFieldProperty(356).unitPropertyListItems}"/>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </p:panel>
                        </h:panelGroup>
                    </div>
                </div>
            </div>

        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>