<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:iberis="http://xmlns.jcp.org/jsf/composite/uicomponents">
<body>
<ui:composition template="/templates/base/AdminTemplate.xhtml">
    <ui:define name="main-content">
        <div>

            <h:form id="user-group-management-form">
                <ui:include src="../CsrfTokenInsert.xhtml"/>
                <p:panel style="border: none" id="header-panel">
                    <f:facet name="header">
                        <h:panelGrid columns="2">
                            <span style="font-size: 1.4em" class="icon-users32"></span>
                            <h:outputText value="User Groups" style="font-size: 1.25em;margin-left: 20px" />
                        </h:panelGrid>
                    </f:facet>
                </p:panel>
                <p:messages><p:autoUpdate /></p:messages>
                <div class="ui-g">

                    <div class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup layout="block" styleClass="card">
                            <h2>Group List</h2>
                            <p:commandButton value="Create" action="#{userGroupManagement.newUserGroup}" update=":user-group-management-form:pia-update-panel"  >
                                <f:param name="skipValidation" value="1" />
                            </p:commandButton>
                            <p:dataTable id="pia-list"
                                         var="group"
                                         value="#{userGroupManagement.lazyLoader}" lazy="true" rendered="true" rows="10"
                                         rowsPerPageTemplate="10,15,25,50,150,250" paginator="true">

                                <p:column headerText="Name" priority="0">
                                    <h:outputText value="#{group.groupName}"/>
                                </p:column>
                                <p:column headerText="Parent Group" priority="3">
                                    <h:outputText value="#{group.parentGroup.groupName}"/>
                                </p:column>
                                <p:column styleClass="edit-link" width="70" priority="1">
                                    <p:commandLink value="Edit" oncomplete="scrollToElement('#update-panel-container');"
                                                   action="#{userGroupManagement.selectUserGroup(group)}"
                                                   update=":user-group-management-form:pia-update-panel">
                                        <f:param name="skipValidation" value="1" />
                                    </p:commandLink>
                                </p:column>
                                <p:column styleClass="delete-link" width="70" priority="2">
                                    <p:commandLink value="Delete" action="#{userGroupManagement.deleteUserGroup(group)}"
                                                   update="@form"
                                                   style="margin-left: 10px">
                                        <f:param name="skipValidation" value="1" />
                                        <p:confirm header="Confirmation" message="Are you sure you want to delete this user group?"
                                                   icon="ui-icon-alert"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </div>
                    <div id="update-panel-container" class="ui-g-6 ui-sm-12 ui-smd-12">
                        <h:panelGroup id="pia-update-panel">
                            <h:panelGroup layout="block" styleClass="card" rendered="#{userGroupManagement.userGroup != null}">
                                <h2>Add / Edit User Group</h2>
                                <div class="ui-g">
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel for="name:groupName_TEXT" value="Name:"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:text id="name" value="#{userGroupManagement.userGroup.groupName}" propertyName="groupName"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel for="parent-group:parentGroup_PK_groupId" value="Parent Group:"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:lookup id="parent-group" displayValue="#{userGroupManagement.userGroup.parentGroup.groupName}" value="#{userGroupManagement.userGroup.parentGroup.groupId}" lookupProperties="#{componentsUtil.getLookupProperties(componentsUtil.getFieldProperty(550))}" dataBeanName="userGroupManagement.userGroup" fieldProperty="#{componentsUtil.getFieldProperty(550)}"/>
                                    </div>
                                    <div class="ui-g-3 ui-sm-12">
                                        <p:outputLabel for="description:description_EDITOR" value="Description:"/>
                                    </div>
                                    <div class="ui-g-9 ui-sm-12">
                                        <iberis:editor id="description" width="100%" value="#{userGroupManagement.userGroup.description}" propertyName="description"/>
                                    </div>
                                </div>

                                <p:commandButton action="#{userGroupManagement.saveUserGroup}" value="Save" update="@form"/>
                                <p:messages><p:autoUpdate /></p:messages>
                            </h:panelGroup>
                        </h:panelGroup>
                    </div>
                </div>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>